<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgreementCoverageInputSet"
    mode="surplus">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <Variable
      initialValue="agreement as SurplusRITreaty"
      name="surplusTreaty"/>
    <MonetaryAmountInput
      currency="agreement.Currency"
      editable="true"
      formatType="currency"
      id="AttachmentPoint"
      label="displaykey.Web.Reinsurance.Treaty.AttachmentPoint"
      required="true"
      value="agreement.AttachmentPoint">
      <PostOnChange
        onChange="surplusTreaty.setDefaultMaxRetention(); agreement.updateAmountOfCoverageCeded()"
        target="AgreementCoverageInputSet"/>
    </MonetaryAmountInput>
    <MonetaryAmountInput
      currency="agreement.Currency"
      editable="true"
      formatType="currency"
      id="Limit"
      label="displaykey.Web.Reinsurance.Treaty.CoverageLimit"
      required="true"
      value="agreement.CoverageLimit">
      <PostOnChange
        onChange="agreement.updateAmountOfCoverageCeded()"
        target="AgreementCoverageInputSet"/>
    </MonetaryAmountInput>
    <MonetaryAmountInput
      currency="surplusTreaty.Currency"
      editable="true"
      formatType="currency"
      id="MaxRetention"
      label="displaykey.Web.Reinsurance.Treaty.MaxRetention"
      required="true"
      value="surplusTreaty.MaxRetention">
      <PostOnChange
        onChange="surplusTreaty.setDefaultAttachmentPoint()"
        target="AgreementCoverageInputSet"/>
    </MonetaryAmountInput>
    <TextInput
      editable="true"
      format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
      id="CededShare"
      label="displaykey.Web.Reinsurance.Treaty.CededShare"
      required="true"
      value="agreement.CededShare">
      <PostOnChange
        onChange="agreement.updateAmountOfCoverageCeded()"
        target="AgreementCoverageInputSet"/>
    </TextInput>
    <MonetaryAmountInput
      currency="agreement.Currency"
      formatType="currency"
      id="AmountOfCoverage"
      label="displaykey.Web.Reinsurance.Treaty.AmountOfCoverage"
      required="true"
      value="agreement.AmountOfCoverage"/>
    <TextInput
      format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
      id="Lines"
      label="displaykey.Web.Reinsurance.Treaty.Lines"
      value="surplusTreaty.LinesOfCoverage"/>
    <TextInput
      format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
      id="StartLine"
      label="displaykey.Web.Reinsurance.Treaty.StartLine"
      value="surplusTreaty.StartLine"/>
    <TextInput
      format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
      id="StopLine"
      label="displaykey.Web.Reinsurance.Treaty.StopLine"
      value="surplusTreaty.StopLine"/>
  </InputSet>
</PCF>