<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgreementCoverageInputSet"
    mode="facproportional">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <TextInput
      editable="true"
      format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
      id="CededShare"
      label="displaykey.Web.Reinsurance.Treaty.CededShare"
      validationExpression="((agreement.AmountOfCoverage == null and agreement.CededShare == null) or (agreement.AmountOfCoverage != null and agreement.CededShare != null)) ? displaykey.Web.Reinsurance.Agreement.Validate.FacPropRequiresCededShareOrAmount : null"
      value="agreement.CededShare">
      <PostOnChange
        onChange="agreement.updateAmountOfCoverageCeded()"
        target="AgreementCoverageInputSet"/>
    </TextInput>
    <MonetaryAmountInput
      currency="agreement.Currency"
      editable="true"
      formatType="currency"
      id="AmountOfCoverage"
      label="displaykey.Web.Reinsurance.FacAgreement.AmountCeded"
      value="agreement.AmountOfCoverage"/>
  </InputSet>
</PCF>