<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AgreementSearchResultsLV">
    <Require
      name="searchResults"
      type="RIAgreementQuery"/>
    <Require
      name="inSearchPage"
      type="boolean"/>
    <ExposeIterator
      flags="draft"
      valueType="RIAgreement"
      widget="AgreementSearchResultsLV"/>
    <RowIterator
      checkBoxVisible="true"
      editable="false"
      elementName="agreement"
      hasCheckBoxes="true"
      value="searchResults">
      <ToolbarFlag
        condition="agreement.Status == TC_DRAFT"
        name="draft"/>
      <Row>
        <Cell
          action="EditAgreementPage.go(agreement)"
          actionAvailable="inSearchPage"
          id="AgreementNumber"
          label="displaykey.Web.Reinsurance.Agreement.AgreementNumber"
          value="agreement.AgreementNumber"/>
        <Cell
          id="Name"
          label="displaykey.Web.Reinsurance.Agreement.Name"
          value="agreement.Name"/>
        <Cell
          id="EffectiveDate"
          label="displaykey.Web.Reinsurance.Agreement.EffectiveDate"
          value="agreement.EffectiveDate"/>
        <Cell
          id="ExpirationDate"
          label="displaykey.Web.Reinsurance.Agreement.ExpirationDate"
          value="agreement.ExpirationDate"/>
        <Cell
          id="AgreementType"
          label="displaykey.Web.Reinsurance.Agreement.AgreementType"
          value="agreement.Subtype"/>
        <Cell
          id="Status"
          label="displaykey.Web.Reinsurance.Agreement.Status"
          value="agreement.Status"/>
        <Cell
          id="Currency"
          label="displaykey.Web.Reinsurance.Agreement.Currency"
          value="agreement.Currency"
          visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>