<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgreementPAndCInputSet"
    mode="facultative">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <Variable
      initialValue="agreement as Facultative"
      name="fac"/>
    <MonetaryAmountInput
      currency="fac.FacultativeCurrency"
      editable="not fac.FlatPremiumAdjusted"
      formatType="currency"
      id="CededPremium"
      label="displaykey.Web.Reinsurance.FacAgreement.Premium"
      required="agreement typeis NonProportionalRIAgreement"
      value="fac.CededPremium"/>
    <ContentInput>
      <Link
        action="fac.FlatPremiumAdjusted = true"
        hideIfReadOnly="true"
        id="AdjustFlatPremium"
        label="displaykey.Web.Reinsurance.Agreement.AdjustFlatPremium"
        styleClass="miniButton"
        visible="not fac.FlatPremiumAdjusted"/>
      <Link
        action="fac.FlatPremiumAdjusted = false"
        hideIfReadOnly="true"
        id="SetFlatPremium"
        label="displaykey.Web.Reinsurance.Agreement.SetFlatPremium"
        styleClass="miniButton"
        visible="fac.FlatPremiumAdjusted"/>
    </ContentInput>
    <TextInput
      editable="true"
      format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
      id="Markup"
      label="displaykey.Web.Reinsurance.FacAgreement.Markup"
      required="true"
      value="fac.MarkUp"
      visible="agreement typeis NonProportionalRIAgreement"/>
    <MonetaryAmountInput
      currency="fac.FacultativeCurrency"
      formatType="currency"
      id="TotalCost"
      label="displaykey.Web.Reinsurance.FacAgreement.TotalCost"
      required="true"
      value="fac.TotalCost"
      visible="agreement typeis NonProportionalRIAgreement"/>
  </InputSet>
</PCF>