<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AgreementOtherTermsInputSet"
    mode="proportional">
    <Require
      name="agreement"
      type="RIAgreement"/>
    <BooleanRadioInput
      editable="true"
      id="CountTowardTotalLimit"
      label="displaykey.Web.Reinsurance.Treaty.CountTowardTotalLimit"
      required="true"
      value="(agreement as PerRisk).CountTowardTotalLimit"/>
    <MonetaryAmountInput
      currency="agreement.Currency"
      editable="true"
      formatType="currency"
      id="NotificationThresh"
      label="displaykey.Web.Reinsurance.Treaty.NotificationThresh"
      value="(agreement as PerRisk).NotificationThreshold"/>
    <TextAreaInput
      editable="true"
      id="Comments"
      label="displaykey.Web.Reinsurance.Treaty.Comments"
      numRows="4"
      value="agreement.Comments"/>
  </InputSet>
</PCF>