<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    beforeCommit="if (agreement.Active) { gw.reinsurance.agreement.RIAgreementValidation.validateUI(agreement); if (agreement typeis Facultative) {agreement.recalculateCeding()} }"
    canEdit="true"
    canVisit="perm.System.viewreinsuranceforpolicy"
    id="EditAgreementPage"
    parent="AgreementSearchPage()"
    showUpLink="true"
    title="agreement typeis Treaty ? ArrangementType.TC_TREATY.DisplayName : ArrangementType.TC_FACULTATIVE.DisplayName">
    <LocationEntryPoint
      signature="EditAgreementPage(agreement : RIAgreement)"/>
    <Variable
      name="agreement"
      type="RIAgreement"/>
    <ScreenRef
      def="AgreementScreen(agreement, false)"/>
  </Page>
</PCF>