<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="Reinsurance.go()"
    afterCommit="EditProgramPage.go(program)"
    canEdit="true"
    canVisit="perm.System.editreinsuranceprogram"
    id="NewProgramPage"
    parent="Reinsurance()"
    startInEditMode="true"
    title="displaykey.Web.Reinsurance.NewProgram.Title">
    <Variable
      initialValue="gw.web.admin.ReinsuranceUIHelper.initProgram()"
      name="program"
      type="RIProgram"/>
    <ScreenRef
      def="ProgramScreen(program)"/>
    <Code><![CDATA[function initProgram() : RIProgram {
  var prog = new RIProgram()
  prog.Currency = gw.api.util.CurrencyUtil.getDefaultCurrency()
  return prog
}]]></Code>
  </Page>
</PCF>