<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ParticipantsLV">
    <ExposeIterator
      valueType="entity.AgreementParticipant"
      widget="ParticipantsLV"/>
    <Require
      name="agreement"
      type="RIAgreement"/>
    <Variable
      initialValue="agreement typeis Treaty and agreement typeis NonProportionalRIAgreement and agreement.CedingRateAdjusted"
      name="showCedingRate"
      recalculateOnRefresh="true"/>
    <RowIterator
      editable="true"
      elementName="participant"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      toAdd="agreement.addToParticipants(participant)"
      toRemove="agreement.removeFromParticipants(participant)"
      value="agreement.Participants">
      <Row>
        <TextCell
          action="EditContactPopup.push(participant.Participant, CurrentLocation.InEditMode)"
          footerLabel="displaykey.Web.Reinsurance.Participant.Total"
          hideChildrenIfReadOnly="false"
          id="Participant"
          label="displaykey.Web.Reinsurance.Participant.Participant"
          required="true"
          value="participant.Participant"/>
        <TextCell
          editable="true"
          footerSumValue="participant.RiskShare"
          format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
          id="RiskShare"
          label="displaykey.Web.Reinsurance.Participant.RiskShare"
          required="true"
          value="participant.RiskShare"/>
        <MonetaryAmountCell
          currency="participant.Agreement.Currency"
          editable="true"
          footerSumValue="participant.FlatPremium"
          id="FlatPremium"
          label="displaykey.Web.Reinsurance.Participant.FlatPremium"
          required="true"
          value="participant.FlatPremium"
          visible="agreement typeis Facultative and agreement.FlatPremiumAdjusted">
          <PostOnChange
            target="ParticipantsLV"/>
        </MonetaryAmountCell>
        <TextCell
          editable="true"
          footerSumValue="participant.CedingRate"
          format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
          id="CedingRate"
          label="displaykey.Web.Reinsurance.Participant.CedingRate"
          required="true"
          validationExpression="agreement.Participants.sum(\ a -&gt; a.CedingRate) &gt; 100 ? displaykey.Web.Reinsurance.Agreement.Validate.InvalidCedingRate : null"
          value="participant.CedingRate"
          visible="showCedingRate">
          <PostOnChange
            target="ParticipantsLV"/>
        </TextCell>
        <TextCell
          footerSumValue="participant.PremiumShare"
          format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
          id="PremiumShare"
          label="displaykey.Web.Reinsurance.Participant.PremiumShare"
          value="participant.PremiumShare"
          visible="showCedingRate"/>
        <TextCell
          editable="true"
          footerSumValue="(participant.RiskShare == null || participant.CommissionRate == null ? null : participant.RiskShare * participant.CommissionRate / 100)"
          format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
          id="CommissionRate"
          label="displaykey.Web.Reinsurance.Participant.CommissionRate"
          required="true"
          value="participant.CommissionRate"
          visible="agreement.CommissionAdjusted">
          <PostOnChange
            target="ParticipantsLV"/>
        </TextCell>
        <TextCell
          footerSumValue="participant.CommissionShare"
          format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
          id="CommissionShare"
          label="displaykey.Web.Reinsurance.Participant.CommissionShare"
          value="participant.CommissionShare"
          visible="agreement.CommissionAdjusted"/>
        <Cell
          editable="true"
          id="RefNumber"
          label="displaykey.Web.Reinsurance.Participant.RefNumber"
          value="participant.RefNumber"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>