<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="PolicyReinsuranceScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.reinsurance.IReinsurancePlugin)"
      name="plugin"/>
    <Variable
      initialValue="CurrentLocation as pcf.api.Wizard"
      name="wizard"/>
    <PanelRef
      def="PolicyReinsuranceCV(policyPeriod, asOfDate)">
      <Toolbar>
        <ToolbarButton
          action="gw.web.admin.ReinsuranceUIHelper.saveDraft(policyPeriod, wizard)"
          hideIfReadOnly="true"
          id="Draft"
          label="displaykey.Button.SaveDraft"
          shortcut="S"/>
      </Toolbar>
    </PanelRef>
  </Screen>
</PCF>