<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <CardViewPanel
    id="PolicyReinsuranceCV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <Variable
      initialValue="gw.plugin.Plugins.get(gw.plugin.reinsurance.IReinsurancePlugin)"
      name="plugin"/>
    <Variable
      initialValue="gw.api.system.PCConfigParameters"
      name="config"/>
    <Card
      id="Coverage"
      title="displaykey.Web.Reinsurance.Coverage">
      <PanelRef>
        <TitleBar
          title="displaykey.Web.Reinsurance.ReinsurableRisks"/>
        <Toolbar/>
        <ListDetailPanel
          selectionName="risk"
          selectionOnEnter="policyPeriod.AllReinsurables.sortBy(\ r -&gt; r.DisplayName ).first()"
          selectionType="Reinsurable">
          <ListViewPanel>
            <RowIterator
              editable="false"
              elementName="risk"
              id="RIRisks"
              type="Reinsurable"
              value="policyPeriod.AllReinsurables">
              <Variable
                initialValue="risk.RIRisk"
                name="ririsk"
                recalculateOnRefresh="true"/>
              <IteratorSort
                sortBy="risk.DisplayName"
                sortOrder="1"/>
              <Row>
                <Cell
                  id="Name"
                  label="displaykey.Web.Reinsurance.Risk"
                  value="risk"/>
                <TypeKeyCell
                  id="CoverageGroup"
                  label="displaykey.Web.Reinsurance.CoverageGroup"
                  value="risk.CoverageGroup"/>
                <MonetaryAmountCell
                  currency="risk.CoverageCurrency"
                  formatType="currency"
                  id="TIV"
                  label="displaykey.Web.Reinsurance.TIV"
                  value="risk.TotalInsuredValue"/>
                <MonetaryAmountCell
                  currency="ririsk.Currency"
                  formatType="currency"
                  id="ProbableMaxLoss"
                  label="displaykey.Web.Reinsurance.ProbableMaxLoss"
                  value="ririsk.TotalRisk"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
          <CardViewPanel>
            <Variable
              initialValue="gw.web.admin.ReinsuranceUIHelper.getAllRIRiskVersions(risk, config.RIModuleOn(), policyPeriod)"
              name="versions"
              recalculateOnRefresh="true"/>
            <Variable
              initialValue="gw.web.admin.ReinsuranceUIHelper.resetSliceDate(slice, risk, sliceDate, config.RIModuleOn(), asOfDate, policyPeriod)"
              name="sliceDate"
              recalculateOnRefresh="true"
              type="java.util.Date"/>
            <Variable
              initialValue="gw.web.admin.ReinsuranceUIHelper.getReinsurableSlice(risk, sliceDate)"
              name="slice"
              recalculateOnRefresh="true"
              type="Reinsurable"/>
            <Variable
              initialValue="(gw.web.admin.ReinsuranceUIHelper.shouldInitializeRiskDetailVariables(risk, config.RIModuleOn()) ? risk.RIRisk.VersionList.getVersionAsOf(sliceDate) : null)"
              name="ririsk"
              recalculateOnRefresh="true"/>
            <Card
              id="RiskDetail"
              title="displaykey.Web.Reinsurance.RiskDetails"
              visible="gw.web.admin.ReinsuranceUIHelper.shouldInitializeRiskDetailVariables(risk, config.RIModuleOn())">
              <DetailViewPanel>
                <InputColumn>
                  <ContentInput
                    label="displaykey.Web.Reinsurance.ViewAsOf">
                    <Link
                      action="sliceDate = ArgValue"
                      argInitialValue="sliceDate"
                      argOptionLabel="gw.web.admin.ReinsuranceUIHelper.getRIRiskDateRangeDisplay(risk, VALUE)"
                      argRange="versions"
                      argType="java.util.Date"
                      available="versions.Count &gt; 1"
                      id="ViewAsOf"
                      performActionOnArgChange="true"
                      recalculateArgOnRefresh="true"/>
                  </ContentInput>
                  <Input
                    id="Name"
                    label="displaykey.Web.Reinsurance.Risk"
                    value="slice"/>
                  <Input
                    id="CoverageGroup"
                    label="displaykey.Web.Reinsurance.CoverageGroup"
                    value="slice.CoverageGroup"/>
                  <Input
                    editable="perm.System.editreinsuranceforpolicybasic"
                    id="LocationGroup"
                    label="displaykey.Web.Reinsurance.RIRiskLocationProximitySearchPopup.LocationRisk.LocationGroup"
                    value="(slice as LocationRisk).LocationRiskGroup"
                    visible="slice typeis LocationRisk"/>
                  <ContentInput
                    visible="slice typeis LocationRisk">
                    <Link
                      action="gw.web.admin.ReinsuranceUIHelper.doProximitySearch(slice)"
                      hideIfReadOnly="true"
                      id="ProximitySearchButton"
                      label="displaykey.Web.Reinsurance.RIRiskLocationProximitySearchPopup.Title"
                      styleClass="bigButton"
                      visible="perm.System.editreinsuranceforpolicybasic"/>
                  </ContentInput>
                </InputColumn>
                <InputColumn>
                  <MonetaryAmountInput
                    currency="ririsk.Currency"
                    formatType="currency"
                    id="TIV"
                    label="displaykey.Web.Reinsurance.TIV"
                    value="ririsk.TotalInsuredValue"
                    visible="slice.TotalInsuredValue != null"/>
                  <Input
                    editable="perm.System.editreinsuranceforpolicyadvanced"
                    formatType="percentagePoints"
                    id="ProbableMaxLossPct"
                    label="displaykey.Web.Reinsurance.ProbableMaxLossPct"
                    value="ririsk.ProbableMaxLossPct"
                    visible="ririsk.TotalRisk != null">
                    <PostOnChange
                      onChange="gw.reinsurance.risk.RIRiskValidation.validateUI(ririsk)"/>
                  </Input>
                  <MonetaryAmountInput
                    currency="ririsk.Currency"
                    formatType="currency"
                    id="ProbableMaxLoss"
                    label="displaykey.Web.Reinsurance.ProbableMaxLoss"
                    value="ririsk.TotalRisk"
                    visible="ririsk.TotalRisk != null"/>
                  <TextAreaInput
                    editable="perm.System.editreinsuranceforpolicyadvanced"
                    id="ProbableMaxLossReason"
                    label="displaykey.Web.Reinsurance.ProbableMaxLossReason"
                    numRows="3"
                    value="ririsk.ProbableMaxLossReason"
                    visible="ririsk.TotalRisk != null"/>
                </InputColumn>
                <InputColumn>
                  <ContentInput>
                    <Link
                      action="pcf.RICededPremiumsPopup.push(policyPeriod)"
                      id="CededPremiumsButton"
                      label="displaykey.Web.Reinsurance.RiskDetails.ViewCededPremiums"
                      styleClass="bigButton"
                      visible="perm.User.DevAllAccess or perm.System.internaltools or perm.System.viewreinsuranceforpolicy"/>
                  </ContentInput>
                </InputColumn>
              </DetailViewPanel>
              <PanelRef
                visible="ririsk &lt;&gt; null">
                <TitleBar
                  title="displaykey.Web.Reinsurance.ApplicableReinsurance"/>
                <CardViewPanel>
                  <Card
                    id="PerRisk"
                    title="displaykey.Web.Reinsurance.NewProgram.PerRisk">
                    <DetailViewPanel
                      id="PerRiskDV"
                      visible="ririsk.TotalRisk != null">
                      <InputColumn>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="TotalRisk"
                          label="displaykey.Web.Reinsurance.PolicyFile.TotalRisk"
                          value="ririsk.TotalRisk"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="CoveredByXOL"
                          label="displaykey.Web.Reinsurance.PolicyFile.CoveredByXOL"
                          value="ririsk.XOLCoverage"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="SharedAmongProp"
                          label="displaykey.Web.Reinsurance.PolicyFile.SharedAmongProp"
                          value="ririsk.SharedAmongProp"/>
                      </InputColumn>
                      <InputColumn>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          editable="ririsk.Attachments.ProportionalTreatyAttachmentsForCalc.HasElements and perm.System.editreinsuranceforpolicyadvanced"
                          formatType="currency"
                          id="GrossRetention"
                          label="displaykey.Web.Reinsurance.PolicyFile.GrossRetention"
                          required="ririsk.Attachments.ProportionalTreatyAttachmentsForCalc.HasElements"
                          value="ririsk.GrossRetention">
                          <PostOnChange
                            onChange="gw.reinsurance.risk.RIRiskValidation.validateUI(ririsk)"/>
                        </MonetaryAmountInput>
                        <TextInput
                          format="displaykey.Web.Reinsurance.PercentageDisplayFormat"
                          id="RetainedPropShare"
                          label="displaykey.Web.Reinsurance.PolicyFile.RetainedPropShare"
                          value="ririsk.RetainedPropShare"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="PropRetention"
                          label="displaykey.Web.Reinsurance.PolicyFile.PropRetention"
                          value="ririsk.ProportionalRetention"/>
                      </InputColumn>
                      <InputColumn>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="CoveredByNXOL"
                          label="displaykey.Web.Reinsurance.PolicyFile.CoveredByNXOL"
                          value="ririsk.NXOLCoverage"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="NetRetention"
                          label="displaykey.Web.Reinsurance.PolicyFile.NetRetention"
                          value="ririsk.NetRetention">
                          <PostOnChange/>
                        </MonetaryAmountInput>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="TargetMaxRetention"
                          label="displaykey.Web.Reinsurance.PolicyFile.TargetMaxRetention"
                          value="ririsk.TargetMaxRetention"/>
                        <MonetaryAmountInput
                          currency="ririsk.Currency"
                          formatType="currency"
                          id="FacRINeeded"
                          label="displaykey.Web.Reinsurance.PolicyFile.FacRINeeded"
                          value="ririsk.FacRINeeded"/>
                      </InputColumn>
                    </DetailViewPanel>
                    <PanelRef
                      def="RIAgreementsLV(ririsk, true)"
                      id="PerRisksLV">
                      <Toolbar>
                        <ToolbarButton
                          hideIfReadOnly="true"
                          id="AddFacButton"
                          label="displaykey.Web.Reinsurance.AddFacButton"
                          visible="perm.System.editreinsurancefacagreement or perm.System.editreinsuranceforpolicybasic">
                          <MenuItem
                            id="NewFacAgreementMenuItem"
                            label="displaykey.Web.Reinsurance.AddFacButton.CreateNew">
                            <MenuItemIterator
                              elementName="facAgreementType"
                              id="NewFac"
                              value="typekey.RIAgreement.getTypeKeys(false).where(\ r -&gt; r.hasCategory(typekey.ArrangementType.TC_FACULTATIVE) )">
                              <PickerMenuItem
                                action="NewAgreementPopup.push(facAgreementType, ririsk)"
                                hideIfReadOnly="true"
                                id="NewFac"
                                label="displaykey.Web.Reinsurance.New(facAgreementType)"
                                onPick="gw.web.admin.ReinsuranceUIHelper.attachFacs(ririsk, {PickedValue})"
                                visible="perm.System.editreinsuranceforpolicybasic"/>
                            </MenuItemIterator>
                          </MenuItem>
                          <PickerMenuItem
                            action="AgreementSearchPopup.push(ririsk)"
                            hideIfReadOnly="true"
                            id="LinkExisting"
                            label="displaykey.Web.Reinsurance.AddFacButton.LinkExisting"
                            onPick="gw.web.admin.ReinsuranceUIHelper.attachFacs(ririsk, PickedValue)"
                            visible="perm.System.editreinsuranceforpolicybasic"/>
                        </ToolbarButton>
                        <RemoveButton
                          hideIfReadOnly="true"
                          id="RemoveFacButton"
                          iterator="PerRisksLV.RIAgreementsLV"
                          label="displaykey.Web.Reinsurance.RemoveFacButton"
                          visible="perm.System.editreinsuranceforpolicybasic"/>
                      </Toolbar>
                    </PanelRef>
                  </Card>
                  <Card
                    id="Aggregate"
                    title="displaykey.Web.Reinsurance.NewProgram.Aggregate">
                    <PanelRef
                      def="RIAgreementsLV(ririsk, false)"
                      id="AggregatesLV">
                      <Toolbar/>
                    </PanelRef>
                  </Card>
                </CardViewPanel>
              </PanelRef>
            </Card>
          </CardViewPanel>
        </ListDetailPanel>
      </PanelRef>
    </Card>
  </CardViewPanel>
</PCF>