<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="ProgramSearchScreen">
    <SearchPanel
      criteriaName="criteria"
      resultsName="results"
      search="criteria.performSearch()"
      searchCriteria="new gw.reinsurance.search.ProgramSearchCriteria()"
      searchResultsType="RIProgramQuery">
      <DetailViewPanel>
        <InputColumn>
          <Input
            editable="true"
            id="Name"
            label="displaykey.Web.Reinsurance.NewProgram.Input.Name"
            value="criteria.Name"/>
          <TypeKeyInput
            editable="true"
            id="CoverageGroup"
            label="displaykey.Web.Reinsurance.Agreement.CoverageGroup"
            value="criteria.CoverageGroup"/>
          <TypeKeyInput
            editable="true"
            id="Status"
            label="displaykey.Web.Reinsurance.NewProgram.Input.Status"
            value="criteria.Status"/>
          <TypeKeyInput
            editable="true"
            id="Currency"
            label="displaykey.Web.Reinsurance.Program.Currency"
            value="criteria.Currency"
            visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
          <InputDivider/>
          <InputSetRef
            def="EffectivePeriodInputSet(criteria.EffectivePeriod)"/>
        </InputColumn>
        <InputFooterSection>
          <InputSetRef
            def="SearchAndResetInputSet()"/>
        </InputFooterSection>
      </DetailViewPanel>
      <PanelRef
        def="ProgramSearchResultsLV(results)">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.Search.Results"/>
        <Toolbar>
          <ToolbarButton
            action="gw.api.print.ListViewPrintOptionPopupAction.printListViewOnlyWithOptions( &quot;ProgramSearchResultsLV&quot; )"
            id="PrintMe"
            label="displaykey.Web.PolicySearch.Export"/>
        </Toolbar>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>