<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="RICededPremiumsPopup"
    title="displaykey.Web.Reinsurance.CededPremiumsPopup">
    <LocationEntryPoint
      signature="RICededPremiumsPopup(policyPeriod : PolicyPeriod)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Screen>
      <TitleBar
        title="&quot;View Ceded Premiums&quot;"/>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            boldLabel="true"
            boldValue="true"
            id="Risk"
            label="displaykey.Web.Reinsurance.CededPremiumsPopup.Risk"
            value="&quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelIterator
        elementName="risk"
        value="policyPeriod.AllReinsurables.sortBy(\ r -&gt; r.DisplayName )">
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="risk.DisplayName"/>
          </InputColumn>
        </DetailViewPanel>
        <ListViewPanel>
          <Row>
            <TextCell
              action="RICededPremiums_AllPopup.push(risk.RIRisk)"
              id="AllTransactions"
              value="displaykey.Web.Reinsurance.CededPremiumsPopup.AllTransactions"
              width="300"/>
            <TextCell
              id="AllTransactionsLabel"
              value="&quot;&quot;"
              width="400"
              wrap="true"/>
          </Row>
          <Row>
            <TextCell
              action="RICededPremiums_AgreementsByCostPopup.push(risk.RIRisk)"
              id="AgreementsByCost"
              value="displaykey.Web.Reinsurance.CededPremiumsPopup.AllAggreementsForACost"/>
            <TextCell
              id="AgreementsByCostLabel"
              value="displaykey.Web.Reinsurance.CededPremiumsPopup.AgreementByCostLabel"
              wrap="true"/>
          </Row>
          <Row>
            <TextCell
              action="RICededPremiums_CostsByAgreementPopup.push(risk.RIRisk)"
              id="CostsByAgreement"
              value="displaykey.Web.Reinsurance.CededPremiumsPopup.AllCostsForAnAgreement"/>
            <TextCell
              id="CostsByAgreementLabel"
              value="displaykey.Web.Reinsurance.CededPremiumsPopup.CostsByAgreementLabel"
              wrap="true"/>
          </Row>
          <Row>
            <TextCell
              action="RICededPremiums_AgreementsOverTimePopup.push(risk.RIRisk)"
              id="AgreementCedingsAcrossTime"
              value="displaykey.Web.Reinsurance.CededPremiumsPopup.CedingsAcrossTime"/>
            <TextCell
              id="AgreementCedingsAcrossTimeLabel"
              value="displaykey.Web.Reinsurance.CededPremiumsPopup.AgreementCedingsAcrossTimeLabel"
              wrap="true"/>
          </Row>
        </ListViewPanel>
        <DetailViewPanel>
          <InputColumn>
            <Input
              id="SpacingElement"
              value="&quot;&quot;"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelIterator>
    </Screen>
  </Popup>
</PCF>