<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="RICededPremiums_CostsByAgreementPopup"
    title="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement">
    <LocationEntryPoint
      signature="RICededPremiums_CostsByAgreementPopup(ririsk : RIRisk)"/>
    <Variable
      name="ririsk"
      type="RIRisk"/>
    <Variable
      initialValue="gw.web.admin.ReinsuranceUIHelper.partitionAgreementTransactions(ririsk)"
      name="agreementTransactionMap"/>
    <Screen>
      <TitleBar
        subtitle="&quot;All costs for an agreement&quot;"
        title="ririsk.Reinsurable.DisplayName"/>
      <Toolbar/>
      <PanelIterator
        elementName="agreement"
        value="gw.web.admin.ReinsuranceUIHelper.sortAgreements(agreementTransactionMap)">
        <Variable
          initialValue="agreementTransactionMap.get(agreement).partition(\ t -&gt; t.CalcTimestamp.Time)"
          name="calcTransactionMap"/>
        <DetailViewPanel>
          <InputColumn>
            <TextInput
              boldLabel="true"
              boldValue="true"
              id="AgreementNumber"
              label="displaykey.Web.Reinsurance.Agreement.AgreementNumber"
              value="agreement.AgreementNumber"/>
          </InputColumn>
          <InputColumn>
            <TextInput
              boldLabel="true"
              boldValue="true"
              id="AgreementType"
              label="displaykey.Web.Reinsurance.Agreement.AgreementType"
              value="agreement.Subtype"/>
          </InputColumn>
          <InputColumn>
            <TextInput
              boldLabel="true"
              boldValue="true"
              id="AgreementDates"
              label="displaykey.Web.Reinsurance.Agreement.EffectiveDates"
              value="agreement.EffectiveDate.ShortFormat + &quot;-&quot; + agreement.ExpirationDate.ShortFormat"/>
          </InputColumn>
        </DetailViewPanel>
        <PanelIterator
          elementName="calcDate"
          value="calcTransactionMap.Keys.order()">
          <Variable
            initialValue="calcTransactionMap.get(calcDate).partition(\ t -&gt; t.CalcTimestamp.Time)"
            name="dateRangeTransactionMap"/>
          <PanelIterator
            elementName="dateRange"
            value="dateRangeTransactionMap.Keys.order()">
            <DetailViewPanel
              columnDivider="false">
              <InputColumn>
                <TextInput
                  id="CalcDate"
                  value="calcTransactionMap.get(calcDate).first().RICededPremiumHistory.Reason"/>
              </InputColumn>
              <InputColumn>
                <TextInput
                  id="CalcComment"
                  value="calcTransactionMap.get(calcDate).first().RICededPremiumHistory.CommentText"/>
              </InputColumn>
            </DetailViewPanel>
            <ListViewPanel
              id="transactionLV">
              <RowIterator
                editable="false"
                elementName="cpTrx"
                pageSize="0"
                value="calcTransactionMap.get(calcDate)">
                <IteratorSort
                  sortBy="cpTrx.RICededPremium.Cost.CoverableName"
                  sortOrder="1"/>
                <IteratorSort
                  sortBy="cpTrx.RICededPremium.Cost"
                  sortOrder="2"/>
                <IteratorSort
                  sortBy="cpTrx.CededPremium"
                  sortOrder="4"/>
                <IteratorSort
                  sortBy="cpTrx.RICededPremium.Cost.ActualAmountBilling"
                  sortDirection="descending"
                  sortOrder="3"/>
                <Row>
                  <Cell
                    id="Building"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.Coverable"
                    sortOrder="1"
                    value="cpTrx.RICededPremium.Cost.CoverableName"/>
                  <Cell
                    id="Cost"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.Cost"
                    sortOrder="2"
                    value="cpTrx.RICededPremium.Cost.DisplayName"/>
                  <Cell
                    footerSumValue="cpTrx.RICededPremium.Cost.ActualAmountBilling"
                    id="CostAmt"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.Amount"
                    value="cpTrx.RICededPremium.Cost.ActualAmountBilling"/>
                  <Cell
                    action="RICPTransactionPopup.push(cpTrx)"
                    footerSumValue="cpTrx.BasisGNP"
                    id="BasisGNP"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.BasisGNP"
                    value="cpTrx.BasisGNP"/>
                  <Cell
                    id="CedingRate"
                    label="agreement typeis NonProportionalRIAgreement ? displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.CededRisk : displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.RateShare"
                    value="agreement typeis NonProportionalRIAgreement ? cpTrx.CededRiskAmount : cpTrx.CedingRate"/>
                  <Cell
                    footerSumValue="cpTrx.CededPremium"
                    id="CededPremium"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.Premium"
                    value="cpTrx.CededPremium"/>
                  <Cell
                    footerSumValue="cpTrx.CededPremiumMarkup"
                    id="CededPremiumMarkup"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.Markup"
                    value="cpTrx.CededPremiumMarkup"/>
                  <Cell
                    id="CommPercentage"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.CommissionRate"
                    value="cpTrx.CommissionRate"/>
                  <Cell
                    footerSumValue="cpTrx.Commission"
                    id="Comm"
                    label="displaykey.Web.Reinsurance.CededPremiums.CostsByAgreement.Commission"
                    value="cpTrx.Commission"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </PanelIterator>
        </PanelIterator>
      </PanelIterator>
    </Screen>
  </Popup>
</PCF>