<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="RICoverageGroupsPanelSet">
    <Require
      name="owner"
      type="gw.api.domain.reinsurance.RICoverageGroupOwner"/>
    <Variable
      initialValue="RICoverageGroupType.getTypeKeys(false).disjunction(owner.CoverageGroups).toTypedArray()"
      name="remainingGroupTypes"
      recalculateOnRefresh="true"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Reinsurance.Agreement.IncludedCoverageGroups"/>
      <Toolbar>
        <ToolbarButton
          available="remainingGroupTypes.HasElements"
          hideIfReadOnly="true"
          id="Add"
          label="displaykey.Button.Add">
          <AddMenuItemIterator
            elementName="groupType"
            value="remainingGroupTypes">
            <AddMenuItem
              id="GroupType"
              iterator="TEMP_0_LV"
              label="groupType"
              toCreateAndAdd="owner.addCoverageGroup(groupType)"/>
          </AddMenuItemIterator>
        </ToolbarButton>
        <RemoveButton
          hideIfReadOnly="true"
          id="Remove"
          iterator="TEMP_0_LV"
          label="displaykey.Button.Remove"/>
      </Toolbar>
      <ListViewPanel
        id="TEMP_0_LV">
        <RowIterator
          editable="true"
          elementName="coverageGroup"
          hideCheckBoxesIfReadOnly="true"
          toRemove="owner.removeCoverageGroup(coverageGroup)"
          value="owner.CoverageGroups">
          <IteratorSort
            sortBy="coverageGroup.DisplayName"
            sortOrder="1"/>
          <Row>
            <Cell
              id="Name"
              value="coverageGroup"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>