<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="RewriteNewAccountWizard_PreQualificationScreen">
    <Require
      name="rewriteNewAccount"
      type="RewriteNewAccount"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="CurrentLocation as pcf.api.Wizard"
      name="wizard"
      type="pcf.api.Wizard"/>
    <Variable
      initialValue="policyPeriod.Policy.Product.getQuestionSetsByType(QuestionSetType.TC_PREQUAL)"
      name="preQualQuestionSets"
      recalculateOnRefresh="true"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="rewriteNewAccount.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, rewriteNewAccount, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="QuestionSetsDV(preQualQuestionSets, policyPeriod, null)"
      id="PreQualQuestionSetsDV"/>
  </Screen>
</PCF>