<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="AddressInputSet">
    <Require
      name="addressOwner"
      type="gw.api.address.AddressOwner"/>
    <Expose
      widget="globalAddressContainer"/>
    <InputSetRef
      def="GlobalAddressInputSet(addressOwner)"
      id="globalAddressContainer"
      mode="addressOwner.SelectedMode"
      widgets="globalAddressContainer"/>
  </InputSet>
</PCF>