<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="BasicContactInfoInputSet"
    mode="company">
    <Require
      name="searchCriteria"
      type="ContactSearchCriteria"/>
    <Variable
      initialValue="new gw.globalization.ContactSearchCriteriaNameAdapter(searchCriteria)"
      name="searchCriteriaAdapter"
      recalculateOnRefresh="true"/>
    <InputSetRef
      def="GlobalContactNameInputSet(new gw.search.BasicNameOwner(searchCriteriaAdapter))"
      mode="gw.api.name.NameLocaleSettings.PCFMode"/>
    <CheckBoxInput
      editable="true"
      id="CompanyNameExact"
      label="displaykey.Web.AccountSearch.CompanyNameExactMatch"
      required="false"
      value="searchCriteria.KeywordExact"/>
    <TextInput
      editable="true"
      id="TaxID"
      label="displaykey.Web.ContactDetail.Name.TaxID.EIN"
      numCols="17"
      value="searchCriteria.TaxID"/>
    <TextInput
      editable="true"
      helpText="displaykey.Java.PhoneUtil.Example.ToolTip(gw.api.util.PhoneUtil.getDefaultPhoneCountryCode(), gw.api.util.PhoneUtil.getExampleNumberWithExtension(gw.api.util.PhoneUtil.getDefaultPhoneCountryCode()))"
      id="PhoneNumber"
      label="displaykey.Web.Account.Locations.WorkPhone"
      required="false"
      value="searchCriteria.Phone"/>
  </InputSet>
</PCF>
