<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="LinkedAddressEditPopup"
    startInEditMode="true"
    title="displaykey.Web.ContactDetail.LinkedAddress.Edit.Title">
    <LocationEntryPoint
      signature="LinkedAddressEditPopup(address : Address)"/>
    <Variable
      initialValue="null"
      name="address"
      type="Address"/>
    <Screen
      editable="true">
      <Toolbar>
        <ToolbarButton
          action="address.updateLinkedAddresses(); CurrentLocation.commit()"
          id="UpdateAllButton"
          label="displaykey.Web.ContactDetail.LinkedAddress.Edit.UpdateAll"/>
        <ToolbarButton
          action="address.unlink(); CurrentLocation.commit()"
          id="UpdateAndUnlinkButton"
          label="displaykey.Web.ContactDetail.LinkedAddress.Edit.UpdateAndUnlink"/>
        <EditButtons
          cancelVisible="true"
          editVisible="false"
          id="CancelButton"
          updateVisible="false"/>
      </Toolbar>
      <PanelRef
        def="LinkedAddressContactsLV(address)">
        <TitleBar
          title="displaykey.Web.ContactDetail.LinkedAddress.Edit.Contacts"/>
      </PanelRef>
      <PanelRef
        editable="true"
        id="Address">
        <TitleBar
          id="EditAddress"
          title="displaykey.Web.ContactDetail.LinkedAddress.Edit.Address"/>
        <DetailViewPanel
          editable="true">
          <InputColumn>
            <InputSetRef
              def="AddressInputSet(new gw.pcf.contacts.AddressInputSetAddressOwner(address, false, true))"
              editable="true"/>
            <Input
              editable="true"
              id="AddressType"
              label="displaykey.Web.AddressDetail.AddressType"
              required="true"
              value="address.AddressType"/>
            <Input
              editable="true"
              id="AddressDescription"
              label="displaykey.Web.AddressDetail.Description"
              value="address.Description"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
    </Screen>
  </Popup>
</PCF>