<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ContactFile_Policies"
    title="displaykey.Web.ContactFile.Policies.Title">
    <LocationEntryPoint
      signature="ContactFile_Policies(contact : Contact)"/>
    <Variable
      name="contact"
      type="Contact"/>
    <Screen>
      <PanelRef>
        <Toolbar/>
        <ListViewPanel
          id="AssociatedPoliciesLV">
          <Variable
            initialValue="new gw.account.ProductCodeFilterSet(contact.AccountContacts.map(\ac -&gt; ac.Account))"
            name="productCodeFilterSet"
            type="gw.account.ProductCodeFilterSet"/>
          <RowIterator
            editable="false"
            elementName="item"
            value="contact.AssociationFinder.findLatestBoundPolicyPeriods()">
            <ToolbarFilter
              id="PolicyPeriodStatusFilter"
              label="displaykey.Web.ContactFile.Policies.Filter.Status"
              name="displayPolicyPeriodByStatus">
              <ToolbarFilterOptionGroup
                filters="new gw.policy.PolicyFilters().FilterOptions"/>
            </ToolbarFilter>
            <ToolbarFilter
              id="ProductFilter"
              label="displaykey.Web.ContactFile.Policies.Filter.Product"
              name="productCodeFilter">
              <ToolbarFilterOption
                filter="productCodeFilterSet.getAllFilter()"
                label="displaykey.Java.ToolBar.Claim.All"
                selectOnEnter="true"/>
              <ToolbarFilterOptionGroup
                filters="productCodeFilterSet.getClaimPolicyPeriodFilters()"/>
            </ToolbarFilter>
            <Row
              useArchivedStyle="item.PolicyTerm.Archived">
              <Cell
                action="AccountFileDoRetrievalForward.go(item.Policy.Account.AccountNumber)"
                id="AccountNumber"
                label="displaykey.Web.Contact.Associations.AccountNumber"
                value="item.Policy.Account.AccountNumber"/>
              <Cell
                action="PolicyFileForward.go(item.PolicyNumber, item.PeriodStart)"
                id="PolicyNumber"
                label="displaykey.Web.Contact.Associations.PolicyNumber"
                value="item.PolicyNumberDisplayString"/>
              <Cell
                id="PolicyType"
                label="displaykey.Web.Contact.Associations.PolicyType"
                sortBy="item.Policy.ProductCode"
                value="item.Policy.Product"/>
              <Cell
                id="Status"
                label="displaykey.Web.Contact.Associations.Status"
                value="item.Policy.LatestBoundPeriod.PeriodDisplayStatus"/>
              <Cell
                id="PolicyStarted"
                label="displaykey.Web.AccountFile.MovePolicies.PoliciesSelection.PolicyStartDate"
                value="item.Policy.findEarliestPeriodStart()"/>
              <Cell
                id="EffectiveDate"
                label="displaykey.Web.Contact.Associations.CurrentEffectiveDate"
                value="item.Policy.LatestBoundPeriod.PeriodStart"/>
              <Cell
                id="ExpirationDate"
                label="displaykey.Web.Contact.Associations.CurrentExpirationDate"
                value="item.Policy.LatestBoundPeriod.PeriodEnd"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
      <DetailViewPanel
        visible="gw.api.system.PLConfigParameters.ArchiveEnabled.Value">
        <InputFooterSection>
          <Label
            label="displaykey.Web.ContactFile.Policies.Archive.Footer"/>
        </InputFooterSection>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>