<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="perm.System.viewaccountholderinfo and (new gw.web.contact.AccountHolderPolicyMetrics().countAccountsFor(contact, {AccountHolder}) &gt; 0)"
    id="ContactFile_AccountHolder"
    title="displaykey.Web.ContactFile.AccountHolder.Title">
    <LocationEntryPoint
      signature="ContactFile_AccountHolder(contact : Contact)"/>
    <Variable
      name="contact"
      type="Contact"/>
    <Variable
      initialValue="{AccountHolder}"
      name="roles"
      type="java.util.Set&lt;Type&lt;AccountContactRole&gt;&gt;"/>
    <Variable
      initialValue="gw.web.contact.ContactMetricsFactory.Factory.getContactMetrics(contact, roles)"
      name="contactMetrics"/>
    <Screen
      id="AccountHolderScreen">
      <DetailViewPanel
        id="AccountHolderDV">
        <InputColumn>
          <Input
            boldValue="true"
            id="AccountHolderName"
            label="displaykey.Web.ContactFile.AccountHolder.Name"
            value="contact"/>
          <Input
            action="ContactFile_Accounts.go(contact)"
            id="AccountsHeld"
            label="displaykey.Web.ContactFile.AccountHolder.AccountsHeld"
            value="contactMetrics.AccountsCount"/>
          <MonetaryAmountInput
            formatType="currency"
            id="InForcePremium"
            label="displaykey.Web.ContactFile.AccountHolder.InForcePremium"
            value="contactMetrics.TotalInForcePremium"/>
          <Input
            align="right"
            id="InforcePremiumConvertedAlert"
            label="displaykey.Web.AccountFile.Billing.AmountsConvertedForReference"
            labelAbove="true"
            labelStyleClass="inputLabel_em"
            value="null"
            visible="contactMetrics.TotalInForcePremiumConverted"/>
        </InputColumn>
        <InputColumn>
          <MonetaryAmountInput
            formatType="currency"
            id="TotalUnbilled"
            label="displaykey.Web.ContactFile.AccountHolder.TotalUnbilled"
            value="contactMetrics.TotalUnbilled"/>
          <MonetaryAmountInput
            formatType="currency"
            id="TotalCurrentlyBilled"
            label="displaykey.Web.ContactFile.AccountHolder.TotalCurrentlyBilled"
            value="contactMetrics.TotalCurrentlyBilled"/>
          <MonetaryAmountInput
            formatType="currency"
            id="TotalPastDueBilled"
            label="displaykey.Web.ContactFile.AccountHolder.TotalPastDue"
            value="contactMetrics.TotalPastDueBilled"/>
          <MonetaryAmountInput
            formatType="currency"
            id="TotalOutstandingBilled"
            label="displaykey.Web.ContactFile.AccountHolder.TotalOutstanding"
            value="contactMetrics.TotalOutstandingBilled"/>
          <Label
            id="NotDirectBillAlert"
            label="displaykey.Web.ContactFile.AccountHolder.NotDirectBillOnly"
            visible="!contactMetrics.DirectBillOnly"/>
          <Input
            align="right"
            id="AccountBalancesConvertedAlert"
            label="displaykey.Web.AccountFile.Billing.AmountsConvertedForReference"
            labelAbove="true"
            labelStyleClass="inputLabel_em"
            value="null"
            visible="contactMetrics.BillingAmountsConverted"/>
        </InputColumn>
        <InputColumn
          id="Alerts">
          <InputIterator
            elementName="alert"
            id="AlertIterator"
            value="contactMetrics.Alerts">
            <ContentInput>
              <Link
                icon="&quot;../ext/images/default/shared/warning.gif&quot;"
                id="Icon"/>
              <Link
                id="AlertText"
                label="alert"/>
            </ContentInput>
          </InputIterator>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          id="CustomerValueMetricsTitleBar"
          title="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.Title"/>
        <DetailViewPanel
          id="CustomerValueMetricsDV">
          <InputColumn>
            <Input
              id="FirstPolicyEffectiveYearInput"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.FirstPolicyEffectiveYear"
              value="contactMetrics.FirstEffectivePolicyDate.YearOfDate"/>
            <Input
              id="ActivePoliciesInput"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.ActivePolicies"
              value="contactMetrics.ActivePoliciesCount"/>
            <Input
              id="CanceledByCustomerInput"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.CanceledByCustomer"
              value="contactMetrics.CancellationsByCustomerCount"/>
            <Input
              id="CanceledByCarrierInput"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.CanceledByCarrier"
              value="contactMetrics.CancellationsForNonPaymentCount"/>
            <Input
              id="OtherCancellationsInput"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.OtherCancellations"
              value="contactMetrics.OtherCancellationsCount"/>
            <MonetaryAmountInput
              formatType="currency"
              id="LifetimePremiumInput"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.LifetimePremium"
              value="contactMetrics.TotalLifetimePremium"/>
            <Input
              align="right"
              id="LifetimePremiumConvertedAlert"
              label="displaykey.Web.AccountFile.Billing.AmountsConvertedForReference"
              labelAbove="true"
              labelStyleClass="inputLabel_em"
              value="null"
              visible="contactMetrics.LifetimePremiumConverted"/>
          </InputColumn>
          <InputColumn>
            <Label
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.OpenClaimInfo"/>
            <Input
              id="OpenClaimsCount"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.OpenClaimsCount"
              value="contactMetrics.OpenClaimsCount"/>
            <MonetaryAmountInput
              formatType="currency"
              id="NetTotalIncurred"
              label="displaykey.Web.ContactFile.AccountHolder.CustomerValueMetrics.NetTotalIncurred"
              value="contactMetrics.NetTotalIncurred"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <PanelRef
        def="ContactFile_WorkOrdersLV(true, contactMetrics.Jobs)">
        <TitleBar
          title="displaykey.Web.PolicyFile.Summary.JobsInProgress"/>
        <Toolbar/>
      </PanelRef>
      <PanelRef
        def="ContactClaimsLV(contactMetrics.ClaimSet.Claims, contact.PreferredSettlementCurrency)">
        <TitleBar
          title="displaykey.Web.PolicyFile.Summary.OpenAndRecentClaims"/>
        <Toolbar/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>