<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <WizardStepSet
    id="LineQuickWizardStepSet"
    mode="PersonalAuto">
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <JobWizardStep
      id="PAQuickSubmission_Info"
      save="policyPeriod.OpenForEdit"
      screen="PAQuickSubmission_InfoScreen(job, policyPeriod, openForEdit, jobWizardHelper)"
      title="displaykey.Web.LineWizardMenu.QuickQuote.Info"/>
  </WizardStepSet>
</PCF>