<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <PanelSet
    editable="openForEdit"
    id="ContractorsEquipmentPartPanelSet">
    <Require
      name="contractorsEquipmentPart"
      type="ContractorsEquipPart"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="contractorsEquipmentPart.InlandMarineLine.Pattern.getCoverageCategory(&quot;ContractorsEquipPartCategory&quot;)"
      name="contractorsEquipPartCategory"/>
    <Variable
      initialValue="contractorsEquipmentPart.InlandMarineLine.Pattern.getCoverageCategory(&quot;ContractorsEquipPolicywideUnscheduled&quot;)"
      name="contractorsEquipPolicywideUnscheduled"/>
    <Variable
      initialValue="contractorsEquipmentPart.InlandMarineLine.Branch"
      name="policyPeriod"/>
    <Variable
      initialValue="new gw.api.productmodel.QuestionSet[]{contractorsEquipmentPart.InlandMarineLine.Branch.Policy.Product.getQuestionSetById( &quot;ContractorsEquipmentQuestion&quot; )}"
      name="questionSets"/>
    <PanelRef
      def="PreferredCoverageCurrencyPanelSet(contractorsEquipmentPart, openForEdit, jobWizardHelper)"
      id="PreferredCoverageCurrencySelectorRef"/>
    <CardViewPanel>
      <Card
        id="coverages"
        title="displaykey.Web.Policy.IM.ContractorsEquipment.Coverages">
        <PanelRow>
          <PanelColumn>
            <PanelRef>
              <TitleBar
                id="partLevelInformation"
                title="displaykey.Web.Policy.IM.ContractorsEquipment.PartLevelInformation"/>
              <PanelRow>
                <PanelColumn>
                  <DetailViewPanel>
                    <InputColumn>
                      <TypeKeyInput
                        editable="true"
                        id="contrEqContractorType"
                        label="displaykey.Web.Policy.IM.ContractorsEquipment.ContractorType"
                        required="true"
                        value="contractorsEquipmentPart.ContractorType"/>
                      <TypeKeyInput
                        editable="true"
                        id="coinsurance"
                        label="displaykey.Web.Policy.IM.ContractorsEquipment.Coinsurance"
                        required="true"
                        value="contractorsEquipmentPart.Coinsurance"/>
                      <TextInput
                        editable="true"
                        id="perOccurrenceLimit"
                        label="displaykey.Web.Policy.IM.ContractorsEquipment.PerOccurrenceLimit"
                        value="contractorsEquipmentPart.PerOccurrenceLimit"/>
                      <Input
                        editable="true"
                        id="reporting"
                        label="displaykey.Web.Policy.IM.ContractorsEquipment.Reporting"
                        value="contractorsEquipmentPart.Reporting"/>
                    </InputColumn>
                  </DetailViewPanel>
                  <PanelRef>
                    <TitleBar
                      id="title2"
                      title="displaykey.Web.Policy.IM.ContractorsEquipment.PartLevelExclusions"/>
                    <DetailViewPanel>
                      <Variable
                        initialValue="contractorsEquipmentPart == null ? null : contractorsEquipPartCategory.exclusionPatternsForEntity(ContractorsEquipPart).where(\ e -&gt; contractorsEquipmentPart.isExclusionSelectedOrAvailable(e))"
                        name="partLevelExclusionPatterns"
                        recalculateOnRefresh="true"/>
                      <InputColumn>
                        <InputIterator
                          elementName="exclusionPattern"
                          forceRefreshDespiteChangedEntries="true"
                          id="partLevelExclusions"
                          value="partLevelExclusionPatterns">
                          <InputSetRef
                            def="CoverageInputSet( exclusionPattern, contractorsEquipmentPart, openForEdit )"
                            mode="exclusionPattern"/>
                        </InputIterator>
                      </InputColumn>
                    </DetailViewPanel>
                  </PanelRef>
                </PanelColumn>
              </PanelRow>
            </PanelRef>
            <PanelRef>
              <TitleBar
                id="title"
                title="displaykey.Web.Policy.IM.ContractorsEquipment.UnscheduledEquipment"/>
              <DetailViewPanel>
                <Variable
                  initialValue="contractorsEquipmentPart == null ? null : contractorsEquipPolicywideUnscheduled.coveragePatternsForEntity(ContractorsEquipPart).whereSelectedOrAvailable(contractorsEquipmentPart, openForEdit)"
                  name="unscheduledEquipmentCoveragePatterns"
                  recalculateOnRefresh="true"/>
                <InputColumn>
                  <InputIterator
                    elementName="coveragePattern"
                    forceRefreshDespiteChangedEntries="true"
                    id="policywideUnscheduledCovs"
                    value="unscheduledEquipmentCoveragePatterns">
                    <IteratorSort
                      sortBy="coveragePattern.Priority"
                      sortOrder="1"/>
                    <InputSetRef
                      def="CoverageInputSet(coveragePattern, contractorsEquipmentPart, openForEdit)"
                      mode="coveragePattern.Code"/>
                  </InputIterator>
                </InputColumn>
              </DetailViewPanel>
            </PanelRef>
          </PanelColumn>
          <PanelColumn>
            <PanelRef>
              <TitleBar
                id="title3"
                title="displaykey.Web.Policy.IM.ContractorsEquipment.PartLevelCoverages"/>
              <DetailViewPanel>
                <Variable
                  initialValue="contractorsEquipmentPart == null ? null : contractorsEquipPartCategory.coveragePatternsForEntity(ContractorsEquipPart).whereSelectedOrAvailable(contractorsEquipmentPart, openForEdit)"
                  name="partLevelCoveragePatterns"
                  recalculateOnRefresh="true"/>
                <InputColumn>
                  <InputIterator
                    elementName="coveragePattern"
                    forceRefreshDespiteChangedEntries="true"
                    id="partLevelCovs"
                    value="partLevelCoveragePatterns">
                    <IteratorSort
                      sortBy="coveragePattern.Priority"
                      sortOrder="1"/>
                    <InputSetRef
                      def="CoverageInputSet(coveragePattern, contractorsEquipmentPart, openForEdit)"
                      mode="coveragePattern.Code"/>
                  </InputIterator>
                </InputColumn>
              </DetailViewPanel>
            </PanelRef>
          </PanelColumn>
        </PanelRow>
        <PanelRef
          def="ScheduledEquipmentPanelSet(contractorsEquipmentPart, openForEdit, jobWizardHelper)"/>
      </Card>
      <Card
        id="uwInfo"
        title="displaykey.Web.Policy.IM.ContractorsEquipment.UWInfo">
        <PanelRef
          def="QuestionSetsDV(questionSets, policyPeriod.IMLine, null)"/>
      </Card>
    </CardViewPanel>
  </PanelSet>
</PCF>