<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <PanelSet
    id="IMPartCumulDetailsPanelSet"
    mode="ContractorsEquipPart">
    <Require
      name="imLine"
      type="InlandMarineLine"/>
    <Variable
      initialValue="imLine.VersionList.IMCoverageParts.map( \ i -&gt; i.AllVersions.last() )"
      name="covPartIterable"/>
    <Variable
      initialValue="covPartIterable.where(\ p -&gt; p typeis ContractorsEquipPart).first() as ContractorsEquipPart"
      name="part"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.IM.ContractorsEquipments"/>
      <PanelRow>
        <PanelColumn>
          <PanelRef
            def="IMCostDV(part.VersionList.ContrEquipPartCovs.flatMap(\ c -&gt; c.Costs).flatMap(\ c -&gt; c.AllVersions).toList())"
            visible="part.VersionList.ContrEquipPartCovs.flatMap(\ c -&gt; c.Costs).Count &gt; 0"/>
          <DetailViewPanel
            visible="!part.VersionList.ContractorsEquipments.Empty">
            <InputColumn>
              <Label
                label="displaykey.Web.Policy.IM.ContractorsEquipment.ScheduledEquipments"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelIterator
            elementName="perEquipment"
            id="perEquipmentPanelIter"
            value="part.VersionList.ContractorsEquipments.map( \ i -&gt; i.AllVersions.last() ).toTypedArray()">
            <IteratorSort
              sortBy="perEquipment.ContractorsEquipmentNumber"
              sortOrder="1"/>
            <PanelRef>
              <Toolbar/>
              <PanelSet>
                <DetailViewPanel>
                  <InputColumn>
                    <Label
                      label="perEquipment.DisplayName"/>
                  </InputColumn>
                </DetailViewPanel>
                <PanelRef
                  def="IMCostDV(perEquipment.VersionList.Coverages.flatMap(\ c -&gt; c.Costs).flatMap(\ c -&gt; c.AllVersions).toList())"/>
              </PanelSet>
            </PanelRef>
          </PanelIterator>
        </PanelColumn>
      </PanelRow>
    </PanelRef>
  </PanelSet>
</PCF>