<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="WizardActionsEditMenuItemSet"
    mode="Renewal">
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <MenuItem
      available="perm.Renewal.edit(job)"
      id="PolicyHold"
      label="displaykey.Button.PolicyHold"
      visible="!policyPeriod.Renewal.Complete">
      <MenuItem
        action="policyPeriod.Renewal.EscalateAfterHoldReleased = false; policyPeriod.Bundle.commit()"
        id="DoNotEscalateAfterPolicyHoldReleased"
        label="displaykey.Job.Operation.DoNotEscalateAfterPolicyHoldReleased "
        visible="policyPeriod.Renewal.EscalateAfterHoldReleased "/>
      <MenuItem
        action="policyPeriod.Renewal.EscalateAfterHoldReleased = true; policyPeriod.Bundle.commit()"
        id="EscalateAfterPolicyHoldReleased"
        label="displaykey.Job.Operation.EscalateAfterPolicyHoldReleased "
        visible="!policyPeriod.Renewal.EscalateAfterHoldReleased "/>
    </MenuItem>
  </MenuItemSet>
</PCF>