<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="WCRatingOverrideCostLV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="periodCosts"
      type="java.util.Set&lt;WCCost&gt;"/>
    <Require
      name="jurisdiction"
      type="WCJurisdiction"/>
    <Require
      name="periodStart"
      type="java.util.Date"/>
    <Require
      name="periodEnd"
      type="java.util.Date"/>
    <Variable
      initialValue="periodCosts.whereTypeIs(WCCovEmpCost).toSet()"
      name="costs"/>
    <Variable
      initialValue="periodCosts.whereTypeIs(WCJurisdictionCost).toSet()"
      name="aggCosts"
      recalculateOnRefresh="true"/>
    <Row
      renderAsSmartHeader="true">
      <Cell
        align="center"
        colspan="3"
        id="EmptyHeader1"
        value="displaykey.Web.Policy.RatingOverride.Class"/>
      <Cell
        align="center"
        colspan="4"
        id="ActualHeader"
        value="displaykey.Web.Policy.RatingOverride.Actual"/>
      <Cell
        align="center"
        colspan="4"
        id="OverrideHeader"
        value="displaykey.Web.Policy.RatingOverride.Override"/>
      <Cell
        align="center"
        colspan="3"
        id="StandardHeader"
        value="displaykey.Web.Policy.RatingOverride.Standard"/>
    </Row>
    <Row
      renderAsSmartHeader="true">
      <Cell
        id="LocationNumHeader"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Loc"/>
      <Cell
        id="ClassCodeHeader"
        value="displaykey.Web.Quote.CumulDetail.Default.ClassCode"/>
      <Cell
        id="DescriptionHeader"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Desc"/>
      <Cell
        align="right"
        id="BaseRateHeader"
        value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
      <Cell
        align="right"
        id="AdjustedRateHeader"
        value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
      <Cell
        align="right"
        id="BasisHeader"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Basis"/>
      <Cell
        align="right"
        id="AmountHeader"
        value="displaykey.Web.Policy.RatingOverride.Amount"/>
      <Cell
        align="right"
        id="OverrideBaseRateHeader"
        value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
      <Cell
        align="right"
        id="OverrideAdjustedRateHeader"
        value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
      <Cell
        align="right"
        id="OverrideAmountHeader"
        value="displaykey.Web.Policy.RatingOverride.Amount"/>
      <Cell
        align="left"
        id="OverrideReasonHeader"
        value="displaykey.Web.Policy.RatingOverride.Reason"/>
      <Cell
        align="right"
        id="StandardBaseRateHeader"
        value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
      <Cell
        align="right"
        id="StandardAdjustedRateHeader"
        value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
      <Cell
        align="right"
        id="StandardAmountHeader"
        value="displaykey.Web.Policy.RatingOverride.Amount"/>
    </Row>
    <RowIterator
      editable="true"
      elementName="cost"
      pageSize="0"
      type="WCCovEmpCost"
      value="costs.toTypedArray()">
      <Variable
        initialValue="cost.WCCoveredEmployee"
        name="wcCovEmp"
        type="WCCoveredEmployee"/>
      <IteratorSort
        sortBy="cost.CalcOrder"
        sortOrder="1"/>
      <Row
        id="CostRow">
        <Cell
          id="LocationNum"
          value="cost.LocationNum"
          width="50"/>
        <Cell
          id="ClassCode"
          value="cost.ClassCode"
          width="100"/>
        <Cell
          id="Description"
          value="cost.Description"
          width="250"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="BaseRate"
          value="cost.ActualBaseRate"
          width="100"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="AdjustedRate"
          value="cost.ActualAdjRate"
          width="100"/>
        <Cell
          align="right"
          id="Basis"
          value="cost.Basis"
          width="125"/>
        <Cell
          align="right"
          id="Amount"
          value="cost.ActualAmountBilling"
          width="100"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideBaseRate"
          value="cost.OverrideBaseRate"
          width="100"/>
        <TextCell
          editable="cost.Overridable"
          format="&quot;0.0000&quot;"
          id="OverrideAdjustedRate"
          value="cost.OverrideAdjRate"
          width="100"/>
        <MonetaryAmountCell
          currency="(cost.BranchUntyped as PolicyPeriod).PreferredSettlementCurrency"
          editable="cost.Overridable"
          id="OverrideAmount"
          value="cost.OverrideAmountBilling"
          width="100"/>
        <TextCell
          editable="cost.Overridable"
          id="OverrideReason"
          maxChars="255"
          value="cost.OverrideReason"
          width="150"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardBaseRate"
          value="cost.StandardBaseRate"
          width="100"/>
        <TextCell
          format="&quot;0.0000&quot;"
          id="StandardAdjustedRate"
          value="cost.StandardAdjRate"
          width="100"/>
        <Cell
          id="StandardAmount"
          value="cost.StandardAmountBilling"
          width="100"/>
      </Row>
    </RowIterator>
    <RowIterator
      editable="true"
      elementName="aggCost"
      id="lt100"
      pageSize="0"
      type="WCJurisdictionCost"
      value="aggCosts.byCalcOrder( 0, 100 ).toTypedArray()">
      <IteratorSort
        sortBy="aggCost.CalcOrder"
        sortOrder="1"/>
      <RowSetRef
        def="WCRatingOverrideCostDetailAggRowSet(aggCost, null)"/>
    </RowIterator>
    <RowIterator
      editable="true"
      elementName="aggCost"
      id="f100t200"
      pageSize="0"
      type="WCJurisdictionCost"
      value="aggCosts.byCalcOrder( 101, 200 ).toTypedArray()">
      <IteratorSort
        sortBy="aggCost.CalcOrder"
        sortOrder="1"/>
      <RowSetRef
        def="WCRatingOverrideCostDetailAggRowSet(aggCost, null)"/>
    </RowIterator>
    <RowIterator
      editable="true"
      elementName="aggCost"
      id="f200t300"
      pageSize="0"
      type="WCJurisdictionCost"
      value="aggCosts.byCalcOrder( 201, 300 ).toTypedArray()">
      <IteratorSort
        sortBy="aggCost.CalcOrder"
        sortOrder="1"/>
      <RowSetRef
        def="WCRatingOverrideCostDetailAggRowSet(aggCost, null)"/>
    </RowIterator>
    <RowIterator
      editable="true"
      elementName="aggCost"
      id="f300t400"
      pageSize="0"
      type="WCJurisdictionCost"
      value="aggCosts.byCalcOrder( 301, 400 ).toTypedArray()">
      <IteratorSort
        sortBy="aggCost.CalcOrder"
        sortOrder="1"/>
      <RowSetRef
        def="WCRatingOverrideCostDetailAggRowSet(aggCost, null)"/>
    </RowIterator>
  </ListViewPanel>
</PCF>