<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingOverridePanelSet"
    mode="CPLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Variable
      initialValue="period.CPLine.CPLocations.sortBy(\ loc -&gt; loc.PolicyLocation.LocationNum)"
      name="locations"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="locations*.Buildings.sortBy(\ c -&gt; c.DisplayName)"
      name="buildings"
      type="CPBuilding[]"/>
    <PanelIterator
      elementName="building"
      id="Building"
      value="buildings">
      <IteratorSort
        sortBy="locations"
        sortOrder="1"/>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.PolicyFile.PolicyLine.CP.Building.RatingOverrideLabel(building, building.CPLocation)"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef>
        <Toolbar/>
        <ListViewPanel>
          <Variable
            initialValue="building.Coverages*.Costs.toList().sortBy(\ c -&gt; c.DisplayName)"
            name="costs"
            type="List&lt;CPBuildingCovCost&gt;"/>
          <Row
            renderAsSmartHeader="true">
            <Cell
              align="center"
              id="EmptyHeader1"/>
            <Cell
              align="center"
              colspan="4"
              id="ActualHeader"
              value="displaykey.Web.Policy.RatingOverride.Actual"/>
            <Cell
              align="center"
              colspan="4"
              id="OverrideHeader"
              value="displaykey.Web.Policy.RatingOverride.Override"/>
            <Cell
              align="center"
              colspan="4"
              id="StandardHeader"
              value="displaykey.Web.Policy.RatingOverride.Standard"/>
          </Row>
          <Row
            renderAsSmartHeader="true">
            <Cell
              id="DescriptionHeader"
              value="displaykey.Web.SubmissionWizard.Quote.WC.Desc"/>
            <Cell
              align="right"
              id="ActualBaseRateHeader"
              value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
            <Cell
              align="right"
              id="ActualAdjustedRateHeader"
              value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
            <Cell
              align="right"
              id="ActualTermAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.TermAmount"/>
            <Cell
              align="right"
              id="ActualAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.Amount"/>
            <Cell
              align="right"
              id="OverrideBaseRateHeader"
              value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
            <Cell
              align="right"
              id="OverrideAdjustedRateHeader"
              value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
            <Cell
              align="right"
              id="OverrideTermAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.TermAmount"/>
            <Cell
              align="left"
              id="OverrideReasonHeader"
              value="displaykey.Web.Policy.RatingOverride.Reason"/>
            <Cell
              align="right"
              id="StandardBaseRateHeader"
              value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
            <Cell
              align="right"
              id="StandardAdjustedRateHeader"
              value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
            <Cell
              align="right"
              id="StandardTermAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.TermAmount"/>
            <Cell
              align="right"
              id="StandardAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.Amount"/>
          </Row>
          <RowIterator
            editable="CurrentLocation.InEditMode"
            elementName="cost"
            value="costs">
            <Row>
              <Cell
                id="Description"
                value="cost"
                width="250"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="ActualBaseRate"
                value="cost.ActualBaseRate"
                width="100"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="ActualAdjustedRate"
                value="cost.ActualAdjRate"
                width="100"/>
              <MonetaryAmountCell
                align="right"
                currency="period.PreferredSettlementCurrency"
                formatType="currency"
                id="ActualTermAmount"
                value="cost.ActualTermAmountBilling"
                width="100"/>
              <MonetaryAmountCell
                align="right"
                currency="period.PreferredSettlementCurrency"
                formatType="currency"
                id="ActualAmount"
                value="cost.ActualAmountBilling"
                width="100"/>
              <TextCell
                editable="CurrentLocation.InEditMode and cost.Overridable"
                format="&quot;0.0000&quot;"
                id="OverrideBaseRate"
                numCols="10"
                value="cost.OverrideBaseRate"
                width="100"/>
              <TextCell
                editable="CurrentLocation.InEditMode and cost.Overridable"
                format="&quot;0.0000&quot;"
                id="OverrideAdjustedRate"
                numCols="10"
                value="cost.OverrideAdjRate"
                width="100"/>
              <MonetaryAmountCell
                align="right"
                currency="period.PreferredSettlementCurrency"
                editable="CurrentLocation.InEditMode and cost.Overridable"
                formatType="currency"
                id="OverrideTermAmount"
                numCols="10"
                value="cost.OverrideTermAmountBilling"
                width="100"/>
              <Cell
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideReason"
                value="cost.OverrideReason"
                width="150"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="StandardBaseRate"
                value="cost.StandardBaseRate"
                width="100"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="StandardAdjustedRate"
                value="cost.StandardAdjRate"
                width="100"/>
              <MonetaryAmountCell
                align="right"
                currency="period.PreferredSettlementCurrency"
                formatType="currency"
                id="StandardTermAmount"
                value="cost.StandardTermAmountBilling"
                width="100"/>
              <MonetaryAmountCell
                align="right"
                currency="period.PreferredSettlementCurrency"
                formatType="currency"
                id="StandardAmount"
                value="cost.StandardAmountBilling"
                width="100"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </PanelIterator>
  </PanelSet>
</PCF>