<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="BCPolicy"
    popup="true"
    target="BillingCenter"
    url="{billingSystemURL}/PolicyPeriodEntry.do">
    <LocationEntryPoint
      signature="BCPolicy(billingSystemURL : String, policyNumber : String, termNumber : int)"/>
    <ExitPointParameter
      locationParam="billingSystemURL"
      type="String"
      urlParam="billingSystemURL"/>
    <ExitPointParameter
      locationParam="policyNumber"
      type="String"
      urlParam="policyNumber"/>
    <ExitPointParameter
      locationParam="termNumber"
      type="int"
      urlParam="termNumber"/>
  </ExitPoint>
</PCF>