<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="CreatePaymentInstrument"
    url="{paymentSystemURL}/NewPaymentInstrument.do">
    <LocationEntryPoint
      signature="CreatePaymentInstrument(paymentSystemURL : String, returnURL : String, jobNumber : String, accountHolderName : String, add1 : String, add2 : String, city : String, state : String, zip : String)"/>
    <ExitPointParameter
      locationParam="paymentSystemURL"
      type="String"
      urlParam="paymentSystemURL"/>
    <ExitPointParameter
      locationParam="returnURL"
      type="String"
      urlParam="returnURL"/>
    <ExitPointParameter
      locationParam="jobNumber"
      type="String"
      urlParam="jobNumber"/>
    <ExitPointParameter
      locationParam="accountHolderName"
      type="String"
      urlParam="accountHolderName"/>
    <ExitPointParameter
      locationParam="add1"
      type="String"
      urlParam="add1"/>
    <ExitPointParameter
      locationParam="add2"
      type="String"
      urlParam="add2"/>
    <ExitPointParameter
      locationParam="city"
      type="String"
      urlParam="city"/>
    <ExitPointParameter
      locationParam="state"
      type="String"
      urlParam="state"/>
    <ExitPointParameter
      locationParam="zip"
      type="String"
      urlParam="zip"/>
  </ExitPoint>
</PCF>