<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ExitPoint
    id="ViewClaim"
    popup="true"
    target="ClaimCenter"
    url="{claimSystemURL}/ClaimSummaryLink.do">
    <LocationEntryPoint
      signature="ViewClaim(claimSystemURL : String, claimNumber : String)"/>
    <ExitPointParameter
      locationParam="claimSystemURL"
      type="String"
      urlParam="claimSystemURL"/>
    <ExitPointParameter
      locationParam="claimNumber"
      type="String"
      urlParam="claimNumber"/>
  </ExitPoint>
</PCF>