<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, policyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.pfiledetails"
    id="PolicyFile_Buildings_BOP"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="displaykey.Web.PolicyFile.Buildings">
    <LocationEntryPoint
      signature="PolicyFile_Buildings_BOP(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <Screen
      id="BOPBuildingsScreen">
      <PanelRef
        def="BOPBuildingsCV(policyPeriod, false, null)"/>
    </Screen>
  </Page>
</PCF>