<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    id="CommercialProperty_BuildingsAndLocations"
    parent="CommercialPropertyLinks(period, asOfDate)"
    title="displaykey.Web.PolicyFile.BuildingsAndLocations">
    <LocationEntryPoint
      signature="CommercialProperty_BuildingsAndLocations(period : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="period"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <ScreenRef
      def="PolicyFile_CPBuildingsScreen(period.CPLine, false, null as web.job.JobWizardHelper)"
      id="PolicyFile_CPBuildingsScreen"/>
  </Page>
</PCF>