<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="IMPolicyFilePartScreen"
    mode="IMSignPart">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <PanelRef
      def="IMSignsPanelSet(policyPeriod, policyPeriod.IMLine.IMSignPart, null)"/>
  </Screen>
</PCF>