<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    id="InlandMarine_PolicyFilePart"
    parent="InlandMarineLinks(policyPeriod, asOfDate)"
    title="part.Subtype.DisplayName">
    <LocationEntryPoint
      signature="InlandMarine_PolicyFilePart(policyPeriod : PolicyPeriod, asOfDate : DateTime, part : IMCoveragePart)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <Variable
      name="part"
      type="IMCoveragePart"/>
    <ScreenRef
      def="IMPolicyFilePartScreen(policyPeriod)"
      mode="part.Subtype.Code"/>
  </Page>
</PCF>