<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="CreateAccountScreen">
    <Require
      name="account"
      type="Account"/>
    <Require
      name="producerSelection"
      type="ProducerSelection"/>
    <Require
      name="duplicateContactsPopupHelper"
      type="gw.pcf.duplicatecontacts.DuplicateContactsPopupHelper"/>
    <Toolbar>
      <ToolbarButton
        action="duplicateContactsPopupHelper.checkForDuplicatesOrUpdate(\ -&gt; CurrentLocation.commit())"
        id="ForceDupCheckUpdate"
        label="displaykey.Button.Update"
        shortcut="U"
        visible="duplicateContactsPopupHelper.ShowButton"/>
      <EditButtons
        updateVisible="not duplicateContactsPopupHelper.ShowButton"/>
      <ToolbarButton
        action="duplicateContactsPopupHelper.push()"
        id="CheckForDuplicates"
        label="displaykey.Web.Contact.CheckForDuplicates"
        visible="duplicateContactsPopupHelper.ShowButton"/>
    </Toolbar>
    <Verbatim
      label="displaykey.Web.NewSubmissionAccountDetail.ConfirmMessage"/>
    <PanelRef
      def="CreateAccountDV(account, producerSelection)"
      editable="account.Editable"/>
  </Screen>
</PCF>