<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="NewAccountSearchResultsLV">
    <Require
      name="accountSummaries"
      type="AccountSummaryQuery"/>
    <Require
      name="producerSelection"
      type="ProducerSelection"/>
    <RowIterator
      canPick="perm.Account.newSubmission(accountSummary.Account)"
      editable="false"
      elementName="accountSummary"
      pickValue="accountSummary"
      value="accountSummaries">
      <Row>
        <Cell
          action="AccountFileDoRetrievalForward.go(accountSummary.AccountNumber)"
          available="perm.Account.view(accountSummary.Account)"
          id="AccountNumber"
          label="displaykey.Web.AccountSearchResults.AccountNumber"
          value="accountSummary.AccountNumber"
          width="150"/>
        <Cell
          id="Name"
          label="displaykey.Web.AccountSearchResults.Name"
          value="accountSummary.AccountHolderName"
          width="200"/>
        <Cell
          id="Address"
          label="displaykey.Web.AccountSearchResults.Address"
          value="accountSummary.AccountHolderAddress"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>