<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="NewAccountPopup"
    returnType="AccountSummary"
    title="displaykey.Web.NewSubmissionAccount">
    <LocationEntryPoint
      signature="NewAccountPopup(forNewSubmission : boolean)"/>
    <Variable
      name="forNewSubmission"
      type="boolean"/>
    <ScreenRef
      def="NewAccountScreen(forNewSubmission)"/>
  </Popup>
</PCF>