<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ApplyToRenewal"
    parent="PolicyFile(currentBranch, currentBranch.EditEffectiveDate)"
    title="displaykey.Web.ApplyToRenewal.Title">
    <LocationEntryPoint
      signature="ApplyToRenewal(currentBranch : PolicyPeriod, futureBranch : PolicyPeriod)"/>
    <Variable
      name="currentBranch"
      type="PolicyPeriod"/>
    <Variable
      name="futureBranch"
      type="PolicyPeriod"/>
    <Screen
      editable="true"
      id="ApplyToRenewalScreen">
      <Verbatim
        label="displaykey.Web.ApplyToRenewal.Message(futureBranch.Job.JobNumber)"/>
      <DetailViewPanel
        id="ApplyToRenewalDV">
        <InputColumn>
          <BulletPointTextInput
            action="JobForward.go(futureBranch.Job)"
            id="ViewNewJob"
            value="displaykey.Web.ApplyToRenewal.ViewNewJob(futureBranch.Job.JobNumber)"
            visible="true"/>
          <BulletPointTextInput
            action="JobForward.go(currentBranch.Job)"
            id="ViewCurrentJob"
            value="displaykey.Web.ApplyToRenewal.ViewCurrentJob"
            visible="true"/>
          <BulletPointTextInput
            action="PolicyFileForward.go(currentBranch.PolicyNumber, currentBranch.EditEffectiveDate)"
            id="ViewPolicy"
            value="displaykey.Web.ApplyToRenewal.ViewPolicy(currentBranch.PolicyNumberDisplayString)"
            visible="true"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>