<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="JobComplete"
    infoBar="JobWizardInfoBar(job, policyPeriod)"
    parent="WizardExit()"
    title="policyPeriod.JobCompletionTitle">
    <LocationEntryPoint
      signature="JobComplete(job : Job, policyPeriod : PolicyPeriod)"/>
    <Variable
      name="job"
      type="Job"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="new gw.document.DocumentProduction()"
      name="documentProduction"
      type="gw.document.DocumentProduction"/>
    <Screen
      id="JobCompleteScreen">
      <Toolbar>
        <ToolbarButton
          action="policyPeriod.printDocument(&quot;Binder&quot;)"
          download="true"
          id="CreateBinder"
          label="displaykey.Web.JobComplete.Binder.Print"
          visible="job typeis Submission and policyPeriod.Status == &quot;Bound&quot; and not policyPeriod.Policy.Issued"/>
      </Toolbar>
      <Verbatim
        id="Message"
        label="policyPeriod.JobCompletionMessage"/>
      <PanelRef
        def="JobCompleteDV(job, policyPeriod)"/>
    </Screen>
  </Page>
</PCF>