<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="JobNotAllowedPopup"
    title="displaykey.Web.Job.NotAllowed.Title">
    <LocationEntryPoint
      signature="JobNotAllowedPopup(jobType : String, product : gw.api.productmodel.Product)"/>
    <Variable
      name="product"
      type="gw.api.productmodel.Product"/>
    <Variable
      name="jobType"
      type="String"/>
    <Screen
      id="JobNotAllowedPopupScreen">
      <Verbatim
        label="displaykey.Web.Job.NotAllowed.Message(jobType, product.Name)"
        warning="true"/>
      <DetailViewPanel
        id="JobNotAllowedPopupDV">
        <InputColumn>
          <BulletPointTextInput
            action="PolicyForward.go()"
            id="ReturnLink"
            value="displaykey.Web.Job.NotAllowed.ReturnLink"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>