<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="CovTermInputSet"
    mode="datetime">
    <Require
      name="term"
      type="gw.api.domain.covterm.CovTerm"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <DateInput
      editable="true"
      id="DateTimeTermInput"
      label="term.Pattern.DisplayName"
      required="term.Pattern.Required"
      value="(term as gw.api.domain.covterm.GenericCovTerm&lt;java.util.Date&gt;).Value"/>
  </InputSet>
</PCF>
