<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ModalCell
    id="ScheduledItemColumnInput"
    mode="Integer">
    <Require
      name="schedulePropertyInfo"
      type="gw.api.productmodel.SchedulePropertyInfo"/>
    <Require
      name="scheduledItem"
      type="ScheduledItem"/>
    <Variable
      initialValue="new gw.api.productmodel.SchedulePropertyValueProvider&lt;java.lang.Integer&gt;(scheduledItem, schedulePropertyInfo.PropertyInfo)"
      name="valueProvider"
      type="gw.api.productmodel.SchedulePropertyValueProvider&lt;java.lang.Integer&gt;"/>
    <TextCell
      align="right"
      editable="true"
      id="IntValue"
      requestValidationExpression="schedulePropertyInfo.validate(VALUE)"
      required="schedulePropertyInfo.Required"
      value="valueProvider.Value"/>
  </ModalCell>
</PCF>