<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="false"
    canVisit="policyPeriod.PolicyTerm.Archived"
    countsAsWork="false"
    id="ArchivedPolicyPeriodPage"
    title="displaykey.Web.Archive.PolicyPeriodLandingPage.Title">
    <LocationEntryPoint
      signature="ArchivedPolicyPeriodPage(policyPeriod : PolicyPeriod)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <ScreenRef
      def="Policy_SummaryScreen(policyPeriod, java.util.Date.CurrentDate, new gw.pcf.policysummary.PolicySummaryHelper(policyPeriod, java.util.Date.CurrentDate))"/>
  </Page>
</PCF>