<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.ViewProductModelInfo or perm.User.DevAllAccess"
    countsAsWork="false"
    id="ProductModelInfo"
    parent="ServerTools()"
    title="displaykey.Web.ServerTools.ProductModelInfo.Title">
    <LocationEntryPoint
      signature="ProductModelInfo()"/>
    <Screen
      id="ProductModelInfoScreen">
      <DetailViewPanel
        id="ProductModelInfoDV">
        <InputColumn>
          <ButtonInput
            action="gw.api.tools.ProductModelToolsUtil.reloadAvailability(); util.LocationUtil.addRequestScopedInfoMessage(displaykey.Web.ServerTools.ProductModelInfo.Reload.Successful)"
            align="center"
            id="Reload"
            value="displaykey.Web.ServerTools.ProductModelInfo.Reload"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Page>
</PCF>