<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="gw.api.system.PLConfigParameters.FreeTextSearchEnabled.Value"
    countsAsWork="false"
    id="SolrSearch"
    parent="UnsupportedTools()"
    title="displaykey.Web.ServerTools.Solr.SolrTools">
    <LocationEntryPoint
      signature="SolrSearch()"/>
    <Screen
      id="SolrToolsScreen">
      <Variable
        name="synchronized"
        type="boolean"/>
      <Variable
        name="deleted"
        type="boolean"/>
      <Variable
        name="synchDismissed"
        type="boolean"/>
      <Variable
        name="deletedDismissed"
        type="boolean"/>
      <Variable
        name="consistencyChecked"
        type="boolean"/>
      <Variable
        name="consistencyCheckDismissed"
        type="boolean"/>
      <Variable
        name="report"
        type="gw.solr.utils.SolrConsistencyReport"/>
      <AlertBar
        dismissed="synchDismissed"
        id="alertReloaded"
        label="displaykey.Web.ServerTools.Solr.SolrTools.AlertReloaded"
        visible="synchronized"/>
      <AlertBar
        dismissed="deletedDismissed"
        id="alertDeleted"
        label="displaykey.Web.ServerTools.Solr.SolrTools.AlertDeleted"
        visible="deleted"/>
      <DetailViewPanel
        id="SolrToolsDV">
        <InputColumn>
          <ButtonInput
            action="gw.solr.utils.PCSolrUtils.reloadPolicies(); synchronized = true; synchDismissed = false"
            align="center"
            id="Reload"
            value="displaykey.Web.ServerTools.Solr.SolrTools.Reload"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="gw.solr.utils.PCSolrUtils.deleteAllPolicies(); deleted = true; deletedDismissed = false"
            align="center"
            id="Delete"
            value="displaykey.Web.ServerTools.Solr.SolrTools.DeleteAll"/>
        </InputColumn>
        <InputColumn>
          <ButtonInput
            action="report = gw.solr.utils.PCSolrUtils.runConsistencyCheck(); consistencyChecked = true; consistencyCheckDismissed = false"
            align="center"
            id="ConsistencyCheck"
            value="displaykey.Web.ServerTools.Solr.SolrTools.ConsistencyCheck"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelSet
        visible="consistencyChecked">
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.ConsistencyReport"/>
            <TextInput
              id="consistencyRecordsProcessed"
              label="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.RecordsProcessed"
              value="report.DocumentsProcessed"/>
            <TextInput
              id="consistencyFailures"
              label="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.FailureCount"
              value="report.Failures.Count"/>
          </InputColumn>
        </DetailViewPanel>
        <ListViewPanel>
          <RowIterator
            editable="false"
            elementName="failure"
            pageSize="0"
            value="report.Failures">
            <Row>
              <Cell
                id="failureType"
                label="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.FailureType"
                value="failure.Type"/>
              <Cell
                action="PolicyFileForward.go(gw.api.database.Query.make(PolicyPeriod).compare(&quot;PublicID&quot;, Equals, failure.PeriodPublicID).select().single())"
                id="failurePublicID"
                label="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.PeriodPublicID"
                value="failure.PeriodPublicID"/>
              <Cell
                id="failureSliceDate"
                label="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.SliceDate"
                value="failure.SliceDate"/>
              <Cell
                id="failureMessage"
                label="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.Message"
                value="failure.Message"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <DetailViewPanel>
          <InputColumn>
            <ButtonInput
              action="consistencyChecked = false"
              id="dismissReport"
              value="displaykey.Web.ServerTools.Solr.SolrTools.Consistency.CloseReport"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelSet>
    </Screen>
  </Page>
</PCF>