<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canEdit="true"
    countsAsWork="false"
    id="WorkflowTriggerTool"
    parent="UnsupportedTools()"
    startInEditMode="true"
    title="displaykey.Web.InternalTools.WorkflowTriggerTool">
    <LocationEntryPoint
      signature="WorkflowTriggerTool()"/>
    <Variable
      name="result"
      type="String"/>
    <Variable
      initialValue="new String()"
      name="jobNumber"
      type="String"/>
    <Variable
      initialValue="new String()"
      name="triggerToCall"
      type="String"/>
    <Variable
      initialValue="1"
      name="branchNumber"
      type="int"/>
    <Screen
      id="WorkflowTriggerToolScreen">
      <Verbatim
        label="result"/>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            id="JobNumber"
            label="displaykey.Web.InternalTools.WorkflowTriggerTool.JobNumber"
            value="jobNumber"/>
          <TextInput
            editable="true"
            id="branchNumber"
            label="displaykey.Web.InternalTools.WorkflowTriggerTool.BranchNumber"
            value="branchNumber"/>
          <Input
            editable="true"
            id="TriggerToCall"
            label="displaykey.Web.InternalTools.WorkflowTriggerTool.TriggerToCall"
            value="triggerToCall"/>
          <Label
            label="displaykey.Web.InternalTools.WorkflowTriggerTool.TriggerInfo"/>
          <ButtonInput
            action="result = web.policy.ExternalWorkflowTriggerUtil.doTriggerFromExternal(jobNumber, branchNumber, triggerToCall)"
            id="TriggerTrigger"
            value="displaykey.Web.InternalTools.WorkflowTriggerTool.SubmitTrigger"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="UnsupportedToolsDisclaimerDV()"/>
    </Screen>
  </Page>
</PCF>