<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    afterCommit="gw.web.line.common.RatingOverrideUIHelper.afterCommit(period, jobWizardHelper, issuesBlockingQuote)"
    beforeCommit="gw.web.line.common.RatingOverrideUIHelper.beforeCommit(line, jobWizardHelper, issuesBlockingQuote)"
    canEdit="perm.System.editratingoverrides"
    canVisit="perm.System.viewratingoverrides || perm.System.editratingoverrides"
    countsAsWork="false"
    id="RatingOverridePopup"
    startInEditMode="startInEditMode"
    title="displaykey.Web.Policy.RatingOverride.PopupTitle">
    <LocationEntryPoint
      signature="RatingOverridePopup(period:PolicyPeriod, line:PolicyLine, jobWizardHelper:web.job.JobWizardHelper, startInEditMode : boolean)"/>
    <Variable
      name="period"
      type="PolicyPeriod"/>
    <Variable
      name="line"
      type="PolicyLine"/>
    <Variable
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      name="startInEditMode"
      type="boolean"/>
    <Variable
      initialValue="new gw.web.line.common.RatingOverrideUIHelper.RatingOverrideIssues()"
      name="issuesBlockingQuote"
      type="gw.web.line.common.RatingOverrideUIHelper.RatingOverrideIssues"/>
    <Screen>
      <Toolbar>
        <EditButtons
          editVisible="false"
          updateLabel="displaykey.Web.Policy.RatingOverride.Rerate"/>
        <ToolbarDivider
          hideIfReadOnly="true"/>
        <ToolbarButton
          action="gw.web.line.common.RatingOverrideUIHelper.clearAllOverrides(line)"
          available="gw.web.line.common.RatingOverrideUIHelper.hasAnyOverridableCosts(line)"
          hideIfReadOnly="true"
          id="ClearAllButton"
          label="displaykey.Web.Policy.RatingOverride.ClearAll"/>
      </Toolbar>
      <PanelRef
        def="RatingOverridePanelSet(period)"
        mode="line.Pattern.Code"/>
    </Screen>
  </Popup>
</PCF>