<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <JobWizard
    acceleratedMenuActions="BlankAcceleratedMenuActions()"
    canEdit="(not job.Complete) and perm.Cancellation.edit(cancellation)"
    canVisit="perm.Cancellation.view(cancellation)"
    desc="The main Wizard for a policy cancellation.  Flow steps within the Wizard are determined by the product model."
    id="CancellationWizard"
    independentStepsTitle="displaykey.Web.PolicyFile.ToolsMenuTitle"
    independentStepsTitleIcon="&quot;ToolsMenuTitle.png&quot;"
    infoBar="CancellationWizardInfoBar(cancellation, policyPeriod)"
    initialStep="jobWizardHelper.getInitialWizardStepId( policyPeriod )"
    isDraftOnEnter="true"
    jobType="Cancellation"
    menuActions="WizardMenuActions(jobWizardHelper,cancellation,policyPeriod)"
    onConcurrentDataChange="CurrentLocation.cancel(); JobForward.go(job)"
    parent="JobForward(cancellation)"
    subtitle="policyPeriod.Status.DisplayName"
    title="displaykey.Web.CancellationWizard.Title(cancellation.JobNumber)">
    <LocationEntryPoint
      signature="CancellationWizard(cancellation : Cancellation, policyPeriod : PolicyPeriod)"/>
    <Variable
      name="cancellation"
      type="Cancellation"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="gw.util.concurrent.LockingLazyVar.make(\ -&gt; policyPeriod.OpenForEdit)"
      name="openForEditInit"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="openForEditInit.get()"
      name="openForEdit"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="cancellation"
      name="job"/>
    <Variable
      initialValue="policyPeriod.Policy"
      name="policy"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="cancellation.PolicyPeriod"
      name="canceledPolicyPeriod"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="new web.job.JobWizardHelper(CurrentLocation)"
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <!-- =================================== WIZARD STEPS =================================== -->
    <JobWizardStep
      id="Entry"
      save="openForEdit"
      screen="CancellationWizard_EntryScreen(policyPeriod, cancellation, openForEdit,jobWizardHelper)"
      title="displaykey.Web.CancellationWizardMenu.Entry"/>
    <JobWizardStep
      allowFinish="false"
      available="policyPeriod.JobProcess.canViewQuote()"
      id="ViewQuote"
      screen="CancellationWizard_QuoteScreen(cancellation, openForEdit, jobWizardHelper)"
      title="displaykey.Web.CancellationWizardMenu.Confirm"
      visible="!policyPeriod.MultiLine"/>
    <JobWizardStep
      allowFinish="false"
      available="policyPeriod.JobProcess.canViewQuote()"
      id="ViewMultiLineQuote"
      mode="policy.Product.Code"
      screen="CancellationWizard_MultiLine_QuoteScreen(cancellation, openForEdit, jobWizardHelper)"
      title="displaykey.Web.CancellationWizardMenu.Confirm"
      visible="policyPeriod.MultiLine"/>
    <WizardStepSetRef
      def="JobWizardToolsMenuWizardStepSet(jobWizardHelper, policyPeriod)"/>
  </JobWizard>
</PCF>