<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="false"
    id="CancellationWizard_MultiLine_QuoteScreen"
    mode="default">
    <Require
      name="cancellation"
      type="Cancellation"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="cancellation.PolicyPeriod"
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="policyPeriod.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, cancellation, jobWizardHelper)"/>
      <ToolbarButton
        action="policyPeriod.printDocument(&quot;CancellationQuote&quot;, &quot;Cancellation Quote&quot;)"
        download="true"
        id="CreateCancellationQuote"
        label="displaykey.Button.PrintQuote"
        shortcut="P"/>
    </Toolbar>
    <PanelRef
      def="Common_MultiLine_QuoteScreenPanelSet(policyPeriod, isEditable, jobWizardHelper, true)"
      mode="&quot;default&quot;"/>
  </Screen>
</PCF>