<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ImpactTestingPolicyPeriodSummaryPanelSet">
    <Require
      name="impactPeriod"
      type="ImpactTestingPolicyPeriod"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSet>
          <Label
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.OriginalPeriod"/>
          <TextInput
            action="JobForward.go(impactPeriod.OriginalPeriod.Job)"
            confirmMessage="displaykey.Web.Rating.ImpactTesting.PeriodSummary.ExitingImpactTestingWizardConfirmationMsg"
            id="policyNumber"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.PolicyNumber"
            showConfirmMessage="true"
            value="impactPeriod.OriginalPeriod.PolicyNumberDisplayString"/>
          <TextInput
            id="termNumber"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TermNumber"
            value="impactPeriod.OriginalPeriod.TermNumber"/>
          <TextInput
            id="accountNumber"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.AccountNumber"
            value="impactPeriod.AccountNumber"/>
          <TextInput
            id="product"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.Product"
            value="gw.rating.rtm.util.ProductModelUtils.lineStyleProductDisplay(impactPeriod.OriginalPeriod.Policy.Product)"/>
          <TextInput
            id="producer"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.Producer"
            value="impactPeriod.OriginalPeriod.Policy.ProducerCodeOfService"/>
        </InputSet>
        <InputDivider/>
        <InputSet>
          <Label
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.ImpactPeriods"/>
          <TextInput
            action="JobForward.go(impactPeriod.BaselinePeriod.Job, impactPeriod.BaselinePeriod)"
            confirmMessage="displaykey.Web.Rating.ImpactTesting.PeriodSummary.ExitingImpactTestingWizardConfirmationMsg"
            id="baselinePeriod"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.BaselineJob"
            showConfirmMessage="true"
            value="impactPeriod.BaselinePeriod.Job.JobNumber"/>
          <TextInput
            action="JobForward.go(impactPeriod.TestPeriod.Job, impactPeriod.TestPeriod)"
            confirmMessage="displaykey.Web.Rating.ImpactTesting.PeriodSummary.ExitingImpactTestingWizardConfirmationMsg"
            id="testPeriod"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPeriodJob"
            showConfirmMessage="true"
            value="impactPeriod.TestPeriod.Job.JobNumber"/>
        </InputSet>
      </InputColumn>
      <InputColumn>
        <InputSet>
          <Label
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPrep"/>
          <TextInput
            id="testPrepProgress"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPrepProgress"
            value="impactPeriod.TestPrepProgress"/>
          <TextInput
            id="testPrepResult"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPrepResult"
            value="impactPeriod.TestPrepResult"/>
          <TextInput
            id="testPrepErrorMessage"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPrepError"
            value="impactPeriod.TestPrepErrorMessage"/>
        </InputSet>
        <InputDivider/>
        <InputSet>
          <Label
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestRun"/>
          <TextInput
            id="testRunProgress"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPrepProgress"
            value="impactPeriod.TestRunProgress"/>
          <TextInput
            id="testRunResult"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPrepResult"
            value="impactPeriod.TestRunResult"/>
          <TextInput
            id="testRunErrorMessage"
            label="displaykey.Web.Rating.ImpactTesting.PeriodSummary.TestPrepError"
            value="impactPeriod.TestRunErrorMessage"/>
        </InputSet>
      </InputColumn>
      <InputColumn/>
    </DetailViewPanel>
  </PanelSet>
</PCF>