<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="ImpactTestingSearchPoliciesPanelSet">
    <Require
      name="allPolicyPeriods"
      type="gw.api.database.IQueryBeanResult&lt;entity.PolicyPeriod&gt;"/>
    <PanelRef>
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.PolicySearch.Results"/>
      <Toolbar/>
      <ListViewPanel>
        <RowIterator
          editable="false"
          elementName="policyPeriod"
          value="allPolicyPeriods">
          <Row>
            <Cell
              id="resultPolicyNumber"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.PolicyNumber"
              value="policyPeriod.PolicyNumberDisplayString"/>
            <Cell
              id="resultPolicyTerm"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.PolicyTerm"
              value="policyPeriod.TermNumber"/>
            <Cell
              enableSort="false"
              id="resultProduct"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.Product"
              value="gw.rating.rtm.util.ProductModelUtils.lineStyleProductDisplay(policyPeriod.Policy.Product)"/>
            <Cell
              id="resultProducerCode"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.ProducerCode"
              value="policyPeriod.ProducerCodeOfRecord"/>
            <Cell
              id="resultJurisdiction"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.Jurisdiction"
              value="policyPeriod.BaseState"/>
            <Cell
              align="right"
              enableSort="false"
              id="resultPostalCode"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.PostalCode"
              value="policyPeriod.getSlice(policyPeriod.EditEffectiveDate).PrimaryLocation.PostalCode"/>
            <Cell
              id="resultExpirationDate"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.EffectiveDate"
              value="policyPeriod.PeriodStart"/>
            <Cell
              id="resultEffectiveDate"
              label="displaykey.Web.Rating.ImpactTesting.Search.Result.ExpirationDate"
              value="policyPeriod.PeriodEnd"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>