<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    id="ImpactTestingPolicyPeriodPopup"
    title="displaykey.Web.Rating.ImpactTesting.PeriodPrepErrorPopup.Title">
    <LocationEntryPoint
      signature="ImpactTestingPolicyPeriodPopup(impactPeriod : ImpactTestingPolicyPeriod)"/>
    <Variable
      name="impactPeriod"
      type="ImpactTestingPolicyPeriod"/>
    <Screen>
      <AlertBar
        allowDismiss="false"
        id="testPrepAlert"
        label="displaykey.Web.Rating.ImpactTesting.PeriodPrepErrorPopup.AlertMessage(impactPeriod.FailureMessage)"
        visible="impactPeriod.HasFailures"/>
      <PanelRef
        def="ImpactTestingPolicyPeriodSummaryPanelSet(impactPeriod)"/>
    </Screen>
  </Popup>
</PCF>