<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ImpactTestingSearchPoliciesDV">
    <Require
      name="criteria"
      type="gw.rating.impact.ImpactTestingSearchCriteria"/>
    <Require
      name="productToAdd"
      type="gw.api.productmodel.Product"/>
    <Require
      name="jurisdictionToAdd"
      type="Jurisdiction"/>
    <Require
      name="producerCodeToAdd"
      type="ProducerCode"/>
    <Variable
      initialValue="new gw.pcf.rating.impact.ImpactTestingSearchUIHelper(criteria, gw.plugin.util.CurrentUserUtil.getCurrentUser().getUser())"
      name="searchHelper"
      recalculateOnRefresh="true"
      type="gw.pcf.rating.impact.ImpactTestingSearchUIHelper"/>
    <Variable
      name="jurisdictionsToRemove"
      type="Jurisdiction[]"/>
    <Variable
      name="producerCodesToRemove"
      type="ProducerCode[]"/>
    <Variable
      name="postalCodes"
      type="String"/>
    <Variable
      name="productsToRemove"
      type="gw.api.productmodel.Product[]"/>
    <InputColumn>
      <InputSet>
        <Label
          label="displaykey.Web.Rating.ImpactTesting.Search.Product"/>
        <RangeInput
          editable="true"
          id="products"
          optionLabel="searchHelper.lineStyleProductDisplay(VALUE)"
          value="productToAdd"
          valueRange="searchHelper.availableProducts()"/>
        <ContentInput>
          <Link
            action="searchHelper.addProduct(productToAdd)"
            id="addProductLink"
            label="displaykey.Web.Rating.ImpactTesting.Search.AddProduct"
            styleClass="miniButton"/>
          <Link
            action="searchHelper.removeProducts(productsToRemove)"
            id="removeProductLink"
            label="displaykey.Web.Rating.ImpactTesting.Search.RemoveProducts"
            styleClass="miniButton"/>
        </ContentInput>
        <CheckBoxGroupInput
          editable="true"
          id="includedProducts"
          required="false"
          value="productsToRemove"
          valueRange="criteria.Products"/>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.Web.Rating.ImpactTesting.Search.Jurisdictions"/>
        <RangeInput
          editable="true"
          id="jurisdictions"
          value="jurisdictionToAdd"
          valueRange="searchHelper.availableJurisdictions()"/>
        <ContentInput>
          <Link
            action="searchHelper.addJurisdiction(jurisdictionToAdd)"
            id="addJurisdictionLink"
            label="displaykey.Web.Rating.ImpactTesting.Search.AddJurisdiction"
            styleClass="miniButton"/>
          <Link
            action="searchHelper.removeJurisdictions(jurisdictionsToRemove)"
            id="removeJurisdictionLink"
            label="displaykey.Web.Rating.ImpactTesting.Search.RemoveJurisdictions"
            styleClass="miniButton"/>
        </ContentInput>
        <CheckBoxGroupInput
          editable="true"
          id="includedJurisdictions"
          required="false"
          value="jurisdictionsToRemove"
          valueRange="criteria.Jurisdictions"/>
        <InputDivider/>
      </InputSet>
      <InputSet>
        <Label
          label="displaykey.Web.Rating.ImpactTesting.Search.ProducerCodes"/>
        <ProducerCodeInput
          editable="true"
          id="producerCodePicker"
          onPick="searchHelper.addProducerCode(producerCodeToAdd)"
          pickLocation="ProducerCodeSearchPopup.push()"
          required="false"
          value="producerCodeToAdd"/>
        <ContentInput>
          <Link
            action="searchHelper.addProducerCode(producerCodeToAdd)"
            id="addProducerCodeLink"
            label="displaykey.Web.Rating.ImpactTesting.Search.AddProducerCode"
            styleClass="miniButton"/>
          <Link
            action="searchHelper.removeProducerCodes(producerCodesToRemove)"
            id="removeProducerCodeLink"
            label="displaykey.Web.Rating.ImpactTesting.Search.RemoveProducerCodes"
            styleClass="miniButton"/>
        </ContentInput>
        <CheckBoxGroupInput
          editable="true"
          id="includedProducerCodes"
          required="false"
          value="producerCodesToRemove"
          valueRange="criteria.ProducerCodes"/>
      </InputSet>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.Rating.ImpactTesting.Search.PostalCodes"/>
      <InputSet>
        <InputSet>
          <Choice
            id="usePostalCodeListChoice"
            option="true"
            value="criteria.SearchOnPostalCodeList">
            <TextAreaInput
              editable="true"
              helpText="displaykey.Web.Rating.ImpactTesting.Search.PostalCodesHelp"
              id="postalCodesList"
              label="displaykey.Web.Rating.ImpactTesting.Search.SpecifyCodes"
              labelAbove="true"
              numRows="3"
              required="false"
              value="criteria.PostalCodesList">
              <PostOnChange/>
            </TextAreaInput>
            <CheckBoxInput
              align="left"
              editable="true"
              helpText="displaykey.Web.Rating.ImpactTesting.Search.UseStartsWithHelp"
              id="useStartsWith"
              labelAbove="true"
              required="false"
              value="criteria.UseStartsWithForPostalCodes"
              valueLabel="displaykey.Web.Rating.ImpactTesting.Search.UseStartsWith">
              <PostOnChange/>
            </CheckBoxInput>
          </Choice>
          <Choice
            id="usePostalCodeRangeChoice"
            option="false"
            value="criteria.SearchOnPostalCodeList">
            <Input
              id="rangeInputImitatingLabel"
              label="displaykey.Web.Rating.ImpactTesting.Search.Range"
              value="&quot;&quot;">
              <PostOnChange/>
            </Input>
            <Input
              editable="true"
              id="postalCodeMin"
              label="displaykey.Web.Rating.ImpactTesting.Search.PostalCodeMin"
              value="criteria.PostalCodeRangeMin">
              <PostOnChange/>
            </Input>
            <Input
              editable="true"
              id="postalCodeMax"
              label="displaykey.Web.Rating.ImpactTesting.Search.PostalCodeMax"
              value="criteria.PostalCodeRangeMax">
              <PostOnChange/>
            </Input>
          </Choice>
        </InputSet>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.Web.Rating.ImpactTesting.Search.EffectiveDateRange"/>
        <DateInput
          editable="true"
          id="effectiveDateMin"
          label="displaykey.Web.Rating.ImpactTesting.Search.EffectiveDateMin"
          value="criteria.EffectiveDateMin">
          <PostOnChange/>
        </DateInput>
        <DateInput
          editable="true"
          id="effectiveDateMax"
          label="displaykey.Web.Rating.ImpactTesting.Search.EffectiveDateMax"
          value="criteria.EffectiveDateMax">
          <PostOnChange/>
        </DateInput>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.Web.Rating.ImpactTesting.Search.ExpirationDateRange"/>
        <DateInput
          editable="true"
          id="expirationDateMin"
          label="displaykey.Web.Rating.ImpactTesting.Search.ExpirationDateMin"
          value="criteria.ExpirationDateMin">
          <PostOnChange/>
        </DateInput>
        <DateInput
          editable="true"
          id="expirationDateMax"
          label="displaykey.Web.Rating.ImpactTesting.Search.ExpirationDateMax"
          value="criteria.ExpirationDateMax">
          <PostOnChange/>
        </DateInput>
      </InputSet>
      <InputDivider/>
      <InputSet>
        <Label
          label="displaykey.Web.Rating.ImpactTesting.Search.InForceOnDate"/>
        <DateInput
          editable="true"
          id="asOfDate"
          value="criteria.InForceOnDate">
          <PostOnChange/>
        </DateInput>
      </InputSet>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>