<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="EditableLoadFactorsLV">
    <Require
      name="groupUserList"
      type="GroupUser[]"/>
    <RowIterator
      editable="true"
      elementName="groupUser"
      value="groupUserList">
      <Row>
        <Cell
          id="LoadFactor_User"
          label="displaykey.Web.LoadAndVacation.EditableLoadFactorsLV.User"
          sortOrder="1"
          value="groupUser.User"
          width="125"/>
        <Cell
          editable="true"
          id="LoadFactor"
          label="displaykey.Web.LoadAndVacation.EditableLoadFactorsLV.LoadFactor"
          sortOrder="2"
          value="groupUser.LoadFactor"
          width="50"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>