<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyHoldsPanelSet">
    <ExposeIterator
      flags="policyHold"
      valueType="entity.PolicyHold"
      widget="PolicyHoldsLV"/>
    <Require
      name="policyHolds"
      type="PolicyHoldQuery"/>
    <Require
      name="showTimeStamps"
      type="boolean"/>
    <PanelRef>
      <ListDetailPanel
        id="PolicyHoldsLDP"
        selectionName="selectedPolicyHold"
        selectionType="PolicyHold">
        <ListViewPanel
          id="PolicyHoldsLV">
          <RowIterator
            checkBoxVisible="perm.System.polholdcreate and perm.System.polholdelete"
            editable="false"
            elementName="policyHold"
            hasCheckBoxes="true"
            pageSize="5"
            toRemove="gw.api.admin.PolicyHoldUtil.deletePolicyHold(policyHold)"
            value="policyHolds">
            <ToolbarFlag
              name="policyHold"/>
            <Row>
              <Cell
                align="left"
                id="HoldType"
                label="displaykey.Web.Admin.PolicyHold.HoldType"
                value="policyHold.HoldType"/>
              <Cell
                action="PolicyHoldDetail.go(policyHold)"
                actionAvailable="perm.System.polholdedit"
                align="left"
                id="Code"
                label="displaykey.Web.Admin.PolicyHold.Code"
                value="policyHold.PolicyHoldCode"/>
              <Cell
                action="PolicyHoldDetail.go(policyHold)"
                actionAvailable="perm.System.polholdedit"
                align="left"
                id="Description"
                label="displaykey.Web.Admin.PolicyHold.Description"
                value="policyHold.Description"/>
              <DateCell
                align="left"
                id="StartDate"
                label="displaykey.Web.Admin.PolicyHold.StartDate"
                value="policyHold.StartDate"/>
              <DateCell
                align="left"
                id="EndDate"
                label="displaykey.Web.Admin.PolicyHold.EndDate"
                value="policyHold.EndDate"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
        <PanelRef
          def="PolicyHoldDetailCV(selectedPolicyHold, showTimeStamps)"
          visible="selectedPolicyHold != null"/>
      </ListDetailPanel>
    </PanelRef>
  </PanelSet>
</PCF>