<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canEdit="perm.System.polholdedit"
    canVisit="perm.System.polholdview"
    id="PolicyHolds"
    showUpLink="true"
    title="displaykey.Web.Admin.PolicyHold.PolicyHolds">
    <Variable
      initialValue="PolicyHold.finder.findPolicyHolds()"
      name="policyHolds"
      type="PolicyHoldQuery"/>
    <Screen
      id="PolicyHoldsScreen">
      <Toolbar>
        <ToolbarButton
          action="NewPolicyHold.go()"
          id="PolicyHolds_NewPolicyHoldsButton"
          label="displaykey.Button.Add"
          shortcut="A"
          visible="perm.System.polholdcreate"/>
        <CheckedValuesToolbarButton
          flags="one policyHold"
          id="CopyPolicyHold"
          iterator="PolicyHoldsPanelSet.PolicyHoldsLV"
          label="displaykey.Button.CopyPolicyHold"
          visible="perm.System.polholdcreate">
          <CheckedValuesMenuItem
            checkedRowAction="NewPolicyHold.go(CheckedValue, false, true)"
            id="CopyRegions"
            label="displaykey.Web.Admin.PolicyHold.Regions"/>
          <CheckedValuesMenuItem
            checkedRowAction="NewPolicyHold.go(CheckedValue, true, false)"
            id="CopyRules"
            label="displaykey.Web.Admin.PolicyHold.Rules"/>
          <CheckedValuesMenuItem
            checkedRowAction="NewPolicyHold.go(CheckedValue, true, true)"
            id="CopyRegionsAndRules"
            label="displaykey.Web.Admin.PolicyHold.RegionsAndRules"/>
        </CheckedValuesToolbarButton>
        <RemoveButton
          flags="any policyHold"
          id="PolicyHolds_DeleteButton"
          iterator="PolicyHoldsPanelSet.PolicyHoldsLV"
          label="displaykey.Button.Delete"
          shortcut="L"
          visible="perm.System.polholdelete"/>
      </Toolbar>
      <PanelRef
        def="PolicyHoldsPanelSet(policyHolds, true)"/>
    </Screen>
  </Page>
</PCF>