<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <CardViewPanel
    id="PolicyHoldDetailCV">
    <Require
      name="policyHold"
      type="PolicyHold"/>
    <Require
      name="showTimeStamps"
      type="boolean"/>
    <Variable
      initialValue="gw.api.admin.BaseAdminUtil.getDefaultCountry()"
      name="country"/>
    <Card
      id="HoldDetailsCard"
      title="displaykey.Web.Admin.PolicyHold.HoldDetails">
      <PanelRow>
        <PanelColumn>
          <PanelRef
            def="PolicyHoldDetailDV(policyHold, showTimeStamps)"/>
        </PanelColumn>
        <PanelColumn>
          <PanelRef
            def="LocalizedValuesDV(policyHold, { &quot;Description&quot;, &quot;UWIssueLongDesc&quot;}, { displaykey.Web.Admin.PolicyHold.Description, displaykey.Web.Admin.PolicyHold.LongDesc })"/>
        </PanelColumn>
      </PanelRow>
      <PanelRow>
        <PanelColumn>
          <PanelRef
            def="PolicyHoldRuleLV(policyHold)">
            <TitleBar
              title="displaykey.Web.Admin.PolicyHold.HoldRules"/>
            <Toolbar>
              <IteratorButtons
                iterator="PolicyHoldRuleLV.PolicyHoldRuleLV"/>
            </Toolbar>
          </PanelRef>
        </PanelColumn>
      </PanelRow>
    </Card>
    <Card
      id="HoldRegionsCard"
      title="displaykey.Web.Admin.PolicyHold.HoldRegions">
      <PanelRef
        def="HoldRegionsLV(policyHold)">
        <Toolbar>
          <PickerToolbarButton
            action="RegionSearchPopup.push(policyHold)"
            hideIfReadOnly="true"
            id="AddHoldRegion"
            label="displaykey.Web.Admin.PolicyHold.AddHoldRegion"
            onPick="policyHold.createPolicyHoldZones(PickedValue)"/>
          <IteratorButtons
            addVisible="false"
            iterator="HoldRegionsLV.HoldRegionsLV"/>
        </Toolbar>
      </PanelRef>
    </Card>
  </CardViewPanel>
</PCF>