<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="FormPatternDetailScreen">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <Toolbar>
      <EditButtons/>
      <ToolbarButton
        action="gw.api.admin.FormPatternUtil.deleteFormPattern(formPattern); FormPatterns.go()"
        hideIfEditable="true"
        id="FormPatternDetailScreen_DeleteButton"
        label="displaykey.Button.Delete"
        shortcut="L"
        visible="perm.System.formpatdelete and not isProductionMode()"/>
    </Toolbar>
    <PanelRef
      def="FormPatternDetailCV(formPattern)"/>
    <Code><![CDATA[function isProductionMode() : boolean {
  return not gw.api.system.PLDependenciesGateway.getServerMode().isDev()
}
]]></Code>
  </Screen>
</PCF>
