<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    available="true"
    editable="true"
    id="FormPatternCovTermsLV">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <ExposeIterator
      flags="formPatternCovTerm"
      valueType="entity.FormPatternCovTerm"
      widget="FormPatternCovTermsLV"/>
    <RowIterator
      editable="true"
      elementName="FormPatternCovTerm"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pageSize="0"
      toRemove="formPattern.removeFormPatternCovTerm(FormPatternCovTerm) "
      value="formPattern.FormPatternCovTerms">
      <ToolbarFlag
        name="formPatternCovTerm"/>
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Admin.FormPatternDetail.FormPatternCovTermsLV.Name"
          value="FormPatternCovTerm.Name"/>
        <Cell
          id="Description"
          label="displaykey.Web.Admin.FormPatternDetail.FormPatternCovTermsLV.Description"
          value="FormPatternCovTerm.Description"/>
        <Cell
          id="Code"
          label="displaykey.Web.Admin.FormPatternDetail.FormPatternCovTermsLV.Code"
          value="FormPatternCovTerm.CovTermPatternCode"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>