<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="FormPatternCovTermValuesPanelSet"
    mode="OptionCovTermPattern">
    <Require
      name="formPatternCovTerm"
      type="FormPatternCovTerm"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Admin.FormPatternDetail.FormPatternCovTermValuesLV.Title"/>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.Admin.FormPatternDetail.FormPatternCovTermValuesLV.NoValueSelected"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef>
      <Toolbar>
        <ToolbarButton
          available="formPatternCovTerm.AvailableOptionCovTermValues.Count &gt; 0"
          hideIfReadOnly="true"
          id="AddFormPatternCovTermValue"
          label="displaykey.Web.Generic.Add">
          <MenuItemIterator
            elementName="formPatternCovTermValue"
            id="formPatternCovTermValues"
            value="formPatternCovTerm.AvailableOptionCovTermValues">
            <!-- <IteratorSort
              sortBy="formPatternCovTermValue.DisplayName"
              sortOrder="1"/> -->
            <MenuItem
              action="formPatternCovTerm.addOptionCovTermValue(formPatternCovTermValue)"
              id="CovTermPatternValueItem"
              label="formPatternCovTermValue.DisplayName"/>
          </MenuItemIterator>
        </ToolbarButton>
        <RemoveButton
          flags="any formPatternCovTermValue"
          hideIfReadOnly="true"
          id="RemoveFormPatternCovTermValue"
          iterator="FormPatternCovTermValuesLV"
          label="displaykey.Web.Generic.Remove"/>
      </Toolbar>
      <ListViewPanel
        available="true"
        editable="true"
        id="FormPatternCovTermValuesLV">
        <RowIterator
          editable="true"
          elementName="formPatternCovTermValue"
          hasCheckBoxes="true"
          hideCheckBoxesIfReadOnly="true"
          pageSize="0"
          toRemove="formPatternCovTerm.removeFormPatternCovTermValue(formPatternCovTermValue) "
          value="formPatternCovTerm.SelectedCovTermValues">
          <ToolbarFlag
            name="formPatternCovTermValue"/>
          <Row>
            <Cell
              id="Description"
              label="displaykey.Web.Admin.FormPatternDetail.FormPatternCovTermValuesLV.Description"
              value="formPatternCovTermValue.Description"/>
            <Cell
              id="Code"
              label="displaykey.Web.Admin.FormPatternDetail.FormPatternCovTermValuesLV.Code"
              value="formPatternCovTermValue.Code"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>