<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="FormPatternDetail_PolicyChangeDV">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <Variable
      initialValue="formPattern.RemovalEndorsementFormNumbersRange"
      name="removalEndorsementFormsRange"
      recalculateOnRefresh="true"
      type="String[]"/>
    <InputColumn>
      <BooleanRadioInput
        editable="true"
        id="RemovalEndorsement"
        label="displaykey.Web.Admin.FormPatternDetail.PolicyChangeDV.RemovalEndorsement"
        value="formPattern.RemovalEndorsement">
        <PostOnChange/>
      </BooleanRadioInput>
      <BooleanRadioInput
        editable="true"
        id="ReissueOnChange"
        label="displaykey.Web.Admin.FormPatternDetail.PolicyChangeDV.ReissueOnChange"
        value="formPattern.ReissueOnChange"
        visible="not formPattern.RemovalEndorsement">
        <PostOnChange/>
      </BooleanRadioInput>
      <RangeInput
        editable="true"
        id="RemovalEndorsementFormNumber"
        label="displaykey.Web.Admin.FormPatternDetail.PolicyChangeDV.RemovalEndorsementForm"
        optionLabel="VALUE == null ? displaykey.Java.TextValueWidget.NoneSelected : VALUE"
        value="formPattern.RemovalEndorsementFormNumber"
        valueRange="removalEndorsementFormsRange"
        visible="not formPattern.RemovalEndorsement and formPattern.ReissueOnChange"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>