<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    alwaysInEditMode="true"
    canEdit="true"
    countsAsWork="false"
    id="FormPatternCoverablePropertyPopup"
    returnType="gw.lang.reflect.IPropertyInfo"
    startInEditMode="true"
    title="displaykey.Web.Admin.FormPatternDetail.FormPatternCoverablePropertyPopup.Title">
    <LocationEntryPoint
      signature="FormPatternCoverablePropertyPopup(formPattern : FormPattern)"/>
    <Variable
      name="formPattern"
      type="FormPattern"/>
    <Screen>
      <Toolbar>
        <EditButtons
          cancelVisible="true"
          editVisible="false"
          showUpdateConfirmMessage="false"
          updateVisible="false"/>
      </Toolbar>
      <ListViewPanel>
        <RowIterator
          checkBoxVisible="false"
          editable="true"
          elementName="propertyInfo"
          id="PropertyInfoIterator"
          pageSize="15"
          pickValue="propertyInfo"
          value="formPattern.AvailableFormPatternCoverableProperties">
          <Row>
            <Cell
              id="Name"
              label="displaykey.Web.Admin.FormPatternDetail.FormPatternCoverablePropertyPopup.Name"
              value="propertyInfo.Name"/>
            <Cell
              id="DataType"
              label="displaykey.Web.Admin.FormPatternDetail.FormPatternCoverablePropertyPopup.DataType"
              value="propertyInfo.FeatureType.RelativeName"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>