<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    available="true"
    editable="true"
    id="FormPatternCoverablePropertyLV">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <ExposeIterator
      flags="formPatternCoverableProperty"
      valueType="entity.FormPatternCoverableProperty"
      widget="FormPatternCoverablePropertyLV"/>
    <RowIterator
      editable="true"
      elementName="FormPatternCoverableProperty"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pageSize="0"
      toRemove="formPattern.removeFormPatternCoverableProperty(FormPatternCoverableProperty)"
      value="formPattern.FormPatternCoverableProperties">
      <ToolbarFlag
        name="formPatternCoverableProperty"/>
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Admin.FormPatternDetail.FormPatternCoverablePropertyLV.Name"
          value="FormPatternCoverableProperty.Name"/>
        <Cell
          id="DataType"
          label="displaykey.Web.Admin.FormPatternDetail.FormPatternCoverablePropertyLV.DataType"
          value="FormPatternCoverableProperty.DataType"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>