<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="FormPatternDetail_JobsLV">
    <ExposeIterator
      flags="job"
      valueType="typekey.Job"
      widget="FormPatternDetail_JobsLV"/>
    <Require
      name="formPattern"
      type="FormPattern"/>
    <RowIterator
      editable="true"
      elementName="job"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pageSize="0"
      toRemove="formPattern.removeJob(job)"
      value="formPattern.Jobs">
      <ToolbarFlag
        name="job"/>
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Admin.FormPatternDetail.JobsLV.Job"
          value="job.DisplayName"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>