<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="GenericInferenceClassPanelSet"
    mode="GenericCoverableTypeKeyForm">
    <Require
      name="formPattern"
      type="FormPattern"/>
    <Variable
      initialValue="formPattern.CoverableTypeRange"
      name="coverableTypeRange"
      recalculateOnRefresh="true"
      type="gw.admin.EntityTypeRef[]"/>
    <DetailViewPanel>
      <InputColumn>
        <RangeInput
          editable="true"
          id="SelectedCoverable"
          label="displaykey.Web.Admin.FormPatternDetail.InferenceDV.CoverableType"
          optionLabel="VALUE.DisplayName"
          required="true"
          value="formPattern.CoverableTypeRef"
          valueRange="coverableTypeRange">
          <PostOnChange/>
        </RangeInput>
        <RangeInput
          editable="true"
          id="SelectedTypeList"
          label="displaykey.Web.Admin.FormPatternDetail.InferenceDV.CoverableTypeList"
          optionLabel="VALUE.DisplayName"
          required="true"
          value="formPattern.CoverableTypeListRef"
          valueRange="formPattern.CoverableTypeListRange">
          <PostOnChange/>
        </RangeInput>
        <RangeInput
          editable="true"
          id="SelectedTypeKey"
          label="displaykey.Web.Admin.FormPatternDetail.InferenceDV.CoverableTypeKey"
          optionLabel="VALUE.DisplayName"
          required="true"
          value="formPattern.CoverableTypeKeyRef"
          valueRange="formPattern.CoverableTypeKeyRange">
          <PostOnChange/>
        </RangeInput>
        <BooleanRadioInput
          editable="true"
          id="SelectionExistence"
          label="displaykey.Web.Admin.FormPatternDetail.InferenceDV.CoverableTypeKeyExistsOnAll"
          required="true"
          value="formPattern.CoverableTypeKeyExistsOnAll"/>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>