<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ModalCell
    id="RateRoutineConditionalPopupFirstOperand"
    mode="constant">
    <Require
      name="conditionalOperand"
      type="gw.util.Pair&lt;CalcStepDefinitionOperand, CalcStepDefinitionOperand&gt;"/>
    <Require
      name="routine"
      type="CalcRoutineDefinition"/>
    <Require
      name="paramInScopeUsageMap"
      type="java.util.Map&lt;CalcRoutineParamName,List&lt;gw.rating.flow.util.InScopeUsage&gt;&gt;"/>
    <Require
      name="costDataUsages"
      type="java.util.List&lt;gw.rating.flow.util.InScopeUsage&gt;"/>
    <Require
      name="orderedSteps"
      type="java.util.List&lt;entity.CalcStepDefinition&gt;"/>
    <Cell
      editable="true"
      enableSort="false"
      hideChildrenIfReadOnly="false"
      id="EditableLeftConstantOperand"
      validationExpression="gw.pcf.rating.flow.RateRoutinePopupHelper.untypedConstantValidationExpression(conditionalOperand.Second,conditionalOperand.First)"
      value="conditionalOperand.First.LocalizedConstantValue">
      <PostOnChange
        onChange="conditionalOperand.First.OperandType = TC_CONSTANT"/>
      <MenuItemSetRef
        def="RateRoutineOperandMenuItemSet(conditionalOperand.First, routine, paramInScopeUsageMap, costDataUsages, orderedSteps)"/>
    </Cell>
  </ModalCell>
</PCF>