<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    afterEnter="step.setStepToAssignmentNewVariable()"
    canEdit="true"
    id="RateRoutineNewVariablePopup"
    startInEditMode="true"
    title="displaykey.Web.Rating.Flow.CalcRoutine.NewVariable">
    <LocationEntryPoint
      signature="RateRoutineNewVariablePopup(step : CalcStepDefinition, costDataUsages : java.util.List&lt;gw.rating.flow.util.InScopeUsage&gt; )"/>
    <Variable
      name="step"
      recalculateOnRefresh="true"
      type="CalcStepDefinition"/>
    <Variable
      name="costDataUsages"
      type="java.util.List&lt;gw.rating.flow.util.InScopeUsage&gt;"/>
    <Screen
      editable="true">
      <Toolbar>
        <ToolbarButton
          action="CurrentLocation.commit();"
          id="RateRoutineNewVariableEditUpdate"
          label="displaykey.Web.ActivityDetail.Button.Update"/>
        <ToolbarButton
          action="CurrentLocation.cancel()"
          id="RateRoutineNewVarialbeEditCancel"
          label="displaykey.Web.ActivityDetail.Button.Cancel"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <TextInput
            editable="true"
            helpText="displaykey.Web.Rating.Flow.CalcRoutine.NewVariableHelpText"
            id="NewVariableTextInput"
            label="displaykey.Web.Rating.Flow.CalcRoutine.NewVariable"
            required="true"
            validationExpression="gw.pcf.rating.flow.RateRoutinePopupHelper.variableValidationExpression(step, costDataUsages)"
            value="step.StoreLocation"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>