<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ModalCell
    id="RateRoutineConditionalPopupSecondOperand"
    mode="constant">
    <Require
      name="conditionalOperand"
      type="gw.util.Pair&lt;CalcStepDefinitionOperand, CalcStepDefinitionOperand&gt;"/>
    <Require
      name="routine"
      type="CalcRoutineDefinition"/>
    <Require
      name="paramInScopeUsageMap"
      type="java.util.Map&lt;CalcRoutineParamName,List&lt;gw.rating.flow.util.InScopeUsage&gt;&gt;"/>
    <Require
      name="costDataUsages"
      type="java.util.List&lt;gw.rating.flow.util.InScopeUsage&gt;"/>
    <Require
      name="orderedSteps"
      type="java.util.List&lt;entity.CalcStepDefinition&gt;"/>
    <Require
      name="popupHelper"
      type="gw.pcf.rating.flow.RateRoutineConditionalPopupHelper"/>
    <Cell
      editable="conditionalOperand.Second.OperatorType.Value != null"
      enableSort="false"
      hideChildrenIfReadOnly="false"
      id="EditableRightConstantOperand"
      validationExpression="gw.pcf.rating.flow.RateRoutinePopupHelper.untypedConstantValidationExpression(conditionalOperand.First, conditionalOperand.Second)"
      value="conditionalOperand.Second.LocalizedConstantValue"
      valueVisible="conditionalOperand.Second.OperatorType.Value != null">
      <PostOnChange
        onChange="conditionalOperand.Second.OperandType = TC_CONSTANT; conditionalOperand.Second.LogicalNot = false"/>
      <MenuItemSetRef
        def="RateRoutineOperandMenuItemSet(conditionalOperand.Second, routine, paramInScopeUsageMap, costDataUsages, orderedSteps)"/>
    </Cell>
  </ModalCell>
</PCF>