<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="AdditionalCoveragesCardPanelSet"
    mode="BusinessOwners">
    <Require
      name="polLocation"
      type="PolicyLocation"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="polLocation.Branch.BOPLine.getBOPLocationForPolicyLocation(polLocation)"
      name="bopLocation"
      recalculateOnRefresh="true"
      type="BOPLocation"/>
    <PanelRef
      def="AdditionalCoveragesPanelSet(bopLocation, new String[]{&quot;BOPLocationCat&quot;, &quot;BOPCrimeCat&quot;, &quot;BOPIncomeExpenseCat&quot;}, true)"
      visible="bopLocation != null"/>
  </PanelSet>
</PCF>