<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BOPBuilding_DetailsDV">
    <Require
      name="building"
      type="BOPBuilding"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="building == null ? null : building.PolicyLine.Pattern.getCoverageCategory(&quot;BOPBuildingCat&quot;).coveragePatternsForEntity(BOPBuilding).whereSelectedOrAvailable(building, openForEdit)"
      name="bopBuildingCatCoveragePatterns"
      recalculateOnRefresh="true"/>
    <!-- Left column -->
    <InputColumn>
      <Input
        boldLabel="true"
        boldValue="true"
        id="LocationInfo"
        label="displaykey.Web.Policy.BOP.Location"
        value="building.Building.PolicyLocation.DisplayName"/>
      <Label
        label="displaykey.Web.Policy.LocationContainer.Location.Building.Info"/>
      <Input
        id="Number"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.Number"
        value="building.Building.BuildingNum"/>
      <Input
        editable="true"
        id="Description"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.Description"
        value="building.Building.Description"/>
      <RangeInput
        editable="true"
        id="BOPBuildingClassCodeRange"
        label="displaykey.Web.Policy.BOP.Buildings.Liability.ClassCode"
        optionLabel="VALUE.DisplayName"
        required="true"
        value="building.ClassCode"
        valueRange="building.ClassCodes">
        <PickerMenuItem
          action="BOPClassCodeSearchPopup.push(building.PolicyLine as BOPLine, building)"
          id="BOPBuildingClassCodePicker"
          label="displaykey.Web.Policy.BOP.Buildings.Liability.Search"
          onPick="building.ClassCode = PickedValue"/>
      </RangeInput>
      <Label
        label="displaykey.Web.Policy.BOP.Buildings.Liability"/>
      <Input
        id="BasisType"
        label="displaykey.Web.Policy.BOP.Buildings.Liability.PremiumBasisType"
        value="building.ClassCode.Basis.Description"/>
      <Input
        editable="true"
        id="BasisAmount"
        label="displaykey.Web.Policy.BOP.Buildings.Liability.PremiumBasisAmount"
        required="true"
        value="building.BasisAmount"
        visible="building.ClassCode.Basis.Code == &quot;Payroll - per $100&quot; or                       building.ClassCode.Basis.Code == &quot;Payroll - per $1000&quot; or                       building.ClassCode.Basis.Code == &quot;Sales - per $1000&quot;"/>
      <InputDivider/>
      <InputIterator
        elementName="coveragePattern"
        forceRefreshDespiteChangedEntries="true"
        id="BOPBuildingCatIterator"
        value="bopBuildingCatCoveragePatterns">
        <IteratorSort
          sortBy="coveragePattern.Priority"
          sortOrder="1"/>
        <InputSetRef
          def="CoverageInputSet(coveragePattern, building, openForEdit)"
          mode="coveragePattern.Code"/>
      </InputIterator>
    </InputColumn>
    <!-- Right column -->
    <InputColumn
      width="500">
      <Label
        label="displaykey.Web.Policy.BOP.Buildings.Construction"/>
      <Input
        align="left"
        editable="true"
        id="YearBuilt"
        label="displaykey.Web.Policy.BOP.Building.YearBuilt"
        value="building.Building.YearBuilt"/>
      <Input
        editable="true"
        id="ConstructionType"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.ConstructionType"
        value="building.ConstructionType"/>
      <Input
        align="left"
        editable="true"
        id="NumStories"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.NumStories"
        value="building.Building.NumStories"/>
      <!-- postOnChange required because trigger field is numeric -->
      <Input
        align="left"
        editable="true"
        id="NumBasements"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.NumBasements"
        value="building.Building.NumBasements">
        <PostOnChange
          target="BasementInputSet"/>
      </Input>
      <InputSet
        id="BasementInputSet"
        visible="building.Building.NumBasements != null and building.Building.NumBasements &gt; 0">
        <Input
          align="left"
          editable="true"
          id="AreaFinished"
          label="displaykey.Web.Policy.LocationContainer.Location.Building.AreaFinished"
          value="building.Building.AreaFinished"/>
        <Input
          align="left"
          editable="true"
          id="AreaUnfinished"
          label="displaykey.Web.Policy.LocationContainer.Location.Building.AreaUnfinished"
          value="building.Building.AreaUnfinished"/>
      </InputSet>
      <Input
        align="left"
        editable="true"
        id="TotalArea"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.TotalArea"
        value="building.Building.TotalArea"/>
      <Input
        editable="true"
        id="PercentSprinklered"
        label="displaykey.Web.Policy.BOP.PercentSprinklered"
        value="building.Building.SprinklerCoverage"/>
      <Label
        label="displaykey.Web.Policy.BOP.Buildings.Improvement"/>
      <Input
        align="left"
        editable="true"
        id="LastUpdateHeating"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdateHeating"
        numCols="4"
        value="building.Building.Heating.YearAdded"/>
      <Input
        align="left"
        editable="true"
        id="LastUpdatePlumbing"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdatePlumbing"
        numCols="4"
        value="building.Building.Plumbing.YearAdded"/>
      <Input
        align="left"
        editable="true"
        id="LastUpdateRoofing"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdateRoofing"
        numCols="4"
        value="building.Building.Roofing.YearAdded"/>
      <Input
        align="left"
        editable="true"
        id="LastUpdateWiring"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdateWiring"
        numCols="4"
        value="building.Building.Wiring.YearAdded"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.Policy.BOP.Buildings.Alarm"/>
      <Input
        editable="true"
        id="BuildingAlarmType"
        label="displaykey.Web.Policy.BOP.Buildings.Alarm.BuildingAlarmType"
        value="building.Building.BuildingAlarmType"/>
      <Input
        editable="true"
        id="AlarmGrade"
        label="displaykey.Web.Policy.BOP.Buildings.Alarm.AlarmGrade"
        value="building.Building.AlarmGrade"/>
      <Input
        editable="true"
        id="AlarmCertificate"
        label="displaykey.Web.Policy.BOP.Buildings.Alarm.AlarmCertificate"
        value="building.Building.AlarmCertificate"/>
      <DateInput
        editable="true"
        id="AlarmExpiration"
        label="displaykey.Web.Policy.BOP.Buildings.Alarm.AlarmExpiration"
        value="building.Building.AlarmExpiration"/>
      <Input
        editable="true"
        id="AlarmCertification"
        label="displaykey.Web.Policy.BOP.Buildings.Alarm.AlarmCertification"
        value="building.Building.AlarmCertification"/>
      <InputDivider/>
      <Input
        editable="true"
        id="FrontExposure"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.FrontExposure"
        value="building.Building.FrontSide.Description"/>
      <Input
        editable="true"
        id="RearExposure"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.RearExposure"
        value="building.Building.RearSide.Description"/>
      <Input
        editable="true"
        id="LeftExposure"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.LeftExposure"
        value="building.Building.LeftSide.Description"/>
      <Input
        editable="true"
        id="RightExposure"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.RightExposure"
        value="building.Building.RightSide.Description"/>
      <InputDivider/>
      <Input
        editable="true"
        id="InterestType"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.InterestType"
        value="building.Building.InterestType"/>
      <Input
        align="left"
        editable="true"
        id="PercentOccupied"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.PercentOccupied"
        value="building.Building.PercentOccupied"/>
      <Input
        editable="true"
        id="AnyAreaLeased"
        label="displaykey.Web.Policy.LocationContainer.Location.Building.AnyAreaLeased"
        value="building.Building.AreaLeased"/>
      <InputDivider/>
    </InputColumn>
  </DetailViewPanel>
</PCF>