<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    countsAsWork="false"
    id="BOPClassCodeSearchPopup"
    returnType="BOPClassCode"
    title="displaykey.Web.ClassCodeSearch">
    <LocationEntryPoint
      signature="BOPClassCodeSearchPopup(bopLine : BOPLine, bopBuilding : BOPBuilding)"/>
    <Variable
      name="bopLine"
      type="BOPLine"/>
    <Variable
      name="bopBuilding"
      type="BOPBuilding"/>
    <Variable
      initialValue="(bopLine.Branch.Job.NewTerm) ? null : bopBuilding.BasedOn.ClassCode"
      name="previousBOPClassCode"
      type="BOPClassCode"/>
    <Screen
      id="BOPClassCodeSearchScreen">
      <SearchPanel
        cachingEnabled="false"
        criteriaName="searchCriteria"
        resultsName="bOPClassCodes"
        search="searchCriteria.performSearch()"
        searchCriteria="return createCriteria();"
        searchOnEnter="true"
        searchResultsType="BOPClassCodeQuery">
        <PanelRef>
          <DetailViewPanel
            id="BOPClassCodeSearchDV">
            <InputColumn>
              <Input
                editable="true"
                id="Code"
                label="displaykey.Web.ClassCodeSearch.Code"
                required="false"
                value="searchCriteria.Code"/>
              <Input
                editable="true"
                id="Classification"
                label="displaykey.Web.ClassCodeSearch.Classification"
                required="false"
                value="searchCriteria.Classification"/>
            </InputColumn>
            <InputFooterSection>
              <InputSetRef
                def="SearchAndResetInputSet()"/>
            </InputFooterSection>
          </DetailViewPanel>
        </PanelRef>
        <PanelRef>
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar/>
          <ListViewPanel
            id="ClassCodeSearchResultsLV">
            <RowIterator
              editable="false"
              elementName="bOPClassCode"
              pickValue="bOPClassCode"
              value="bOPClassCodes">
              <Row>
                <TextCell
                  id="Code"
                  label="displaykey.Web.ClassCodeSearch.Code"
                  numCols="8"
                  value="bOPClassCode.Code"/>
                <Cell
                  align="left"
                  id="Classification"
                  label="displaykey.Web.ClassCodeSearch.Classification"
                  value="bOPClassCode.Classification"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </SearchPanel>
    </Screen>
    <Code><![CDATA[function createCriteria() : gw.lob.bop.BOPClassCodeSearchCriteria {
  var criteria = new gw.lob.bop.BOPClassCodeSearchCriteria()
  criteria.EffectiveAsOfDate = bopLine.getReferenceDateForCurrentJob(gw.api.util.JurisdictionMappingUtil.getJurisdiction(bopBuilding.BOPLocation.Location))
  if (previousBOPClassCode != null) {
    criteria.PreviousSelectedClassCode = previousBOPClassCode.Code
  }
  return criteria
}]]></Code>
  </Popup>
</PCF>