<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="BOPLinePanelSet">
    <Require
      name="policyLine"
      type="PolicyLine"/>
    <Variable
      initialValue="policyLine as BOPLine"
      name="bopLine"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <PanelSet>
      <PanelRef
        def="BOPLineDV(bopLine, jobWizardHelper)"/>
    </PanelSet>
    <PanelRow>
      <PanelColumn>
        <PanelRef
          def="BOPLinePropertyDV(bopLine)">
          <TitleBar
            title="displaykey.Web.Policy.BOP.Property"/>
        </PanelRef>
        <PanelRef
          def="BOPLineOtherIncludedDV(bopLine)">
          <TitleBar
            title="displaykey.Web.Policy.BOP.OtherIncludedCoverages"/>
        </PanelRef>
      </PanelColumn>
      <PanelColumn>
        <PanelRef
          def="BOPLiabilityDV(bopLine)">
          <TitleBar
            title="displaykey.Web.Policy.BOP.Liability"/>
        </PanelRef>
        <PanelRef
          def="BOPLineVariablePanelSet(bopLine)"/>
      </PanelColumn>
    </PanelRow>
  </PanelSet>
</PCF>