<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BOPLineDV">
    <Require
      name="policyLine"
      type="PolicyLine"/>
    <Variable
      initialValue="policyLine as BOPLine"
      name="bopLine"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="SmallBusinessType"
        label="displaykey.Web.Policy.BOP.SmallBusinessType"
        required="true"
        value="bopLine.SmallBusinessType">
        <PostOnChange
          onChange="gw.web.productmodel.ProductModelSyncIssuesHandler.syncCoverages({bopLine}, jobWizardHelper)"/>
      </TypeKeyInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>