<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="LineLocationDetailInputSet"
    mode="BusinessOwners">
    <Require
      name="polLocation"
      type="PolicyLocation"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Variable
      initialValue="polLocation.Branch.BOPLine.getBOPLocationForPolicyLocation(polLocation)"
      name="bopLocation"
      recalculateOnRefresh="true"
      type="BOPLocation"/>
    <Label
      label="displaykey.Web.Policy.BOP.Locations.GeneralInformation.Title"/>
    <TextAreaInput
      editable="true"
      id="PrincipleOps"
      label="displaykey.Web.Policy.BOP.Locations.PrincipleOps"
      numRows="6"
      value="bopLocation.PrincipalOpsDesc"/>
    <InputDivider/>
    <Label
      label="displaykey.Web.Policy.BOP.Locations.FireProtectionClass.Title"/>
    <TypeKeyInput
      editable="true"
      id="FireProtectionClass"
      label="displaykey.Web.Policy.BOP.Locations.FireProtectionClass"
      value="bopLocation.Location.FireProtectClass"/>
  </InputSet>
</PCF>