<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    id="UserSearchPopup"
    returnType="User"
    title="displaykey.Web.Admin.UserSearchPopup">
    <LocationEntryPoint
      signature="UserSearchPopup()"/>
    <LocationEntryPoint
      signature="UserSearchPopup(organization : Organization)"/>
    <LocationEntryPoint
      signature="UserSearchPopup(organization : Organization, userType : UserType)"/>
    <Variable
      initialValue="null"
      name="organization"
      type="Organization"/>
    <Variable
      name="userType"
      type="UserType"/>
    <Screen
      id="UserSearchPopupScreen">
      <SearchPanel
        cachingEnabled="false"
        criteriaName="searchCriteria"
        resultsName="users"
        search="searchCriteria.validateAndSearch()"
        searchCriteria="createSearchCriteria()"
        searchResultsType="UserQuery">
        <PanelRef
          def="UserSearchDV(searchCriteria, organization != null, userType != null)"/>
        <PanelRef
          def="UserSearchResultsLV(users)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
    <Code><![CDATA[function createSearchCriteria() : UserSearchCriteria {
  var c = new UserSearchCriteria()
  var CurrentUser = User.util.CurrentUser
  if (CurrentUser.ExternalUser) {
    c.Organization = CurrentUser.Organization
  }
  else {
    c.Organization = organization
  }
  c.UserType = userType
  return c
}]]></Code>
  </Popup>
</PCF>