<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="MessageResultsLV">
    <ExposeIterator
      flags="retryableMessage"
      valueType="entity.Message"
      widget="MessageResultsLV"/>
    <Require
      name="messages"
      type="MessageQuery"/>
    <RowIterator
      editable="false"
      elementName="message"
      hasCheckBoxes="true"
      value="messages">
      <ToolbarFlag
        condition="message.canRetry()"
        name="retryableMessage"/>
      <Row>
        <Cell
          align="left"
          id="JobNumber"
          label="displaykey.Web.Admin.MessageSearch.JobNumber"
          value="message.PolicyPeriod.Job.JobNumber"/>
        <Cell
          align="left"
          enableSort="false"
          id="JobType"
          label="displaykey.Web.Admin.MessageSearch.JobType"
          value="message.PolicyPeriod.Job.DisplayType"/>
        <Cell
          align="left"
          id="Policy"
          label="displaykey.Web.Admin.MessageSearch.PolicyNumber"
          sortBy="message.PolicyPeriod.PolicyNumber"
          value="message.PolicyPeriod.PolicyNumberDisplayString"/>
        <Cell
          align="left"
          enableSort="false"
          id="Product"
          label="displaykey.Web.Admin.MessageSearch.Product"
          value="message.PolicyPeriod.Policy.Product"/>
        <Cell
          align="left"
          enableSort="false"
          id="PrimaryNamedInsured"
          label="displaykey.Web.Admin.MessageSearch.PrimaryNamedInsured"
          value="message.PolicyPeriod.PrimaryInsuredName"/>
        <Cell
          align="left"
          id="Status"
          label="displaykey.Web.Admin.MessageSearch.MessageStatus"
          value="message.Status"/>
        <Cell
          align="left"
          id="Error"
          label="displaykey.Web.Admin.MessageSearch.ErrorDescription"
          value="message.ErrorDescription"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>