<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, policyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.pfiledetails"
    id="PolicyFile_ExposureUnits_GL"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="displaykey.Web.Policy.GL.ExposureUnits.ScreenName">
    <LocationEntryPoint
      signature="PolicyFile_ExposureUnits_GL(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <Screen
      id="PolicyFile_GLEUScreen">
      <TitleBar/>
      <Toolbar/>
      <PanelRef
        def="GeneralLiabilityEUDV(policyPeriod)"/>
    </Screen>
  </Page>
</PCF>