<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <MenuItemSet
    id="PolicyMenuItemSet"
    mode="GeneralLiability">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <MenuItem
      action="PolicyFile_PolicyInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_PolicyInfo"
      label="displaykey.Web.PolicyFile.PolicyInfo"/>
    <MenuItem
      action="PolicyFile_Locations.go(period, asOfDate)"
      id="PolicyMenuItemSet_Locations"
      label="displaykey.Web.PolicyFile.Locations"/>
    <MenuItem
      action="PolicyFile_Coverages_GL.go(period, asOfDate)"
      id="PolicyMenuItemSet_GeneralLiability"
      label="displaykey.Web.Policy.GL.Coverages"/>
    <MenuItem
      action="PolicyFile_ExposureUnits_GL.go(period, asOfDate)"
      id="PolicyMenuItemSet_GeneralExposures"
      label="displaykey.Web.PolicyFile.GLExposureUnits"/>
    <MenuItem
      action="PolicyFile_Modifiers_GL.go(period, asOfDate)"
      id="PolicyMenuItemSet_Modifiers"
      label="displaykey.Web.PolicyFile.Modifiers"/>
    <MenuItem
      action="PolicyFile_Pricing.go(period, asOfDate)"
      id="PolicyMenuItemSet_Pricing"
      label="displaykey.Web.PolicyFile.Pricing"/>
    <MenuItem
      action="PolicyFile_Forms_GL.go(period, asOfDate)"
      id="PolicyMenuItemSet_Endorsements"
      label="displaykey.Web.PolicyFile.Endorsements"/>
  </MenuItemSet>
</PCF>