<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    id="PolicyFile_Coverage_GLScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <PanelRef
      def="PreferredCoverageCurrencyPanelSet(policyPeriod.GLLine, false, null)"
      id="PreferredCoverageCurrencySelectorRef"/>
    <CardViewPanel>
      <Card
        id="GeneralLiability_IncludedCard"
        title="displaykey.Web.LineWizard.StandardCoverages">
        <PanelRef
          available="policyPeriod.getLineExists(policyPeriod.GLLine.Pattern)"
          def="PolicyLineDV(policyPeriod.GLLine, null)"
          mode="policyPeriod.GLLine.Pattern.Code"/>
      </Card>
      <Card
        id="GeneralLiability_AdditionalCoveragesCard"
        title="displaykey.Web.LineWizard.AdditionalCoverages">
        <PanelRef
          def="AdditionalCoveragesDV(policyPeriod.GLLine, new String[]{&quot;GLGroup&quot;}, false)"/>
      </Card>
      <Card
        id="ExclusionsAndConditionsCard"
        title="displaykey.Web.LineWizard.ExclusionsAndConditions">
        <PanelRef
          def="AdditionalExclusionsAndConditionsPanelSet(policyPeriod.GLLine, policyPeriod.GLLine.getAdditionalCoverageCategories() , true)"/>
      </Card>
      <Card
        id="GeneralLiability_AdditionalInsuredCard"
        title="displaykey.Web.LineWizard.AdditionalInsured">
        <PanelRef
          def="AdditionalInsuredsDV(policyPeriod.GLLine, false, true)"/>
      </Card>
    </CardViewPanel>
  </Screen>
</PCF>