<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="AffinityGroupDetailScreen">
    <Require
      name="affinityGroup"
      type="AffinityGroup"/>
    <Toolbar>
      <EditButtons
        editVisible="perm.System.affinitygroupadmin"/>
    </Toolbar>
    <CardViewPanel>
      <Card
        id="AffinityGroupDetail_BasicCard"
        title="displaykey.Web.Admin.AffinityGroupDetail.Basics">
        <PanelRef
          def="AffinityGroupDetailDV(affinityGroup)"/>
      </Card>
      <Card
        id="AffinityGroupDetail_Jurisdictions"
        title="displaykey.Web.Admin.AffinityGroupDetail.Jurisdictions">
        <PanelRef
          def="AffinityGroupJurisdictionsLV(affinityGroup)">
          <Toolbar>
            <IteratorButtons
              addVisible="true"
              iterator="AffinityGroupJurisdictionsLV.AffinityGroupJurisdictionsLV"
              removeVisible="true"/>
          </Toolbar>
        </PanelRef>
      </Card>
      <Card
        id="AffinityGroupDetail_ProductsCard"
        title="displaykey.Web.Admin.AffinityGroupDetail.Products">
        <PanelRef
          def="AffinityGroupProductsLV(affinityGroup)">
          <Toolbar
            visible="true">
            <AddButton
              hideIfReadOnly="true"
              id="AddProduct"
              iterator="AffinityGroupProductsLV.AffinityGroupProductsLV"
              label="displaykey.Web.Admin.AffinityGroupDetail.Products.Add"
              shortcut="A">
              <AddMenuItemIterator
                elementName="product"
                value="gw.api.productmodel.ProductLookup.getAll().toTypedArray()">
                <AddMenuItem
                  id="Product"
                  iterator="AffinityGroupProductsLV.AffinityGroupProductsLV"
                  label="product.DisplayName"
                  toCreateAndAdd="gw.admin.affinitygroup.AffinityGroupUIHelper.addNewProductToAffinityGroup(affinityGroup, product.Code)"/>
              </AddMenuItemIterator>
            </AddButton>
            <IteratorButtons
              addVisible="false"
              iterator="AffinityGroupProductsLV.AffinityGroupProductsLV"
              removeLabel="&quot;Remove&quot;"/>
          </Toolbar>
        </PanelRef>
      </Card>
      <Card
        id="AffinityGroupDetail_ProducerCodeCard"
        title="displaykey.Web.Admin.AffinityGroupDetail.ProducerCodes">
        <PanelRef
          def="AffinityGroupProducerCodesLV(affinityGroup)">
          <Toolbar>
            <IteratorButtons
              addVisible="true"
              iterator="AffinityGroupProducerCodesLV.AffinityGroupProducerCodesLV"
              removeVisible="true"/>
          </Toolbar>
        </PanelRef>
      </Card>
    </CardViewPanel>
  </Screen>
</PCF>