<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="AffinityGroupProducerCodesLV">
    <ExposeIterator
      valueType="entity.AffinityGroupProducerCode"
      widget="AffinityGroupProducerCodesLV"/>
    <Require
      name="affinityGroup"
      type="AffinityGroup"/>
    <RowIterator
      conversionExpression="gw.admin.affinitygroup.AffinityGroupUIHelper.createAffinityGroupProducerCode(affinityGroup, PickedValue)"
      editable="true"
      elementName="affinityGroupProducerCode"
      hasCheckBoxes="true"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="AdminProducerCodeSearchPopup.push(gw.admin.affinitygroup.AffinityGroupUIHelper.getOrganizationToRestrictProducerCodeSearch(affinityGroup))"
      toAdd="gw.admin.affinitygroup.AffinityGroupUIHelper.addAffinityGroupProducerCode(affinityGroup, affinityGroupProducerCode)"
      toRemove="gw.admin.affinitygroup.AffinityGroupUIHelper.remove(affinityGroup, affinityGroupProducerCode)"
      type="AffinityGroupProducerCode"
      value="affinityGroup.AffinityGroupProducerCodes">
      <Row>
        <Cell
          action="AdminProducerCodeDetail.go(affinityGroupProducerCode.ProducerCode)"
          id="ProducerCode"
          label="displaykey.Web.Admin.RoleProducerCodes.ProducerCode"
          sortOrder="2"
          unique="true"
          value="affinityGroupProducerCode.ProducerCode.Code"/>
        <Cell
          action="OrganizationDetail.go(affinityGroupProducerCode.ProducerCode.Organization)"
          id="Organization"
          label="displaykey.Web.Admin.RoleProducerCodes.Organization"
          sortOrder="1"
          value="affinityGroupProducerCode.ProducerCode.Organization"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>