/* This file should contain any customer- or application-specific CSS additions or overrides */
.pc-sxs-action-cell img {
    white-space: nowrap;
    margin-left: 10px;
}

.pc-sxs-label-col {
    background-color: #CCC;
    border-bottom: 1px solid #C0C0C0;
}

.pc-sxs-col-0 {
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
}

.pc-sxs-col-1 {
    background-color: #EEE;
    border-bottom: 1px solid #DDD;
}

.pc-sxs-name-label {
    background-color: #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px dashed #AAA;
}

.pc-sxs-name-col-cell {
    border-top: 1px solid #CCC;
    border-bottom: 1px dashed #CCC;
}

.pc-sxs-section-label {
    background-color: #CCC;
    border-top: 1px dashed #AAA;
    border-bottom: 1px solid #C0C0C0;
}

.pc-sxs-section-col-0 {
    background-color: #FFF;
    border-top: 1px dashed #AAA;
    border-bottom: 1px solid #EEE;
}

.pc-sxs-section-col-1 {
    background-color: #EEE;
    border-top: 1px dashed #AAA;
    border-bottom: 1px solid #DDD;
}

.pc-sxs-subsection-hdr {
    background-color: #CFCFCF;
}

.inputLabel_em {
    font-style: italic !important;
}