<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <MenuItemSet
    id="PolicyMenuItemSet"
    mode="InlandMarine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <Variable
      initialValue="period.IMLine"
      name="imLine"/>
    <MenuItem
      action="PolicyFile_PolicyInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_PolicyInfo"
      label="displaykey.Web.PolicyFile.PolicyInfo"/>
    <MenuItem
      action="PolicyFile_IMBuildingsAndLocations.go(period, asOfDate)"
      id="PolicyMenuItemSet_Buildings"
      label="displaykey.Web.PolicyFile.BuildingsAndLocations"/>
    <MenuItem
      action="PolicyFile_AccountsRecPart.go(period, asOfDate)"
      id="PolicyMenuItemSet_AccountsRecPart"
      label="displaykey.Web.Policy.IM.AccountsReceivable"
      visible="period.IMLine.IMAccountsRecPart != null"/>
    <MenuItem
      action="PolicyFile_ContractorsEquipmentPart.go(period, asOfDate)"
      id="PolicyMenuItemSet_ContractorsEquipmentPart"
      label="displaykey.Web.Policy.IM.ContractorsEquipment"
      visible="period.IMLine.ContractorsEquipPart != null"/>
    <MenuItem
      action="PolicyFile_IMSignPart.go(period, asOfDate)"
      id="PolicyMenuItemSet_SignPart"
      label="displaykey.Web.Policy.IM.IMSigns"
      visible="period.IMLine.IMSignPart != null"/>
    <MenuItem
      action="PolicyFile_Pricing.go(period, asOfDate)"
      id="PolicyMenuItemSet_Pricing"
      label="displaykey.Web.PolicyFile.Pricing"/>
    <MenuItem
      action="PolicyFile_Forms_IM.go(period, asOfDate)"
      id="PolicyMenuItemSet_Endorsements"
      label="displaykey.Web.PolicyFile.Endorsements"/>
  </MenuItemSet>
</PCF>