<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="TeamRenewalsLV">
    <Require
      name="renewals"
      type="RenewalQuery"/>
    <ExposeIterator
      flags="openWorkOrder"
      name="RenewalsIterator"
      valueType="entity.Renewal"
      widget="RenewalsIterator"/>
    <RowIterator
      checkBoxVisible="true"
      editable="false"
      elementName="renewal"
      hasCheckBoxes="true"
      id="RenewalsIterator"
      value="renewals">
      <ToolbarFilter
        name="renewalsFilter">
        <ToolbarFilterOptionGroup
          filters="new web.team.TeamViewRenewalFilters().FilterOptions"/>
      </ToolbarFilter>
      <ToolbarFlag
        condition="renewal.CloseDate == null"
        name="openWorkOrder"/>
      <Row>
        <Cell
          enableSort="false"
          id="Insured"
          label="displaykey.Web.DesktopActivitiesLV.AccountHolder"
          value="renewal.Policy.Account.AccountHolderContact.DisplayName"/>
        <Cell
          id="CreateDate"
          label="displaykey.Web.DesktopJobsLV.CreateDate"
          sortDirection="descending"
          value="renewal.CreateTime"/>
        <Cell
          enableSort="false"
          id="Status"
          label="displaykey.Web.DesktopJobsLV.Status"
          value="renewal.DisplayStatus"/>
        <Cell
          action="JobForward.go(renewal)"
          id="Product"
          label="displaykey.Web.DesktopJobsLV.Product"
          sortBy="renewal.Policy.ProductCode"
          value="renewal.Policy.Product"/>
        <Cell
          enableSort="false"
          id="Underwriter"
          label="displaykey.Web.DesktopJobsLV.Underwriter"
          value="renewal.Underwriter"/>
        <Cell
          enableSort="false"
          id="AssignedTo"
          label="displaykey.Web.Team.LV.AssignedTo"
          value="renewal.getAllAssigned()"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>