<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.viewteam and teamModel.hasSummaryPage()"
    id="TeamSummary"
    title="displaykey.Web.Team.Summary(teamModel.Label, teamModel.LastCalculated)">
    <LocationEntryPoint
      signature="TeamSummary(teamModel : web.team.PCTeamModel)"/>
    <Variable
      name="teamModel"
      type="web.team.PCTeamModel"/>
    <Screen
      id="TeamSummaryScreen">
      <Variable
        initialValue="gw.pc.policy.typekey.TeamStatsType.TC_BYROLE"
        name="statsType"/>
      <TitleBar
        title="displaykey.Web.Team.Summary( teamModel.Label, teamModel.LastCalculated )"/>
      <PanelSet>
        <PanelRef
          def="TeamSummaryLV(teamModel, statsType)">
          <Toolbar>
            <ToolbarInput
              id="viewJobsLabel"
              value="displaykey.Web.Team.Summary.ViewJobs"/>
            <ToolbarButton
              action="statsType = TeamStatsType.TC_BYROLE"
              icon="statsType == TeamStatsType.TC_BYROLE ? &quot;profiler_green.png&quot; : &quot;profiler_gray.png&quot;"
              id="ByRoleToolbarButton"
              label="displaykey.Web.Team.Summary.ViewJobs.ByRole"/>
            <ToolbarButton
              action="statsType = TeamStatsType.TC_BYACTIVITY"
              icon="statsType == TeamStatsType.TC_BYACTIVITY ? &quot;profiler_green.png&quot; : &quot;profiler_gray.png&quot;"
              id="ByActivityToolbarButton"
              label="displaykey.Web.Team.Summary.ViewJobs.ByActivity"/>
          </Toolbar>
        </PanelRef>
      </PanelSet>
    </Screen>
  </Page>
</PCF>
