<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="ClaimDetailsDV">
    <Require
      name="claimDetail"
      type="ClaimDetail"/>
    <Require
      name="showPolicyNumberAndType"
      type="boolean"/>
    <InputColumn>
      <Input
        boldValue="true"
        id="ClaimSecuirtyType"
        label="displaykey.Web.Claims.ClaimSecuirtyType"
        value="displaykey.Web.Claims.RestrictedClaim"
        visible="claimDetail.isRestrictedClaim()"/>
      <Input
        id="PolicyNumber"
        label="displaykey.Web.Claims.PolicyNumber"
        value="claimDetail.Claim.PolicyPeriod.PolicyNumberDisplayString"
        visible="showPolicyNumberAndType"/>
      <Input
        id="PolicyType"
        label="displaykey.Web.Claims.Product"
        value="claimDetail.Claim.PolicyPeriod.Policy.Product.DisplayName"
        visible="showPolicyNumberAndType"/>
      <Input
        id="PolicyPeriodStart"
        label="displaykey.Web.Claims.PolicyPeriodStart"
        value="claimDetail.Claim.PolicyPeriod.PeriodStart"/>
      <Input
        id="PolicyPeriodEnd"
        label="displaykey.Web.Claims.PolicyPeriodEnd"
        value="claimDetail.Claim.PolicyPeriod != null ? claimDetail.Claim.PolicyPeriod.getCoverageEndDate() : null"/>
      <Input
        id="ClaimNumber"
        label="displaykey.Web.Claims.ClaimNumber"
        value="claimDetail.Claim.ClaimNumber"/>
      <Input
        id="LossDate"
        label="displaykey.Web.Claims.LossDate"
        value="claimDetail.Claim.LossDate"/>
      <Input
        id="LossCause"
        label="displaykey.Web.Claims.LossCause"
        value="claimDetail.LossCause"/>
      <Input
        id="Status"
        label="displaykey.Web.Claims.Status"
        value="claimDetail.Claim.Status"/>
      <Input
        id="Description"
        label="displaykey.Web.Claims.Description"
        value="claimDetail.Description"/>
    </InputColumn>
    <InputColumn>
      <Input
        id="Litigation"
        label="displaykey.Web.Claims.Litigation"
        value="claimDetail.Litigation"
        visible="!claimDetail.isRestrictedClaim() or perm.System.viewrestrictedclaim"/>
      <Input
        id="Injury"
        label="displaykey.Web.Claims.Injuries"
        value="claimDetail.Injuries"
        visible="!claimDetail.isRestrictedClaim() or perm.System.viewrestrictedclaim"/>
      <InputDivider/>
      <Input
        id="Reserves"
        label="displaykey.Web.Claims.Reserves"
        value="claimDetail.RemainingReserves"/>
      <Input
        id="PaidToDate"
        label="displaykey.Web.Claims.PaidToDate"
        value="claimDetail.TotalPaid"/>
      <Input
        id="TotalIncurred"
        label="displaykey.Web.Claims.TotalIncurred"
        value="claimDetail.Claim.TotalIncurred"/>
      <Input
        id="TotalPaidLoss"
        label="displaykey.Web.Claims.Recoveries"
        value="claimDetail.Recoveries"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>