<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="EditNoteDV">
    <Require
      name="note"
      type="Note"/>
    <InputColumn>
      <TypeKeyInput
        id="Topic"
        label="displaykey.Web.NewNote.Topic"
        required="true"
        value="note.Topic"/>
      <Input
        editable="true"
        id="Subject"
        label="displaykey.Web.NewNote.Subject"
        value="note.Subject"/>
      <Input
        id="RelatedTo"
        label="displaykey.Web.NewNote.RelatedTo"
        required="true"
        value="entity.Note.getLevelDisplayString( note.Level )"
        visible="true"/>
      <TypeKeyInput
        filter="note.hasCreatePermission(VALUE)"
        id="SecurityLevel"
        label="displaykey.Web.NewNote.SecurityLevel"
        required="true"
        value="note.SecurityType"/>
      <TextAreaInput
        editable="true"
        id="Text"
        label="displaykey.Web.NewNote.Text"
        numCols="60"
        numRows="15"
        required="true"
        value="note.Body"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>