<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="EditNotePopup"
    startInEditMode="true"
    title="displaykey.Web.Notes.EditNotePopup">
    <LocationEntryPoint
      signature="EditNotePopup(note : Note)"/>
    <Variable
      name="note"
      type="Note"/>
    <ScreenRef
      def="EditNoteScreen(note)"/>
  </Popup>
</PCF>