<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="EditAuditInformationPopup"
    startInEditMode="true"
    title="displaykey.Web.PolicyFile.Audits.Title">
    <LocationEntryPoint
      signature="EditAuditInformationPopup(policyPeriod : PolicyPeriod, auditInformation : AuditInformation)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="auditInformation"
      type="AuditInformation"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <DateInput
            editable="true"
            id="InitDate"
            label="displaykey.Web.PolicyFile.Audits.InitDate"
            value="auditInformation.InitDate"/>
          <DateInput
            editable="true"
            id="DueDate"
            label="displaykey.Web.PolicyFile.Audits.DueDate"
            value="auditInformation.DueDate"/>
          <TypeKeyInput
            editable="true"
            id="Method"
            label="displaykey.Web.PolicyFile.Audits.AuditMethod"
            value="auditInformation.AuditMethod"/>
          <TypeKeyInput
            editable="true"
            filter="VALUES.where(\ f -&gt; f != &quot;No&quot;).toList()"
            id="FinalAuditOption"
            label="displaykey.Web.PolicyFile.Audits.FinalAuditOption"
            value="policyPeriod.FinalAuditOption"
            visible="!policyPeriod.Archived and (auditInformation.IsFinalAudit and not policyPeriod.IsReportingPolicy)"/>
        </InputColumn>
      </DetailViewPanel>
    </Screen>
  </Popup>
</PCF>