<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="NoteSearchDV">
    <Require
      name="searchCriteria"
      type="NoteSearchCriteria"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="searchCriteria.getRelatedToSearchCriteria(policyPeriod)"
      name="relatedToSearchCriteria"/>
    <InputColumn>
      <TextInput
        editable="true"
        id="TextSearch"
        label="displaykey.Web.NoteSearch.TextSearch"
        value="searchCriteria.Text"/>
      <Input
        editable="true"
        id="Author"
        label="displaykey.Web.NoteSearch.Author"
        value="searchCriteria.Author"/>
      <TypeKeyInput
        editable="true"
        id="Language"
        label="displaykey.Web.NoteSearch.Language"
        value="searchCriteria.Language"
        visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
      <InputDivider/>
      <RangeInput
        editable="true"
        id="SortBy"
        label="displaykey.Web.NoteSearch.SortBy"
        value="searchCriteria.SortBy"
        valueRange="searchCriteria.SortByRange"/>
      <BooleanRadioInput
        editable="true"
        falseLabel="displaykey.Web.NoteSearch.SortDescending"
        id="sortAscending"
        label="displaykey.Web.NoteSearch.SortOrder"
        trueLabel="displaykey.Web.NoteSearch.SortAscending"
        value="searchCriteria.SortAscending"/>
    </InputColumn>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="Topic"
        label="displaykey.Web.NoteSearch.Topic"
        noneSelectedLabel="displaykey.Web.NoteSearch.Any"
        value="searchCriteria.Topic"/>
      <RangeInput
        editable="true"
        id="RelatedTo"
        label="displaykey.Web.NoteSearch.RelatedTo"
        optionLabel="Note.getLevelDisplayString(VALUE)"
        sortValueRange="false"
        value="searchCriteria.RelatedTo"
        valueRange="relatedToSearchCriteria"/>
      <DateInput
        editable="true"
        id="DateFrom"
        label="displaykey.Web.NoteSearch.DateFrom"
        value="searchCriteria.DateFrom"/>
      <DateInput
        editable="true"
        id="DateTo"
        label="displaykey.Web.NoteSearch.DateTo"
        value="searchCriteria.DateTo"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>