<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="PolicyFile_PolicyLine_FormsScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="policyLine"
      type="PolicyLine"/>
    <TitleBar/>
    <Toolbar/>
    <PanelRef
      def="PolicyFileFormsDV(policyPeriod)"/>
  </Screen>
</PCF>