<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, policyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.pfilecontacts"
    id="PolicyFile_Contacts"
    title="displaykey.Web.PolicyFile.Contacts">
    <LocationEntryPoint
      signature="PolicyFile_Contacts(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <ScreenRef
      def="Policy_ContactsScreen(policyPeriod)"/>
  </Page>
</PCF>