<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    acceleratedMenuActions="PolicyFileAcceleratedMenuActions(policyPeriod, asOfDate)"
    canVisit="policyPeriod.Promoted"
    id="PolicyFile"
    infoBar="PolicyFileMenuInfoBar(policyPeriod)"
    menuActions="PolicyFileMenuActions(policyPeriod, asOfDate)"
    menuLinksTitle="displaykey.Web.PolicyFile.ToolsMenuTitle"
    menuLinksTitleIcon="&quot;ToolsMenuTitle.png&quot;"
    parent="PolicyAccountForward(policyPeriod.Policy.Account)"
    title="displaykey.Web.PolicyFile.LocationGroup.Title(policyPeriod.PolicyNumberDisplayString)">
    <LocationEntryPoint
      signature="PolicyFile(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <LocationEntryPoint
      signature="PolicyFile(policyPeriod : PolicyPeriod)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="policyPeriod.EditEffectiveDate"
      name="asOfDate"
      type="DateTime"/>
    <!-- Pages for all lines of business -->
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_Summary(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="true"
      location="PolicyFile_Audits(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_Billing(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_Contacts(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="true"
      location="PolicyFile_Participants(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_Notes(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_Documents(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_Jobs(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="true"
      location="PolicyFile_RiskAnalysis(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_Reinsurance(policyPeriod, asOfDate)"/>
    <LocationRef
      hideIfDisabled="false"
      location="PolicyFile_History(policyPeriod, asOfDate)"/>
    <LocationRef
      location="PolicyFile_Transactions(policyPeriod, asOfDate)"/>
  </LocationGroup>
</PCF>