<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Forward
    canVisit="perm.System.viewpolicyfile"
    id="PolicyAccountForward"
    parent="PolicyForward()">
    <LocationEntryPoint
      signature="PolicyAccountForward(account : Account)"/>
    <Variable
      name="account"
      type="Account"/>
  </Forward>
</PCF>