<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="PolicyFile_DraftPeriodError"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="displaykey.Web.PolicyFile.DraftPeriodError">
    <LocationEntryPoint
      signature="PolicyFile_DraftPeriodError(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <Variable
      initialValue="policyPeriod.Policy.Jobs"
      name="jobs"
      recalculateOnRefresh="true"/>
    <Screen
      id="PolicyFile_DraftPeriodErrorScreen">
      <TitleBar/>
      <Toolbar/>
      <Verbatim
        label="displaykey.Web.PolicyFile.DraftPeriodError.Message"
        warning="true"/>
    </Screen>
  </Page>
</PCF>