<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, policyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.viewpolicyfile and perm.System.docview"
    countsAsWork="false"
    id="PolicyFile_Documents"
    title="displaykey.Web.PolicyFile.Documents">
    <LocationEntryPoint
      signature="PolicyFile_Documents(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <ScreenRef
      def="Policy_DocumentsScreen(policyPeriod)"/>
  </Page>
</PCF>