<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <MenuItemSet
    id="PolicyMenuItemSet"
    mode="WorkersComp">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <MenuItem
      action="PolicyFile_PolicyInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_PolicyInfo"
      label="displaykey.Web.PolicyFile.PolicyInfo"/>
    <MenuItem
      action="PolicyFile_Locations.go(period, asOfDate)"
      id="PolicyMenuItemSet_Locations"
      label="displaykey.Web.PolicyFile.Locations"/>
    <MenuItem
      action="PolicyFile_WCStateRate.go(period, asOfDate)"
      id="PolicyMenuItemSet_WCStateRate"
      label="displaykey.Web.PolicyFile.WCCoverages"/>
    <MenuItem
      action="PolicyFile_WCOptions.go(period, asOfDate)"
      id="PolicyMenuItemSet_WCOptions"
      label="displaykey.Web.PolicyFile.WCOptions"/>
    <MenuItem
      action="PolicyFile_Pricing.go(period, asOfDate)"
      id="PolicyMenuItemSet_Pricing"
      label="displaykey.Web.PolicyFile.Pricing"/>
    <MenuItem
      action="PolicyFile_Forms_WC.go(period, asOfDate)"
      id="PolicyMenuItemSet_Endorsements"
      label="displaykey.Web.PolicyFile.Endorsements"/>
  </MenuItemSet>
</PCF>