<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="false"
    id="BindSummaryDV"
    mode="MidtermChange">
    <Require
      name="thePeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <Label
        label="displaykey.Web.BindSummaryDV"/>
      <MonetaryAmountInput
        formatType="currency"
        id="TotalPremium"
        label="displaykey.Web.Quote.TotalPremLabel.Total"
        value="thePeriod.TotalPremiumRPT"/>
      <MonetaryAmountInput
        formatType="currency"
        id="TotalTaxesSurcharges"
        label="displaykey.Web.BindSummaryDV.TotalTaxesSurcharges"
        value="thePeriod.AllCosts.TaxSurcharges.AmountSum(thePeriod.PreferredSettlementCurrency)"/>
      <MonetaryAmountInput
        formatType="currency"
        id="TotalCost"
        label="displaykey.Web.BindSummaryDV.TotalCost"
        value="thePeriod.TotalCostRPT"/>
      <MonetaryAmountInput
        formatType="currency"
        id="ChangeInCost"
        label="displaykey.Web.BindSummaryDV.ChangeInCost"
        value="thePeriod.TotalCostRPT.subtract(thePeriod.BasedOn.TotalCostRPT)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>