<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="TrendAnalysisInputSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="usePersistedTrendValues"
      type="boolean"/>
    <Variable
      initialValue="policyPeriod.reportingTrendSynopsis(usePersistedTrendValues)"
      name="synopsis"
      type="gw.job.audit.ReportingTrendSynopsis"/>
    <Label
      label="displaykey.Web.AuditWizard.TrendAnalysis"/>
    <MonetaryAmountInput
      align="right"
      formatType="currency"
      id="TotalEstimatedPremium"
      label="displaykey.Web.AuditWizard.TotalEstimatedPremium"
      value="synopsis.TotalEstimatedPremium"/>
    <MonetaryAmountInput
      align="right"
      formatType="currency"
      id="TotalReportedPremium"
      label="displaykey.Web.AuditWizard.TotalReportedPremium"
      value="synopsis.TotalReportedPremium"/>
    <Input
      align="right"
      formatType="percentagePoints"
      id="PremiumRatio"
      label="displaykey.Web.AuditWizard.PremiumRatio"
      value="synopsis.PremiumRatio"/>
    <Input
      align="right"
      formatType="general"
      id="DaysReported"
      label="displaykey.Web.AuditWizard.DaysReported"
      value="synopsis.DaysReported"/>
  </InputSet>
</PCF>