<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.pfiledetails"
    id="PolicyFile_PolicyReview"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="displaykey.Web.PolicyFile.PolicyReview">
    <LocationEntryPoint
      signature="PolicyFile_PolicyReview(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <Screen
      id="PolicyFile_PolicyReviewScreen">
      <TitleBar/>
      <Toolbar/>
      <CardViewPanel
        hideTabIfSingle="true"
        id="ReviewSummaryCV">
        <Card
          id="LineSummary"
          title="displaykey.Web.SubmissionWizard.PolicyReview.Card.Summary">
          <PanelIterator
            elementName="line"
            value="policyPeriod.Lines">
            <PanelRef
              def="PolicyLineSummaryPanelSet(line, null)"
              mode="line.Pattern.Code">
              <TitleBar
                title="line.DisplayName"
                visible="policyPeriod.Lines.Count &gt; 1"/>
            </PanelRef>
          </PanelIterator>
        </Card>
        <!-- <Card
          id="Diffs"
          title="displaykey.Web.SubmissionWizard.PolicyReview.Card.Differences">
          <PanelRef
            def="DifferencesPanelSet(policyPeriod.BasedOn, policyPeriod)"/>
        </Card> -->
      </CardViewPanel>
    </Screen>
  </Page>
</PCF>