<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="CPPLineReviewSummaryDV">
    <Require
      name="policyLine"
      type="PolicyLine"/>
    <Variable
      initialValue="policyLine.Branch"
      name="policyPeriod"/>
    <InputColumn>
      <Input
        boldLabel="true"
        id="PrimaryNamedInsured"
        label="displaykey.Web.CommercialPackage.LineReview.Insured"
        value="policyPeriod.PrimaryNamedInsured.DisplayName"/>
      <InputSetRef
        def="PolicyAddressDisplayInputSet(policyPeriod, true)"
        id="PolicyAddress"/>
      <Input
        boldLabel="true"
        id="DateQuoteNeeded"
        label="displaykey.Web.CommercialPackage.LineReview.DateQuoteNeeded"
        value="policyPeriod.Submission.DateQuoteNeeded"
        visible="policyPeriod.Job typeis Submission"/>
    </InputColumn>
    <InputColumn>
      <Input
        boldLabel="true"
        id="Product"
        label="displaykey.Web.CommercialPackage.LineReview.Product"
        value="policyPeriod.Policy.Product"/>
      <Input
        boldLabel="true"
        id="PolicyLine"
        label="displaykey.Web.CommercialPackage.LineReview.PolicyLine"
        value="policyLine.DisplayName"/>
      <Input
        boldLabel="true"
        id="EffectiveDate"
        label="displaykey.Web.CommercialPackage.LineReview.EffectiveDate"
        value="policyPeriod.PeriodStart"/>
      <Input
        boldLabel="true"
        id="ExpirationDate"
        label="displaykey.Web.CommercialPackage.LineReview.ExpirationDate"
        value="policyPeriod.PeriodEnd"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>