<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="CPPRatingCumulPanelSet"
    mode="scroll">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <PanelIterator
      elementName="line"
      id="eachline"
      value="period.Lines">
      <IteratorSort
        sortBy="line.Pattern.Priority"
        sortOrder="1"/>
      <PanelRef
        def="RatingCumulDetailsPanelSet(period, jobWizardHelper, isEditable)"
        mode="line.Pattern.Code">
        <TitleBar
          icon="displaykey.Web.Wizard.InfoBar.LOBIcon(line.Pattern.Code)"
          title="line.DisplayName"/>
        <DetailViewPanel>
          <InputColumn>
            <Input
              id="nonetop"
              value="&quot;&quot;"/>
          </InputColumn>
        </DetailViewPanel>
      </PanelRef>
      <PanelDivider/>
      <PanelDivider/>
      <DetailViewPanel>
        <InputColumn>
          <Input
            id="none"
            value="&quot;&quot;"/>
          <Input
            id="nonealso"
            value="&quot;&quot;"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelIterator>
  </PanelSet>
</PCF>