<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ImportResultsDV">
    <Require
      name="pcImportDataInfo"
      type="gw.api.admin.PCImportDataInfo"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.ImportResultsDV.Canceled"
        visible="pcImportDataInfo.Results.Canceled"/>
      <Label
        label="displaykey.Web.Admin.ImportResultsDV.SuccessWithDelete(pcImportDataInfo.Results.NumInserted, pcImportDataInfo.Results.NumUpdated, pcImportDataInfo.Results.NumDeleted)"
        visible="!pcImportDataInfo.Results.Canceled and pcImportDataInfo.Results.Success"/>
      <Label
        label="displaykey.Web.Admin.ImportResultsDV.Failure(pcImportDataInfo.Results.ErrorMessage)"
        visible="!pcImportDataInfo.Results.Canceled and !pcImportDataInfo.Results.Success"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>