<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="ImportWizard_ConflictScreen">
    <Require
      name="pcImportDataInfo"
      type="gw.api.admin.PCImportDataInfo"/>
    <Require
      name="importDataConflict"
      type="admin.ImportDataConflict"/>
    <Toolbar>
      <WizardButtons/>
    </Toolbar>
    <DetailViewPanel
      id="ImportWizard_ConflictDV">
      <InputColumn>
        <Input
          id="Resolution"
          label="displaykey.Web.Admin.ImportWizard.UploadDV.ResolutionStrategy"
          value="pcImportDataInfo.ResolutionStrategy"/>
        <Input
          id="Message"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.Conflict"
          value="displaykey.Web.Admin.ImportWizard.ConflictDV.ConflictNumber(importDataConflict.Number, pcImportDataInfo.NumConflicts)"/>
        <Input
          id="Type"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.Type"
          value="importDataConflict.EntityType"/>
        <Input
          id="PublicID"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.PublicID"
          value="importDataConflict.PublicID"/>
        <Input
          id="DisplayName"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.DisplayName"
          value="importDataConflict.DisplayName"/>
        <Input
          editable="true"
          id="Overwrite"
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.Overwrite"
          value="importDataConflict.Overwrite"/>
        <Label
          label="displaykey.Web.Admin.ImportWizard.ConflictDV.FieldConflicts"/>
        <ListViewInput
          editable="false"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            id="ImportConflictsLV">
            <RowIterator
              editable="false"
              elementName="fieldConflict"
              value="importDataConflict.FieldConflicts">
              <Row>
                <Cell
                  id="FieldName"
                  label="displaykey.Web.Admin.ImportWizard.ConflictDV.FieldName"
                  sortOrder="1"
                  value="fieldConflict.FieldName"/>
                <Cell
                  action="ImportWizard_ArrayDiffPopup.push(fieldConflict.ArrayDifferences)"
                  available="fieldConflict.isArrayConflict()"
                  id="ExistingValue"
                  label="displaykey.Web.Admin.ImportWizard.ConflictDV.ExistingValue"
                  value="fieldConflict.ExistingValue"/>
                <Cell
                  action="ImportWizard_ArrayDiffPopup.push(fieldConflict.ArrayDifferences)"
                  available="fieldConflict.isArrayConflict()"
                  id="ImportValue"
                  label="displaykey.Web.Admin.ImportWizard.ConflictDV.ImportValue"
                  value="fieldConflict.ImportValue"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>