<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ImportWizard_UploadDV">
    <Require
      name="pcImportDataInfo"
      type="gw.api.admin.PCImportDataInfo"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.ImportWizard.UploadDV.Message"/>
      <Input
        editable="true"
        id="File"
        validationExpression="pcImportDataInfo.File != null ? null : displaykey.Web.Admin.ImportWizard.UploadDV.FileNotSpecifiedMessage"
        value="pcImportDataInfo.File"/>
      <Label
        label="displaykey.Web.Admin.ImportWizard.UploadDV.NoConflictsMessage"
        visible="pcImportDataInfo.File != null and pcImportDataInfo.NumConflicts == 0"/>
      <Label
        label="displaykey.Web.Admin.ImportWizard.UploadDV.ConflictsMessage(pcImportDataInfo.NumConflicts)"
        visible="pcImportDataInfo.NumConflicts &gt; 0"/>
      <RangeInput
        editable="true"
        id="Resolution"
        label="displaykey.Web.Admin.ImportWizard.UploadDV.ResolutionStrategy"
        value="pcImportDataInfo.ResolutionStrategy"
        valueRange="pcImportDataInfo.ResolutionOptions"
        visible="pcImportDataInfo.NumConflicts &gt; 0">
        <PostOnChange/>
      </RangeInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>