<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.User.exportadmindata"
    id="ImportResults"
    parent="ImportWizard()"
    title="displaykey.Web.Admin.ImportResults">
    <LocationEntryPoint
      signature="ImportResults(pcImportDataInfo : gw.api.admin.PCImportDataInfo)"/>
    <Variable
      name="pcImportDataInfo"
      type="gw.api.admin.PCImportDataInfo"/>
    <Screen
      id="ImportResultsScreen">
      <Toolbar/>
      <PanelRef
        def="ImportResultsDV(pcImportDataInfo)"/>
    </Screen>
  </Page>
</PCF>