<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="PremiumsScreenDV"
    mode="PremiumReport">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="audit"
      type="Audit"/>
    <InputColumn>
      <Label
        label="displaykey.Web.AuditWizard.Premiums.Summary.Results(audit.AuditInformation.AuditScheduleType)"/>
      <MonetaryAmountInput
        align="right"
        formatType="currency"
        id="TotalAuditPremium"
        label="displaykey.Web.AuditWizard.Premiums.Summary.TotalPremium"
        value="policyPeriod.TotalPremiumRPT"/>
      <MonetaryAmountInput
        align="right"
        formatType="currency"
        id="TaxAndSurcharge"
        label="displaykey.Web.AuditWizard.Premiums.Summary.Taxes"
        value="policyPeriod.AllCosts.TaxSurcharges.AmountSum(policyPeriod.PreferredSettlementCurrency)"/>
      <MonetaryAmountInput
        align="right"
        formatType="currency"
        id="TotalAuditCost"
        label="displaykey.Web.AuditWizard.Premiums.Summary.TotalCost"
        value="policyPeriod.TotalCostRPT"/>
      <MonetaryAmountInput
        align="right"
        formatType="currency"
        id="PaymentReceived"
        label="displaykey.Web.AuditWizard.PaymentReceived"
        value="audit.PaymentReceived == null ? 0bd.ofCurrency(policyPeriod.PreferredSettlementCurrency) : audit.PaymentReceived"/>
      <Label
        label="displaykey.Web.AuditWizard.Premiums.Summary.Results.AdditionalInfo"/>
      <TextAreaInput
        editable="true"
        id="Comment"
        label="displaykey.Web.AuditWizard.Premiums.Summary.Comments"
        numRows="5"
        value="audit.Description"/>
    </InputColumn>
    <InputColumn>
      <InputSetRef
        def="TrendAnalysisInputSet(policyPeriod, false)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>