<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="ScriptParameterDetailDV">
    <Require
      name="scriptParam"
      type="ScriptParameter"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Admin.ScriptParameterDetailDV.ScriptParameter"/>
      <Input
        id="Name"
        label="displaykey.Web.Admin.ScriptParameterDetailDV.Name"
        required="true"
        value="scriptParam.ParameterName"/>
      <Input
        id="Type"
        label="displaykey.Web.Admin.ScriptParameterDetailDV.Type"
        required="true"
        value="scriptParam.ParameterType">
        <PostOnChange/>
      </Input>
      <!-- Not my proudest moment, but it does allow the UI input widgets to be rendered
           correctly -->
      <Input
        align="left"
        editable="true"
        id="BitValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.BitValue"
        visible="scriptParam.ParameterType==&quot;bit&quot;"/>
      <Input
        align="left"
        editable="true"
        id="DatetimeValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.DatetimeValue"
        visible="scriptParam.ParameterType==&quot;datetime&quot;"/>
      <Input
        align="left"
        editable="true"
        id="DecimalValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.DecimalValue"
        visible="scriptParam.ParameterType==&quot;decimal&quot;"/>
      <Input
        align="left"
        editable="true"
        id="MoneyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.MoneyValue"
        visible="scriptParam.ParameterType==&quot;money&quot;"/>
      <Input
        align="left"
        editable="true"
        id="NonnegativeintegerValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.NonnegativeintegerValue"
        visible="scriptParam.ParameterType==&quot;nonnegativeinteger&quot;"/>
      <Input
        align="left"
        editable="true"
        id="NonnegativemoneyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.NonnegativemoneyValue"
        visible="scriptParam.ParameterType==&quot;nonnegativemoney&quot;"/>
      <Input
        align="left"
        editable="true"
        id="RiskValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.RiskValue"
        visible="scriptParam.ParameterType==&quot;risk&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PostalCodeValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.PostalCodeValue"
        visible="scriptParam.ParameterType==&quot;postalcode&quot;"/>
      <Input
        align="left"
        editable="true"
        id="SpeedValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.SpeedValue"
        visible="scriptParam.ParameterType==&quot;speed&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PhoneValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.PhoneValue"
        visible="scriptParam.ParameterType==&quot;phone&quot;"/>
      <Input
        align="left"
        editable="true"
        id="YearValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.YearValue"
        visible="scriptParam.ParameterType==&quot;year&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PercentageValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.PercentageValue"
        visible="scriptParam.ParameterType==&quot;percentage&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PercentagedecValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.PercentagedecValue"
        visible="scriptParam.ParameterType==&quot;percentagedec&quot;"/>
      <Input
        align="left"
        editable="true"
        id="MonthlyfrequencyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.MonthlyfrequencyValue"
        visible="scriptParam.ParameterType==&quot;monthlyfrequency&quot;"/>
      <Input
        align="left"
        editable="true"
        id="WeeklyfrequencyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.WeeklyfrequencyValue"
        visible="scriptParam.ParameterType==&quot;weeklyfrequency&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PositivemoneyValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.PositivemoneyValue"
        visible="scriptParam.ParameterType==&quot;positivemoney&quot;"/>
      <Input
        align="left"
        editable="true"
        id="PositiveintegerValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.PositiveintegerValue"
        visible="scriptParam.ParameterType==&quot;positiveinteger&quot;"/>
      <Input
        align="left"
        editable="true"
        id="VarcharValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.VarcharValue"
        visible="scriptParam.ParameterType==&quot;varchar&quot;"/>
      <Input
        align="left"
        editable="true"
        id="GroupValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.Group"
        visible="scriptParam.ParameterType==&quot;group&quot;"/>
      <Input
        align="left"
        editable="true"
        id="UserValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.User"
        visible="scriptParam.ParameterType==&quot;user&quot;"/>
      <Input
        align="left"
        editable="true"
        id="IntegerValue"
        label="displaykey.Web.Admin.ScriptParametersLV.Value"
        value="scriptParam.IntegerValue"
        visible="scriptParam.ParameterType==&quot;integer&quot;"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>