<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="DataFlowMaskScreen">
    <Require
      name="mask"
      type="EntityFlowMaskData"/>
    <Toolbar>
      <EditButtons
        editVisible="perm.System.exportmasksmanage"/>
    </Toolbar>
    <PanelRef
      def="DataFlowMaskDetailDV(mask)"/>
  </Screen>
</PCF>