<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="DataFlowMasks.go()"
    afterCommit="DataFlowMasks.go()"
    canEdit="true"
    canVisit="perm.System.exportmasksmanage"
    id="NewDataFlowMask"
    parent="DataFlowMasks()"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.Admin.NewMask">
    <LocationEntryPoint
      signature="NewDataFlowMask(initialEntityType : Type)"/>
    <Variable
      initialValue="new EntityFlowMaskData() {:EntityTypeName = initialEntityType.Name}"
      name="mask"
      type="EntityFlowMaskData"/>
    <Variable
      name="initialEntityType"
      type="Type"/>
    <ScreenRef
      def="DataFlowMaskScreen(mask)"/>
  </Page>
</PCF>