<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <PanelSet
    id="IMARPanelSet">
    <Require
      name="accountsRecPart"
      type="IMAccountsRecPart"/>
    <Require
      name="openforEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="accountsRecPart.InlandMarineLine.Pattern.getCoverageCategory(&quot;IMARCategory&quot;)"
      name="accountsReceivableCategory"/>
    <Variable
      initialValue="accountsRecPart.InlandMarineLine.Branch"
      name="policyPeriod"/>
    <Variable
      initialValue="accountsRecPart.InlandMarineLine.Pattern.getCoverageCategory(&quot;IMARPartCategory&quot;)"
      name="accountsRecPartCategory"/>
    <PanelRef
      def="PreferredCoverageCurrencyPanelSet(accountsRecPart, openforEdit, jobWizardHelper)"
      id="PreferredCoverageCurrencySelectorRef"/>
    <PanelRef
      def="IMARPartLevelInformationDV(accountsRecPart, openforEdit)">
      <TitleBar
        id="title1"
        title="displaykey.Web.Policy.IM.AccountsReceivable.PartLevelInformation"/>
    </PanelRef>
    <PanelRef
      def="IMARItemDV(accountsRecPart, openforEdit, jobWizardHelper)">
      <TitleBar
        id="title2"
        title="displaykey.Web.Policy.IM.AccountsReceivableCoverages"/>
    </PanelRef>
    <PanelRef
      def="IMARExcludedAccountsDV(accountsRecPart, openforEdit)">
      <TitleBar
        id="title3"
        title="displaykey.Web.Policy.IM.AccountsReceivable.ExcludedAccounts"/>
    </PanelRef>
  </PanelSet>
</PCF>