<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="IMPartScreen"
    mode="IMAccountsRecPart">
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="policyPeriod.IMLine.IMAccountsRecPart"
      name="accountsRecPart"
      type="IMAccountsRecPart"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, job, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="OOSEPanelSet(policyPeriod, jobWizardHelper)"/>
    <PanelRef
      def="IMARPanelSet(accountsRecPart, openForEdit, jobWizardHelper)"/>
  </Screen>
</PCF>