<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingOverridePanelSet"
    mode="IMLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Variable
      initialValue="period.IMLine.IMCoverageParts"
      name="covParts"
      type="IMCoveragePart[]"/>
    <PanelIterator
      elementName="covPart"
      id="CovPart"
      value="covParts">
      <PanelRef>
        <TitleBar
          title="covPart.Subtype.DisplayName"/>
        <Toolbar/>
        <ListViewPanel>
          <Variable
            initialValue="period.IMLine.costMapsFor(covPart)"
            name="costMaps"
            type="List&lt;java.util.Map&lt;String, Cost&gt;&gt;"/>
          <Row
            renderAsSmartHeader="true">
            <Cell
              align="center"
              id="EmptyHeader1"/>
            <Cell
              align="center"
              colspan="4"
              id="ActualHeader"
              value="displaykey.Web.Policy.RatingOverride.Actual"/>
            <Cell
              align="center"
              colspan="5"
              id="OverrideHeader"
              value="displaykey.Web.Policy.RatingOverride.Override"/>
            <Cell
              align="center"
              colspan="4"
              id="StandardHeader"
              value="displaykey.Web.Policy.RatingOverride.Standard"/>
          </Row>
          <Row
            renderAsSmartHeader="true">
            <Cell
              id="DescriptionHeader"
              value="displaykey.Web.SubmissionWizard.Quote.WC.Desc"/>
            <Cell
              align="right"
              id="ActualBaseRateHeader"
              value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
            <Cell
              align="right"
              id="ActualAdjustedRateHeader"
              value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
            <Cell
              align="right"
              id="ActualTermAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.TermAmount"/>
            <Cell
              align="right"
              id="ActualAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.Amount"/>
            <Cell
              align="right"
              id="OverrideBaseRateHeader"
              value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
            <Cell
              align="right"
              id="OverrideAdjustedRateHeader"
              value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
            <Cell
              align="right"
              id="OverrideTermAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.TermAmount"/>
            <Cell
              align="right"
              id="OverrideAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.Amount"/>
            <Cell
              align="left"
              id="OverrideReasonHeader"
              value="displaykey.Web.Policy.RatingOverride.Reason"/>
            <Cell
              align="right"
              id="StandardBaseRateHeader"
              value="displaykey.Web.Policy.RatingOverride.BaseRate"/>
            <Cell
              align="right"
              id="StandardAdjustedRateHeader"
              value="displaykey.Web.Policy.RatingOverride.AdjustedRate"/>
            <Cell
              align="right"
              id="StandardTermAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.TermAmount"/>
            <Cell
              align="right"
              id="StandardAmountHeader"
              value="displaykey.Web.Policy.RatingOverride.Amount"/>
          </Row>
          <RowIterator
            editable="CurrentLocation.InEditMode"
            elementName="costMap"
            value="costMaps">
            <Variable
              initialValue="costMap.Keys.first()"
              name="description"
              type="String"/>
            <Variable
              initialValue="costMap.Values.first()"
              name="cost"
              type="Cost"/>
            <Row>
              <Cell
                id="Description"
                value="description"
                width="250"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="ActualBaseRate"
                value="cost.ActualBaseRate"
                width="100"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="ActualAdjustedRate"
                value="cost.ActualAdjRate"
                width="100"/>
              <Cell
                align="right"
                id="ActualTermAmount"
                value="cost.ActualTermAmountBilling"
                width="100"/>
              <Cell
                align="right"
                id="ActualAmount"
                value="cost.ActualAmountBilling"
                width="100"/>
              <Cell
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideBaseRate"
                numCols="10"
                value="cost.OverrideBaseRate"
                width="100"/>
              <TextCell
                editable="CurrentLocation.InEditMode and cost.Overridable"
                format="&quot;0.0000&quot;"
                id="OverrideAdjustedRate"
                numCols="10"
                value="cost.OverrideAdjRate"
                width="100"/>
              <MonetaryAmountCell
                align="right"
                currency="(cost.BranchUntyped as PolicyPeriod).PreferredSettlementCurrency"
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideTermAmount"
                numCols="10"
                value="cost.OverrideTermAmountBilling"
                width="100"/>
              <MonetaryAmountCell
                align="right"
                currency="(cost.BranchUntyped as PolicyPeriod).PreferredSettlementCurrency"
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideAmount"
                numCols="10"
                value="cost.OverrideAmountBilling"
                width="100"/>
              <Cell
                editable="CurrentLocation.InEditMode and cost.Overridable"
                id="OverrideReason"
                numCols="20"
                value="cost.OverrideReason"
                width="150"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="StandardBaseRate"
                value="cost.StandardBaseRate"
                width="100"/>
              <TextCell
                format="&quot;0.0000&quot;"
                id="StandardAdjustedRate"
                value="cost.StandardAdjRate"
                width="100"/>
              <Cell
                align="right"
                id="StandardTermAmount"
                value="cost.StandardTermAmountBilling"
                width="100"/>
              <Cell
                align="right"
                id="StandardAmount"
                value="cost.StandardAmountBilling"
                width="100"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </PanelRef>
    </PanelIterator>
  </PanelSet>
</PCF>