<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    countsAsWork="false"
    id="AdminUserSearchPage"
    showUpLink="true"
    title="displaykey.Web.Admin.UserSearch">
    <ScreenRef
      def="UserSearchScreen()"/>
  </Page>
</PCF>