<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.Attribute.view"
    id="Attributes"
    showUpLink="true"
    title="displaykey.Web.Admin.Attributes">
    <Variable
      initialValue="gw.api.database.Query.make(Attribute).select()"
      name="attributes"
      type="AttributeQuery"/>
    <Screen
      id="AttributesScreen">
      <Toolbar>
        <ToolbarButton
          action="NewAttribute.go()"
          id="Attributes_NewAttributeButton"
          label="displaykey.Web.Admin.NewAttribute"
          shortcut="A"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="gw.api.admin.BaseAdminUtil.deleteAttributes(CheckedValues)"
          flags="any attribute"
          id="Attributes_DeleteButton"
          iterator="AttributesLV.AttributesLV"
          label="displaykey.Button.Delete"
          shortcut="L"/>
      </Toolbar>
      <PanelRef
        def="AttributesLV(attributes)"/>
    </Screen>
  </Page>
</PCF>