<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <LocationGroup
    id="UsersAndSecurity"
    title="displaykey.Web.Admin.UsersAndSecurity">
    <LocationRef
      location="AdminUserSearchPage()"/>
    <LocationRef
      location="AdminGroupSearchPage()"/>
    <LocationRef
      location="Roles()"/>
    <LocationRef
      location="Regions()"/>
    <LocationRef
      location="OrganizationSearchPage()"/>
    <LocationRef
      location="AdminProducerCodeSearch()"/>
    <LocationRef
      location="UWAuthorityProfiles()"/>
    <LocationRef
      location="Attributes()"/>
    <LocationRef
      location="SearchAffinityGroup()"/>
  </LocationGroup>
</PCF>