<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="EmailTemplateSearchResultLV">
    <Require
      name="emailTemplateDescriptorList"
      type="gw.plugin.email.IEmailTemplateDescriptor[]"/>
    <RowIterator
      editable="false"
      elementName="emailTemplateDescriptor"
      pickValue="emailTemplateDescriptor"
      value="emailTemplateDescriptorList">
      <Row>
        <Cell
          id="Template"
          label="displaykey.Web.EmailTemplateSearch.Template"
          value="emailTemplateDescriptor.Name"/>
        <Cell
          id="Topic"
          label="displaykey.Web.EmailTemplateSearch.Topic"
          value="emailTemplateDescriptor.Topic"/>
        <Cell
          id="Language"
          label="displaykey.Web.EmailTemplateSearch.Language"
          sortBy="emailTemplateDescriptor.Locale"
          value="gw.api.util.LocaleUtil.toLanguageType(emailTemplateDescriptor.Locale)"
          visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>