<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../../pcf.xsd">
  <PanelSet
    id="IMSignsPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="imSignPart"
      type="IMSignPart"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.IM.IMSigns"/>
      <DetailViewPanel>
        <InputColumn>
          <TypeKeyInput
            editable="true"
            id="coinsurance"
            label="displaykey.Web.Policy.IM.Coinsurance"
            required="true"
            value="imSignPart.Coinsurance"
            valueWidth="200"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar>
              <IteratorButtons
                iterator="TEMP_0_LV"/>
            </Toolbar>
            <ListViewPanel
              id="TEMP_0_LV">
              <RowIterator
                editable="true"
                elementName="theSign"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                numEntriesRequired="0"
                toCreateAndAdd="imSignPart.createAndAddIMSignAndCoverage()"
                toRemove="imSignPart.removeIMSignAndCoverage( theSign )"
                value="imSignPart.IMSigns">
                <IteratorSort
                  sortBy="theSign.SignNumber"
                  sortOrder="1"/>
                <Row>
                  <TextCell
                    id="imSignNum"
                    label="displaykey.Web.Policy.IM.SignNumber"
                    numCols="5"
                    required="false"
                    value="theSign.SignNumber"
                    wrapLabel="true"/>
                  <RangeCell
                    align="left"
                    editable="true"
                    id="imSignLocation"
                    label="displaykey.Web.Policy.IM.Location"
                    required="true"
                    value="theSign.IMLocation"
                    valueRange="policyPeriod.IMLine.IMLocations"
                    width="150"/>
                  <TextCell
                    align="left"
                    editable="true"
                    id="imSignDescription"
                    label="displaykey.Web.Policy.IM.Description"
                    numCols="20"
                    value="theSign.Description"/>
                  <TypeKeyCell
                    align="left"
                    editable="true"
                    id="imSignType"
                    label="displaykey.Web.Policy.IM.SignType"
                    required="true"
                    value="theSign.SignType"/>
                  <CheckBoxCell
                    align="center"
                    editable="true"
                    id="imSignInterior"
                    label="displaykey.Web.Policy.IM.Interior"
                    value="theSign.Interior"/>
                  <TextCell
                    align="right"
                    editable="true"
                    id="imSignLimit"
                    label="displaykey.Web.Policy.IM.Limit"
                    numCols="12"
                    required="true"
                    value="theSign.IMSignCov.IMSignLimitTerm.Value"/>
                  <RangeCell
                    editable="true"
                    id="imSignDeductible"
                    label="displaykey.Web.Policy.IM.Deductible"
                    required="true"
                    value="theSign.IMSignCov.IMSignDeductibleTerm.OptionValue"
                    valueRange="theSign.IMSignCov.IMSignDeductibleTerm.Pattern.Options"/>
                  <RangeCell
                    editable="true"
                    id="imSignCoverageCurrency"
                    label="displaykey.Web.Policy.CoverableCurrency"
                    required="true"
                    value="theSign.PreferredCoverageCurrency"
                    valueRange="gw.web.policy.CoverableCoverageCurrencySynchronizer.getAvailableCurrencies(theSign)"
                    visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()">
                    <PostOnChange
                      onChange="gw.web.policy.CoverableCoverageCurrencySynchronizer.synchronizeCurrencies(theSign, jobWizardHelper)"/>
                  </RangeCell>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>