<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ListViewPanel
    id="CopyCoverage_CopyToLV">
    <Require
      name="copyToVehicles"
      type="PersonalVehicle[]"/>
    <ExposeIterator
      name="CopyToVehicleIterator"
      valueType="PersonalVehicle"
      widget="CopyToVehicleIterator"/>
    <RowIterator
      editable="true"
      elementName="copyToVehicle"
      hasCheckBoxes="true"
      id="CopyToVehicleIterator"
      pageSize="0"
      type="PersonalVehicle"
      value="copyToVehicles">
      <Row>
        <Cell
          id="description"
          label="displaykey.Web.PolicyLine.CopyCoverages.Vehicle.Description"
          value="copyToVehicle.DisplayName"/>
        <Cell
          id="VehicleNumber"
          label="displaykey.Web.PolicyLine.CopyCoverages.Vehicle.VehicleNumber"
          sortOrder="1"
          value="copyToVehicle.VehicleNumber"/>
        <Cell
          id="vin"
          label="displaykey.Web.PolicyLine.CopyCoverages.Vehicle.Vin"
          value="copyToVehicle.Vin"/>
        <Cell
          id="comp"
          label="displaykey.Web.PolicyLine.CopyCoverages.Vehicle.ComprehensiveCov"
          value="copyToVehicle.PAComprehensiveCov.PACompDeductibleTerm.Value != null ? copyToVehicle.PAComprehensiveCov.PACompDeductibleTerm.DisplayValue : displaykey.Web.PolicyLine.CopyCoverages.NotSelected"/>
        <Cell
          id="collision"
          label="displaykey.Web.PolicyLine.CopyCoverages.Vehicle.Collision"
          value="copyToVehicle.PACollisionCov.PACollDeductibleTerm.Value != null ? copyToVehicle.PACollisionCov.PACollDeductibleTerm.DisplayValue : displaykey.Web.PolicyLine.CopyCoverages.NotSelected"/>
        <Cell
          id="towing"
          label="displaykey.Web.PolicyLine.CopyCoverages.Vehicle.Towing"
          value="copyToVehicle.PATowingLaborCovExists ? displaykey.Web.PolicyLine.CopyCoverages.Selected : displaykey.Web.PolicyLine.CopyCoverages.NotSelected"/>
        <Cell
          id="rental"
          label="displaykey.Web.PolicyLine.CopyCoverages.Vehicle.Rental"
          value="copyToVehicle.PARentalCov.PARentalTerm.PackageValue.Description != null ? copyToVehicle.PARentalCov.PARentalTerm.PackageValue.Description : displaykey.Web.PolicyLine.CopyCoverages.NotSelected"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>