<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="MVRDriverDV">
    <Require
      name="mvrDriver"
      type="gw.api.motorvehiclerecord.IMVRData"/>
    <InputColumn>
      <InputSet>
        <InputSetRef
          def="GlobalPersonNameInputSet(new gw.lob.pa.mvr.MVRDriverNameOwner(new gw.lob.pa.mvr.MVRDriverNameAdapter(mvrDriver)))"
          editable="false"
          mode="gw.api.name.NameLocaleSettings.PCFMode"/>
        <Input
          id="SSN"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.SSN"
          value="mvrDriver.SSN"/>
        <Input
          id="DOB"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.DOB"
          value="mvrDriver.DateOfBirth"/>
        <Input
          id="Gender"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Gender"
          value="mvrDriver.Gender"/>
        <Input
          id="Address"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Address"
          value="mvrDriver.Address"/>
      </InputSet>
    </InputColumn>
    <InputColumn>
      <InputSet>
        <Input
          id="Height"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Height"
          value="mvrDriver.Height"/>
        <Input
          id="Weight"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Weight"
          value="mvrDriver.Weight"/>
        <Input
          id="Eyes"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Eyes"
          value="mvrDriver.Eyes"/>
        <Input
          id="Hair"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Hair"
          value="mvrDriver.Hair"/>
        <Input
          id="Race"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Race"
          value="mvrDriver.Race"/>
        <Input
          id="Donor"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Donor"
          value="mvrDriver.Donor"/>
      </InputSet>
    </InputColumn>
  </DetailViewPanel>
</PCF>