<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="MVRIncidentLV">
    <Require
      name="driverMVRArr"
      type="gw.api.motorvehiclerecord.IMVRData[]"/>
    <RowIterator
      editable="false"
      elementName="incident"
      pageSize="0"
      value="driverMVRArr*.getIncidents()"
      visible="driverMVRArr != null">
      <Row>
        <Cell
          id="RecordType"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.RecordType"
          value="incident.getIncidentType()"/>
        <Cell
          id="ViolationDate"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.ViolationDate"
          sortOrder="1"
          value="incident.getViolationDate()"/>
        <Cell
          id="ConvictionDate"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.ConvictionDate"
          value="incident.getConvictionDate()"/>
        <Cell
          id="Description"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Description"
          sortOrder="2"
          value="incident.getDescription()"/>
        <Cell
          id="Location"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Location"
          value="incident.getLocation()"/>
        <Cell
          id="Code"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.ViolationCode"
          value="incident.getViolationCode()"/>
        <Cell
          align="center"
          id="Points"
          label="displaykey.Web.PersonalAuto.MotorVehicleRecord.Points"
          value="incident.getPoints()"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>