<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="PAVehicleModifiersDV">
    <Require
      name="vehicle"
      type="PersonalVehicle"/>
    <Require
      name="policyPeriod"
      type="entity.PolicyPeriod"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Policy.PA.VehicleRateModifiers"/>
      <InputIterator
        elementName="vehmodifier"
        id="moditerator"
        value="vehicle.PAVehicleModifiers">
        <IteratorSort
          sortBy="vehmodifier.Pattern.Priority"
          sortOrder="1"/>
        <!-- This input is here for testing purposes only -->
        <HiddenInput
          id="ModifierName"
          value="vehmodifier.Pattern.Name"/>
        <ModifierInput
          editable="true"
          id="vehmod"
          label="vehmodifier.Pattern.DisplayName"
          value="vehmodifier"/>
      </InputIterator>
    </InputColumn>
  </DetailViewPanel>
</PCF>