<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="PersonalAuto_VehicleDV">
    <Require
      name="vehicle"
      type="PersonalVehicle"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="line"
      type="PersonalAutoLine"/>
    <Require
      name="openForEdit"
      type="Boolean"/>
    <Variable
      name="totalPercentage"
      type="Number"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <InputColumn>
      <Label
        label="displaykey.Web.PolicyLine.Vehicle.BasicVehicleInformation"/>
      <Input
        id="VehicleNumber_DV"
        label="displaykey.Web.PolicyLine.Vehicle.VehicleNumber"
        value="vehicle.VehicleNumber"/>
      <TypeKeyInput
        editable="true"
        filter="VALUE.hasCategory(vehicle.PolicyLine.Subtype)"
        id="Type_DV"
        label="displaykey.Web.PolicyLine.Vehicle.Type"
        required="true"
        value="vehicle.VehicleType">
        <PostOnChange
          target="PersonalAuto_VehicleDV"/>
      </TypeKeyInput>
      <Input
        editable="true"
        id="Vin_DV"
        label="displaykey.Web.PolicyLine.Vehicle.Vin"
        numCols="24"
        required="true"
        value="vehicle.Vin">
        <PostOnChange
          onChange="vehicle.setValuesBasedOnVin( vehicle.Vin )"
          target="DATA_ONLY"/>
      </Input>
      <Input
        editable="true"
        id="Year_DV"
        label="displaykey.Web.PolicyLine.Vehicle.Year"
        numCols="24"
        value="vehicle.Year"/>
      <Input
        editable="true"
        id="Make_DV"
        label="displaykey.Web.PolicyLine.Vehicle.Make"
        numCols="24"
        value="vehicle.Make"/>
      <Input
        editable="true"
        id="Model_DV"
        label="displaykey.Web.PolicyLine.Vehicle.Model"
        numCols="24"
        value="vehicle.Model"/>
      <TypeKeyInput
        editable="true"
        id="BodyType_DV"
        label="vehicle.VehicleType==&quot;auto&quot; ? displaykey.Web.PolicyLine.Vehicle.BodyType : displaykey.Web.PolicyLine.Vehicle.SubType"
        value="vehicle.BodyType"/>
      <Input
        editable="true"
        id="Color_DV"
        label="displaykey.Web.PolicyLine.Vehicle.Color"
        numCols="24"
        value="vehicle.Color"/>
      <Input
        editable="true"
        id="LicensePlate_DV"
        label="displaykey.Web.PolicyLine.Vehicle.LicensePlate"
        numCols="24"
        value="vehicle.LicensePlate"/>
      <RangeInput
        editable="true"
        id="LicenseState_DV"
        label="displaykey.Web.PolicyLine.Vehicle.LicenseState"
        required="true"
        value="vehicle.LicenseState"
        valueRange="State.getTypeKeys(false).where(\ s -&gt; s.hasCategory(vehicle.AccountLocation.Country))"
        valueWidth="180"/>
      <InputSetRef
        def="PAGarageLocationInputSet(vehicle, policyPeriod, openForEdit, jobWizardHelper)"/>
    </InputColumn>
    <InputColumn>
      <MonetaryAmountInput
        currency="vehicle.PreferredCoverageCurrency"
        editable="true"
        formatType="currency"
        id="CostNew_DV"
        label="displaykey.Web.PolicyLine.Vehicle.CostNew"
        numCols="24"
        required="true"
        value="vehicle.CostNew"/>
      <MonetaryAmountInput
        currency="vehicle.PreferredCoverageCurrency"
        editable="true"
        formatType="currency"
        id="StatedValue_DV"
        label="displaykey.Web.PolicyLine.Vehicle.StatedValue"
        numCols="24"
        value="vehicle.StatedValue"/>
      <BooleanRadioInput
        editable="true"
        id="LeaseOrRent_DV"
        label="displaykey.Web.PolicyLine.Vehicle.LeaseOrRent"
        value="vehicle.LeaseOrRent">
        <PostOnChange
          target="LengthOfLease_DV"/>
      </BooleanRadioInput>
      <TypeKeyInput
        available="vehicle.LeaseOrRent"
        editable="true"
        id="LengthOfLease_DV"
        label="displaykey.Web.PolicyLine.Vehicle.LengthOfLease"
        value="vehicle.LengthOfLease"/>
      <InputDivider/>
      <Input
        editable="true"
        id="annualmiles_DV"
        label="displaykey.Web.PolicyLine.Vehicle.AnnualMileage"
        numCols="24"
        value="vehicle.AnnualMileage"
        visible="vehicle.VehicleType!=&quot;other&quot;"/>
      <Input
        editable="true"
        id="commutemiles_DV"
        label="displaykey.Web.PolicyLine.Vehicle.CommutingMiles"
        numCols="24"
        value="vehicle.CommutingMiles"
        visible="vehicle.VehicleType!=&quot;other&quot;"/>
      <InputDivider/>
      <TypeKeyInput
        editable="true"
        filter="vehicle.VehicleType != null and VALUE.hasCategory(vehicle.VehicleType)"
        id="primaryuse_DV"
        label="displaykey.Web.PolicyLine.Vehicle.PrimaryUse"
        value="vehicle.PrimaryUse"
        visible="vehicle.VehicleType!=&quot;other&quot;"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>
