<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyLineSummaryPanelSet"
    mode="PersonalAutoLine">
    <Require
      name="line"
      type="PolicyLine"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <PanelRef>
      <TitleBar
        title="line.Pattern.DisplayName"/>
      <Toolbar/>
      <PanelSet>
        <DetailViewPanel
          id="lineDV">
          <InputColumn>
            <Label
              label="displaykey.Web.Policy.PA.Quote.Coverages.Line"/>
            <ListViewInput
              def="CoverageSummaryLV((line as PersonalAutoLine).PALineCoverages.toList(), (line as PersonalAutoLine))"
              labelAbove="true">
              <Toolbar/>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
        <DetailViewPanel
          visible="(line as PersonalAutoLine).GarageLocations.HasElements">
          <InputColumn>
            <Label
              label="displaykey.Web.Policy.PA.Quote.Coverages.VehicleCoverages"/>
          </InputColumn>
        </DetailViewPanel>
        <!-- Show Vehicle related information, such as garage location and the vehicle's clauses -->
        <PanelIterator
          elementName="location"
          value="(line as PersonalAutoLine).GarageLocations">
          <IteratorSort
            sortBy="location.LocationNum"
            sortOrder="1"/>
          <DetailViewPanel>
            <InputColumn>
              <Label
                label="displaykey.Web.Policy.PA.Garage(location.LocationNum, location.CompactName)"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelIterator
            elementName="vehicle"
            value="(line as PersonalAutoLine).Vehicles.where(\avehicle -&gt; avehicle.GarageLocation == location)">
            <IteratorSort
              sortBy="vehicle.VehicleNumber"
              sortOrder="1"/>
            <PanelSet>
              <PanelRef
                id="vehiclepanel">
                <TitleBar
                  title="displaykey.Web.Policy.BA.Review.VehicleNumber(vehicle.VehicleNumber)"/>
                <DetailViewPanel>
                  <InputColumn>
                    <Input
                      boldLabel="true"
                      id="Vin"
                      label="displaykey.Web.PolicyLine.Vehicle.Vin"
                      value="vehicle.Vin"/>
                  </InputColumn>
                  <InputColumn>
                    <Input
                      boldLabel="true"
                      id="Year"
                      label="displaykey.Web.PolicyLine.Vehicle.Year"
                      value="vehicle.Year"/>
                  </InputColumn>
                  <InputColumn>
                    <Input
                      boldLabel="true"
                      id="Make"
                      label="displaykey.Web.PolicyLine.Vehicle.Make"
                      value="vehicle.Make"/>
                  </InputColumn>
                  <InputColumn>
                    <Input
                      boldLabel="true"
                      id="Model"
                      label="displaykey.Web.PolicyLine.Vehicle.Model"
                      value="vehicle.Model"/>
                  </InputColumn>
                </DetailViewPanel>
              </PanelRef>
              <DetailViewPanel>
                <InputColumn>
                  <TextInput
                    boldLabel="true"
                    id="drivername"
                    label="displaykey.Web.Policy.PA.PrimaryDriver"
                    value="vehicle.PrimaryDriver.DisplayName"/>
                </InputColumn>
                <InputColumn>
                  <Label
                    id="Gooddriverdiscount"
                    label="displaykey.Web.Policy.PA.GoodDriverDiscountApplies"
                    visible="vehicle.PrimaryDriver.PolicyDriver.ApplicableGoodDriverDiscount"/>
                </InputColumn>
              </DetailViewPanel>
              <DetailViewPanel>
                <InputColumn>
                  <Label
                    label="displaykey.Web.Policy.PA.AssignedDrivers"/>
                  <ListViewInput
                    labelAbove="true">
                    <Toolbar/>
                    <ListViewPanel
                      id="DriverPctLV">
                      <RowIterator
                        editable="false"
                        elementName="driver"
                        hideCheckBoxesIfReadOnly="true"
                        value="vehicle.Drivers">
                        <Row>
                          <TextCell
                            footerLabel="displaykey.Web.PolicyLine.Vehicle.Driver.Total"
                            id="Driver"
                            label="displaykey.Web.PolicyLine.Vehicle.Driver.Driver"
                            validationExpression=""
                            value="driver.PolicyDriver.DisplayName"/>
                          <Cell
                            footerSumValue="driver.PercentageDriven"
                            id="Percentage"
                            label="displaykey.Web.PolicyLine.Vehicle.Driver.Percentage"
                            value="driver.PercentageDriven"/>
                        </Row>
                      </RowIterator>
                    </ListViewPanel>
                  </ListViewInput>
                </InputColumn>
              </DetailViewPanel>
              <DetailViewPanel>
                <InputColumn>
                  <Label
                    label="displaykey.Web.Policy.PA.VehicleRateModifiers"/>
                </InputColumn>
              </DetailViewPanel>
              <DetailViewPanel>
                <InputColumn>
                  <ListViewInput
                    labelAbove="true">
                    <Toolbar/>
                    <ListViewPanel>
                      <Row>
                        <CellIterator
                          elementName="modifiername"
                          id="modnameiterator"
                          value="vehicle.Modifiers">
                          <IteratorSort
                            sortBy="modifiername.Pattern.Priority"
                            sortOrder="1"/>
                          <TextCell
                            id="vehmodifiername"
                            value="modifiername.Pattern.DisplayName"
                            width="200"/>
                        </CellIterator>
                      </Row>
                      <Row>
                        <CellIterator
                          elementName="modifier"
                          id="moditerator"
                          value="vehicle.Modifiers">
                          <ModifierCell
                            id="vehiclemodifiercell"
                            value="modifier"/>
                        </CellIterator>
                      </Row>
                    </ListViewPanel>
                  </ListViewInput>
                </InputColumn>
              </DetailViewPanel>
              <DetailViewPanel>
                <InputColumn>
                  <Label
                    label="displaykey.Web.Policy.PA.VehicleCoverages"/>
                </InputColumn>
              </DetailViewPanel>
              <DetailViewPanel
                id="vehiclecovDV">
                <InputColumn>
                  <ListViewInput
                    def="CoverageSummaryLV(vehicle.Coverages.toList(), vehicle)"
                    labelAbove="true">
                    <Toolbar/>
                  </ListViewInput>
                </InputColumn>
              </DetailViewPanel>
            </PanelSet>
          </PanelIterator>
        </PanelIterator>
        <PanelRef>
          <TitleBar
            title="displaykey.Web.Policy.PA.ExclusionsAndConditions"
            visible="((line as PersonalAutoLine).PolicyDrivers.where(\ dr -&gt; dr.Excluded).HasElements) or (!(line.AllExclusions.IsEmpty)) or (!(line.AllConditions.IsEmpty))"/>
          <DetailViewPanel
            visible="(line as PersonalAutoLine).PolicyDrivers.where(\ dr -&gt; dr.Excluded).HasElements">
            <InputColumn>
              <Label
                label="displaykey.Web.Policy.PA.ExcludedDrivers"/>
              <ListViewInput
                labelAbove="true">
                <Toolbar/>
                <ListViewPanel
                  id="excludedDriverLV">
                  <RowIterator
                    editable="false"
                    elementName="excludedDriver"
                    hideCheckBoxesIfReadOnly="true"
                    value="(line as PersonalAutoLine).PolicyDrivers.where(\ dr -&gt; dr.Excluded)">
                    <Row>
                      <TextCell
                        id="Driver"
                        label="displaykey.Web.PolicyLine.Vehicle.Driver.Driver"
                        validationExpression=""
                        value="excludedDriver.DisplayName"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </PanelRef>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="displaykey.Web.Policy.Coverages.Exclusions"
              visible="!(line.AllExclusions.IsEmpty)"/>
            <ListViewInput
              def="CoverageSummaryLV(line.AllExclusions.toList(), null)"
              id="exclusionSummaryLV"
              labelAbove="true"
              visible="!(line.AllExclusions.IsEmpty)">
              <Toolbar/>
            </ListViewInput>
            <Label
              label="displaykey.Web.Policy.Coverages.PolicyConditions"
              visible="!(line.AllConditions.IsEmpty)"/>
            <ListViewInput
              def="CoverageSummaryLV(line.AllConditions.toList(), null)"
              id="conditionSummaryLV"
              labelAbove="true"
              visible="!(line.AllConditions.IsEmpty)">
              <Toolbar/>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </PanelSet>
    </PanelRef>
  </PanelSet>
</PCF>