<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="PersonalAutoLine">
    <Require
      name="thePeriod"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="thePeriod.PersonalAutoLine.PATransactions.toSet().partition( \ tx -&gt; tx.PACost.Vehicle == null ).toAutoMap( \ b -&gt; java.util.Collections.emptySet&lt;PATransaction&gt;() )"
      name="transactionAndVehicleMap"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="transactionAndVehicleMap.get(true)"
      name="transactionsWithoutVehicle"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="transactionAndVehicleMap.get(false)"
      name="transactionsWithVehicle"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="transactionsWithVehicle.byFixedVehicle()"
      name="transactionsByVehicle"
      recalculateOnRefresh="true"/>
    <Variable
      initialValue="thePeriod.PersonalAutoLine"
      name="paline"/>
    <PanelIterator
      elementName="vehicle"
      id="vehicleIterator"
      value="transactionsByVehicle.Keys.toTypedArray()">
      <Variable
        initialValue="transactionsByVehicle.get( vehicle ).AnyProrated"
        name="prorated"
        recalculateOnRefresh="true"/>
      <IteratorSort
        sortBy="vehicle.VehicleNumber"
        sortOrder="1"/>
      <PanelRef>
        <TitleBar
          title="displaykey.Web.Policy.BA.Review.VehicleNumber(vehicle.VehicleNumber)"/>
        <PanelSet>
          <DetailViewPanel>
            <InputColumn>
              <Input
                boldLabel="true"
                id="Year"
                label="displaykey.Web.PolicyLine.Vehicle.Year"
                value="vehicle.Year"/>
            </InputColumn>
            <InputColumn>
              <Input
                boldLabel="true"
                id="Make"
                label="displaykey.Web.PolicyLine.Vehicle.Make"
                value="vehicle.Make"/>
            </InputColumn>
            <InputColumn>
              <Input
                boldLabel="true"
                id="Model"
                label="displaykey.Web.PolicyLine.Vehicle.Model"
                value="vehicle.Model"/>
            </InputColumn>
            <InputColumn>
              <Input
                boldLabel="true"
                id="Vin"
                label="displaykey.Web.PolicyLine.Vehicle.Vin"
                value="vehicle.Vin"/>
            </InputColumn>
          </DetailViewPanel>
          <DetailViewPanel>
            <InputColumn>
              <Input
                boldLabel="true"
                id="GarageLocation"
                label="displaykey.Web.PolicyLine.Vehicle.GarageLocation"
                value="vehicle.GarageLocation.CompactName"/>
            </InputColumn>
          </DetailViewPanel>
          <DetailViewPanel>
            <InputColumn>
              <ListViewInput>
                <Toolbar/>
                <ListViewPanel>
                  <RowIterator
                    editable="false"
                    elementName="transaction"
                    id="transactionIterator"
                    pageSize="0"
                    value="transactionsByVehicle.get( vehicle ).toTypedArray()">
                    <IteratorSort
                      sortBy="transaction.PACost.Coverage.Pattern.Priority"
                      sortOrder="1"/>
                    <IteratorSort
                      sortBy="transaction.PACost.ID"
                      sortOrder="2"/>
                    <Row>
                      <Cell
                        footerLabel="displaykey.Web.Financials.Subtotal"
                        id="Description"
                        label="displaykey.Web.PolicyLine.Coverages.Description"
                        value="alterCoveragePatternName(displaykey.Web.PolicyLine.Coverage(transaction.PACost.Coverage.Pattern), transaction.PACost)"
                        width="300"
                        wrap="true"/>
                      <MonetaryAmountCell
                        enableSort="false"
                        formatType="currency"
                        id="TermAmount"
                        label="displaykey.Web.SubmissionWizard.Quote.WC.Amount"
                        value="transaction.PACost.ActualTermAmountBilling"
                        visible="prorated"/>
                      <Cell
                        enableSort="false"
                        id="EffDate"
                        label="displaykey.Web.Quote.CumulDetail.Default.PeriodStart"
                        value="transaction.EffDate"
                        visible="prorated"/>
                      <Cell
                        enableSort="false"
                        id="ExpDate"
                        label="displaykey.Web.Quote.CumulDetail.Default.PeriodEnd"
                        value="transaction.ExpDate"
                        visible="prorated"/>
                      <Cell
                        align="right"
                        id="TxProration"
                        label="displaykey.Web.SubmissionWizard.Quote.WC.Prorata"
                        value="gw.api.util.StringUtil.formatNumber(transaction.Proration, &quot;#0.0000&quot;)"
                        visible="prorated"/>
                      <MonetaryAmountCell
                        enableSort="false"
                        formatType="currency"
                        id="TxAmount"
                        label="displaykey.Web.Policy.BA.Premium"
                        value="transaction.AmountBilling">
                        <ColumnFooter>
                          <TextCell
                            formatType="currency"
                            id="VehicleSubTotal"
                            value="transactionsByVehicle.get( vehicle ).AmountSum(thePeriod.PreferredSettlementCurrency)"/>
                        </ColumnFooter>
                      </MonetaryAmountCell>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
          <DetailViewPanel>
            <InputColumn>
              <ListViewInput>
                <Toolbar/>
                <ListViewPanel>
                  <Row>
                    <Cell
                      align="right"
                      bold="true"
                      id="SubTotalLabel"
                      value="displaykey.Web.Financials.PremiumSubtotal"/>
                    <MonetaryAmountCell
                      bold="true"
                      formatType="currency"
                      id="SubTotal"
                      value="transactionsWithVehicle.AmountSum(thePeriod.PreferredSettlementCurrency)"
                      width="100"/>
                  </Row>
                  <RowIterator
                    canPick="false"
                    editable="false"
                    elementName="otherTx"
                    pageSize="0"
                    value="transactionsWithoutVehicle.toTypedArray()">
                    <IteratorSort
                      sortBy="(typeof otherTx.PACost).AllTypesInHierarchy.Count"
                      sortDirection="descending"
                      sortOrder="1"/>
                    <IteratorSort
                      sortBy="typeof otherTx.PACost"
                      sortOrder="2"/>
                    <IteratorSort
                      sortBy="otherTx.EffDate"
                      sortOrder="3"/>
                    <Row>
                      <Cell
                        align="right"
                        enableSort="false"
                        id="Description"
                        value="otherTx.Cost"/>
                      <MonetaryAmountCell
                        enableSort="false"
                        formatType="currency"
                        id="Amount"
                        value="otherTx.AmountBilling"/>
                    </Row>
                  </RowIterator>
                </ListViewPanel>
              </ListViewInput>
            </InputColumn>
          </DetailViewPanel>
        </PanelSet>
      </PanelRef>
    </PanelIterator>
    <Code><![CDATA[function alterCoveragePatternName(name : String, cost : PACost) : String {
  if (name.contains("PIP") ) {
    return name + " - " + (cost as PersonalAutoPIPCovCost).PAPIPCovCostType.DisplayName
  } else {
    return name
  }
}]]></Code>
  </PanelSet>
</PCF>