<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="NoteTemplateSearchResultLV">
    <Require
      name="noteTemplateSearchResultsList"
      type="NoteTemplateSearchResults[]"/>
    <RowIterator
      editable="false"
      elementName="noteTemplateSearchResults"
      pickValue="noteTemplateSearchResults"
      value="noteTemplateSearchResultsList">
      <Row>
        <Cell
          id="Template"
          label="displaykey.Web.NoteTemplateSearchResults.Template"
          value="noteTemplateSearchResults.Name"/>
        <Cell
          id="Topic"
          label="displaykey.Web.NoteTemplateSearchResult.Topic"
          value="noteTemplateSearchResults.Topic"
          visible="NoteTopicType.getTypeKeys( false ).Count &gt; 1"/>
        <TypeKeyCell
          id="Type"
          label="displaykey.Web.NoteTemplateSearchResult.Type"
          value="noteTemplateSearchResults.Type"
          visible="NoteType.getTypeKeys( false ).Count &gt; 1"/>
        <TypeKeyCell
          id="Language"
          label="displaykey.Web.NoteTemplateSearchResult.Language"
          value="noteTemplateSearchResults.Language"
          visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
        <Cell
          id="lob"
          label="displaykey.Web.NoteTemplateSearchResults.LOB"
          value="noteTemplateSearchResults.LOBs"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>