<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="NoteTemplateSearchDV">
    <Require
      name="noteTemplateSearchCriteria"
      type="NoteTemplateSearchCriteria"/>
    <InputColumn>
      <TypeKeyInput
        editable="true"
        id="Topic"
        label="displaykey.Web.NoteTemplateSearch.Topic"
        value="noteTemplateSearchCriteria.Topic"
        visible="NoteTopicType.getTypeKeys( false ).Count &gt; 1"/>
      <TypeKeyInput
        editable="true"
        id="Type"
        label="displaykey.Web.NoteTemplateSearch.Type"
        value="noteTemplateSearchCriteria.Type"
        visible="NoteType.getTypeKeys( false ).Count &gt; 1"/>
      <TypeKeyInput
        editable="true"
        id="Language"
        label="displaykey.Web.NoteTemplateSearch.Language"
        required="true"
        value="noteTemplateSearchCriteria.Language"
        visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
      <RangeInput
        editable="true"
        id="Product"
        label="displaykey.Web.NoteTemplateSearch.Lob"
        optionLabel="productmodel.ProductLookup.getByCode( VALUE ).DisplayName"
        value="noteTemplateSearchCriteria.LOB"
        valueRange="productmodel.ProductLookup.getAll().map( \ p -&gt; p.Code  )"/>
      <Input
        editable="true"
        id="Keywords"
        label="displaykey.Web.NoteTemplateSearch.Keywords"
        value="noteTemplateSearchCriteria.Keywords"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>