<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="canEdit == null ? true : canEdit"
    id="EditContactPopup"
    returnType="Contact"
    startInEditMode="canEdit == null ? contact.New : canEdit"
    title="displaykey.Web.Organization.EditContact">
    <LocationEntryPoint
      signature="EditContactPopup(contact : Contact)"/>
    <LocationEntryPoint
      signature="EditContactPopup(contact : Contact, canEdit : Boolean)"/>
    <Variable
      name="contact"
      type="Contact"/>
    <Variable
      name="canEdit"
      type="Boolean"/>
    <Screen>
      <Toolbar>
        <EditButtons
          pickValue="contact"/>
      </Toolbar>
      <PanelRef
        def="ContactPanelSet(contact)"/>
    </Screen>
  </Popup>
</PCF>