<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="LicenseInputSet"
    mode="PolicyDriver">
    <Require
      name="policyContactRole"
      type="PolicyContactRole"/>
    <Require
      name="address"
      type="Address"/>
    <Variable
      initialValue="policyContactRole as PolicyDriver"
      name="policyDriver"
      recalculateOnRefresh="true"/>
    <Input
      editable="true"
      id="LicenseNumber"
      label="displaykey.Web.PolicyLine.Drivers.LicenseNumber"
      required="(policyDriver.Excluded) ? false : true"
      value="policyDriver.LicenseNumber"/>
    <RangeInput
      editable="true"
      id="LicenseState"
      label="displaykey.Web.PolicyLine.Drivers.LicenseState"
      required="(policyDriver.Excluded) ? false : true"
      value="policyDriver.LicenseState"
      valueRange="Jurisdiction.getTypeKeys(false).where(\ s -&gt; s.hasCategory(address.Country))"/>
  </InputSet>
</PCF>