<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="PolicyAddlInterestPanelSet"
    mode="PAVhcleAddlInterest">
    <Require
      name="policyAddlInterest"
      type="PolicyAddlInterest"/>
    <Variable
      initialValue="policyAddlInterest.Branch.PersonalAutoLine"
      name="paLine"/>
    <ListViewPanel>
      <Variable
        initialValue="paLine.getDefaultContainerForAddlInterest()"
        name="defaultVehicle"/>
      <RowIterator
        canPick="false"
        checkBoxVisible="false"
        editable="true"
        elementName="addlInterestDetail"
        id="paAddlInterestIterator"
        pageSize="0"
        value="policyAddlInterest.AdditionalInterestDetails.whereTypeIs(PAVhcleAddlInterest)">
        <IteratorSort
          sortBy="addlInterestDetail.PAVehicle.VehicleNumber"
          sortOrder="1"/>
        <IteratorSort
          sortBy="addlInterestDetail.PAVehicle.GarageLocation.LocationNum"
          sortOrder="2"/>
        <Row>
          <RangeCell
            id="PAVehicle"
            label="displaykey.Web.Policy.PA.Vehicles"
            optionLabel="VALUE.getVehicleLocationDisplay()"
            required="true"
            value="addlInterestDetail.PAVehicle"
            valueRange="paLine.Vehicles"/>
          <TypeKeyCell
            editable="true"
            id="AdditionalInterestType"
            label="displaykey.Web.Policy.AdditionalInterest.Type"
            required="true"
            value="addlInterestDetail.AdditionalInterestType"/>
          <Cell
            editable="true"
            id="CertRequired"
            label="displaykey.Web.Policy.AdditionalInterest.CertificateRequired"
            value="addlInterestDetail.CertRequired"/>
          <Cell
            editable="true"
            id="ContractNumber"
            label="displaykey.Web.Policy.AdditionalInterest.ContractNumber"
            value="addlInterestDetail.ContractNumber"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </PanelSet>
</PCF>