<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="PolicyOfficialIDInputSet"
    mode="Company">
    <Require
      name="namedInsured"
      type="PolicyNamedInsured"/>
    <TextInput
      editable="true"
      id="OfficialIDDV_Input"
      inputMask="&quot;##-#######&quot;"
      label="displaykey.Web.SubmissionWizard.NamedInsured.FEIN"
      required="namedInsured.Branch.HasWorkersComp"
      value="namedInsured.AccountContactRole.AccountContact.Contact.FEINOfficialID"/>
  </InputSet>
</PCF>
