<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="PolicyAddlInterestPanelSet"
    mode="BOPBldgAddlInterest">
    <Require
      name="policyAddlInterest"
      type="PolicyAddlInterest"/>
    <Variable
      initialValue="policyAddlInterest.Branch.BOPLine"
      name="bopLine"/>
    <ListViewPanel>
      <Variable
        initialValue="bopLine.getDefaultContainerForAddlInterest()"
        name="defaultBuilding"/>
      <RowIterator
        canPick="false"
        checkBoxVisible="false"
        editable="true"
        elementName="addlInterestDetail"
        id="bopAddlInterestIterator"
        pageSize="0"
        value="policyAddlInterest.AdditionalInterestDetails.whereTypeIs(BOPBldgAddlInterest)">
        <IteratorSort
          sortBy="addlInterestDetail.BOPBuilding.Building.BuildingNum"
          sortOrder="1"/>
        <IteratorSort
          sortBy="addlInterestDetail.BOPBuilding.BOPLocation.Location.LocationNum"
          sortOrder="2"/>
        <Row>
          <RangeCell
            id="BOPBuilding"
            label="displaykey.Web.Policy.BOP.Buildings"
            optionLabel="VALUE.getBuildingLocationDisplay()"
            required="true"
            value="addlInterestDetail.BOPBuilding"
            valueRange="bopLine.BOPLocations*.Buildings"/>
          <TypeKeyCell
            editable="true"
            id="AdditionalInterestType"
            label="displaykey.Web.Policy.AdditionalInterest.Type"
            required="true"
            value="addlInterestDetail.AdditionalInterestType"/>
          <Cell
            editable="true"
            id="CertRequired"
            label="displaykey.Web.Policy.AdditionalInterest.CertificateRequired"
            value="addlInterestDetail.CertRequired"/>
          <Cell
            editable="true"
            id="ContractNumber"
            label="displaykey.Web.Policy.AdditionalInterest.ContractNumber"
            value="addlInterestDetail.ContractNumber"/>
        </Row>
      </RowIterator>
    </ListViewPanel>
  </PanelSet>
</PCF>