<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="PolicyContactRolePanelSet"
    mode="PolicyOwnerOfficer">
    <Require
      name="policyContactRole"
      type="PolicyContactRole"/>
    <Variable
      initialValue="policyContactRole as PolicyOwnerOfficer"
      name="policyOwnerOfficer"/>
    <PanelRef>
      <TitleBar
        id="OwnerOfficerTitle"
        title="displaykey.Web.Policy.OwnerOfficer"/>
      <DetailViewPanel
        id="OwnerOfficerInfoDV">
        <InputColumn>
          <TypeKeyInput
            editable="true"
            id="Include"
            label="displaykey.Web.Policy.WC.InclExcl.Include"
            required="true"
            value="policyOwnerOfficer.Included">
            <PostOnChange/>
          </TypeKeyInput>
          <RangeInput
            align="left"
            editable="true"
            id="State"
            label="displaykey.Web.Policy.WC.InclExcl.State"
            required="true"
            value="policyOwnerOfficer.State"
            valueRange="policyOwnerOfficer.Branch.WorkersCompLine.Jurisdictions.map(\j -&gt; j.State)">
            <PostOnChange/>
          </RangeInput>
          <RangeInput
            editable="(policyOwnerOfficer.Included == Inclusion.TC_INCL) and (policyOwnerOfficer.State != null) and policyOwnerOfficer.Branch.WorkersCompLine.getClassCodesForWCCoveredEmployees(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(policyOwnerOfficer.State)).Count &gt; 0"
            id="ClassCode"
            label="displaykey.Web.Policy.WC.InclExcl.ClassCode"
            required="true"
            value="policyOwnerOfficer.ClassCode"
            valueRange="policyOwnerOfficer.Branch.WorkersCompLine.getClassCodesForWCCoveredEmployees(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(policyOwnerOfficer.State))"/>
          <TextInput
            editable="true"
            id="Ownership"
            label="displaykey.Web.Policy.WC.InclExcl.Ownership"
            value="policyOwnerOfficer.OwnershipPct"/>
          <TypeKeyInput
            editable="true"
            id="Relationship"
            label="displaykey.Web.Policy.WC.InclExcl.Relationship"
            value="policyOwnerOfficer.RelationshipTitle"/>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>