<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="PolicyContactRolePanelSet"
    mode="PolicyLaborClient">
    <Require
      name="policyContactRole"
      type="PolicyContactRole"/>
    <Variable
      initialValue="policyContactRole as PolicyLaborClient"
      name="policyLaborClient"/>
    <PanelRef>
      <TitleBar
        id="LaborClientTitle"
        title="displaykey.Web.Contact.LaborClient"/>
      <ListViewPanel
        id="LaborClientDetailsLV">
        <RowIterator
          canPick="false"
          checkBoxVisible="false"
          editable="true"
          elementName="policyLaborClientDetail"
          pageSize="0"
          value="policyLaborClient.Details">
          <Row>
            <TypeKeyCell
              editable="true"
              id="LaborClientInclusion"
              label="displaykey.Web.Policy.WC.EmployeeLeasing.Supplier.Include"
              required="true"
              value="policyLaborClientDetail.Inclusion"/>
            <TypeKeyCell
              id="LaborClientState"
              label="displaykey.Web.Policy.WC.EmployeeLeasing.Supplier.State"
              required="false"
              value="policyLaborClientDetail.WCLaborContact.AccountContactRole.AccountContact.Contact.PrimaryAddress.State"/>
            <DateCell
              editable="true"
              id="LaborClientEffectiveDate"
              label="displaykey.Web.PolicyLine.LeasedEmployee.ContractEffectiveDate"
              required="true"
              value="policyLaborClientDetail.ContractEffectiveDate"/>
            <DateCell
              editable="true"
              id="LaborClientExpirationDate"
              label="displaykey.Web.PolicyLine.LeasedEmployee.ContractExpirationDate"
              required="true"
              value="policyLaborClientDetail.ContractExpirationDate"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>