<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    countsAsWork="false"
    id="DisplayBeanPopup"
    title="displaykey.Web.DisplayBean.Title(bean.PublicID)">
    <LocationEntryPoint
      signature="DisplayBeanPopup(bean: KeyableBean)"/>
    <Variable
      name="bean"
      type="KeyableBean"/>
    <Screen
      id="DisplayBeanScreen">
      <Toolbar/>
      <TreeViewPanel
        id="DisplayBeanPanel">
        <Variable
          initialValue="new web.util.BeanTreeNode(bean, true)"
          name="rootBean"/>
        <TreeView
          canClickElement="element typeis web.util.BeanTreeNode"
          elementLabel="element"
          elementName="element"
          id="tree"
          onClickElement="DisplayBeanPopup.push((element as web.util.BeanTreeNode).Bean)"
          value="rootBean"/>
      </TreeViewPanel>
    </Screen>
  </Popup>
</PCF>