<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    alternateEntryStyle="false"
    id="BACoverageCostLV">
    <Require
      name="costs"
      type="entity.BACost[]"/>
    <Require
      name="prorated"
      type="boolean"/>
    <Require
      name="addStateToCoverageName"
      type="boolean"/>
    <RowIterator
      editable="false"
      elementName="cost"
      pageSize="0"
      value="costs">
      <Variable
        initialValue="cost.Coverage"
        name="theCoverage"
        recalculateOnRefresh="true"/>
      <IteratorSort
        sortBy="cost.Coverage.Pattern.CoverageCategory.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="cost.Coverage.Pattern.Priority"
        sortOrder="2"/>
      <IteratorSort
        sortBy="cost.EffDate"
        sortOrder="3"/>
      <Row
        useTitleStyle="true">
        <Cell
          bold="true"
          enableSort="false"
          footerLabel="displaykey.Web.Policy.BA.Subtotal"
          id="Description"
          label="displaykey.Web.PolicyLine.Coverages.Description"
          value="getCovDescription(theCoverage, cost)"
          width="300"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="CovTerm"
          label="displaykey.Web.PolicyLine.Coverage.CovTermValue( gw.pcf.line.common.CostUIHelper.getDisplayableCurrency(java.util.Arrays.asList(costs)) )"
          value="empty"/>
        <MonetaryAmountCell
          enableSort="false"
          formatType="currency"
          id="TermAmount"
          label="displaykey.Web.SubmissionWizard.Quote.WC.Amount"
          value="cost.ActualTermAmountBilling"
          visible="prorated"/>
        <Cell
          align="right"
          enableSort="false"
          id="EffDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodStart"
          value="cost.EffDate"
          visible="prorated"/>
        <Cell
          align="right"
          enableSort="false"
          id="ExpDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodEnd"
          value="cost.ExpDate"
          visible="prorated"/>
        <Cell
          align="right"
          enableSort="false"
          id="Proration"
          label="displaykey.Web.SubmissionWizard.Quote.WC.Prorata"
          value="gw.api.util.StringUtil.formatNumber(cost.ProRataByDaysValue, &quot;#0.0000&quot;)"
          visible="prorated"/>
        <MonetaryAmountCell
          align="right"
          enableSort="false"
          footerSumValue="cost.ActualAmountBilling"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.Policy.BA.Premium"
          value="cost.ActualAmountBilling"/>
      </Row>
      <RowIterator
        editable="false"
        elementName="covTerm"
        pageSize="0"
        value="cost.Coverage.CovTerms">
        <IteratorSort
          sortBy="covTerm.Pattern.Priority"
          sortOrder="1"/>
        <IteratorSort
          sortBy="covTerm.Pattern.PublicID"
          sortOrder="2"/>
        <Row>
          <Cell
            id="Description"
            value="pad(covTerm.DisplayName)"
            width="300"
            wrap="true"/>
          <Cell
            align="right"
            id="CovTermValue"
            value="covTerm.DisplayValue"
            wrap="true"/>
          <Cell
            id="TermAmount"
            value="empty"
            visible="prorated"/>
          <Cell
            id="EffDate"
            value="empty"
            visible="prorated"/>
          <Cell
            id="ExpDate"
            value="empty"
            visible="prorated"/>
          <Cell
            id="Proration"
            value="empty"
            visible="prorated"/>
          <Cell
            id="Amount"
            value="empty"/>
        </Row>
      </RowIterator>
    </RowIterator>
    <Code><![CDATA[function pad( s : String ) : String { return "       " + s }
property get empty() : String { return "" }
function getCovDescription(coverage : Coverage, cost : BACost) : String {
  var covName : String
  if (addStateToCoverageName) {
    covName = coverage.Pattern.DisplayName + " - " + cost.State.Description
  } else {
    covName = coverage.Pattern.DisplayName
  }
  if (covName.contains("PIP") ) {
    return covName + " - " + (cost as BAStateCovVehiclePIPCost).BAStateCovPIPCostType.DisplayName
  } else if (cost typeis BALineCovNonownedCost) {
    return covName + " - " + cost.BANonOwnedLiabCovCostType.Description
  } else {
    return covName
  }
}]]></Code>
  </ListViewPanel>
</PCF>