<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="BADriversDV">
    <Require
      name="thisDriver"
      type="CommercialDriver"/>
    <Variable
      initialValue="new gw.lob.ba.CommercialDriverNameAdapter(thisDriver)"
      name="driverNameAdapter"
      recalculateOnRefresh="true"/>
    <InputColumn>
      <Label
        label="displaykey.Web.PolicyLine.Drivers.DriversInfo"/>
      <InputSetRef
        def="GlobalPersonNameInputSet(new gw.search.BasicNameOwner(driverNameAdapter))"
        mode="gw.api.name.NameLocaleSettings.PCFMode"/>
      <Input
        align="left"
        editable="true"
        id="Gender"
        label="displaykey.Web.PolicyLine.Drivers.Gender"
        value="thisDriver.Gender"/>
      <DateInput
        align="left"
        editable="true"
        id="DateOfBirth"
        label="displaykey.Web.PolicyLine.Drivers.DateOfBirth"
        required="true"
        value="thisDriver.DateOfBirth"/>
      <Input
        align="left"
        editable="true"
        id="MaritalStatus"
        label="displaykey.Web.PolicyLine.Drivers.MaritalStatus"
        value="thisDriver.MaritalStatus"/>
      <TypeKeyInput
        editable="true"
        id="YearsExperience"
        label="displaykey.Web.PolicyLine.Drivers.YearsExperience"
        value="thisDriver.YearsExperience"/>
      <Input
        editable="true"
        id="LicenseNumber"
        label="displaykey.Web.PolicyLine.Drivers.LicenseNumber"
        required="true"
        value="thisDriver.LicenseNumber"/>
      <Input
        editable="true"
        id="LicenseState"
        label="displaykey.Web.PolicyLine.Drivers.LicenseState"
        required="true"
        value="thisDriver.LicenseState"/>
      <Input
        editable="true"
        id="YearLicensed"
        label="displaykey.Web.PolicyLine.Drivers.YearLicensed"
        value="thisDriver.YearLicensed"/>
      <DateInput
        editable="true"
        id="HireDate"
        label="displaykey.Web.PolicyLine.Drivers.HireDate"
        value="thisDriver.HireDate"/>
      <!-- <RangeInput
        align="left"
        editable="true"
        id="Vehicle"
        label="displaykey.Web.PolicyLine.Drivers.PrimaryVehicle"
        value="ThisDriver.Vehicle"
        valueRange="ThisDriver.PolicyLine.PolicyPeriod.BusinessAutoLine.Vehicles"/> -->
      <!-- <Input
        editable="true"
        id="PercentageUse"
        label="displaykey.Web.PolicyLine.Drivers.PercentageUse"
        value="ThisDriver.PercentageUse"/> -->
    </InputColumn>
  </DetailViewPanel>
</PCF>