<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    afterEnter="if (thisDriver == null and startInEdit == true and openForEdit)                       { thisDriver = policyPeriod.BusinessAutoLine.createAndAddDriverContact(); }"
    canEdit="openForEdit"
    countsAsWork="false"
    id="BADriverPopup"
    returnType="CommercialDriver"
    startInEditMode="startInEdit"
    title="displaykey.Web.PolicyLine.Drivers.DriverDetail">
    <LocationEntryPoint
      signature="BADriverPopup(thisDriver : CommercialDriver, policyPeriod : PolicyPeriod, openForEdit : boolean, startInEdit : boolean)"/>
    <Variable
      name="thisDriver"
      type="CommercialDriver"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="startInEdit"
      type="boolean"/>
    <Variable
      name="openForEdit"
      type="boolean"/>
    <ScreenRef
      def="BADriverScreen(thisDriver, policyPeriod, openForEdit)"/>
  </Popup>
</PCF>