<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    id="BAVehicleTxDetailPopup"
    title="displaykey.Web.Policy.BA.VehicleTransactions">
    <LocationEntryPoint
      signature="BAVehicleTxDetailPopup(vehicle : BusinessVehicle, vehicleTxs : java.util.List&lt;entity.BATransaction&gt;)"/>
    <Variable
      name="vehicle"
      type="BusinessVehicle"/>
    <Variable
      name="vehicleTxs"
      type="java.util.List&lt;entity.BATransaction&gt;"/>
    <Screen>
      <PanelSet>
        <DetailViewPanel>
          <InputColumn>
            <Label
              label="displaykey.Web.Policy.BA.Review.VehicleNumber(vehicle)"/>
          </InputColumn>
          <InputColumn>
            <Input
              boldLabel="true"
              id="GarageLocation"
              label="displaykey.Web.PolicyLine.Vehicle.GarageLocation"
              value="vehicle.Location"/>
          </InputColumn>
          <InputColumn>
            <Input
              boldLabel="true"
              id="Vin"
              label="displaykey.Web.PolicyLine.Vehicle.Vin"
              value="vehicle.Vin"/>
          </InputColumn>
          <InputColumn>
            <Input
              boldLabel="true"
              id="VehType"
              label="displaykey.Web.PolicyLine.Vehicle.Type"
              value="vehicle.VehicleType"/>
          </InputColumn>
          <InputColumn>
            <Input
              boldLabel="true"
              id="ClassCode"
              label="displaykey.Web.PolicyLine.Vehicle.ClassCode"
              value="vehicle.VehicleClassCode"/>
          </InputColumn>
          <InputColumn>
            <Input
              boldLabel="true"
              id="Year"
              label="displaykey.Web.PolicyLine.Vehicle.Year"
              value="vehicle.Year"/>
          </InputColumn>
          <InputColumn>
            <Input
              boldLabel="true"
              id="Make"
              label="displaykey.Web.PolicyLine.Vehicle.Make"
              value="vehicle.Make"/>
          </InputColumn>
          <InputColumn>
            <Input
              boldLabel="true"
              id="Model"
              label="displaykey.Web.PolicyLine.Vehicle.Model"
              value="vehicle.Model"/>
          </InputColumn>
        </DetailViewPanel>
        <DetailViewPanel>
          <InputColumn>
            <ListViewInput
              def="BACoverageTxLV(vehicleTxs, false)">
              <Toolbar/>
            </ListViewInput>
          </InputColumn>
        </DetailViewPanel>
      </PanelSet>
    </Screen>
  </Popup>
</PCF>