<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="BusinessAutoLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.BusinessAutoLine"
      name="baLine"/>
    <Variable
      initialValue="baLine.Costs.whereTypeIs(BALineCovCost).where(\ cost -&gt; cost.Vehicle.FixedId == null)"
      name="lineLevelCosts"/>
    <Variable
      initialValue="baLine.Costs.whereTypeIs(BACost).where(\ cost -&gt; cost.Vehicle.FixedId &lt;&gt; null)"
      name="vehicleCosts"/>
    <Variable
      initialValue="vehicleCosts.partition(\ vehCost -&gt; vehCost.Vehicle )"
      name="vehicleCostsByVehicle"/>
    <Variable
      initialValue="baLine.Costs.whereTypeIs(BACost).where(\ cost -&gt; cost.RatedOrder &lt;&gt; typekey.BARatedOrderType.TC_COVERAGEPREMIUM)"
      name="otherCosts"/>
    <PanelRef
      def="RatingOverrideButtonDV(period, period.BusinessAutoLine, jobWizardHelper, CurrentLocation.InEditMode)"
      id="RatingOverrideButtonDV"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.BA.LineLevelPremiums"/>
      <Toolbar/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            def="BACoverageCostLV(lineLevelCosts.toTypedArray(), lineLevelCosts.AnyProrated, true)"
            id="lineLevelListViewInput"
            labelAbove="true">
            <Toolbar/>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.BA.VehiclePremiums"/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel
              id="vehicleLV">
              <RowIterator
                editable="false"
                elementName="vehicle"
                id="vehicleList"
                pageSize="0"
                value="vehicleCostsByVehicle.Keys.toTypedArray()">
                <IteratorSort
                  sortBy="vehicle.Location.LocationNum"
                  sortOrder="1"/>
                <IteratorSort
                  sortBy="vehicle.VehicleNumber"
                  sortOrder="2"/>
                <Row>
                  <Cell
                    id="vehLoc"
                    label="displaykey.Web.PolicyLine.Vehicle.GarageLocation"
                    value="vehicle.Location.DisplayName"
                    width="300"
                    wrap="true"/>
                  <Cell
                    action="BAVehicleCostDetailPopup.push(vehicle, vehicleCostsByVehicle.get(vehicle))"
                    id="vehNum"
                    label="displaykey.Web.PolicyLine.Vehicle.Number"
                    value="vehicle.VehicleNumber"
                    width="100"/>
                  <Cell
                    action="BAVehicleCostDetailPopup.push(vehicle, vehicleCostsByVehicle.get(vehicle))"
                    id="vehVIN"
                    label="displaykey.Web.Policy.BA.VIN"
                    value="vehicle.Vin"
                    width="200"/>
                  <Cell
                    id="vehType"
                    label="displaykey.Web.PolicyLine.Vehicle.Type"
                    value="vehicle.VehicleType"/>
                  <Cell
                    id="vehClass"
                    label="displaykey.Web.PolicyLine.Vehicle.ClassCode"
                    value="vehicle.VehicleClassCode"/>
                  <Cell
                    align="left"
                    id="vehYear"
                    label="displaykey.Web.PolicyLine.Vehicle.Year"
                    value="vehicle.Year"
                    width="100"/>
                  <Cell
                    id="vehMake"
                    label="displaykey.Web.PolicyLine.Vehicle.Make"
                    value="vehicle.Make"/>
                  <Cell
                    id="vehModel"
                    label="displaykey.Web.PolicyLine.Vehicle.Model"
                    value="vehicle.Model"/>
                  <MonetaryAmountCell
                    action="BAVehicleCostDetailPopup.push(vehicle, vehicleCostsByVehicle.get(vehicle))"
                    footerSumValue="vehicleCostsByVehicle.get(vehicle).AmountSum(period.PreferredSettlementCurrency)"
                    formatType="currency"
                    id="vehAmount"
                    label="displaykey.Web.Policy.BA.Premium"
                    value="vehicleCostsByVehicle.get(vehicle).AmountSum(period.PreferredSettlementCurrency)"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
    <DetailViewPanel>
      <InputColumn>
        <ListViewInput
          boldLabel="true"
          label="displaykey.Web.Policy.BOP.Quote.OtherPremiums.Title"
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <RowIterator
              canPick="false"
              editable="false"
              elementName="otherCost"
              pageSize="0"
              value="otherCosts.toTypedArray()">
              <IteratorSort
                sortBy="otherCost.RateAmountType.Priority"
                sortOrder="1"/>
              <IteratorSort
                sortBy="otherCost.EffDate"
                sortOrder="2"/>
              <Row>
                <Cell
                  enableSort="false"
                  footerLabel="displaykey.Web.Policy.BA.Subtotal"
                  id="Description"
                  label="displaykey.Web.Policy.BOP.Quote.OtherPremiums.Description"
                  value="otherCost.DisplayName"
                  width="400"
                  wrap="true"/>
                <Cell
                  enableSort="false"
                  id="Jurisdiction"
                  label="displaykey.Web.Policy.BOP.Quote.Jurisdiction"
                  value="otherCost.State"/>
                <MonetaryAmountCell
                  enableSort="false"
                  footerSumValue="otherCost.ActualAmountBilling"
                  formatType="currency"
                  id="Amount"
                  label="displaykey.Web.Policy.BOP.Quote.Amount"
                  value="otherCost.ActualAmountBilling"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>