<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="VehicleClassCodeSearchResultsLV">
    <Require
      name="searchCriteria"
      type="gw.api.domain.VehicleClassCodeSearchCriteria"/>
    <Require
      name="searchResults"
      type="gw.api.domain.VehicleClassCodeSearchResult[]"/>
    <RowIterator
      editable="false"
      elementName="vehicleClassCodeSearchResult"
      pickValue="vehicleClassCodeSearchResult"
      value="searchResults">
      <Row>
        <Cell
          id="ClassCode"
          label="displaykey.Web.PolicyLine.Vehicle.ClassCode"
          value="vehicleClassCodeSearchResult.Code"
          width="100"
          wrap="true"/>
        <Cell
          id="Type"
          label="displaykey.Web.PolicyLine.Vehicle.Type"
          value="vehicleClassCodeSearchResult.Type"
          width="200"
          wrap="true"/>
        <Cell
          id="Fleet"
          label="displaykey.Web.Policy.BA.Fleet"
          value="vehicleClassCodeSearchResult.Fleet"
          wrap="true"/>
        <Cell
          id="YearsExperience"
          label="displaykey.Web.PolicyLine.Drivers.YearsExperience"
          value="vehicleClassCodeSearchResult.Experience"
          visible="searchCriteria.VehicleType == VehicleType.TC_PP"
          wrap="true"/>
        <Cell
          id="SizeClass"
          label="displaykey.Web.PolicyLine.Vehicle.SizeClass"
          value="vehicleClassCodeSearchResult.SizeClass"
          visible="searchCriteria.VehicleType==VehicleType.TC_PUBLICTRANSPORT or searchCriteria.VehicleType==VehicleType.TC_COMMERCIAL"
          wrap="true"/>
        <Cell
          id="PrimaryUse"
          label="displaykey.Web.PolicyLine.Vehicle.PrimaryUse"
          value="vehicleClassCodeSearchResult.PrimaryUse"
          visible="searchCriteria.VehicleType != VehicleType.TC_PP"
          wrap="true"/>
        <Cell
          id="Radius"
          label="displaykey.Web.PolicyLine.Vehicle.Radius"
          value="vehicleClassCodeSearchResult.Radius"
          visible="searchCriteria.VehicleType != VehicleType.TC_SPECIAL"
          wrap="true"/>
        <Cell
          id="Industry"
          label="displaykey.Web.PolicyLine.Vehicle.Industry"
          value="vehicleClassCodeSearchResult.Industry"
          visible="(searchCriteria.VehicleType==VehicleType.TC_COMMERCIAL and searchCriteria.Radius != RadiusCode.TC_200PLUSMILES)"
          wrap="true"/>
        <Cell
          id="IndustryUse"
          label="displaykey.Web.PolicyLine.Vehicle.IndustryUse"
          value="vehicleClassCodeSearchResult.IndustryUse"
          visible="(searchCriteria.VehicleType==VehicleType.TC_COMMERCIAL and searchCriteria.Radius != RadiusCode.TC_200PLUSMILES)"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>