<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="VehicleScreen">
    <Require
      name="vehicle"
      type="BusinessVehicle"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Toolbar>
      <EditButtons
        pickValue="vehicle"/>
    </Toolbar>
    <PanelRef
      def="PreferredCoverageCurrencyPanelSet(vehicle, openForEdit, jobWizardHelper)"
      id="PreferredCoverageCurrencySelectorRef"/>
    <PanelRef
      def="BAVehicleCV(vehicle, policyPeriod, openForEdit, jobWizardHelper)"/>
  </Screen>
</PCF>