<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewmyqueues"
    id="DesktopAssignableQueues"
    title="displaykey.Web.DesktopAssignableQueues">
    <LocationEntryPoint
      signature="DesktopAssignableQueues()"/>
    <Screen
      id="DesktopAssignableQueuesScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.DesktopAssignableQueues"/>
      <Toolbar>
        <ToolbarButton
          action="web.assignment.AssignableQueueUtil.assignFirstActivity(CurrentLocation)"
          available="!web.assignment.AssignableQueueUtil.isSelectedQueueEmpty(CurrentLocation)"
          id="AssignFirstButton"
          label="displaykey.Web.DesktopAssignableQueues.AssignFirstToMe"
          shortcut="A"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="web.assignment.AssignableQueueUtil.assignActivitiesFromQueue(CheckedValues)"
          flags="any assignableActivity"
          id="AssignSelectedButton"
          iterator="DesktopAssignableQueuesLV.DesktopAssignableQueuesLV"
          label="displaykey.Web.DesktopAssignableQueues.AssignSelectedToMe"
          shortcut="S"
          visible="perm.Activity.pickfromqueue"/>
        <ToolbarDivider/>
      </Toolbar>
      <PanelRef
        def="DesktopAssignableQueuesLV()"/>
    </Screen>
  </Page>
</PCF>