<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- LocationGroup for the "Desktop" tab pages -->
  <LocationGroup
    id="Desktop"
    menuActions="DesktopMenuActions()"
    tabBar="TabBar()"
    title="displaykey.Web.Desktop.LocationGroup.Title">
    <LocationEntryPoint
      signature="Desktop()"/>
    <LocationRef
      location="DesktopActivities()"/>
    <LocationRef
      location="DesktopAccounts()"/>
    <LocationRef
      location="DesktopSubmissions()"/>
    <LocationRef
      location="DesktopRenewals()"/>
    <LocationRef
      location="DesktopOtherWorkOrders()"/>
    <LocationRef
      location="DesktopAssignableQueues()"/>
  </LocationGroup>
</PCF>