<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.viewmyaccounts"
    id="DesktopAccounts"
    title="displaykey.Web.DesktopAccounts">
    <LocationEntryPoint
      signature="DesktopAccounts()"/>
    <Variable
      initialValue="Account.finder.findAccountSummariesForUser(User.util.CurrentUser)"
      name="accounts"
      recalculateOnRefresh="true"/>
    <Screen
      id="DesktopAccountsScreen">
      <TitleBar
        appendListViewPaging="true"
        title="displaykey.Web.DesktopAccounts"/>
      <Toolbar/>
      <PanelRef
        def="DesktopAccountsLV(accounts)"/>
    </Screen>
  </Page>
</PCF>
