<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="SelectedNonRenewalExplanationsLV">
    <ExposeIterator
      valueType="entity.NonRenewalExplanation"
      widget="SelectedNonRenewalExplanationsLV"/>
    <Require
      name="policy"
      type="Policy"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="descriptions"
      type="String[]"/>
    <Variable
      initialValue="policyPeriod.PolicyTerm"
      name="policyTerm"
      type="PolicyTerm"/>
    <RowIterator
      editable="perm.System.editnonrenewexp"
      elementName="nonRenewalExplanation"
      hideCheckBoxesIfReadOnly="true"
      pickLocation="NonRenewalExplanationPatternsPagePopup.push(policy, policyPeriod, descriptions)"
      toRemove="policyTerm.removeFromNonRenewalExplanations(nonRenewalExplanation); descriptions[0] = descriptions[0] + policyTerm.createNonRenewalExplanationRemovedHistoryDescription();"
      value="policyTerm.NonRenewalExplanations">
      <Row>
        <TextCell
          editable="true"
          enableSort="false"
          id="Explanation"
          label="displaykey.Web.PreRenewalDirection.NonRenewalExplanation.Explanation"
          numCols="100"
          required="true"
          styleClass="stretch"
          value="nonRenewalExplanation.Body"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>