<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <EntryPoint
    authenticationRequired="true"
    desc="Opens the Activity with the specified internal ID"
    id="Activity"
    location="ActivityForward(Activity)">
    <EntryPointParameter
      conversionExpression="web.EntityParamUtil.convertStringParam(VALUE, entity.Activity) as entity.Activity"
      locationParam="Activity"
      type="Activity"/>
  </EntryPoint>
</PCF>