<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <EntryPoint
    desc="Opens the Job Wizard for the Job with the specified number"
    id="JobWithNewPaymentInstrument"
    location="NewPaymentInstrumentForward(jobNumber, paymentMethod, token)">
    <EntryPointParameter
      locationParam="jobNumber"
      type="String"
      urlParam="jobNumber"/>
    <EntryPointParameter
      locationParam="paymentMethod"
      optional="true"
      type="String"
      urlParam="paymentMethod"/>
    <EntryPointParameter
      locationParam="token"
      optional="true"
      type="String"
      urlParam="token"/>
  </EntryPoint>
</PCF>