<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <EntryPoint
    authenticationRequired="false"
    id="NewPaymentInstrument"
    location="CreateSamplePaymentInstrument(returnURL, jobNumber, accountHolderName, add1, add2, city, state, zip)">
    <EntryPointParameter
      locationParam="returnURL"
      type="String"
      urlParam="returnURL"/>
    <EntryPointParameter
      locationParam="jobNumber"
      type="String"
      urlParam="jobNumber"/>
    <EntryPointParameter
      locationParam="accountHolderName"
      optional="true"
      type="String"
      urlParam="accountHolderName"/>
    <EntryPointParameter
      locationParam="add1"
      optional="true"
      type="String"
      urlParam="add1"/>
    <EntryPointParameter
      locationParam="add2"
      optional="true"
      type="String"
      urlParam="add2"/>
    <EntryPointParameter
      locationParam="city"
      optional="true"
      type="String"
      urlParam="city"/>
    <EntryPointParameter
      locationParam="state"
      optional="true"
      type="String"
      urlParam="state"/>
    <EntryPointParameter
      locationParam="zip"
      optional="true"
      type="String"
      urlParam="zip"/>
  </EntryPoint>
</PCF>
