<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <EntryPoint
    desc="Opens the Policy File for the Policy with the specified Policy Num"
    id="PolicyFile"
    location="PolicyFileForward(PolicyNumber)">
    <EntryPointParameter
      locationParam="PolicyNumber"
      optional="true"
      type="String"/>
  </EntryPoint>
</PCF>