<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <EntryPoint
    desc="Opens the Policy File for the Policy with the specified internal ID"
    id="Policy"
    location="PolicyFileForward(PolicyPeriod.PolicyNumber)">
    <EntryPointParameter
      conversionExpression="web.EntityParamUtil.convertStringParam(VALUE, entity.PolicyPeriod) as entity.PolicyPeriod"
      locationParam="PolicyPeriod"
      type="PolicyPeriod"/>
  </EntryPoint>
</PCF>