<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="LossHistoryInputSet"
    mode="man">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Label
      hideIfReadOnly="true"
      label="displaykey.Web.Policy.LossHistory.Manual.List"/>
    <Input
      id="NewLossesCurrency"
      label="displaykey.Web.Policy.RiskAnalysis.NewLossesIn"
      required="true"
      value="policyPeriod.PreferredCoverageCurrency"
      visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()"/>
    <ListViewInput
      def="ManualLossHistoryLV(policyPeriod)"
      editable="true"
      labelAbove="true">
      <Toolbar>
        <IteratorButtons
          iterator="ManualLossHistoryLV.ManualLossHistoryLV"/>
      </Toolbar>
    </ListViewInput>
  </InputSet>
</PCF>