<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    afterEnter="initialize()"
    canEdit="openForEdit"
    countsAsWork="false"
    id="IMBuildingPopup"
    startInEditMode="openForEdit"
    title="return imBuilding == null ? displaykey.CommercialProperty.Building.NewBuilding : imBuilding.DisplayName">
    <LocationEntryPoint
      signature="IMBuildingPopup(imLine : InlandMarineLine, imBuilding : IMBuilding, openForEdit : boolean, jobWizardHelper : web.job.JobWizardHelper)"/>
    <LocationEntryPoint
      signature="IMBuildingPopup(imLine : InlandMarineLine, imLocation : IMLocation, openForEdit : boolean, jobWizardHelper : web.job.JobWizardHelper)"/>
    <LocationEntryPoint
      signature="IMBuildingPopup(imLine : InlandMarineLine, imLocation : IMLocation, building : Building, openForEdit : boolean, jobWizardHelper : web.job.JobWizardHelper)"/>
    <Variable
      name="imLine"
      type="InlandMarineLine"/>
    <Variable
      name="imBuilding"
      type="IMBuilding"/>
    <Variable
      name="imLocation"
      type="IMLocation"/>
    <Variable
      name="building"
      type="Building"/>
    <Variable
      name="openForEdit"
      type="boolean"/>
    <Variable
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <CardViewPanel>
        <Card
          id="BuildingDetails"
          title="displaykey.Web.Policy.LocationContainer.Location.Building.Details">
          <DetailViewPanel
            id="DetailsDV">
            <!-- Left column -->
            <InputColumn>
              <Input
                boldLabel="true"
                boldValue="true"
                id="LocationInfo"
                label="displaykey.Web.Policy.IM.Location"
                value="imBuilding.Building.PolicyLocation.DisplayName"/>
              <Label
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Info"/>
              <Input
                id="Number"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Number"
                value="imBuilding.Building.BuildingNum"/>
              <Input
                editable="true"
                id="Description"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Description"
                value="imBuilding.Building.Description"/>
              <InputDivider/>
            </InputColumn>
            <!-- Right column -->
            <InputColumn>
              <Label
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Construction"/>
              <Input
                align="left"
                editable="true"
                id="YearBuilt"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.YearBuilt"
                value="imBuilding.Building.YearBuilt"/>
              <Input
                editable="true"
                id="ConstructionType"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.ConstructionType"
                value="imBuilding.Building.ConstructionType"/>
              <Input
                align="left"
                editable="true"
                id="NumStories"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.NumStories"
                value="imBuilding.Building.NumStories"/>
              <!-- postOnChange required because trigger field is numeric -->
              <Input
                align="left"
                editable="true"
                id="NumBasements"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.NumBasements"
                value="imBuilding.Building.NumBasements">
                <PostOnChange
                  target="BasementInputSet"/>
              </Input>
              <InputSet
                id="BasementInputSet"
                visible="imBuilding.Building.NumBasements != null and imBuilding.Building.NumBasements &gt; 0">
                <Input
                  align="left"
                  editable="true"
                  id="AreaFinished"
                  label="displaykey.Web.Policy.LocationContainer.Location.Building.AreaFinished"
                  value="imBuilding.Building.AreaFinished"/>
                <Input
                  align="left"
                  editable="true"
                  id="AreaUnfinished"
                  label="displaykey.Web.Policy.LocationContainer.Location.Building.AreaUnfinished"
                  value="imBuilding.Building.AreaUnfinished"/>
              </InputSet>
              <Input
                align="left"
                editable="true"
                id="TotalArea"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.TotalArea"
                value="imBuilding.Building.TotalArea"/>
              <Input
                editable="true"
                id="PercentSprinklered"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.PercentSprinklered"
                value="imBuilding.Building.SprinklerCoverage"/>
              <Label
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Improvement"/>
              <Input
                align="left"
                editable="true"
                id="LastUpdateHeating"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdateHeating"
                value="imBuilding.Building.Heating.YearAdded"/>
              <Input
                align="left"
                editable="true"
                id="LastUpdatePlumbing"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdatePlumbing"
                value="imBuilding.Building.Plumbing.YearAdded"/>
              <Input
                align="left"
                editable="true"
                id="LastUpdateRoofing"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdateRoofing"
                value="imBuilding.Building.Roofing.YearAdded"/>
              <Input
                align="left"
                editable="true"
                id="LastUpdateWiring"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.LastUpdateWiring"
                value="imBuilding.Building.Wiring.YearAdded"/>
              <InputDivider/>
              <Label
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Alarm"/>
              <Input
                editable="true"
                id="BuildingAlarmType"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Alarm.BuildingAlarmType"
                value="imBuilding.Building.BuildingAlarmType"/>
              <Input
                editable="true"
                id="AlarmGrade"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Alarm.AlarmGrade"
                value="imBuilding.Building.AlarmGrade"/>
              <Input
                editable="true"
                id="AlarmCertificate"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Alarm.AlarmCertificate"
                value="imBuilding.Building.AlarmCertificate"/>
              <Input
                editable="true"
                id="AlarmExpiration"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Alarm.AlarmExpiration"
                value="imBuilding.Building.AlarmExpiration"/>
              <Input
                editable="true"
                id="AlarmCertification"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.Alarm.AlarmCertification"
                value="imBuilding.Building.AlarmCertification"/>
              <InputDivider/>
              <Input
                editable="true"
                id="FrontExposure"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.FrontExposure"
                value="imBuilding.Building.FrontSide.Description"/>
              <Input
                editable="true"
                id="RearExposure"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.RearExposure"
                value="imBuilding.Building.RearSide.Description"/>
              <Input
                editable="true"
                id="LeftExposure"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.LeftExposure"
                value="imBuilding.Building.LeftSide.Description"/>
              <Input
                editable="true"
                id="RightExposure"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.RightExposure"
                value="imBuilding.Building.RightSide.Description"/>
              <InputDivider/>
              <Input
                align="left"
                editable="true"
                id="PercentOccupied"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.PercentOccupied"
                value="imBuilding.Building.PercentOccupied"/>
              <Input
                editable="true"
                id="AnyAreaLeased"
                label="displaykey.Web.Policy.LocationContainer.Location.Building.AnyAreaLeased"
                value="imBuilding.Building.AreaLeased"/>
              <InputDivider/>
            </InputColumn>
          </DetailViewPanel>
        </Card>
      </CardViewPanel>
    </Screen>
    <Code><![CDATA[function initialize() {
  if (building <> null and openForEdit) {
    imBuilding = imLocation.addToLineSpecificBuildings(building) as IMBuilding
  } else if (imBuilding == null and openForEdit) {
    imBuilding = imLocation.addNewLineSpecificBuilding() as IMBuilding
  } else if (imBuilding <> null) {
    imLocation = imBuilding.IMLocation
  }
}]]></Code>
  </Popup>
</PCF>
