<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="IMPartScreen"
    mode="default">
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, job, jobWizardHelper)"/>
    </Toolbar>
    <DetailViewPanel>
      <InputColumn>
        <Label
          label="displaykey.Web.Policy.IM.NoScreenDefined"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>