<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    countsAsWork="false"
    id="IMRatingCumulPopup"
    title="displaykey.Web.Policy.IM.CostDetailsFor( imPartSubtype.DisplayName  )">
    <LocationEntryPoint
      signature="IMRatingCumulPopup( imLine : InlandMarineLine, imPartSubtype : typekey.IMCoveragePart )"/>
    <Variable
      name="imLine"
      recalculateOnRefresh="true"
      type="InlandMarineLine"/>
    <Variable
      name="imPartSubtype"
      type="typekey.IMCoveragePart"/>
    <Screen>
      <PanelRef
        def="IMPartCumulDetailsPanelSet(imLine)"
        mode="imPartSubtype"/>
    </Screen>
  </Popup>
</PCF>