<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyLineSummaryPanelSet"
    mode="IMLine">
    <Require
      name="line"
      type="PolicyLine"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <CardViewPanel>
      <CardIterator
        elementName="imPartSubtype"
        value="(line as InlandMarineLine).IMCoverageParts*.Subtype">
        <IteratorSort
          sortBy="imPartSubtype.DisplayName"
          sortOrder="1"/>
        <Card
          id="impartCard"
          title="imPartSubtype.DisplayName">
          <DetailViewPanel>
            <InputColumn>
              <HiddenInput
                id="impartdisplayname"
                value="imPartSubtype.Code"/>
            </InputColumn>
          </DetailViewPanel>
          <PanelRef
            def="IMPartReviewPanelSet(line as InlandMarineLine)"
            mode="imPartSubtype"/>
        </Card>
      </CardIterator>
    </CardViewPanel>
  </PanelSet>
</PCF>