<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <DetailViewPanel
    id="SideBySideErrorPageDV">
    <Require
      name="jobWizHelper"
      type="gw.api.web.job.JobWizardHelper"/>
    <Require
      name="sideHelper"
      type="gw.pcf.sidebyside.SideBySideScreenHelper"/>
    <Variable
      initialValue="1"
      name="maxColsInPeriod"/>
    <Variable
      initialValue="(maxColsInPeriod * sideHelper.PeriodInfos.Count) + 1"
      name="columnNumber"/>
    <!-- Error/warnings -->
    <Layout
      border="true"
      columns="columnNumber"
      type="table"/>
    <Label
      label="displaykey.Web.Job.SideBySide.PersonalAuto.PageTitle">
      <LayoutConfig
        colspan="columnNumber"/>
    </Label>
    <Label
      id="BranchNameLabelID"
      label="displaykey.Web.Job.SideBySide.PolicyPeriodBranchName"/>
    <InputIterator
      elementName="periodInfo"
      id="periodInfoIter1"
      value="sideHelper.PeriodInfos">
      <Input
        align="center"
        id="branchName"
        labelAbove="true"
        value="periodInfo.Period.BranchName"/>
    </InputIterator>
    <Label
      id="ErrorLabelId"
      label=""/>
    <InputIterator
      elementName="periodInfo"
      id="errorWarningPeriodInfoIterator"
      value="sideHelper.PeriodInfos">
      <Input
        align="center"
        id="Errors"
        labelAbove="true"
        value="periodInfo.ErrorText"/>
    </InputIterator>
  </DetailViewPanel>
</PCF>