<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="RateCumulGLLineLevelCoverageLV">
    <Require
      name="lineLevelCovCosts"
      type="java.util.Set&lt;GLLineCovCost&gt;"/>
    <Variable
      initialValue="lineLevelCovCosts.AnyProrated"
      name="prorated"/>
    <!-- the coverage iterator -->
    <RowIterator
      editable="false"
      elementName="cost"
      pageSize="0"
      value="lineLevelCovCosts.toTypedArray()">
      <IteratorSort
        sortBy="cost.Coverage.CoverageCategory.Priority"
        sortOrder="1"/>
      <IteratorSort
        sortBy="cost.Coverage.Pattern.Priority"
        sortOrder="2"/>
      <Row>
        <Cell
          enableSort="false"
          footerLabel="displaykey.Web.Policy.BA.Subtotal"
          id="Description"
          label="displaykey.Web.PolicyLine.Coverages.Description"
          value="displaykey.Web.PolicyLine.Coverage(cost.Coverage.Pattern)"
          width="300"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="Basis"
          label="displaykey.Web.Quote.CumulDetail.Default.Basis"
          value="cost.Basis"/>
        <Cell
          enableSort="false"
          id="Rate"
          label="displaykey.Web.Quote.CumulDetail.Default.Rate"
          value="cost.ActualAdjRate"/>
        <MonetaryAmountCell
          enableSort="false"
          formatType="currency"
          id="TermAmount"
          label="displaykey.Web.SubmissionWizard.Quote.WC.Amount"
          value="cost.ActualTermAmountBilling"
          visible="prorated"/>
        <Cell
          align="right"
          enableSort="false"
          id="EffDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodStart"
          value="cost.EffDate"
          visible="prorated"/>
        <Cell
          align="right"
          enableSort="false"
          id="ExpDate"
          label="displaykey.Web.Quote.CumulDetail.Default.PeriodEnd"
          value="cost.ExpDate"
          visible="prorated"/>
        <Cell
          align="right"
          enableSort="false"
          id="Proration"
          label="displaykey.Web.SubmissionWizard.Quote.WC.Prorata"
          value="gw.api.util.StringUtil.formatNumber(cost.ProRataByDaysValue, &quot;#0.0000&quot;)"
          visible="prorated"/>
        <MonetaryAmountCell
          align="right"
          enableSort="false"
          footerSumValue="cost.ActualAmountBilling"
          formatType="currency"
          id="Amount"
          label="displaykey.Web.Policy.BA.Premium"
          value="cost.ActualAmountBilling"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>