<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="ActivityPatternDetailScreen">
    <Require
      name="activityPattern"
      type="ActivityPattern"/>
    <Toolbar>
      <EditButtons/>
      <ToolbarButton
        action="gw.api.admin.BaseAdminUtil.deleteActivityPattern(activityPattern); ActivityPatterns.go()"
        hideIfEditable="true"
        id="ActivityPatternDetailScreen_DeleteButton"
        label="displaykey.Button.Delete"
        shortcut="L"/>
    </Toolbar>
    <PanelRef
      def="ActivityPatternDetailDV(activityPattern)"/>
    <PanelRef
       def="LocalizedValuesDV(activityPattern, { &quot;Subject&quot;, &quot;ShortSubject&quot;, &quot;Description&quot;}, { displaykey.Web.Admin.ActivityPatternLocalizedLV.Subject, displaykey.Web.Admin.ActivityPatternDetailDV.ShortSubject, displaykey.Web.Admin.ActivityPatternLocalizedLV.Description})"/>
  </Screen>
</PCF>