<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- LocationGroup for the "Admin" tab pages -->
  <LocationGroup
    canVisit="perm.Organization.search or perm.System.orgviewagency or perm.System.orgviewbasic or perm.System.orgviewextmgt or perm.System.prodcodeviewbasic or perm.System.prodcodeviewprefuw"
    id="Admin"
    menuActions="AdminMenuActions()"
    menuTree="AdminMenuTree(treeModel, org, group)"
    title="displaykey.Web.Admin.LocationGroup.Title">
    <LocationEntryPoint
      signature="Admin()"/>
    <LocationEntryPoint
      signature="Admin(group : GroupBase)"/>
    <LocationEntryPoint
      signature="Admin(org : OrganizationBase)"/>
    <LocationEntryPoint
      signature="Admin(affinityGroup : AffinityGroupBase)"/>
    <Variable
      initialValue="null"
      name="group"
      type="GroupBase"/>
    <Variable
      initialValue="null"
      name="org"
      type="OrganizationBase"/>
    <Variable
      initialValue="new gw.api.admin.PCOrganizationTreeModel(org, group, false)"
      name="treeModel"/>
    <Variable
      initialValue="null"
      name="affinityGroup"
      type="AffinityGroupBase"/>
    <LocationRef
      location="UsersAndSecurity()"/>
    <LocationRef
      location="Rating()"/>
    <LocationRef
      location="BusinessSettings()"/>
    <LocationRef
      location="Monitoring()"/>
    <LocationRef
      location="Utilities()"/>
  </LocationGroup>
</PCF>