<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="Attributes.go()"
    afterCommit="Attributes.go()"
    canEdit="true"
    id="AttributeDetail"
    parent="Attributes()"
    showUpLink="true"
    title="displaykey.Web.Admin.AttributeDetail">
    <LocationEntryPoint
      signature="AttributeDetail(attribute : Attribute)"/>
    <Variable
      name="attribute"
      type="Attribute"/>
    <ScreenRef
      def="AttributeDetailScreen(attribute)"/>
  </Page>
</PCF>