<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AttributesLV">
    <ExposeIterator
      flags="attribute"
      valueType="entity.Attribute"
      widget="AttributesLV"/>
    <Require
      name="attributes"
      type="AttributeQuery"/>
    <RowIterator
      editable="false"
      elementName="attribute"
      hasCheckBoxes="true"
      value="attributes">
      <ToolbarFlag
        name="attribute"/>
      <Row>
        <Cell
          action="AttributeDetail.go(attribute)"
          id="Name"
          label="displaykey.Web.Admin.AttributesLV.Name"
          value="attribute.Name"/>
        <Cell
          id="Type"
          label="displaykey.Web.Admin.AttributesLV.Type"
          value="attribute.Type"/>
        <Cell
          id="Description"
          label="displaykey.Web.Admin.AttributesLV.Description"
          value="attribute.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>