<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    id="EditOrganizationUserPopup"
    startInEditMode="user.New"
    title="displaykey.Web.Admin.UserDetail(user)">
    <LocationEntryPoint
      signature="EditOrganizationUserPopup(user : User)"/>
    <Variable
      name="user"
      type="User"/>
    <ScreenRef
      def="OrganizationUserScreen(user)"/>
  </Popup>
</PCF>