<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.formpatedit"
    countsAsWork="false"
    id="FormPatternsValidation"
    parent="Admin()"
    title="displaykey.Web.Admin.FormPatternsValidationTitle">
    <LocationEntryPoint
      signature="FormPatternsValidation()"/>
    <Screen
      id="FormPatternsValidationScreen">
    </Screen>
  </Page>
</PCF>