<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="GroupDetail_ProducerCodesLV">
    <Require
      name="group"
      type="Group"/>
    <RowIterator
      editable="true"
      elementName="producerCode"
      value="group.InheritedProducerCodes">
      <Variable
        initialValue="group.hasProducerCode(producerCode)"
        name="avail"
        type="boolean"/>
      <Row>
        <CheckBoxCell
          editable="true"
          id="Available"
          label="displaykey.Web.Admin.OrganizationDetail.ProducerCodesLV.Available"
          value="avail">
          <PostOnChange
            onChange="group.setProducerCodeAvailability(producerCode, avail)"/>
        </CheckBoxCell>
        <Cell
          action="AdminProducerCodeDetail.go(producerCode)"
          id="Code"
          label="displaykey.Web.Admin.GroupDetail.ProducerCodesLV.Code"
          value="producerCode.Code"/>
        <Cell
          id="Desc"
          label="displaykey.Web.Admin.GroupDetail.ProducerCodesLV.Description"
          value="producerCode.Description"/>
        <Cell
          id="Status"
          label="displaykey.Web.Admin.GroupDetail.ProducerCodesLV.Status"
          value="producerCode.ProducerStatus"/>
        <Cell
          action="GroupDetailPage.go(producerCode.Branch)"
          available="producerCode.Branch != null and producerCode.Branch.GroupType != &quot;root&quot;"
          id="Branch"
          label="displaykey.Web.Admin.GroupDetail.ProducerCodesLV.Branch"
          value="producerCode.Branch"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>