<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="GroupDetailScreen">
    <Require
      name="group"
      type="Group"/>
    <Variable
      initialValue="AssignableQueue.finder.findVisibleQueuesForUser(User.util.CurrentUser)"
      name="assignableQueues"
      type="AssignableQueueQuery"/>
    <Toolbar>
      <EditButtons/>
      <ToolbarButton
        action="gw.api.admin.BaseAdminUtil.deleteGroup(group); Admin.go()"
        available="group.SafeToDelete"
        confirmMessage="displaykey.Web.Admin.GroupDetail.DeleteConfirm"
        hideIfEditable="true"
        id="GroupDetailScreen_BasicCard_DeleteButton"
        label="displaykey.Button.Delete"
        visible="perm.Group.delete"/>
    </Toolbar>
    <CardViewPanel>
      <Card
        id="GroupDetail_BasicCard"
        title="displaykey.Web.Admin.GroupDetail.Basic">
        <PanelRef
          def="GroupDetailDV(group)"/>
        <PanelRef
          def="LocalizedValuesDV(group, { &quot;Name&quot;, &quot;Description&quot; }, { displaykey.Web.Admin.GroupDetail.BasicDV.Name,displaykey.Web.Admin.GroupDetailInputSet.Description })"/>
      </Card>
      <Card
        id="GroupDetail_UserCard"
        title="displaykey.Web.Admin.GroupDetail.BasicDV.Users"
        visible="(null != group.Organization)">
        <PanelRef
          def="GroupUsersLV(group)">
          <Toolbar>
            <IteratorButtons
              addVisible="perm.GroupUser.create"
              iterator="GroupUsersLV.GroupUsersLV"
              removeVisible="perm.GroupUser.delete"/>
          </Toolbar>
        </PanelRef>
      </Card>
      <Card
        id="GroupDetail_ProducerCodesCard"
        title="displaykey.Web.Admin.GroupDetail.ProducerCodes"
        visible="(null != group.Organization) and (group.Organization.Producer)">
        <PanelRef
          def="GroupDetail_ProducerCodesLV(group)"
          editable="true">
          <Toolbar/>
          <Verbatim
            label="displaykey.Web.Admin.GroupDetail.ProducerCodesLabel"/>
        </PanelRef>
      </Card>
      <Card
        id="GroupDetail_QueuesCard"
        title="displaykey.Web.Admin.GroupDetail.Queues">
        <PanelRef
          def="GroupQueuesLV(group)">
          <Toolbar>
            <IteratorButtons
              iterator="GroupQueuesLV.GroupQueuesLV"
              removeShortcut="E"/>
          </Toolbar>
        </PanelRef>
      </Card>
      <Card
        id="GroupDetail_RegionsCard"
        shortcut="I"
        title="displaykey.Web.Admin.GroupDetail.Regions">
        <PanelRef
          def="GroupRegionLV(group)">
          <Toolbar>
            <IteratorButtons
              iterator="GroupRegionLV.GroupRegionLV"/>
          </Toolbar>
        </PanelRef>
      </Card>
    </CardViewPanel>
  </Screen>
</PCF>