<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- Page for showing the details of a particular Group. For example, when the user performs a
    Group search and then selects one of the Groups in the search result, the app navigates to
    this page. -->
  <Page
    canEdit="perm.Group.edit and (!User.util.CurrentUser.ExternalUser or User.util.CurrentUser.Organization == group.Organization)"
    canVisit="perm.Group.view and (!User.util.CurrentUser.ExternalUser or User.util.CurrentUser.Organization == group.Organization)"
    id="GroupDetailPage"
    parent="Admin(group)"
    showUpLink="true"
    title="displaykey.Web.Admin.GroupDetail(group.DisplayName)">
    <LocationEntryPoint
      signature="GroupDetailPage(group : Group)"/>
    <Variable
      name="group"
      type="Group"/>
    <ScreenRef
      def="GroupDetailScreen(group)"/>
  </Page>
</PCF>