<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="Attributes.go()"
    afterCommit="Attributes.go()"
    canEdit="true"
    id="NewAttribute"
    parent="Attributes()"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.Admin.NewAttribute">
    <LocationEntryPoint
      signature="NewAttribute()"/>
    <Variable
      initialValue="new Attribute()"
      name="attribute"
      type="Attribute"/>
    <ScreenRef
      def="AttributeDetailScreen(attribute)"/>
  </Page>
</PCF>