<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="true"
    canVisit="perm.User.create"
    id="NewOrganizationUserPopup"
    startInEditMode="true"
    title="displaykey.Web.Admin.NewUser">
    <LocationEntryPoint
      signature="NewOrganizationUserPopup(organization : Organization)"/>
    <Variable
      name="organization"
      type="Organization"/>
    <Variable
      initialValue="new gw.web.admin.OrganizationUIHelper(organization)"
      name="helper"/>
    <Variable
      initialValue="helper.createUser()"
      name="user"/>
    <ScreenRef
      def="OrganizationUserScreen(user)"/>
  </Popup>
</PCF>