<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="OrganizationUsersLV">
    <Require
      name="organization"
      type="Organization"/>
    <Variable
      initialValue="organization.AllUsers"
      name="allUsers"
      type="UserQuery"/>
    <RowIterator
      editable="false"
      elementName="user"
      value="allUsers">
      <Row>
        <Cell
          action="UserDetailPage.go(user)"
          id="User"
          label="displaykey.Web.Admin.OrganizationUsers.User"
          value="user"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>