<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="OrganizationUserScreen">
    <Require
      name="user"
      type="User"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <PanelRef
      def="UserDetailDV(user, false)"/>
  </Screen>
</PCF>