<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="OrganizationDetail_ProducerCodesLV">
    <Require
      name="organization"
      type="Organization"/>
    <Variable
      initialValue="organization.RootGroup"
      name="group"
      type="Group"/>
    <RowIterator
      editable="false"
      elementName="producerCode"
      toCreateAndAdd="group.createAndAttachProducerCode()"
      value="group.ProducerCodes">
      <Variable
        initialValue="group.hasProducerCode(producerCode)"
        name="avail"
        type="boolean"/>
      <Row>
        <Cell
          action="AdminProducerCodeDetail.go(producerCode)"
          enableSort="true"
          id="Code"
          label="displaykey.Web.Admin.OrganizationDetail.ProducerCodesLV.Code"
          value="producerCode.Code"/>
        <Cell
          enableSort="true"
          id="Desc"
          label="displaykey.Web.Admin.OrganizationDetail.ProducerCodesLV.Description"
          value="producerCode.Description"/>
        <Cell
          enableSort="true"
          id="Status"
          label="displaykey.Web.Admin.OrganizationDetail.ProducerCodesLV.Status"
          value="producerCode.ProducerStatus"/>
        <Cell
          action="GroupDetailPage.go(producerCode.Branch)"
          available="producerCode.Branch != null and producerCode.Branch.GroupType != &quot;root&quot;"
          enableSort="true"
          id="Branch"
          label="displaykey.Web.Admin.OrganizationDetail.ProducerCodesLV.Branch"
          value="producerCode.Branch"/>
        <Cell
          action="UserDetailPage.go(producerCode.PreferredUnderwriter)"
          available="producerCode.PreferredUnderwriter != null"
          enableSort="true"
          id="PreferredUnderwriter"
          label="displaykey.Web.Admin.OrganizationDetail.ProducerCodesLV.PreferredUnderwriter"
          value="producerCode.PreferredUnderwriter"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>