<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="OrganizationDetailScreen">
    <Require
      name="organization"
      type="Organization"/>
    <Variable
      initialValue="new gw.web.admin.OrganizationUIHelper(organization)"
      name="orgHelper"
      recalculateOnRefresh="true"/>
    <Toolbar
      visible="perm.Organization.editbasic(organization) or perm.Organization.delete(organization)">
      <EditButtons
        editVisible="perm.Organization.edit(organization)"/>
      <ToolbarButton
        action="gw.api.admin.BaseAdminUtil.deleteOrganization(organization); OrganizationSearchPage.go()"
        available="organization.SafeToDelete"
        confirmMessage="displaykey.Web.Admin.OrganizationDetail.DeleteConfirm"
        hideIfEditable="true"
        id="OrganizationDetailScreen_BasicCard_DeleteButton"
        label="displaykey.Button.Delete"
        shortcut="L"
        visible="perm.Organization.delete(organization)"/>
    </Toolbar>
    <CardViewPanel>
      <Card
        id="OrganizationDetail_BasicCard"
        title="displaykey.Web.Admin.OrganizationDetail.Basic"
        visible="perm.System.orgviewbasic">
        <PanelRef
          def="OrganizationDetail_BasicDV(organization.RootGroup, orgHelper)"/>
      </Card>
      <Card
        id="OrganizationDetail_UserCard"
        title="displaykey.Web.Admin.GroupDetail.BasicDV.Users">
        <PanelRef
          def="OrganizationUsersLV(organization)">
          <Toolbar/>
        </PanelRef>
      </Card>
      <Card
        id="OrganizationDetail_ProducerCodesCard"
        title="displaykey.Web.Admin.OrganizationDetail.ProducerCodes"
        visible="organization.Producer and perm.System.prodcodeviewbasic">
        <PanelRef
          def="OrganizationDetail_ProducerCodesLV(organization)"
          editable="true">
          <Toolbar/>
          <Verbatim
            label="displaykey.Web.Admin.OrganizationDetail.ProducerCodesLabel"/>
        </PanelRef>
      </Card>
      <Card
        id="OrganizationDetail_AgencyBillCard"
        title="displaykey.Web.Admin.OrganizationDetail.AgencyBill"
        visible="orgHelper.AgencyBillTabVisible">
        <DetailViewPanel
          id="OrganizationDetail_AgencyBillPlansDV"
          visible="orgHelper.PerCurrencyBillPlansVisible">
          <InputColumn>
            <Label
              label="displaykey.Web.Admin.OrganizationDetail.CurrenciesDV.AgencyBillPlans"/>
            <InputIterator
              elementName="plan"
              id="BillPlans"
              value="orgHelper.BillingPlanInputs">
              <IteratorSort
                sortBy="plan.Currency"
                sortOrder="1"/>
              <InputGroup
                allowToggle="plan.Editable"
                childrenVisible="plan.Available"
                id="BillPlanInputGroup"
                label="plan.Currency">
                <RangeInput
                  editable="plan.Editable"
                  id="BillPlanInput"
                  labelAbove="true"
                  noneSelectedLabel="displaykey.Web.Admin.OrganizationDetail.CurrenciesDV.PleaseSelect"
                  optionLabel="VALUE.Name"
                  required="true"
                  value="plan.AgencyBillPlan"
                  valueRange="plan.AvailableBillPlans"/>
              </InputGroup>
            </InputIterator>
          </InputColumn>
        </DetailViewPanel>
      </Card>
      <Card
        id="OrganizationDetail_QueuesCard"
        title="displaykey.Web.Admin.GroupDetail.Queues">
        <PanelRef
          def="GroupQueuesLV(organization.RootGroup)">
          <Toolbar>
            <IteratorButtons
              iterator="GroupQueuesLV.GroupQueuesLV"/>
          </Toolbar>
        </PanelRef>
      </Card>
      <Card
        id="OrganizationDetail_RegionsCard"
        shortcut="I"
        title="displaykey.Web.Admin.GroupDetail.Regions">
        <PanelRef
          def="GroupRegionLV(organization.RootGroup)">
          <Toolbar>
            <IteratorButtons
              addShortcut="R"
              iterator="GroupRegionLV.GroupRegionLV"
              removeShortcut="E"/>
          </Toolbar>
        </PanelRef>
      </Card>
    </CardViewPanel>
  </Screen>
</PCF>