<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="ProducerCodeDetail_GroupsLV">
    <Require
      name="producerCode"
      type="ProducerCode"/>
    <RowIterator
      editable="false"
      elementName="groupProducerCode"
      value="producerCode.GroupProducerCodes.where( \ g -&gt; g.Group.GroupType != &quot;root&quot; )">
      <Row>
        <Cell
          action="GroupDetailPage.go(groupProducerCode.Group)"
          id="Group"
          label="displaykey.Web.Admin.ProducerCodeDetail.Group"
          value="groupProducerCode.Group"/>
        <Cell
          action="OrganizationDetail.go(groupProducerCode.Group.Organization)"
          id="Organization"
          label="displaykey.Web.Admin.ProducerCodeDetail.Organization"
          value="groupProducerCode.Group.Organization"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>