<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="RolesLV">
    <ExposeIterator
      flags="role"
      valueType="entity.Role"
      widget="RolesLV"/>
    <Require
      name="roles"
      type="RoleQuery"/>
    <RowIterator
      editable="false"
      elementName="role"
      hasCheckBoxes="true"
      value="roles">
      <ToolbarFilter
        name="gosuFilters">
        <ToolbarFilterOptionGroup
          filters="gw.api.web.security.RoleFilters.TYPE_FILTER_SET.FilterOptions"/>
      </ToolbarFilter>
      <ToolbarFlag
        name="role"/>
      <Row>
        <Cell
          action="RoleDetailPage.go(role)"
          align="left"
          id="Name"
          label="displaykey.Web.Admin.RolesLV.Name"
          value="role.Name"
          wrap="true"/>
        <Cell
          align="left"
          id="Type"
          label="displaykey.Web.Admin.RolesLV.Type"
          value="role.RoleType"
          width="200"
          wrap="true"/>
        <Cell
          align="left"
          enableSort="false"
          id="Description"
          label="displaykey.Web.Admin.RolesLV.Description"
          value="role.Description"
          width="300"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>