<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="UserDetailPage.go(user)"
    afterCommit="UserDetailPage.go(user)"
    canEdit="perm.User.edit and (!entity.User.util.CurrentUser.ExternalUser or entity.User.util.CurrentUser.Organization == user.Organization)"
    canVisit="perm.User.view and (!entity.User.util.CurrentUser.ExternalUser or entity.User.util.CurrentUser.Organization == user.Organization)"
    id="UserDetailPage"
    parent="Admin(user.Organization)"
    showUpLink="true"
    title="displaykey.Web.Admin.UserDetail(user.DisplayName)">
    <LocationEntryPoint
      signature="UserDetailPage(user : User)"/>
    <Variable
      name="user"
      type="User"/>
    <ScreenRef
      def="UserDetailScreen(user)"/>
  </Page>
</PCF>