<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="UserAttributesSearchLV">
    <ExposeIterator
      valueType="entity.Attribute"
      widget="UserAttributesSearchLV"/>
    <Require
      name="searchResult"
      type="AttributeQuery"/>
    <RowIterator
      editable="false"
      elementName="attribute"
      hasCheckBoxes="true"
      value="searchResult">
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.Admin.UserAttributes.Name"
          value="attribute.Name"/>
        <Cell
          id="Description"
          label="displaykey.Web.Admin.UserAttributes.Description"
          value="attribute.Description"/>
        <Cell
          id="Type"
          label="displaykey.Web.Admin.UserAttributes.Type"
          value="attribute.Type"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>