<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="UWIssueTypeSearchPopup"
    returnType="UWIssueType"
    title="displaykey.Web.Admin.UWIssueTypeSearchPopup.Title">
    <LocationEntryPoint
      signature="UWIssueTypeSearchPopup(excludedTypes : java.util.Set&lt;UWIssueType&gt;, initialName : String)"/>
    <Variable
      name="excludedTypes"
      type="java.util.Set&lt;UWIssueType&gt;"/>
    <Variable
      name="initialName"
      type="String"/>
    <Screen
      id="UWIssueTypeSearchScreen">
      <SearchPanel
        cachingEnabled="false"
        criteriaName="searchCriteria"
        resultsName="issueTypes"
        search="searchCriteria.performSearch()"
        searchCriteria="var criteria = new gw.job.uw.UWIssueTypeSearchCriteria(excludedTypes){:Name = initialName}; initialName = null; return criteria"
        searchOnEnter="true"
        searchResultsType="UWIssueType[]">
        <PanelRef>
          <DetailViewPanel
            id="UWIssueTypeSearchDV">
            <InputColumn>
              <Input
                editable="true"
                id="Name"
                label="displaykey.Web.Admin.UWIssueTypeSearchPopup.Name"
                required="false"
                value="searchCriteria.Name"/>
              <Input
                editable="true"
                id="Description"
                label="displaykey.Web.Admin.UWIssueTypeSearchPopup.Description"
                required="false"
                value="searchCriteria.Description"/>
            </InputColumn>
            <InputFooterSection>
              <InputSetRef
                def="SearchAndResetInputSet()"/>
            </InputFooterSection>
          </DetailViewPanel>
        </PanelRef>
        <PanelRef>
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar/>
          <ListViewPanel
            id="UWIssueTypeSearchResultsLV">
            <RowIterator
              editable="false"
              elementName="issueType"
              pickValue="issueType"
              value="issueTypes">
              <IteratorSort
                sortBy="issueType.DisplayName"
                sortOrder="1"/>
              <Row>
                <Cell
                  id="Code"
                  label="displaykey.Web.Admin.UWIssueTypeSearchPopup.Code"
                  value="issueType.Code"/>
                <Cell
                  id="Name"
                  label="displaykey.Web.Admin.UWIssueTypeSearchPopup.Name"
                  value="issueType.DisplayName"/>
                <Cell
                  id="Description"
                  label="displaykey.Web.Admin.UWIssueTypeSearchPopup.Description"
                  value="issueType.Description"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>