.info {
  color : red;
  font-weight: bold;
  width : 450px;
  margin-left : auto;
  margin-right: auto;
  padding: 10px 11px 9px;
  text-align: center;
}

.login-header {
  width: 475px;
  margin: 0 auto;
  background-image: url(../resources/images/app/login_background.png);
  background-position: center 64px;
  background-repeat: no-repeat;
  background-color: white;
}

.login-logo {
  background-position: center 72px;
  padding-top: 152px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../resources/images/app/guidewire-app-login.png);
  position: relative;
}