<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterCancel="RateBookDetail.go(ratebook)"
    afterCommit="RateBookDetail.go(ratebook)"
    canEdit="true"
    canVisit="perm.System.ratebookedit"
    id="EditRateBook"
    parent="RateBookDetail(ratebook)"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.Rating.Ratebooks.EditRateBookTitle">
    <LocationEntryPoint
      signature="EditRateBook(ratebook : RateBook)"/>
    <LocationEntryPoint
      signature="EditRateBook(ratebook : RateBook, currentCard : gw.rating.rtm.util.RatingUIUtil.RateBookCardTabType)"/>
    <Variable
      name="ratebook"
      recalculateOnRefresh="true"
      type="RateBook"/>
    <Variable
      initialValue="gw.rating.rtm.util.RatingUIUtil.RateBookCardTabType.TableCard"
      name="currentCard"
      type="gw.rating.rtm.util.RatingUIUtil.RateBookCardTabType"/>
    <ScreenRef
      def="RateBookEditScreen(ratebook, true /* isEdit */, currentCard)"/>
  </Page>
</PCF>