<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="RateTableDefinitions.go()"
    afterCommit="RateTableDefinitionDetail.go(tableDefinition)"
    beforeCommit="gw.rating.rtm.validation.RateTableDefinitionValidation.validateRateTableDefinition(tableDefinition)"
    canEdit="true"
    canVisit="perm.System.ratebookedit"
    id="NewRateTableDefinition"
    parent="RateTableDefinitions()"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.Rating.RateTableDefinition.NewRateTableDefinition">
    <LocationEntryPoint
      signature="NewRateTableDefinition()"/>
    <LocationEntryPoint
      signature="NewRateTableDefinition(definitionToCopy: RateTableDefinition)"/>
    <Variable
      initialValue="null"
      name="definitionToCopy"
      type="RateTableDefinition"/>
    <Variable
      initialValue="definitionToCopy != null ? definitionToCopy.initializeCopy() : new RateTableDefinition()"
      name="tableDefinition"
      type="RateTableDefinition"/>
    <ScreenRef
      def="RateTableDefinitionDetailsScreen(tableDefinition, false)"/>
  </Page>
</PCF>