<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ModalCell
    id="RateRoutineStepEditOperand"
    mode="constant">
    <Require
      name="ratingRoutineStep"
      type="CalcStepDefinition"/>
    <Require
      name="rateRoutine"
      type="CalcRoutineDefinition"/>
    <Require
      name="inScopeParamInScopeUsageMap"
      type="java.util.Map&lt;CalcRoutineParamName,List&lt;gw.rating.flow.util.InScopeUsage&gt;&gt;"/>
    <Require
      name="costDataUsages"
      type="java.util.List&lt;gw.rating.flow.util.InScopeUsage&gt;"/>
    <Require
      name="orderedSteps"
      type="List&lt;CalcStepDefinition&gt;"/>
    <TextCell
      editable="true"
      id="ConstantValueOperand"
      subMenuOnDemand="true"
      validationExpression="gw.pcf.rating.flow.RateRoutinePopupHelper.untypedConstantValidationExpression(ratingRoutineStep.PrimaryOperand)"
      value="ratingRoutineStep.PrimaryOperand.LocalizedConstantValue">
      <MenuItemSetRef
        def="RateRoutineOperandMenuItemSet(ratingRoutineStep.PrimaryOperand, rateRoutine, inScopeParamInScopeUsageMap, costDataUsages, orderedSteps)"/>
    </TextCell>
  </ModalCell>
</PCF>
