<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="pcf.xsd">
  <ModalCell
    desc="CalcRoutineDefinitionCalcRoutineDefinition"
    id="RateRoutineStepEditOperand"
    mode="rounding">
    <Require
      name="ratingRoutineStep"
      type="CalcStepDefinition"/>
    <Require
      name="rateRoutine"
      type="CalcRoutineDefinition"/>
    <Require
      name="inScopeParamInScopeUsageMap"
      type="java.util.Map&lt;CalcRoutineParamName,List&lt;gw.rating.flow.util.InScopeUsage&gt;&gt;"/>
    <Require
      name="costDataUsages"
      type="java.util.List&lt;gw.rating.flow.util.InScopeUsage&gt;"/>
    <Require
      name="orderedSteps"
      type="List&lt;CalcStepDefinition&gt;"/>
    <TypeKeyCell
      editable="true"
      id="RoundingPrimaryOperand"
      required="ratingRoutineStep.PrimaryOperand.IsRounding"
      value="ratingRoutineStep.PrimaryOperand.RoundingScaleType"/>
  </ModalCell>
</PCF>