<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="RateRoutineInstructionVariableMenuItemSet">
    <Require
      name="step"
      type="CalcStepDefinition"/>
    <Variable
      initialValue="gw.pcf.rating.flow.RateRoutinePullRightMenuHelper.getAllExistingVariableNamesForInstruction(step)"
      name="availLocalVariables"
      recalculateOnRefresh="true"
      type="List&lt;gw.rating.flow.LocalVariable&gt;"/>
    <MenuItemIterator
      elementName="localVar"
      id="availableLocalVars"
      value="availLocalVariables">
      <MenuItem
        action="step.setStepToAssignmentVariable(localVar.VariableName)"
        id="localVariable"
        label="localVar.Label"
        retainScrollPosition="true"
        subMenuOnDemand="true"/>
    </MenuItemIterator>
  </MenuItemSet>
</PCF>