<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="RateBookSearchScreen">
    <Require
      name="initialRateBook"
      type="RateBook"/>
    <Require
      name="displayImportResults"
      type="boolean"/>
    <SearchPanel
      criteriaName="searchCriteria"
      resultsName="rateBooks"
      search="searchCriteria.performSearch()"
      searchCriteria="new gw.rating.rtm.query.RateBookSearchCriteria()"
      searchResultsType="gw.api.database.IQueryBeanResult&lt;entity.RateBook&gt;">
      <PanelRef
        def="RateBookSearchDV(searchCriteria)"/>
      <PanelRef
        def="RateBookPanelSet(rateBooks, initialRateBook)">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.Search.Results"/>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>