<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    afterCancel="RateBooks.go()"
    afterCommit="RateBooks.go()"
    canEdit="true"
    canVisit="perm.System.ratebookview"
    id="RateBooks"
    showUpLink="true"
    title="displaykey.Web.Rating.Ratebooks.Title">
    <LocationEntryPoint
      signature="RateBooks()"/>
    <LocationEntryPoint
      signature="RateBooks(initialRateBook : RateBook)"/>
    <LocationEntryPoint
      signature="RateBooks(initialRateBook : RateBook, displayImportResults : boolean)"/>
    <Variable
      initialValue="gw.api.database.Query.make(RateBook).select()"
      name="allRateBooks"
      type="RateBookQuery"/>
    <Variable
      name="initialRateBook"
      type="RateBook"/>
    <Variable
      name="displayImportResults"
      type="boolean"/>
    <ScreenRef
      def="RateBookSearchScreen(initialRateBook, displayImportResults)"/>
  </Page>
</PCF>