<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <LocationGroup
    canVisit="perm.System.ratebookview and gw.api.system.PCConfigParameters.RatingModuleOn()"
    id="Rating"
    title="displaykey.Web.Rating">
    <LocationRef
      label="displaykey.Web.Rating.RateBooks"
      location="RateBooks()"/>
    <LocationRef
      label="displaykey.Web.Rating.ImpactTesting.WizardLabel"
      location="ImpactTestingWizard()"/>
    <LocationRef
      label="displaykey.Web.Rating.RateTableDefinitions"
      location="RateTableDefinitions()"/>
    <LocationRef
      label="displaykey.Web.Rating.Flow"
      location="RateRoutines()"/>
    <LocationRef
      label="displaykey.Web.Rating.ParameterSets"
      location="ParameterSetsPage()"/>
  </LocationGroup>
</PCF>