<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="ValueProviderArgumentsInputSet"
    mode="TypeListValueProvider">
    <Require
      name="valueProviderProxy"
      type="gw.rating.rtm.valueprovider.CustomValueProviderData"/>
    <Require
      name="advancedEdit"
      type="boolean"/>
    <Require
      name="columnDefinition"
      type="RateTableColumn"/>
    <RangeInput
      editable="advancedEdit"
      id="ArgumentView"
      label="displaykey.Web.Rating.RateTableDefinition.Argument"
      optionLabel="VALUE.remove(gw.rating.rtm.util.RatingUIUtil.TypekeyPrefix)"
      value="valueProviderProxy.SingleArgument"
      valueRange="gw.rating.rtm.util.RatingUIUtil.getAllTypekeyNames()"
      visible="(CurrentLocation.InEditMode)">
      <PostOnChange
        onChange="valueProviderProxy.createValueProviderString()"/>
    </RangeInput>
    <Input
      editable="advancedEdit"
      id="ArgumentViewReadOnly"
      label="displaykey.Web.Rating.RateTableDefinition.Argument"
      required="true"
      value="valueProviderProxy.SingleArgument"
      visible="not (CurrentLocation.InEditMode)"/>
  </InputSet>
</PCF>