<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="QuestionSetsDV">
    <Require
      name="questionSets"
      type="gw.api.productmodel.QuestionSet[]"/>
    <Require
      name="answerContainer"
      type="AnswerContainer"/>
    <Require
      name="onChangeBlock"
      type="block()"/>
    <InputColumn>
      <InputIterator
        elementName="questionSet"
        value="questionSets">
        <InputSet
          visible="answerContainer.hasAnswerForQuestionSet( questionSet )">
          <HiddenInput
            id="QuestionSetName"
            value="questionSet.Name"/>
          <Label
            label="questionSet.Name"/>
          <ListViewInput
            def="QuestionSetLV(questionSet, answerContainer, onChangeBlock)"
            editable="true"
            labelAbove="true">
            <Toolbar/>
          </ListViewInput>
        </InputSet>
      </InputIterator>
    </InputColumn>
  </DetailViewPanel>
</PCF>