<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <InputSet
    id="WorkflowsInputSet"
    mode="PolicyPeriodWorkflow">
    <Require
      name="searchCriteria"
      type="WorkflowSearchCriteria"/>
    <Variable
      initialValue="productmodel.ProductLookup.getAll()"
      name="products"/>
    <Input
      editable="true"
      id="JobNumber"
      label="displaykey.Web.Admin.WorkflowSearch.JobNumber"
      value="searchCriteria.JobNumber"/>
    <Input
      editable="true"
      id="PolicyNumber"
      label="displaykey.Web.Admin.WorkflowSearch.PolicyNumber"
      value="searchCriteria.PolicyNumber"/>
    <RangeInput
      editable="true"
      id="Product"
      label="displaykey.Web.Admin.WorkflowSearch.Product"
      value="searchCriteria.Product"
      valueRange="products"/>
    <RangeInput
      editable="true"
      id="JobType"
      label="displaykey.Web.Admin.WorkflowSearch.JobType"
      value="searchCriteria.JobType"
      valueRange="web.admin.workflow.JobTypes.getJobTypes()"/>
  </InputSet>
</PCF>