<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.workflowview"
    countsAsWork="false"
    id="WorkflowSearch"
    title="displaykey.Web.Admin.WorkflowSearch.Title">
    <Screen
      id="WorkflowSearchScreen">
      <SearchPanel
        clearInvisibleInputs="true"
        criteriaName="searchCriteria"
        resultsName="workflows"
        search="searchCriteria.performSearch()"
        searchCriteria="new WorkflowSearchCriteria()"
        searchResultsType="WorkflowQuery">
        <PanelRef
          def="WorkflowsDV(searchCriteria)"/>
        <PanelRef
          def="WorkflowSearchResultPanelSet(workflows, searchCriteria)"
          mode="gw.pcf.WorkflowHelper.getWorkflowSubtype(searchCriteria.Workflowtype)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Admin.Workflows.Results"/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>