<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="WorkflowsDV">
    <Require
      name="searchCriteria"
      type="WorkflowSearchCriteria"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="Type"
        label="displaykey.Web.Admin.WorkflowSearch.Type"
        value="searchCriteria.Workflowtype"
        valueRange="searchCriteria.getAvailableTypes()">
        <PostOnChange
          onChange="util.SearchUtil.resetResultOnly()"/>
      </RangeInput>
      <InputSetRef
        def="WorkflowsInputSet(searchCriteria)"
        mode="gw.pcf.WorkflowHelper.getWorkflowSubtype(searchCriteria.Workflowtype)"/>
      <TypeKeyInput
        available="searchCriteria.State == WorkflowState.TC_ACTIVE.Code"
        editable="true"
        id="ActiveState"
        label="displaykey.Web.Admin.WorkflowSearch.ActiveState"
        value="searchCriteria.ActiveState"
        visible="searchCriteria.State == WorkflowState.TC_ACTIVE.Code"/>
      <RangeInput
        editable="true"
        id="Version"
        label="displaykey.Web.Admin.WorkflowSearch.Version"
        value="searchCriteria.ProcessVersion"
        valueRange="searchCriteria.getAvailableVersions()"
        visible="searchCriteria.Workflowtype != null">
        <PostOnChange/>
      </RangeInput>
      <DateInput
        editable="true"
        id="StartDateFrom"
        label="displaykey.Web.Admin.WorkflowSearch.StartDateFrom"
        value="searchCriteria.StartDateFrom"/>
      <DateInput
        editable="true"
        id="StartDateTo"
        label="displaykey.Web.Admin.WorkflowSearch.StartDateTo"
        value="searchCriteria.StartDateTo"/>
      <DateInput
        editable="true"
        id="UpdateDateFrom"
        label="displaykey.Web.Admin.WorkflowSearch.UpdateDateFrom"
        value="searchCriteria.UpdateDateFrom"/>
      <DateInput
        editable="true"
        id="UpdateDateTo"
        label="displaykey.Web.Admin.WorkflowSearch.UpdateDateTo"
        value="searchCriteria.UpdateDateTo"/>
    </InputColumn>
    <InputColumn>
      <RangeInput
        editable="true"
        id="CurrentStep"
        label="displaykey.Web.Admin.WorkflowSearch.CurrentStep"
        optionLabel="searchCriteria.localizedStepName(VALUE)"
        value="searchCriteria.CurrentStep"
        valueRange="searchCriteria.getAvailableSteps()"
        visible="searchCriteria.Workflowtype != null and searchCriteria.ProcessVersion != null"/>
      <TypeKeyInput
        editable="true"
        id="Handler"
        label="displaykey.Web.Admin.WorkflowSearch.Handler"
        value="searchCriteria.Handler"/>
      <TypeKeyInput
        editable="true"
        id="State"
        label="displaykey.Web.Admin.WorkflowSearch.State"
        value="searchCriteria.State">
        <PostOnChange/>
      </TypeKeyInput>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>