<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <PanelSet
    id="WorkflowSearchResultPanelSet"
    mode="PolicyPeriodWorkflow">
    <Require
      name="workflows"
      type="WorkflowQuery"/>
    <Require
      name="searchCriteria"
      type="WorkflowSearchCriteria"/>
    <PanelRef
      def="PolicyPeriodWorkflowsLV(workflows, true)">
      <Toolbar>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="ManageWorkflows.go(CheckedValues)"
          id="Workflows_ManageButton"
          iterator="PolicyPeriodWorkflowsLV.PolicyPeriodWorkflowsLV"
          label="displaykey.Web.Admin.WorkflowSearch.Manage"
          shortcut="M"/>
        <ToolbarButton
          action="ManageWorkflows.go(workflows, searchCriteria)"
          available="workflows == null ? false : workflows.getCount() &gt; 0"
          id="Workflows_ManageAllButton"
          label="displaykey.Web.Admin.WorkflowSearch.ManageAll"
          shortcut="A"/>
      </Toolbar>
    </PanelRef>
  </PanelSet>
</PCF>