<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="CoveragePatternSearchResultsSelectLV">
    <ExposeIterator
      valueType="gw.api.productmodel.ClausePattern"
      widget="CoveragePatternSearchResultsSelectLV"/>
    <Require
      name="coveragePatterns"
      type="gw.api.productmodel.ClausePattern[]"/>
    <RowIterator
      editable="true"
      elementName="pattern"
      pickValue="pattern.Code"
      value="coveragePatterns">
      <Row>
        <Cell
          id="Coverage"
          label="displaykey.Web.Coverage.SearchPage.Coverage"
          value="pattern.DisplayName"/>
        <Cell
          id="Category"
          label="displaykey.Web.Coverage.SearchPage.Category"
          value="pattern.CoverageCategory.DisplayName"/>
        <Cell
          id="ClauseType"
          label="displaykey.Web.Coverage.SearchPage.Type"
          value="pattern.ClauseName"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>