<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Page
    afterEnter="gw.api.web.PebblesUtil.addWebMessages(CurrentLocation, policyPeriod.PolicyFileMessages)"
    canVisit="perm.PolicyPeriod.view(policyPeriod) and perm.System.pfiledetails and perm.System.viewmodifiers"
    id="PolicyFile_ProductModifiers"
    parent="PolicyFile(policyPeriod, asOfDate)"
    title="displaykey.Web.PolicyFile.Modifiers">
    <LocationEntryPoint
      signature="PolicyFile_ProductModifiers(policyPeriod : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <ScreenRef
      def="PolicyFile_ModifiersScreen(policyPeriod, false, null, policyPeriod.EffectiveDatedFields.ProductModifiers)"/>
  </Page>
</PCF>