<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    canVisit="gw.rating.worksheet.WorksheetUIHelper.canViewWorksheets(policyLine)"
    id="RatingWorksheetPopup"
    title="policyLine.Branch.ValidQuote ? displaykey.Web.Policy.RatingWorksheet.PopupTitle : displaykey.Web.Policy.RatingWorksheet.PopupTitle">
    <LocationEntryPoint
      signature="RatingWorksheetPopup(policyLine : PolicyLine)"/>
    <Variable
      name="policyLine"
      type="PolicyLine"/>
    <Variable
      initialValue="false"
      name="showConditionals"
      type="boolean"/>
    <Variable
      initialValue="gw.rating.worksheet.WorksheetUIHelper.getWorksheetRootNode(policyLine, showConditionals)"
      name="rootNode"
      type="gw.api.tree.RowTreeRootNode"/>
    <Screen>
      <Toolbar>
        <TreeButtons
          iterator="WorksheetTree"/>
        <ToolbarButton
          action="showConditionals = !showConditionals; rootNode = gw.rating.worksheet.WorksheetUIHelper.getWorksheetRootNode(policyLine, showConditionals)"
          id="ShowHideConditionalsButton"
          label="showConditionals ? displaykey.Button.Worksheet.HideConditionals : displaykey.Button.Worksheet.ShowConditionals"/>
      </Toolbar>
      <ListViewPanel
        alternateEntryStyle="false"
        id="WorksheetLV">
        <RowTree
          containerLabel="node.Description"
          containerLabelColspan="8"
          containerType="gw.rating.worksheet.treenode.WorksheetTreeNodeContainer"
          contentType="gw.rating.worksheet.treenode.WorksheetTreeNodeLeaf"
          elementName="node"
          id="WorksheetTree"
          pageSize="0"
          value="rootNode">
          <Row
            id="WorkSheetRow">
            <Cell
              enableSort="false"
              flex="7"
              id="Instruction"
              label="displaykey.Web.Policy.RatingWorksheet.Instruction"
              value="node.Instruction"/>
            <Cell
              enableSort="false"
              flex="6"
              id="Result"
              label="displaykey.Web.Policy.RatingWorksheet.Result"
              value="gw.rating.worksheet.WorksheetUIHelper.format(node.Result)"/>
            <Cell
              align="center"
              enableSort="false"
              flex="5"
              id="Op"
              label="displaykey.Web.Policy.RatingWorksheet.Operator"
              value="node.Operator"
              width="25"/>
            <Cell
              enableSort="false"
              flex="4"
              id="LeftParen"
              label="displaykey.Web.Policy.RatingWorksheet.LeftParentheses"
              value="node.LeftParenthesesGroup"
              width="15"/>
            <Cell
              enableSort="false"
              flex="3"
              id="Operand"
              label="displaykey.Web.Policy.RatingWorksheet.Operand"
              value="node.Operand"/>
            <Cell
              enableSort="false"
              flex="2"
              id="RightParen"
              label="displaykey.Web.Policy.RatingWorksheet.RightParentheses"
              value="node.RightParenthesesGroup"
              width="15"/>
            <Cell
              enableSort="false"
              flex="1"
              id="OperandValue"
              label="displaykey.Web.Policy.RatingWorksheet.OperandValue"
              value="node.OperandValue"/>
          </Row>
        </RowTree>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>