<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="PriorHistoryDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <Label
        label="displaykey.Web.Policy.PriorHistory.PriorPolicies"/>
      <ListViewInput
        labelAbove="true">
        <Toolbar>
          <IteratorButtons
            iterator="PriorPolicyLV"/>
        </Toolbar>
        <ListViewPanel
          id="PriorPolicyLV">
          <RowIterator
            editable="true"
            elementName="priorPolicy"
            hasCheckBoxes="true"
            hideCheckBoxesIfReadOnly="true"
            toCreateAndAdd="var pp = new PriorPolicy(); policyPeriod.Policy.addToPriorPolicies(pp); return pp;"
            toRemove="policyPeriod.Policy.removeFromPriorPolicies(priorPolicy)"
            value="policyPeriod.Policy.PriorPolicies">
            <Row>
              <TextCell
                editable="true"
                footerLabel="displaykey.Web.Policy.PriorPolicy.Sum"
                id="Carrier"
                label="displaykey.Web.Policy.PriorPolicy.Carrier"
                numCols="20"
                value="priorPolicy.Carrier"/>
              <TextCell
                editable="true"
                id="PolicyNumber"
                label="displaykey.Web.Policy.PriorPolicy.PolicyNumber"
                numCols="15"
                value="priorPolicy.PolicyNumber"/>
              <DateCell
                editable="true"
                id="EffectiveDate"
                label="displaykey.Web.Policy.PriorPolicy.EffectiveDate"
                required="true"
                value="priorPolicy.EffectiveDate"/>
              <DateCell
                editable="true"
                id="ExpirationDate"
                label="displaykey.Web.Policy.PriorPolicy.ExpirationDate"
                value="priorPolicy.ExpirationDate"/>
              <MonetaryAmountCell
                align="right"
                currency="policyPeriod.PreferredSettlementCurrency"
                editable="true"
                footerSumValue="priorPolicy.AnnualPremium"
                formatType="currency"
                id="AnnualPremium"
                label="displaykey.Web.Policy.PriorPolicy.AnnualPremium"
                numCols="8"
                value="priorPolicy.AnnualPremium"/>
              <TextCell
                align="right"
                editable="true"
                footerSumValue="priorPolicy.NumLosses"
                id="NumLosses"
                label="displaykey.Web.Policy.PriorPolicy.NumLosses"
                numCols="6"
                value="priorPolicy.NumLosses"/>
              <MonetaryAmountCell
                align="right"
                currency="policyPeriod.PreferredSettlementCurrency"
                editable="true"
                footerSumValue="priorPolicy.TotalLosses"
                formatType="currency"
                id="TotalLosses"
                label="displaykey.Web.Policy.PriorPolicy.TotalLosses"
                numCols="8"
                value="priorPolicy.TotalLosses"/>
              <TextCell
                align="right"
                editable="true"
                formatType="general"
                id="ExpMod"
                label="displaykey.Web.Policy.PriorPolicy.ExpMod"
                numCols="8"
                value="priorPolicy.ExpMod"
                visible="policyPeriod.HasWorkersComp"/>
            </Row>
          </RowIterator>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>