<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    id="SubmissionWizard_MultiLine_QuoteScreen"
    mode="CommercialPackage">
    <Require
      name="submission"
      type="Submission"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="policyPeriod.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, submission, jobWizardHelper)"/>
      <ToolbarButton
        action="policyPeriod.printDocument(&quot;SubmissionQuote&quot;, &quot;Submission Quote&quot;)"
        download="true"
        id="CreateSubmissionQuote"
        label="displaykey.Button.PrintQuote"
        shortcut="P"/>
    </Toolbar>    
    <PanelRef
      def="Common_MultiLine_QuoteScreenPanelSet(policyPeriod, isEditable, jobWizardHelper, false)"
      mode="&quot;CommercialPackage&quot;"/>
  </Screen>
</PCF>