<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <MenuItemSet
    id="WizardActionsMenuItemSet"
    mode="Submission">
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="job"
      type="Job"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <MenuItem
      action="SubmissionManager.go(job.Policy.Account)"
      id="SubmissionInfo"
      label="displaykey.Web.JobWizard.ToSubmissionManager"/>
  </MenuItemSet>
</PCF>