<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <MenuItemSet
    id="PolicyMenuItemSet"
    mode="PersonalAuto">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <MenuItem
      action="PolicyFile_PolicyInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_PolicyInfo"
      label="displaykey.Web.PolicyFile.PolicyInfo"/>
    <MenuItem
      action="PolicyFile_PersonalAuto_Drivers.go(period, asOfDate)"
      id="PolicyMenuItemSet_Drivers"
      label="displaykey.Web.PolicyFile.Drivers"/>
    <MenuItem
      action="PolicyFile_PersonalAuto_Vehicles.go(period, asOfDate)"
      id="PolicyMenuItemSet_Vehicles"
      label="displaykey.Web.PolicyFile.Vehicles"/>
    <MenuItem
      action="PolicyFile_PersonalAuto.go(period, asOfDate)"
      id="PolicyMenuItemSet_PersonalAuto"
      label="displaykey.Web.Policy.PA.Title"/>
    <MenuItem
      action="PolicyFile_Pricing.go(period, asOfDate)"
      id="PolicyMenuItemSet_Pricing"
      label="displaykey.Web.PolicyFile.Pricing"/>
    <MenuItem
      action="PolicyFile_Forms_PA.go(period, asOfDate)"
      id="PolicyMenuItemSet_Endorsements"
      label="displaykey.Web.PolicyFile.Endorsements"/>
  </MenuItemSet>
</PCF>