<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Popup
    afterCommit="gw.web.account.submgr.DeclineReasonPopupUIHelper.declineSubmission(submission, policyPeriod, wizard)"
    canEdit="true"
    canVisit="perm.Submission.edit(submission)"
    countsAsWork="false"
    id="DeclineReasonPopup"
    startInEditMode="true"
    title="displaykey.Web.DeclinedReasonPopup">
    <LocationEntryPoint
      signature="DeclineReasonPopup(submission : Submission, policyPeriod : PolicyPeriod, wizard : pcf.api.Wizard)"/>
    <Variable
      name="submission"
      type="Submission"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="wizard"
      type="pcf.api.Wizard"/>
    <Screen
      id="RejectScreen">
      <Toolbar>
        <EditButtons
          editVisible="false"
          updateLabel="displaykey.Job.Operation.Declining"/>
      </Toolbar>
      <PanelRef
        def="RejectReasonDV(submission, &quot;Declination&quot;)"/>
    </Screen>
  </Popup>
</PCF>