<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="SubmissionLetterSuccessDV">
    <Require
      name="account"
      type="Account"/>
    <InputColumn>
      <BulletPointTextInput
        action="SubmissionManager.go(account)"
        id="SubmissionManager"
        value="displaykey.Web.SubmissionLetterSuccess.SubmissionManager"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>