<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="SubmissionLetterSuccessEmailLV">
    <Require
      name="account"
      type="Account"/>
    <Variable
      initialValue="Job.finder.findSelectedSubmissionsByAccount(account).toCollection().toTypedArray()"
      name="submissions"
      type="Submission[]"/>
    <RowIterator
      editable="false"
      elementName="producer"
      pageSize="0"
      value="AllProducers">
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.SubmissionLetterSuccessEmailLV.Name"
          sortOrder="1"
          value="producer.Contact"/>
        <Cell
          formatType="email"
          id="Email1"
          label="displaykey.Web.SubmissionLetterSuccessEmailLV.Email1"
          value="producer.Contact.EmailAddress1"/>
        <Cell
          formatType="email"
          id="Email2"
          label="displaykey.Web.SubmissionLetterSuccessEmailLV.Email2"
          value="producer.Contact.EmailAddress2"/>
      </Row>
    </RowIterator>
    <Code><![CDATA[property get AllProducers() : User[] {
    return submissions*.RoleAssignments
                           .where( \ u -> u.Role == "Producer" and u.AssignedUser != null)
                           .map( \ u -> u.AssignedUser )
                           .toSet() as User[]
  }]]></Code>
  </ListViewPanel>
</PCF>