<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="CopyPolicyDV"
    mode="default">
    <Require
      name="copier"
      type="gw.policy.PolicyPeriodCopier"/>
    <InputColumn>
      <ListViewInput>
        <Toolbar/>
        <ListViewPanel>
          <Row>
            <Cell
              id="toDo"
              value="displaykey.Web.CopyPolicyData.CopyDataSelect.LineNotImplemented"/>
          </Row>
        </ListViewPanel>
      </ListViewInput>
    </InputColumn>
  </DetailViewPanel>
</PCF>