<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canVisit="perm.System.searchaccounts"
    id="AccountSearchPopup"
    returnType="Account"
    title="displaykey.Web.AccountSearch.Title">
    <LocationEntryPoint
      signature="AccountSearchPopup()"/>
    <LocationEntryPoint
      signature="AccountSearchPopup(relatedToAccount : Account)"/>
    <Variable
      name="relatedToAccount"
      type="Account"/>
    <ScreenRef
      def="AccountSearchScreen(relatedToAccount)"/>
  </Popup>
</PCF>