<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="AccountSearchScreen">
    <Require
      name="relatedToAccount"
      type="Account"/>
    <SearchPanel
      criteriaName="searchCriteria"
      maxSearchResults="100"
      resultCachingEnabled="false"
      resultsName="accountSummaries"
      search="searchCriteria.performSearch()"
      searchCriteria="new gw.account.AccountSearchCriteria() {:Secure = true, :RestrictiveMinimumSearchCriteriaForPersonName = true, :FirstNameExact = true, :LastNameExact = true, :CompanyNameExact = true}"
      searchResultsType="AccountSummaryQuery">
      <PanelRef
        def="AccountSearchDV(searchCriteria, relatedToAccount)"/>
      <PanelRef
        def="AccountSearchResultsLV(accountSummaries)">
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.Search.Results"/>
        <Toolbar>
          <ToolbarButton
            action="gw.api.print.ListViewPrintOptionPopupAction.printListViewOnlyWithOptions( &quot;AccountSearchResultsLV&quot; )"
            id="PrintMe"
            label="displaykey.Web.PolicySearch.Export"/>
        </Toolbar>
      </PanelRef>
    </SearchPanel>
  </Screen>
</PCF>