<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="AccountSearchResultsLV">
    <Require
      name="accountSummaries"
      type="AccountSummaryQuery"/>
    <RowIterator
      editable="false"
      elementName="accountSummary"
      pickValue="accountSummary.Account"
      value="accountSummaries">
      <Row>
        <Cell
          action="AccountFileDoRetrievalForward.go(accountSummary.AccountNumber)"
          available="perm.Account.view(accountSummary.Account)"
          id="AccountNumber"
          label="displaykey.Web.AccountSearchResults.AccountNumber"
          value="accountSummary.AccountNumber"/>
        <Cell
          id="Name"
          label="displaykey.Web.AccountSearchResults.Name"
          value="accountSummary.AccountHolderName"
          wrap="true"/>
        <Cell
          enableSort="false"
          id="Address"
          label="displaykey.Web.AccountSearchResults.Address"
          value="accountSummary.AccountHolderAddress"
          width="500"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>