<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.searchactivities"
    countsAsWork="false"
    id="ActivitySearch"
    title="displaykey.Web.ActivitySearch.Title">
    <LocationEntryPoint
      signature="ActivitySearch()"/>
    <LocationEntryPoint
      signature="ActivitySearch(activityStatus : ActivityStatus)"/>
    <LocationEntryPoint
      signature="ActivitySearch(user : UserBase, activityStatus : ActivityStatus)"/>
    <Variable
      name="user"
      type="UserBase"/>
    <Variable
      name="activityStatus"
      type="ActivityStatus"/>
    <Screen
      id="ActivitySearchScreen">
      <SearchPanel
        criteriaName="searchCriteria"
        resultsName="searchResult"
        search="searchCriteria.performSearch()"
        searchCriteria="var c = new gw.activity.ActivitySearchCriteria(); c.SearchedActivityStatus = activityStatus; c.SearchedAssignedUser = user; return c;"
        searchResultsType="ActivityQuery">
        <PanelRef
          def="ActivitySearchDV(searchCriteria)"/>
        <PanelRef
          def="ActivitiesSearchLV(searchResult, searchCriteria.PolicyNumber)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.ActivitySearch.Results"/>
          <Toolbar>
            <ToolbarButton
              action="gw.api.print.ListViewPrintOptionPopupAction.printListViewOnlyWithOptions( &quot;ActivitiesSearchLV&quot; )"
              id="PrintMe"
              label="displaykey.Web.PolicySearch.Export"/>
            <ToolbarDivider/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="AssignActivitiesPopup.push(new web.activity.ActivityAssignmentPopup(CheckedValues, gw.assignment.AssignmentUtil.DefaultUser))"
              flags="all canAssignActivity"
              id="ActivitySearch_AssignButton"
              iterator="ActivitiesSearchLV.ActivitiesSearchLV"
              label="displaykey.Web.ActivitySearch.Results.Assign"
              shortcut="A"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="web.activity.ActivityUtil.skipActivities(CheckedValues)"
              flags="all canSkipActivity"
              id="ActivitySearch_SkipButton"
              iterator="ActivitiesSearchLV.ActivitiesSearchLV"
              label="displaykey.Web.ActivitySearch.Results.Skip"
              shortcut="I"/>
            <CheckedValuesToolbarButton
              allCheckedRowsAction="web.activity.ActivityUtil.completeActivities(CheckedValues)"
              flags="all canCompleteActivity"
              id="ActivitySearch_CompleteButton"
              iterator="ActivitiesSearchLV.ActivitiesSearchLV"
              label="displaykey.Web.ActivitySearch.Results.Complete"
              shortcut="O"/>
            <ToolbarDivider/>
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Page>
</PCF>