<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="ActivitySearchDV">
    <Require
      name="searchCriteria"
      type="gw.activity.ActivitySearchCriteria"/>
    <InputColumn>
      <Label
        label="displaykey.Web.ActivitySearch.RequiredCriteria"/>
      <Input
        editable="true"
        id="AssignedUser"
        label="displaykey.Web.ActivitySearch.AssignedUser"
        value="searchCriteria.SearchedAssignedUser"/>
      <Input
        editable="true"
        id="PolicyNumber"
        label="displaykey.Web.ActivitySearch.PolicyNumber"
        required="false"
        value="searchCriteria.PolicyNumber"/>
      <Input
        editable="true"
        id="AccountNumber"
        label="displaykey.Web.ActivitySearch.AccountNumber"
        required="false"
        value="searchCriteria.AccountNumber"/>
    </InputColumn>
    <InputColumn>
      <Label
        label="displaykey.Web.ActivitySearch.OptionalCriteria"/>
      <TypeKeyInput
        editable="true"
        id="ActivityStatus"
        label="displaykey.Web.ActivitySearch.ActivityStatus"
        value="searchCriteria.SearchedActivityStatus"/>
      <TypeKeyInput
        editable="true"
        id="ActivityPriority"
        label="displaykey.Web.ActivitySearch.ActivityPriority"
        value="searchCriteria.SearchedPriority"/>
      <BooleanDropdownInput
        editable="true"
        id="OverdueNow"
        label="displaykey.Web.ActivitySearch.OverdueNow"
        required="false"
        value="searchCriteria.OverdueNow"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>