<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="BranchesSearchLV">
    <Require
      name="branches"
      type="GroupQuery"/>
    <RowIterator
      editable="false"
      elementName="branch"
      pickValue="branch"
      value="branches">
      <Row>
        <Cell
          id="Name"
          label="displaykey.Web.BranchesSearch.BranchName"
          value="branch.Name"/>
        <Cell
          id="BranchCode"
          label="displaykey.Web.BranchesSearch.BranchCode"
          value="branch.BranchCode"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>