<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="ContactSearch"
    title="displaykey.Web.ContactSearch.Title">
    <ScreenRef
      def="ContactSearchScreen({typekey.Contact.TC_COMPANY, typekey.Contact.TC_PERSON}, null, true)"/>
  </Page>
</PCF>