<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="DocumentTemplateSearchPopup"
    returnType="gw.plugin.document.IDocumentTemplateDescriptor"
    title="displaykey.Web.TabBar.Search.DocumentTemplates">
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup()"/>
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup(account : Account)"/>
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup(policyPeriod : PolicyPeriod, account : Account)"/>
    <LocationEntryPoint
      signature="DocumentTemplateSearchPopup(symbolNames : java.util.Set&lt;String&gt;)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      name="symbolNames"
      type="java.util.Set&lt;String&gt;"/>
    <Screen
      id="DocumentTemplateSearchScreen">
      <Toolbar>
        <!-- <EditButtons
          editVisible="false"
          updateVisible="false"/> -->
      </Toolbar>
      <SearchPanel
        criteriaName="documentTemplateSearchCriteria"
        resultCachingEnabled="false"
        resultsName="documentTemplateSearchResultsList"
        search="symbolNames != null ? documentTemplateSearchCriteria.performSearch(symbolNames) : documentTemplateSearchCriteria.performSearch(new gw.document.LocationSymbolProvider(CurrentLocation))"
        searchCriteria="new DocumentTemplateSearchCriteria()"
        searchOnEnter="true"
        searchResultsType="gw.plugin.document.IDocumentTemplateDescriptor[]">
        <PanelRef
          def="DocumentTemplateSearchDV(documentTemplateSearchCriteria)"/>
        <PanelRef
          def="DocumentTemplateSearchResultsLV(documentTemplateSearchResultsList)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar>
            <!-- <EditButtons
              editVisible="false"
              updateVisible="false"/> -->
          </Toolbar>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>