<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="IndustryCodeSearchResultsLV">
    <Require
      name="industryCodes"
      type="IndustryCodeQuery"/>
    <RowIterator
      editable="false"
      elementName="industryCode"
      pickValue="industryCode"
      value="industryCodes">
      <Row>
        <Cell
          id="Code"
          label="displaykey.Web.IndustryCodeSearch.Code"
          value="industryCode.Code"/>
        <Cell
          align="left"
          id="Classification"
          label="displaykey.Web.IndustryCodeSearch.Classification"
          value="industryCode.Classification"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>