<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    canVisit="perm.System.searchpols"
    countsAsWork="false"
    id="PolicySearch"
    title="displaykey.Web.PolicySearch.Title">
    <LocationEntryPoint
      signature="PolicySearch()"/>
    <LocationEntryPoint
      signature="PolicySearch(errorMessage : String)"/>
    <Variable
      name="errorMessage"
      type="String"/>
    <Variable
      initialValue="gw.web.admin.SearchUIHelper.populateErrorMessage(errorMessage)"
      name="checkedErrorMessage"
      recalculateOnRefresh="true"/>
    <ScreenRef
      def="PolicySearchScreen()"/>
  </Page>
</PCF>