<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="ProducerCodeSearchPopup"
    returnType="ProducerCode"
    title="displaykey.Web.ProducerCodeSearch">
    <LocationEntryPoint
      signature="ProducerCodeSearchPopup()"/>
    <LocationEntryPoint
      signature="ProducerCodeSearchPopup(producer : Organization)"/>
    <LocationEntryPoint
      signature="ProducerCodeSearchPopup(producer : Organization, forUse : ProducerStatusUse)"/>
    <Variable
      name="producer"
      type="Organization"/>
    <Variable
      name="forUse"
      type="ProducerStatusUse"/>
    <ScreenRef
      def="ProducerCodeSearchScreen(producer, forUse, false)"/>
  </Popup>
</PCF>