<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="RiskClassSearchResultsLV">
    <Require
      name="riskClasses"
      type="RiskClassQuery"/>
    <Require
      name="policyLinePattern"
      type="gw.api.productmodel.PolicyLinePattern"/>
    <RowIterator
      editable="false"
      elementName="riskClass"
      pickValue="riskClass"
      value="riskClasses">
      <Row>
        <TextCell
          id="Hazard"
          label="displaykey.Web.RiskClassSearch.Hazard"
          numCols="3"
          value="riskClass.Hazard"/>
        <Cell
          align="left"
          id="Description"
          label="displaykey.Web.RiskClassSearch.Description"
          value="riskClass.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>