<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="RiskClassSearchDV">
    <Require
      name="searchCriteria"
      type="gw.lob.common.RiskClassSearchCriteria"/>
    <InputColumn>
      <Input
        editable="true"
        id="Description"
        label="displaykey.Web.RiskClassSearch.Description"
        required="false"
        value="searchCriteria.Description"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>