<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <!-- LocationGroup for the "Search" tab pages -->
  <LocationGroup
    id="Search"
    title="displaykey.Web.Search.LocationGroup.Title">
    <LocationEntryPoint
      signature="Search()"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Policies"
      location="PolicySearch()"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Accounts"
      location="AccountSearch()"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.ProducerCodes"
      location="ProducerCodeSearch()"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Activities"
      location="ActivitySearch()"/>
    <LocationRef
      label="displaykey.Web.TabBar.Search.Contacts"
      location="ContactSearch()"/>
  </LocationGroup>
</PCF>