<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    available="true"
    editable="true"
    id="SolrPolicySearchPanelSet"
    visible="true">
    <Variable
      initialValue="gw.api.system.PCDependenciesGateway.getProductModel().getAllInstances(gw.api.productmodel.Product) as gw.api.productmodel.Product[]"
      name="allProducts"/>
    <Variable
      initialValue="false"
      name="showDetailColumn"/>
    <Variable
      initialValue="new gw.pcf.ProductSearchHelper(allProducts)"
      name="helper"/>
    <SearchPanel
      criteriaName="searchCriteria"
      resultsName="searchResults"
      search="searchCriteria.performSearch()"
      searchCriteria="new gw.solr.SolrPolicySearchCriteria()"
      searchResultsType="java.util.List&lt;gw.solr.SolrPolicyResultDocument&gt;">
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.PolicySearch.Solr.MinimumSearchCriteria"/>
        </InputColumn>
      </DetailViewPanel>
      <DetailViewPanel>
        <InputColumn>
          <InputSet>
            <TextInput
              editable="true"
              id="searchPolicy"
              label="displaykey.Web.PolicySearch.Solr.Policy"
              required="false"
              value="searchCriteria.PolicyCriteria"/>
            <TextInput
              editable="true"
              id="searchName"
              label="displaykey.Web.PolicySearch.Solr.Name"
              required="false"
              value="searchCriteria.NameCriteria"/>
            <TextInput
              editable="true"
              id="searchPhone"
              label="displaykey.Web.PolicySearch.Solr.Phone"
              required="false"
              value="searchCriteria.PhoneCriteria"/>
            <Input
              editable="true"
              id="searchOfficialId"
              label="displaykey.Web.PolicySearch.Solr.OfficialId"
              required="false"
              value="searchCriteria.OfficialIdCriteria"/>
            <InputDivider/>
            <Label
              label="displaykey.Web.PolicySearch.Solr.Address"/>
            <TextInput
              editable="true"
              id="searchStreet"
              label="displaykey.Web.PolicySearch.Solr.Street"
              required="false"
              value="searchCriteria.StreetCriteria"/>
            <TextInput
              editable="true"
              id="searchCity"
              label="displaykey.Web.PolicySearch.Solr.City"
              required="false"
              value="searchCriteria.CityCriteria"/>
            <TypeKeyInput
              editable="true"
              id="searchState"
              label="displaykey.Web.PolicySearch.Solr.State"
              required="false"
              value="searchCriteria.StateCriteria"/>
            <Input
              editable="true"
              id="searchPostalCode"
              label="displaykey.Web.PolicySearch.Solr.PostalCode"
              required="false"
              value="searchCriteria.PostalCodeCriteria"/>
          </InputSet>
        </InputColumn>
        <InputColumn>
          <Label
            label="displaykey.Web.PolicySearch.Solr.Filter"/>
          <RangeInput
            editable="true"
            id="searchProduct"
            label="displaykey.Web.PolicySearch.Solr.Product"
            optionLabel="helper.getUniqueProductDisplayName(VALUE)"
            value="searchCriteria.ProductCriteria"
            valueRange="allProducts"/>
          <TypeKeyInput
            editable="true"
            id="searchJurisdiction"
            label="displaykey.Web.PolicySearch.Solr.Jurisdiction"
            required="false"
            value="searchCriteria.JurisdictionCriteria"/>
          <OrgInput
            editable="not User.util.CurrentUser.ExternalUser"
            id="searchProducer"
            label="displaykey.Web.PolicySearch.Solr.Producer"
            pickLocation="OrganizationSearchPopup.push(null, true)"
            required="false"
            value="searchCriteria.ProducerCriteria"/>
          <ProducerCodeInput
            editable="true"
            id="searchProducerCode"
            label="displaykey.Web.PolicySearch.Solr.ProducerCode"
            pickLocation="ProducerCodeSearchPopup.push()"
            required="false"
            value="searchCriteria.ProducerCodeCriteria"/>
          <DateInput
            editable="true"
            id="InForceOnDate"
            label="displaykey.Web.PolicySearch.Solr.InForceDate"
            value="searchCriteria.InForceOnDateCriteria"/>
          <InputDivider/>
        </InputColumn>
        <InputFooterSection>
          <InputSetRef
            def="SearchAndResetInputSet()"/>
        </InputFooterSection>
      </DetailViewPanel>
      <PanelRef>
        <TitleBar
          appendListViewPaging="true"
          title="displaykey.Web.PolicySearch.Results"/>
        <Toolbar
          id="SearchResultsToolbar"/>
        <PanelSet>
          <ListViewPanel
            id="solrResultsLV">
            <RowIterator
              editable="false"
              elementName="result"
              pageSize="10"
              value="searchResults">
              <IteratorSort
                sortBy="result.Rank"
                sortOrder="1"/>
              <Row>
                <Cell
                  icon="gw.pcf.solr.SolrPolicySearchHelper.getIcon(result)"
                  iconLabel="gw.pcf.solr.SolrPolicySearchHelper.getIconLabel(result)"
                  id="rowIcon"
                  showHeaderIcon="false"
                  value="true"/>
                <Cell
                  id="rank"
                  label="displaykey.Web.PolicySearch.Solr.Result.Rank"
                  value="result.Rank"
                  width="75"/>
                <Cell
                  id="Score"
                  label="displaykey.Web.PolicySearch.Solr.Result.Score"
                  value="result.Score"
                  visible="false"/>
                <Cell
                  action="gw.pcf.solr.SolrPolicySearchHelper.navigateToPolicyOrJob(result)"
                  id="PolicyNumber"
                  label="displaykey.Web.PolicySearch.Solr.Result.Policy"
                  value="result.PolicyNumberDisplayString"
                  width="125"/>
                <LinkCell
                  id="Insured"
                  label="displaykey.Web.PolicySearch.Solr.Result.InsuredName"
                  sortBy="result.PrimaryInsuredName"
                  width="200"
                  wrap="true">
                  <Link
                    id="InsuredName"
                    label="result.PrimaryInsuredName"/>
                  <Link
                    icon="&quot;info.png&quot;"
                    id="InsuredIcon"
                    tooltip="result.AdditionalInsureds.join(&quot;, &quot;)"
                    visible="result.AdditionalInsureds.HasElements"/>
                </LinkCell>
                <Cell
                  id="PolicyAddress"
                  label="displaykey.Web.PolicySearch.Solr.Result.Address"
                  value="result.PolicyAddress"
                  width="200"
                  wrap="true"/>
                <Cell
                  id="Product"
                  label="displaykey.Web.PolicySearch.Solr.Result.Product"
                  value="allProducts.singleWhere(\ p -&gt; p.Code == result.ProductCode).DisplayName"/>
                <Cell
                  id="Status"
                  label="displaykey.Web.PolicySearch.Solr.Result.Status"
                  value="result.JobType == &quot;Cancellation&quot; ? displaykey.Web.PolicySearch.Solr.Result.CanceledStatus : result.PeriodStatus"
                  visible="true"
                  width="100"
                  wrap="true"/>
                <Cell
                  id="EffectiveDate"
                  label="displaykey.Web.PolicySearch.Solr.Result.Effective"
                  value="result.PeriodStart"
                  width="150"
                  wrap="true"/>
                <Cell
                  id="ExpirationDate"
                  label="displaykey.Web.PolicySearch.Solr.Result.Expiration"
                  value="result.PeriodEnd"
                  width="150"
                  wrap="true"/>
                <Cell
                  id="Producer"
                  label="displaykey.Web.PolicySearch.Solr.Result.Producer"
                  value="result.Producer + &quot;\n&quot; + result.ProducerCodeOfService"
                  wrap="true"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </PanelSet>
      </PanelRef>
    </SearchPanel>
  </PanelSet>
</PCF>