<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <RowSet
    id="StateCostRowSet"
    mode="default">
    <Require
      name="costWrapper"
      type="ui.CostWrapper"/>
    <Variable
      initialValue="costWrapper.Cost as WCCost"
      name="aggCost"/>
    <Row
      id="AggCostRow"
      visible="costWrapper.Visible">
      <Cell
        id="LocNumber"
        value="costWrapper.LocNumber"/>
      <Cell
        id="ClassCode"
        value="aggCost.ClassCode"/>
      <Cell
        id="Description"
        value="aggCost.Description"
        width="250"
        wrap="true"/>
      <Cell
        align="right"
        id="Basis"
        value="aggCost.Basis == null or aggCost.Basis == 0 ? &quot;&quot; : aggCost.Basis.DisplayValue"/>
      <TextCell
        align="right"
        format="&quot;0.0000&quot;"
        id="Rate"
        value="aggCost.ActualAdjRate.DisplayValue"/>
      <MonetaryAmountCell
        align="right"
        formatType="currency"
        id="TermAmount"
        numCols="6"
        value="aggCost.ActualAmountBilling"/>
    </Row>
  </RowSet>
</PCF>