<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="StateCostsLV">
    <Require
      name="stateCosts"
      type="ui.CostWrapper[]"/>
    <Row
      renderAsSmartHeader="true">
      <Cell
        id="LocationNum"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Loc"/>
      <Cell
        id="ClassCode"
        value="displaykey.Web.Quote.CumulDetail.Default.ClassCode"/>
      <Cell
        id="Description"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Desc"/>
      <Cell
        id="Basis"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Basis"/>
      <Cell
        id="Rate"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Rate"/>
      <Cell
        id="Amount"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Amount"/>
    </Row>
    <RowIterator
      editable="false"
      elementName="aggCost"
      pageSize="0"
      value="stateCosts">
      <IteratorSort
        sortBy="aggCost.Order"
        sortOrder="1"/>
      <RowSetRef
        def="StateCostRowSet(aggCost)"
        mode="aggCost.Mode"/>
    </RowIterator>
  </ListViewPanel>
</PCF>