<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <DetailViewPanel
    id="TaxLocationSearchDV">
    <Require
      name="searchCriteria"
      type="gw.lob.common.TaxLocationSearchCriteria"/>
    <Variable
      initialValue="new gw.globalization.TaxLocationSearchAdapter(searchCriteria)"
      name="taxLocSearchAdapter"
      recalculateOnRefresh="true"/>
    <InputColumn>
      <Input
        editable="true"
        id="Code"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.Code"
        value="searchCriteria.Code"/>
      <InputSetRef
        def="AddressOwnerAddressInputSet(new gw.pcf.contacts.TaxLocationAddressSearchOwner(taxLocSearchAdapter))"/>
      <Input
        editable="true"
        id="TLPrefix"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.TLPrefix"
        value="searchCriteria.TaxLocationPrefix"/>
      <Input
        editable="true"
        id="Description"
        label="displaykey.Web.Policy.LocationContainer.Location.TaxLocationSearchDV.Description"
        value="searchCriteria.Description"/>
    </InputColumn>
    <InputFooterSection>
      <InputSetRef
        def="SearchAndResetInputSet()"/>
    </InputFooterSection>
  </DetailViewPanel>
</PCF>