<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    countsAsWork="false"
    id="TerritoryCodeSearchPopup"
    returnType="String"
    title="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.PageTitle">
    <LocationEntryPoint
      signature="TerritoryCodeSearchPopup(policyPeriod : PolicyPeriod, territoryCode : TerritoryCode)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      name="territoryCode"
      type="TerritoryCode"/>
    <Screen
      editable="true"
      id="TerritoryCodeSearchScreen">
      <SearchPanel
        cachingEnabled="false"
        clearInvisibleInputs="true"
        criteriaName="searchCriteria"
        resultsName="searchResults"
        search="territoryCode.getTerritoryCodes(searchCriteria)"
        searchCriteria="territoryCode.createLookupCriteria()"
        searchOnEnter="true"
        searchResultsType="Territory[]">
        <DetailViewPanel
          id="TerritoryCodeSearchDV">
          <Variable
            initialValue="new gw.globalization.TerritoryCodeSearchAdapter(searchCriteria)"
            name="territoryCodeSearchAdapter"
            recalculateOnRefresh="true"/>
          <Variable
            initialValue="new gw.pcf.contacts.TerritoryCodeAddressSearchOwner(territoryCodeSearchAdapter)"
            name="territoryOwner"
            recalculateOnRefresh="true"/>
          <InputColumn>
            <InputSetRef
              def="AddressOwnerAddressInputSet(territoryOwner)"/>
            <Input
              editable="true"
              id="Code"
              label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.Code"
              value="searchCriteria.Code"/>
            <Input
              editable="true"
              id="Description"
              label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.Description"
              value="searchCriteria.Description"/>
          </InputColumn>
          <InputFooterSection>
            <InputSetRef
              def="SearchAndResetInputSet()"/>
          </InputFooterSection>
        </DetailViewPanel>
        <PanelRef
          def="TerritoryCodeSearchResultsLV(searchResults)">
          <TitleBar
            appendListViewPaging="true"
            title="displaykey.Web.Search.Results"/>
          <Toolbar/>
        </PanelRef>
      </SearchPanel>
    </Screen>
  </Popup>
</PCF>