<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="TerritoryCodeSearchResultsLV">
    <Require
      name="searchResults"
      type="Territory[]"/>
    <RowIterator
      editable="false"
      elementName="territory"
      pickValue="territory.Code"
      value="searchResults">
      <Row>
        <Cell
          id="Code"
          label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.Code"
          value="territory.Code"/>
        <Cell
          id="State"
          label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.State"
          value="territory.State"/>
        <Cell
          id="City"
          label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.City"
          value="territory.City"/>
        <Cell
          id="County"
          label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.County"
          value="territory.County"/>
        <Cell
          id="PostalCode"
          label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.PostalCode"
          value="territory.PostalCode"/>
        <Cell
          id="Description"
          label="displaykey.Web.Policy.LocationContainer.Location.TerritoryCodeSearch.Description"
          value="territory.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>