<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="WCOptionCardPanelSet"
    mode="WaiversOfSubrogation">
    <Require
      name="wcLine"
      type="WorkersCompLine"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSet
          id="WCWaiverOfSubroInputSet">
          <ListViewInput
            editable="true"
            labelAbove="true"
            visible="true">
            <Toolbar>
              <IteratorButtons
                addLabel="displaykey.Web.Policy.WC.AddBlanket"
                iterator="WCBlanketWaiverOfSubroLV"/>
            </Toolbar>
            <ListViewPanel
              id="WCBlanketWaiverOfSubroLV">
              <RowIterator
                editable="true"
                elementName="wCBlanketWaiverOfSubro"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                numEntriesRequired="0"
                toCreateAndAdd="wcLine.createAndAddWCWaiverOfSubro(&quot;blanket&quot;)"
                toRemove="wcLine.removeFromWCWaiverOfSubros(wCBlanketWaiverOfSubro)"
                type="WCWaiverOfSubro"
                validationLabel="displaykey.Web.Policy.WC.CovEmp"
                value="wcLine.WCWaiverOfSubros.where(\w -&gt; w.Type == &quot;blanket&quot;)">
                <Row>
                  <TextCell
                    editable="true"
                    id="Description"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.Description"
                    numCols="20"
                    required="true"
                    value="wCBlanketWaiverOfSubro.Description"/>
                  <RangeCell
                    align="left"
                    editable="true"
                    id="State"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.State"
                    required="true"
                    value="wCBlanketWaiverOfSubro.State"
                    valueRange="(wcLine.Jurisdictions*.State).sortBy(\s -&gt; s.Code)">
                    <PostOnChange/>
                  </RangeCell>
                  <TypeKeyCell
                    align="left"
                    editable="true"
                    filter="VALUE.hasCategory(&quot;WorkersComp&quot; as LiabilityAct)"
                    id="WCLaw"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.WCLaw"
                    required="true"
                    value="wCBlanketWaiverOfSubro.SpecialCov"
                    width="150"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <ListViewInput
            editable="true"
            labelAbove="true"
            visible="true">
            <Toolbar>
              <IteratorButtons
                addLabel="displaykey.Web.Policy.WC.AddSpecific"
                iterator="WCWaiverOfSubroLV"/>
            </Toolbar>
            <ListViewPanel
              id="WCWaiverOfSubroLV">
              <RowIterator
                editable="true"
                elementName="wCWaiverOfSubro"
                hasCheckBoxes="true"
                hideCheckBoxesIfReadOnly="true"
                numEntriesRequired="0"
                toCreateAndAdd="wcLine.createAndAddWCWaiverOfSubro(typekey.WaiverOfSubrogationType.TC_SPECIFIC)"
                toRemove="wcLine.removeFromWCWaiverOfSubros(wCWaiverOfSubro)"
                type="WCWaiverOfSubro"
                validationLabel="displaykey.Web.Policy.WC.CovEmp"
                value="wcLine.WCWaiverOfSubros.where(\w -&gt; w.Type == typekey.WaiverOfSubrogationType.TC_SPECIFIC)">
                <Row>
                  <TextCell
                    editable="true"
                    id="Description"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.Description"
                    numCols="20"
                    required="true"
                    value="wCWaiverOfSubro.Description"/>
                  <TextCell
                    editable="true"
                    id="JobID"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.JobID"
                    numCols="10"
                    value="wCWaiverOfSubro.JobID"/>
                  <RangeCell
                    align="left"
                    editable="true"
                    id="State"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.State"
                    required="true"
                    value="wCWaiverOfSubro.State"
                    valueRange="(wcLine.Jurisdictions*.State).sortBy(\s -&gt; s.Code)"
                    width="100">
                    <PostOnChange/>
                  </RangeCell>
                  <RangeCell
                    align="left"
                    editable="(wCWaiverOfSubro.Type == &quot;specific&quot;) and                                    (wCWaiverOfSubro.State != null)"
                    id="ClassCode"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.ClassCode"
                    optionLabel="VALUE as java.lang.String"
                    required="true"
                    value="wCWaiverOfSubro.ClassCode"
                    valueRange="wcLine.getClassCodesForWCCoveredEmployees(gw.api.util.StateJurisdictionMappingUtil.getStateMappingForJurisdiction(wCWaiverOfSubro.State))"
                    width="150"/>
                  <TextCell
                    align="right"
                    editable="wCWaiverOfSubro.Type == &quot;specific&quot;"
                    id="AnnualPayroll"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.Payroll"
                    numCols="8"
                    required="true"
                    value="wCWaiverOfSubro.BasisAmount"/>
                  <TypeKeyCell
                    align="left"
                    editable="true"
                    filter="VALUE.hasCategory(&quot;WorkersComp&quot; as LiabilityAct)"
                    id="WCLaw"
                    label="displaykey.Web.Policy.WC.WaiversOfSubrogation.WCLaw"
                    required="true"
                    value="wCWaiverOfSubro.SpecialCov"
                    width="150"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputSet>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>
