<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <ListViewPanel
    id="WCRateTxDetailLV">
    <Require
      name="periodTxs"
      type="java.util.Set&lt;WCTransaction&gt;"/>
    <Variable
      initialValue="periodTxs.findByCostType( WCCovEmpCost )"
      name="covEmpTxs"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;WCTransaction&gt;"/>
    <Variable
      initialValue="periodTxs.findByCostType( WCJurisdictionCost )"
      name="aggTxs"
      recalculateOnRefresh="true"
      type="java.util.Set&lt;WCTransaction&gt;"/>
    <Row
      renderAsSmartHeader="true">
      <Cell
        id="LocationNum"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Loc"/>
      <Cell
        id="ClassCode"
        value="displaykey.Web.Quote.CumulDetail.Default.ClassCode"/>
      <Cell
        id="Description"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Desc"/>
      <Cell
        id="Basis"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Basis"/>
      <Cell
        id="Rate"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Rate"/>
      <Cell
        id="TxAmount"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Premium"/>
    </Row>
    <RowIterator
      editable="true"
      elementName="covEmpTx"
      pageSize="0"
      type="WCTransaction"
      value="covEmpTxs.toTypedArray()">
      <Variable
        initialValue="covEmpTx.WCCost as WCCovEmpCost"
        name="cost"/>
      <IteratorSort
        sortBy="covEmpTx.WCCost.LocationNum"
        sortOrder="1"/>
      <IteratorSort
        sortBy="covEmpTx.WCCost.ClassCode"
        sortOrder="2"/>
      <IteratorSort
        sortBy="covEmpTx.EffDate"
        sortOrder="3"/>
      <IteratorSort
        sortBy="covEmpTx.Proration"
        sortOrder="4"/>
      <Row
        id="CovEmpTxAmountRow"
        visible="not covEmpTx.AmountBilling.IsZero">
        <Cell
          id="LocationNum"
          value="cost.LocationNum"/>
        <Cell
          id="ClassCode"
          value="cost.ClassCode"/>
        <Cell
          id="Description"
          value="cost.Description"
          width="400"/>
        <Cell
          align="right"
          id="Basis"
          value="cost.Basis"/>
        <Cell
          align="right"
          id="ModifiedTermRate"
          value="cost.ActualAdjRate"/>
        <MonetaryAmountCell
          formatType="currency"
          id="TxAmount"
          value="covEmpTx.AmountBilling"/>
      </Row>
    </RowIterator>
    <RowIterator
      editable="true"
      elementName="aggTx"
      id="lt400"
      pageSize="0"
      type="WCTransaction"
      value="aggTxs.byCalcOrder( 0, 400 ).toTypedArray()">
      <IteratorSort
        sortBy="(aggTx.WCCost as WCJurisdictionCost).CalcOrder"
        sortOrder="1"/>
      <IteratorSort
        sortBy="aggTx.Proration"
        sortOrder="2"/>
      <RowSetRef
        def="WCRateTxDetailAggRowSet(aggTx)"/>
    </RowIterator>
    <Row>
      <Cell
        id="Empty37"/>
      <Cell
        id="Empty38"/>
      <Cell
        bold="true"
        id="DescriptionFoot300"
        value="displaykey.Web.SubmissionWizard.Quote.WC.Subtotal.StandardPremium"/>
      <Cell
        id="Empty41"/>
      <Cell
        id="Empty42"/>
      <Cell
        align="right"
        bold="true"
        id="TxAmountSubtotal300"
        value="util.StringUtil.formatNumber(periodTxs.byCalcOrder( 0, 400 )*.AmountBilling*.Amount.sum() as java.lang.Double, &quot;currency&quot;)"/>
    </Row>
  </ListViewPanel>
</PCF>