<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <InputSet
    id="WCRetroRatingPlanBasicInfoInputSet">
    <Require
      name="wCLine"
      type="WorkersCompLine"/>
    <Input
      editable="true"
      id="IncludeALAE"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.IncludeALAE"
      numCols="5"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.IncludeALAE"/>
    <Input
      editable="true"
      id="LossConversionFactor"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.LossConversionFactor"
      numCols="5"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.LossConversionFactor"/>
    <MonetaryAmountInput
      currency="wCLine.RetrospectiveRatingPlan.Currency"
      editable="true"
      id="LossLimitAmount"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.LossLimitAmount"
      numCols="5"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.LossLimitAmount"/>
    <MonetaryAmountInput
      currency="wCLine.RetrospectiveRatingPlan.Currency"
      editable="true"
      id="EstimatedStandardPremium"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.EstimatedStandardPremium"
      numCols="5"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.EstimatedStandardPremium"/>
    <DateInput
      editable="true"
      id="FirstComputationDate"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.FirstComputationDate"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.FirstComputationDate"/>
    <DateInput
      editable="true"
      id="LastComputationDate"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.LastComputationDate"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.LastComputationDate"/>
    <Input
      editable="true"
      id="ComputationInterval"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.ComputationInterval"
      numCols="5"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.ComputationInterval"/>
    <Input
      editable="true"
      id="MinRetroPremiumRatio"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.MinRetroPremiumRatio"
      numCols="5"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.MinRetroPremiumRatio"/>
    <Input
      editable="true"
      id="MaxRetroPremiumRatio"
      label="displaykey.Web.Policy.WC.RetroRatingPlan.MaxRetroPremiumRatio"
      numCols="5"
      required="true"
      value="wCLine.RetrospectiveRatingPlan.MaxRetroPremiumRatio"/>
  </InputSet>
</PCF>