<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="WorkersCompSupplementalScreen">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="policyPeriod.WorkersCompLine"
      name="wcLine"/>
    <Variable
      initialValue="policyPeriod.Policy.Product.getQuestionSetsByType(QuestionSetType.TC_SUPPLEMENTAL)"
      name="supplementalQuestionSets"
      recalculateOnRefresh="true"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="policyPeriod.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(policyPeriod, policyPeriod.Job, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="OOSEPanelSet(policyPeriod, jobWizardHelper)"/>
    <PanelRef
      def="QuestionSetsDV(supplementalQuestionSets, wcLine, null)"/>
  </Screen>
</PCF>