<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    countsAsWork="false"
    id="CPBuildingCostDetailsPopup"
    title="displaykey.Web.PolicyFile.PolicyLine.CP.CostDetails(building, building.CPLocation)">
    <LocationEntryPoint
      signature="CPBuildingCostDetailsPopup(buildingCosts : java.util.Set&lt;CPCost&gt;, building : CPBuilding)"/>
    <Variable
      name="buildingCosts"
      type="java.util.Set&lt;CPCost&gt;"/>
    <Variable
      name="building"
      type="CPBuilding"/>
    <Variable
      initialValue="buildingCosts.byFixedCoverage()"
      name="buildingCostsByCoverage"/>
    <Variable
      initialValue="buildingCosts.AnyProrated"
      name="prorated"/>
    <Screen>
      <Toolbar/>
      <ListViewPanel>
        <Row
          renderAsSmartHeader="true">
          <Cell
            id="Description"
            value="displaykey.Web.Quote.CumulDetail.Default.Description"/>
          <Cell
            id="Amount"
            value="displaykey.Web.Quote.CumulDetail.Default.Amount"
            visible="prorated"/>
          <Cell
            id="EffDate"
            value="displaykey.Web.Quote.CumulDetail.Default.EffDate"
            visible="prorated"/>
          <Cell
            id="ExpDate"
            value="displaykey.Web.Quote.CumulDetail.Default.ExpDate"
            visible="prorated"/>
          <Cell
            id="Proration"
            value="displaykey.Web.Quote.CumulDetail.Default.Proration"
            visible="prorated"/>
          <Cell
            id="Premium"
            value="displaykey.Web.Quote.CumulDetail.Default.Premium"/>
        </Row>
        <RowIterator
          editable="false"
          elementName="cov"
          value="buildingCostsByCoverage.Keys.toTypedArray()">
          <Variable
            initialValue="buildingCostsByCoverage.get(cov).toTypedArray()"
            name="costs"/>
          <IteratorSort
            sortBy="cov.DisplayName"
            sortOrder="1"/>
          <RowIterator
            editable="false"
            elementName="cost"
            id="costIterator"
            pageSize="0"
            value="costs">
            <IteratorSort
              sortBy="cost.DisplayName"
              sortOrder="1"/>
            <IteratorSort
              sortBy="cost.EffDate"
              sortOrder="2"/>
            <Row>
              <Cell
                id="Description"
                value="cost"/>
              <Cell
                id="costAmount"
                value="cost.ActualTermAmountBilling"
                visible="prorated"/>
              <Cell
                id="costEffDate"
                value="cost.EffDate"
                visible="prorated"/>
              <Cell
                id="ExpDate"
                value="cost.ExpDate"
                visible="prorated"/>
              <Cell
                id="costProration"
                value="cost.ProRataByDaysValue"
                visible="prorated"/>
              <Cell
                id="Amount"
                value="cost.ActualAmountBilling">
                <ColumnFooter>
                  <TextCell
                    formatType="currency"
                    id="AmountFooter"
                    value="costs.fastList().AmountSum(building.Branch.PreferredSettlementCurrency)"
                    visible="true"/>
                </ColumnFooter>
              </Cell>
            </Row>
          </RowIterator>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>