<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Popup
    afterEnter="cpBuilding = gw.web.line.cp.policy.CPBuildingPopupUIHelper.initialize(jobWizardHelper, building, cpBuilding, cpLocation, openForEdit);if (cpBuilding &lt;&gt; null &amp;&amp; !openForEdit) cpLocation = cpBuilding.CPLocation "
    beforeCommit="gw.lob.cp.CPBuildingValidation.validateBuilding(cpBuilding)"
    canEdit="openForEdit"
    countsAsWork="false"
    id="CPBuildingPopup"
    startInEditMode="openForEdit"
    title="return cpBuilding == null ? displaykey.CommercialProperty.Building.NewBuilding : cpBuilding.DisplayName">
    <LocationEntryPoint
      signature="CPBuildingPopup(cpLine : CommercialPropertyLine, cpBuilding : CPBuilding, openForEdit : boolean, jobWizardHelper : web.job.JobWizardHelper)"/>
    <LocationEntryPoint
      signature="CPBuildingPopup(cpLine : CommercialPropertyLine, cpLocation : CPLocation, openForEdit : boolean, jobWizardHelper : web.job.JobWizardHelper)"/>
    <LocationEntryPoint
      signature="CPBuildingPopup(cpLine : CommercialPropertyLine, cpLocation : CPLocation, building : Building, openForEdit : boolean, jobWizardHelper : web.job.JobWizardHelper)"/>
    <Variable
      name="cpLine"
      type="CommercialPropertyLine"/>
    <Variable
      name="cpBuilding"
      type="CPBuilding"/>
    <Variable
      name="cpLocation"
      type="CPLocation"/>
    <Variable
      name="building"
      type="Building"/>
    <Variable
      name="openForEdit"
      type="boolean"/>
    <Variable
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="cpBuilding.Building.BuildingAlarmType &lt;&gt; null"
      name="showAlarmFields"
      type="boolean"/>
    <Screen>
      <Toolbar>
        <EditButtons/>
      </Toolbar>
      <PanelRef
        def="PreferredCoverageCurrencyPanelSet(cpBuilding, openForEdit, jobWizardHelper)"
        id="PreferredCoverageCurrencySelectorRef"/>
      <CardViewPanel>
        <Card
          id="BuildingDetails"
          title="displaykey.Web.Policy.LocationContainer.Location.Building.Details">
          <DetailViewPanel
            id="DetailsDV">
            <!-- Left column -->
            <InputColumn>
              <Label
                label="displaykey.Web.Policy.CP.Location.CPBuilding.BuildingInfo"/>
              <RangeInput
                editable="cpLocation == null"
                id="BuildingLocation"
                label="displaykey.Web.Policy.LocationContainer.Location"
                value="cpBuilding.CPLocation"
                valueRange="cpLine.CPLocations">
                <PostOnChange
                  onChange="cpLocation.Location.resetBuildingAutoNumberSequence()"
                  target="BuildingNumber"/>
              </RangeInput>
              <TextInput
                id="BuildingNumber"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Number"
                value="cpBuilding.Building.BuildingNum"/>
              <TextInput
                editable="true"
                id="Description"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Description"
                value="cpBuilding.Building.Description"/>
              <PickerInput
                editable="true"
                id="ClassCode"
                inputConversion="gw.web.line.cp.policy.CPBuildingPopupUIHelper.findFirstMatchingClassCode(cpBuilding, VALUE)"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.ClassCode"
                outputConversion="VALUE == null ? &quot;&quot; : VALUE.Code"
                pickLocation="CPClassCodeSearchPopup.push(cpLine, cpBuilding)"
                value="cpBuilding.ClassCode">
                <PostOnChange
                  target="ClassDescription"/>
              </PickerInput>
              <TextAreaInput
                id="ClassDescription"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.ClassDescription"
                numCols="40"
                numRows="2"
                value="cpBuilding.ClassCode.Classification"/>
              <TypeKeyInput
                editable="true"
                id="CoverageForm"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.CoverageForm"
                value="cpBuilding.CoverageForm">
                <PostOnChange
                  onChange="if (openForEdit) { gw.web.productmodel.ProductModelSyncIssuesHandler.syncCoverages({cpBuilding}, jobWizardHelper) }"/>
              </TypeKeyInput>
              <InputDivider/>
              <Label
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Rating"/>
              <TypeKeyInput
                editable="true"
                id="RateType"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.RateType"
                value="cpBuilding.RateType"/>
              <InputDivider/>
              <Label
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Construction"/>
              <TextInput
                align="left"
                editable="true"
                formatType="exactNumber"
                id="YearBuilt"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.YearBuilt"
                maxChars="4"
                validationExpression="cpBuilding.validateYearBuilt(cpBuilding.Building.YearBuilt)"
                value="cpBuilding.Building.YearBuilt"/>
              <TypeKeyInput
                editable="true"
                id="ConstructionType"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.ConstructionType"
                value="cpBuilding.Building.ConstructionType"/>
              <TextInput
                align="left"
                editable="true"
                id="NumStories"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.NumStories"
                value="cpBuilding.Building.NumStories"/>
              <TextInput
                align="left"
                editable="true"
                id="NumBasements"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.NumBasements"
                value="cpBuilding.Building.NumBasements"/>
              <TextInput
                align="left"
                editable="true"
                id="TotalArea"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.TotalArea"
                value="cpBuilding.Building.TotalArea"/>
              <TextInput
                align="left"
                editable="true"
                id="BasementArea"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.BasementArea"
                validationExpression="cpBuilding.validateBasementArea(cpBuilding.Building.BasementArea)"
                value="cpBuilding.Building.BasementArea"/>
              <TypeKeyInput
                editable="true"
                id="PercentSprinklered"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Sprinklered"
                value="cpBuilding.Building.SprinklerCoverage"/>
              <TypeKeyInput
                editable="true"
                id="RoofType"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.RoofType"
                value="cpBuilding.Building.RoofType"/>
              <TypeKeyInput
                editable="true"
                id="WindRating"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.WindRating"
                value="cpBuilding.Building.WindRating"/>
              <BooleanRadioInput
                editable="true"
                id="HeatingBoilerOnPremises"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.BoilerOnPremises"
                value="cpBuilding.Building.HeatingBoilerOnPremises">
                <PostOnChange
                  onChange="cpBuilding.Building.HeatingBoilerElsewhere = gw.web.line.cp.policy.CPBuildingPopupUIHelper.getBoilerInsuredValue(cpBuilding, cpBuilding.Building.HeatingBoilerOnPremises)"
                  target="HeatingBoilerElsewhere"/>
              </BooleanRadioInput>
              <BooleanRadioInput
                available="cpBuilding.Building.HeatingBoilerOnPremises"
                editable="true"
                id="HeatingBoilerElsewhere"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.BoilerInsuredElsewhere"
                value="cpBuilding.Building.HeatingBoilerElsewhere"/>
              <TextInput
                editable="true"
                id="FrontExposure"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Front"
                value="cpBuilding.Building.FrontSide.Description"/>
              <TextInput
                editable="true"
                id="RightExposure"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Right"
                value="cpBuilding.Building.RightSide.Description"/>
              <TextInput
                editable="true"
                id="LeftExposure"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Left"
                value="cpBuilding.Building.LeftSide.Description"/>
              <TextInput
                editable="true"
                id="RearExposure"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Rear"
                value="cpBuilding.Building.RearSide.Description"/>
            </InputColumn>
            <!-- Right column -->
            <InputColumn>
              <Label
                label="displaykey.Web.Policy.CP.Location.CPBuilding.BurglarAlarm"/>
              <TypeKeyInput
                editable="true"
                id="BurglarySafeguard"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.BurglarySafeguard"
                value="cpBuilding.Building.BurglarySafeguard"/>
              <InputGroup
                allowToggle="true"
                childrenVisible="showAlarmFields"
                id="AlarmInfoInputGroup"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.HasAlarm"
                onToggle="if (VALUE) {showAlarmFields = true} else {gw.web.line.cp.policy.CPBuildingPopupUIHelper.clearAlarmFields(cpBuilding);showAlarmFields = false}">
                <TypeKeyInput
                  editable="true"
                  id="AlarmType"
                  label="displaykey.Web.Policy.CP.Location.CPBuilding.AlarmType"
                  value="cpBuilding.Building.BuildingAlarmType"/>
                <TypeKeyInput
                  editable="true"
                  id="AlarmGrade"
                  label="displaykey.Web.Policy.CP.Location.CPBuilding.AlarmGrade"
                  value="cpBuilding.Building.AlarmGrade"/>
                <TextInput
                  editable="true"
                  id="AlarmCertificate"
                  label="displaykey.Web.Policy.CP.Location.CPBuilding.AlarmCertificateNum"
                  value="cpBuilding.Building.AlarmCertificate"/>
                <DateInput
                  editable="true"
                  id="AlarmExpiration"
                  label="displaykey.Web.Policy.CP.Location.CPBuilding.AlarmExpiration"
                  value="cpBuilding.Building.AlarmExpiration"/>
                <TypeKeyInput
                  editable="true"
                  id="AlarmClass"
                  label="displaykey.Web.Policy.CP.Location.CPBuilding.AlarmClass"
                  value="cpBuilding.Building.AlarmClass"/>
              </InputGroup>
              <InputDivider/>
              <Label
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Improvements"/>
              <TextInput
                align="left"
                editable="true"
                formatType="exactNumber"
                id="LastUpdateHeating"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.LastUpdateHeating"
                maxChars="4"
                validationExpression="cpBuilding.validateYearLastUpdate(cpBuilding.Building.Heating.YearAdded)"
                value="cpBuilding.Building.Heating.YearAdded"/>
              <TextInput
                align="left"
                editable="true"
                id="LastUpdatePlumbing"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.LastUpdatePlumbing"
                maxChars="4"
                validationExpression="cpBuilding.validateYearLastUpdate(cpBuilding.Building.Plumbing.YearAdded)"
                value="cpBuilding.Building.Plumbing.YearAdded"/>
              <TextInput
                align="left"
                editable="true"
                id="LastUpdateRoofing"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.LastUpdateRoofing"
                maxChars="4"
                validationExpression="cpBuilding.validateYearLastUpdate(cpBuilding.Building.Roofing.YearAdded)"
                value="cpBuilding.Building.Roofing.YearAdded"/>
              <TextInput
                align="left"
                editable="true"
                id="LastUpdateWiring"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.LastUpdateWiring"
                maxChars="4"
                validationExpression="cpBuilding.validateYearLastUpdate(cpBuilding.Building.Wiring.YearAdded)"
                value="cpBuilding.Building.Wiring.YearAdded"/>
              <InputDivider/>
              <Label
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Other"/>
              <TypeKeyInput
                editable="true"
                id="InterestType"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.InterestType"
                value="cpBuilding.Building.InterestType"/>
              <TypeKeyInput
                align="left"
                editable="true"
                id="RentedOthers"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.RentedToOthers"
                value="cpBuilding.Building.RentedOthers"/>
              <TypeKeyInput
                align="left"
                editable="true"
                id="PercentVacant"
                label="displaykey.Web.Policy.CP.Location.CPBuilding.Vacancy"
                value="cpBuilding.Building.PercentVacant"/>
              <InputDivider/>
            </InputColumn>
          </DetailViewPanel>
        </Card>
        <Card
          id="BuildingCoverages"
          title="displaykey.Web.Policy.CP.Location.CPBuilding.CoveragesCardTitle">
          <PanelRef>
            <PanelRow>
              <PanelColumn>
                <PanelRef
                  def="CPBldgSuggestedCovDV(cpBuilding, openForEdit)"/>
              </PanelColumn>
              <PanelColumn>
                <PanelRef
                  def="AdditionalCoveragesPanelSet(cpBuilding, new String[]{&quot;CPContentsCategory&quot;}, true)"
                  editable="true"
                  visible="cpBuilding != null"/>
              </PanelColumn>
            </PanelRow>
          </PanelRef>
        </Card>
        <Card
          id="BuildingAddlInterest"
          title="displaykey.CommercialProperty.Building.AdditionalInterest">
          <PanelRef
            def="AdditionalInterestDetailsDV(cpBuilding, openForEdit)"/>
        </Card>
      </CardViewPanel>
    </Screen>
  </Popup>
</PCF>