<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="PolicyLineSummaryPanelSet"
    mode="CPLine">
    <Require
      name="line"
      type="PolicyLine"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <PanelRef
      def="CPBuildingsAndLocationsLV(line as CommercialPropertyLine, false, null)">
      <TitleBar
        title="displaykey.Web.LineWizardMenu.Buildings"/>
      <Toolbar/>
    </PanelRef>
    <DetailViewPanel>
      <InputColumn>
        <HiddenInput
          id="spacer"
          value="&quot;&quot;"/>
      </InputColumn>
    </DetailViewPanel>
    <PanelRef
      def="CPBlanketPanelSet(line as CommercialPropertyLine, false, null)">
      <TitleBar
        title="displaykey.Web.LineWizardMenu.Blankets"/>
    </PanelRef>
  </PanelSet>
</PCF>