<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingTxDetailsPanelSet"
    mode="CPLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="totalPremLabel"
      type="String"/>
    <Require
      name="totalCostLabel"
      type="String"/>
    <Require
      name="revOpenForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Variable
      initialValue="period.CPTransactions.toSet().byFixedLocation()"
      name="transactionsByLocation"
      recalculateOnRefresh="true"/>
    <PanelRef
      id="TitlePanel"
      visible="period.CPTransactions.HasElements">
      <TitleBar
        title="gw.api.productmodel.PolicyLinePatternLookup.getByCode(&quot;CPLine&quot;).DisplayName"
        visible="period.MultiLine"/>
      <DetailViewPanel>
        <InputColumn>
          <ListViewInput
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel>
              <Row
                highlighted="false"
                renderAsSmartHeader="true">
                <Cell
                  id="Description"
                  value="displaykey.Web.Quote.CumulDetail.Default.Description"
                  width="100"/>
                <Cell
                  id="Amount"
                  value="displaykey.Web.Quote.CumulDetail.Default.Amount"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="location"
                id="LocationIterator"
                pageSize="0"
                value="transactionsByLocation.Keys.where( \ c -&gt; c.Location != null).toTypedArray()">
                <Variable
                  initialValue="transactionsByLocation.get(location).byFixedBuilding()"
                  name="transactionsByBuilding"
                  recalculateOnRefresh="true"/>
                <IteratorSort
                  sortBy="location.Location.LocationNum"
                  sortOrder="1"/>
                <Row
                  useTitleStyle="true">
                  <Cell
                    colspan="2"
                    id="Description"
                    value="location.DisplayName"/>
                </Row>
                <RowIterator
                  editable="false"
                  elementName="building"
                  id="BuildingIterator"
                  pageSize="0"
                  value="transactionsByBuilding.Keys.toTypedArray()">
                  <IteratorSort
                    sortBy="building.Building.BuildingNum"
                    sortOrder="1"/>
                  <Row>
                    <Cell
                      action="CPBuildingTxDetailsPopup.push(transactionsByBuilding.get(building), building)"
                      id="Description"
                      value="building.DisplayName"/>
                    <MonetaryAmountCell
                      footerSumValue="transactionsByBuilding.get(building).AmountSum(period.PreferredSettlementCurrency)"
                      formatType="currency"
                      id="Amount"
                      value="transactionsByBuilding.get(building).AmountSum(period.PreferredSettlementCurrency)"/>
                  </Row>
                </RowIterator>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
          <Label
            id="OtherCharges"
            label="displaykey.Web.Quote.CumulDetail.Default.OtherCharges"/>
          <ListViewInput
            labelAbove="true">
            <Toolbar/>
            <ListViewPanel>
              <Row
                highlighted="false"
                renderAsSmartHeader="true">
                <Cell
                  id="StateDescription"
                  value="displaykey.Web.Quote.CumulDetail.Default.Description"
                  width="100"/>
                <Cell
                  id="State"
                  value="displaykey.Web.Quote.CumulDetail.Default.State"
                  width="100"/>
                <Cell
                  id="StateAmount"
                  value="displaykey.Web.Quote.CumulDetail.Default.Amount"
                  width="100"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="transaction"
                id="NonLocationTxIterator"
                pageSize="0"
                value="period.CPTransactions.where( \ c -&gt; c.CPCost.Location == null )">
                <IteratorSort
                  sortBy="transaction.CPCost.State"
                  sortOrder="1"/>
                <IteratorSort
                  sortBy="transaction.AmountBilling"
                  sortOrder="2"/>
                <Row>
                  <Cell
                    id="Description"
                    value="transaction.CPCost"/>
                  <Cell
                    id="State"
                    value="transaction.CPCost.State"/>
                  <MonetaryAmountCell
                    footerSumValue="transaction.AmountBilling"
                    formatType="currency"
                    id="Amount"
                    value="transaction.AmountBilling"/>
                </Row>
              </RowIterator>
            </ListViewPanel>
          </ListViewInput>
        </InputColumn>
      </DetailViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>