<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <PanelSet
    id="RatingCumulDetailsPanelSet"
    mode="CPLine">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Require
      name="isEditable"
      type="boolean"/>
    <Variable
      initialValue="period.CPLine.Costs.cast(CPCost)"
      name="allCosts"/>
    <Variable
      initialValue="allCosts.toSet().byFixedLocation()"
      name="costsByLocation"/>
    <PanelRef
      def="RatingOverrideButtonDV(period, period.CPLine, jobWizardHelper, CurrentLocation.InEditMode)"
      id="RatingOverrideButtonDV"/>
    <DetailViewPanel>
      <InputColumn>
        <Label
          id="Premiums"
          label="displaykey.Web.Quote.CumulDetail.Default.Premiums"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel
            alternateEntryStyle="false">
            <Variable
              initialValue="costsByLocation.Keys.where(\ c -&gt; c.Location != null).toTypedArray()"
              name="locations"/>
            <Row
              highlighted="false"
              renderAsSmartHeader="true">
              <Cell
                align="center"
                id="BuildingNumberHeader"
                value="&quot;#&quot;"/>
              <Cell
                id="Description"
                value="displaykey.Web.Quote.CumulDetail.Default.Description"
                width="100"/>
              <Cell
                id="Amount"
                value="displaykey.Web.Quote.CumulDetail.Default.Amount"/>
            </Row>
            <RowIterator
              editable="false"
              elementName="location"
              id="LocationIterator"
              pageSize="0"
              value="locations">
              <Variable
                initialValue="costsByLocation.get(location).byFixedBuilding()"
                name="costsByBuilding"/>
              <IteratorSort
                sortBy="location.Location.LocationNum"
                sortOrder="1"/>
              <Row
                useTitleStyle="true">
                <Cell
                  colspan="3"
                  id="Description"
                  value="location.DisplayName"
                  wrap="true"/>
              </Row>
              <RowIterator
                editable="false"
                elementName="building"
                id="BuildingIterator"
                pageSize="0"
                value="costsByBuilding.Keys.toTypedArray()">
                <IteratorSort
                  sortBy="building.Building.BuildingNum"
                  sortOrder="1"/>
                <Row>
                  <Cell
                    action="CPBuildingCostDetailsPopup.push(costsByBuilding.get(building), building)"
                    id="BuildingNumber"
                    value="building.Building.BuildingNum"/>
                  <Cell
                    action="CPBuildingCostDetailsPopup.push(costsByBuilding.get(building), building)"
                    id="Description"
                    value="building.DisplayName"
                    wrap="true"/>
                  <MonetaryAmountCell
                    footerSumValue="costsByBuilding.get(building).AmountSum(period.PreferredSettlementCurrency)"
                    formatType="currency"
                    id="Amount"
                    value="costsByBuilding.get(building).AmountSum(period.PreferredSettlementCurrency)"/>
                </Row>
              </RowIterator>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
    <DetailViewPanel>
      <InputColumn>
        <Label
          id="OtherCharges"
          label="displaykey.Web.Quote.CumulDetail.Default.OtherCharges"/>
        <ListViewInput
          labelAbove="true">
          <Toolbar/>
          <ListViewPanel>
            <Row
              highlighted="false"
              renderAsSmartHeader="true">
              <Cell
                id="StateDescription"
                value="displaykey.Web.Quote.CumulDetail.Default.Description"
                width="100"/>
              <Cell
                id="State"
                value="displaykey.Web.Quote.CumulDetail.Default.State"
                width="100"/>
              <Cell
                id="StateAmount"
                value="displaykey.Web.Quote.CumulDetail.Default.Amount"
                width="100"/>
            </Row>
            <RowIterator
              editable="false"
              elementName="cost"
              id="NonLocationCostIterator"
              pageSize="0"
              value="allCosts.where(\ cost -&gt; cost.Location == null).toTypedArray()">
              <IteratorSort
                sortBy="cost.State"
                sortOrder="1"/>
              <Row>
                <Cell
                  id="Description"
                  value="cost"
                  wrap="true"/>
                <Cell
                  id="State"
                  value="cost.State"/>
                <MonetaryAmountCell
                  footerSumValue="cost.ActualAmountBilling"
                  formatType="currency"
                  id="Amount"
                  value="cost.ActualAmountBilling"/>
              </Row>
            </RowIterator>
          </ListViewPanel>
        </ListViewInput>
      </InputColumn>
    </DetailViewPanel>
  </PanelSet>
</PCF>