<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="PaymentMethodInputSet"
    mode="ach">
    <Require
      name="accountHolderName"
      type="String"/>
    <Require
      name="address"
      type="Address"/>
    <InputSet
      id="ACHInputSet">
      <Variable
        name="routingNumber"
        type="String"/>
      <Variable
        name="accountType"
        type="BankAccountType"/>
      <Variable
        name="accountNumber"
        type="String"/>
      <Variable
        name="notes"
        type="String"/>
      <TypeKeyInput
        editable="true"
        id="BankAccountType"
        label="displaykey.Web.Demo.PaymentSystem.PaymentMethod.BankAccountType"
        required="true"
        value="accountType"/>
      <Input
        editable="true"
        id="BankABANumber"
        label="displaykey.Web.Demo.PaymentSystem.PaymentMethod.RoutingNumber"
        required="true"
        value="routingNumber"/>
      <Input
        editable="true"
        id="BankAccountNumber"
        label="displaykey.Web.Demo.PaymentSystem.PaymentMethod.AccountNumber"
        required="true"
        value="accountNumber"/>
      <Input
        editable="true"
        id="Notes"
        label="displaykey.Web.Demo.PaymentSystem.PaymentMethod.Notes"
        required="true"
        value="notes"/>
    </InputSet>
  </InputSet>
</PCF>