<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <LocationGroup
    id="SamplePaymentInstrument"
    menuLinks="PaymentInstrumentMenuLinks()"
    tabBar="PaymentInstrumentTabBar()"
    title="&quot;Demo Payment System&quot;">
    <LocationRef
      location="CreateSamplePaymentInstrument(null, null, null, null, null, null, null, null)"/>
  </LocationGroup>
</PCF>