<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <DetailViewPanel
    id="IssuanceWizard_PolicyInfoDV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="issuance"
      type="Issuance"/>
    <Variable
      initialValue="new gw.job.AvailableUWCompanies(policyPeriod)"
      name="availableUWCompanies"/>
    <!-- First PolicyInfo column -->
    <InputColumn>
      <InputSetRef
        def="AccountInfoInputSet(policyPeriod)"/>
      <InputSetRef
        def="SecondaryNamedInsuredInputSet(policyPeriod)"/>
    </InputColumn>
    <!-- Second PolicyInfo column -->
    <InputColumn>
      <!-- Input set (including effective date) is not editable in issuance jobs -->
      <InputSetRef
        def="PolicyInfoInputSet(policyPeriod, true, false, false)"
        editable="true"
        widgets="UWCompanyInputSet"/>
      <InputDivider/>
      <InputSetRef
        def="PolicyInfoProducerOfRecordInputSet(policyPeriod, ProducerStatusUse.TC_SUBMISSIONOKAY)"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.Policy.UWCompanies.Name"/>
      <InputSet
        id="UWCompanyInputSet">
        <RangeInput
          editable="perm.System.multicompquote"
          id="UWCompany"
          optionLabel="VALUE.DisplayName"
          value="policyPeriod.UWCompany"
          valueRange="availableUWCompanies.Value"
          valueWidth="180"/>
        <Label
          id="InvalidUWCompanyLabel"
          label="displaykey.Web.Policy.UWCompanies.InvalidUWCompany"
          visible="availableUWCompanies.Value.Count &gt; 0 and not availableUWCompanies.Value.hasMatch( \ u -&gt; u == policyPeriod.UWCompany )"/>
        <ButtonInput
          action="policyPeriod.autoSelectUWCompany()"
          id="AutoSelectUWCompany"
          value="displaykey.Web.Policy.UWCompanies.AutoSelect"
          visible="not perm.System.multicompquote"/>
      </InputSet>
      <InputSetRef
        def="PreferredCurrencyInputSet(policyPeriod)"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>