<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <Screen
    editable="openForEdit"
    id="IssuanceWizard_PolicyInfoScreen">
    <Require
      name="issuance"
      type="Issuance"/>
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="openForEdit"
      type="boolean"/>
    <Require
      name="jobWizardHelper"
      type="web.job.JobWizardHelper"/>
    <Toolbar>
      <WizardButtons/>
      <ToolbarButtonSetRef
        mode="period.Job.Subtype"
        toolbarButtonSet="JobWizardToolbarButtonSet(period, issuance, jobWizardHelper)"/>
    </Toolbar>
    <PanelRef
      def="IssuanceWizard_PolicyInfoDV(period, issuance)">
      <Toolbar/>
    </PanelRef>
    <PanelRef
      def="AdditionalNamedInsuredsDV(period, openForEdit)"/>
  </Screen>
</PCF>