<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../pcf.xsd">
  <ListViewPanel
    id="RenewalGroupJobsLV">
    <Require
      name="renewalGroup"
      type="RenewalGroup"/>
    <RowIterator
      editable="false"
      elementName="renewal"
      type="Renewal"
      value="renewalGroup.Renewals">
      <Row
        useArchivedStyle="renewal.LatestPeriod.PolicyTerm.Archived">
        <Cell
          id="PolicyType"
          label="displaykey.Web.RenewalGroup.PolicyType"
          value="renewal.Policy.Product.Name"/>
        <Cell
          action="JobForward.go(renewal)"
          id="Renewal"
          label="displaykey.Web.RenewalGroup.RenewalNum"
          value="renewal.JobNumber"/>
        <Cell
          id="Status"
          label="displaykey.Web.RenewalGroup.Status"
          value="renewal.LatestPeriod.Status"/>
        <Cell
          action="pcf.PolicyFileForward.go( renewal.LatestPeriod, renewal.LatestPeriod.EditEffectiveDate )"
          id="PolicyNumber"
          label="displaykey.Web.RenewalGroup.PolicyNum"
          value="renewal.LatestPeriod.PolicyNumberDisplayString"/>
        <Cell
          id="CreateDate"
          label="displaykey.Web.RenewalGroup.CreateDate"
          value="renewal.CreateTime"/>
        <Cell
          id="CloseDate"
          label="displaykey.Web.RenewalGroup.CloseDate"
          value="renewal.CloseDate"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>