<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ToolbarButtonSet
    id="ActivityDetailToolbarButtonSet"
    mode="approval">
    <Require
      name="activity"
      type="Activity"/>
    <Require
      name="note"
      type="Note"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <ToolbarButton
      action="if(web.activity.ActivityUtil.createActivity(activity, note)) web.workspace.WorkspaceUtil.closeWorksheetIfActiveAndRefreshTop(CurrentLocation)"
      hideIfReadOnly="true"
      id="ActivityDetailToolbarButtons_UpdateButton"
      label="displaykey.Web.ActivityDetail.Button.Update"/>
    <ToolbarButton
      action="web.activity.ActivityUtil.approveActivity(activity, note); web.workspace.WorkspaceUtil.closeWorksheetIfActiveAndRefreshTop(CurrentLocation)"
      hideIfReadOnly="true"
      id="ActivityDetailToolbarButtons_ApproveButton"
      label="displaykey.Web.ActivityDetail.Button.Approve"
      visible="perm.Activity.approve(activity) and not activity.Approved"/>
    <ToolbarButton
      action="web.activity.ActivityUtil.rejectActivity(activity, note); web.workspace.WorkspaceUtil.closeWorksheetIfActiveAndRefreshTop(CurrentLocation)"
      hideIfReadOnly="true"
      id="ActivityDetailToolbarButtons_RejectButton"
      label="displaykey.Web.ActivityDetail.Button.Decline"
      visible="perm.Activity.approve(activity) and not activity.Approved"/>
    <ToolbarButton
      action="AssignActivitiesPopup.push(new web.activity.ActivityAssignmentPopup(new Activity[]{activity}, gw.assignment.AssignmentUtil.DefaultUser))"
      hideIfEditable="true"
      id="ActivityDetailToolbarButtons_AssignButton"
      label="displaykey.Web.ActivityDetail.Button.Assign"
      visible="activity.canAssign()"/>
    <EditButtons
      updateVisible="false"/>
    <ToolbarButton
      action="CurrentLocation.cancel()"
      hideIfEditable="true"
      id="ActivityDetailToolbarButtons_CloseButton"
      label="displaykey.Button.CloseWorksheet"/>
    <ToolbarButton
      action="RenewalGroupDetail.goInMain(activity.RenewalGroup)"
      hideIfReadOnly="true"
      id="ActivityDetailToolbarButtons_RenewalGroupButton"
      label="displaykey.Web.ActivityDetail.Button.RenewalGroup"
      visible="activity.RenewalGroup != null"/>
  </ToolbarButtonSet>
</PCF>