<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    beforeCommit="assignmentPopup.Picker.setSelection(pickedValue);assignmentPopup.performAssignment()"
    canEdit="true"
    id="AssignActivitiesPopup"
    returnType="gw.api.assignment.Assignee"
    startInEditMode="true"
    title="displaykey.Web.Activity.Assign.Title">
    <LocationEntryPoint
      signature="AssignActivitiesPopup(assignmentPopup : web.activity.ActivityAssignmentPopup)"/>
    <Variable
      name="assignmentPopup"
      type="web.activity.ActivityAssignmentPopup"/>
    <ScreenRef
      def="AssignmentPopupScreen(assignmentPopup)"/>
  </Popup>
</PCF>