<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="FailedAssignmentsLV"
    mode="Activity">
    <Require
      name="assignmentPopup"
      type="assignment.AssignmentPopup"/>
    <RowIterator
      editable="false"
      elementName="activity"
      type="Activity"
      value="assignmentPopup.getFailedAssignables()">
      <Row>
        <Cell
          id="Priority"
          label="displaykey.Web.DesktopActivitiesLV.Priority"
          value="activity.Priority"/>
        <Cell
          id="Subject"
          label="displaykey.Web.DesktopActivitiesLV.Subject"
          value="activity.Subject"/>
        <Cell
          id="JobNumber"
          label="displaykey.Web.DesktopActivitiesLV.ID"
          value="activity.Job.JobNumber"/>
        <Cell
          id="Account"
          label="displaykey.Web.DesktopActivitiesLV.Account"
          value="activity.Job.Policy.Account.AccountHolderContact.Name"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>