<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="JobWizardWorkplanPanelSet">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Workplan.Activities"/>
      <Toolbar>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="AssignActivitiesPopup.push(new web.activity.ActivityAssignmentPopup(CheckedValues, gw.assignment.AssignmentUtil.DefaultUser))"
          flags="all canAssignActivity"
          id="JobWizardWorkplanPanelSet_AssignButton"
          iterator="JobWizardWorkplanLV"
          label="displaykey.Web.Workplan.Assign"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="web.activity.ActivityUtil.skipActivities(CheckedValues)"
          flags="all canSkipActivity"
          id="JobWizardWorkplanPanelSet_SkipButton"
          iterator="JobWizardWorkplanLV"
          label="displaykey.Web.Workplan.Skip"/>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="web.activity.ActivityUtil.completeActivities(CheckedValues)"
          flags="all canCompleteActivity"
          id="JobWizardWorkplanPanelSet_CompleteButton"
          iterator="JobWizardWorkplanLV"
          label="displaykey.Web.Workplan.Complete"/>
        <ToolbarDivider/>
      </Toolbar>
      <ListViewPanel
        id="JobWizardWorkplanLV">
        <Variable
          initialValue="policyPeriod.Job.AllActivities"
          name="jobActivities"
          type="ActivityQuery"/>
        <RowIterator
          editable="false"
          elementName="activity"
          hasCheckBoxes="true"
          value="jobActivities">
          <ToolbarFilter
            name="activitiesFilter">
            <ToolbarFilterOptionGroup
              filters="web.desktop.DesktopActivityFilters.filters()"/>
          </ToolbarFilter>
          <ToolbarFlag
            name="alwaysTrue"/>
          <ToolbarFlag
            condition="activity.canAssign()"
            name="canAssignActivity"/>
          <ToolbarFlag
            condition="activity.canSkip()"
            name="canSkipActivity"/>
          <ToolbarFlag
            condition="activity.canComplete()"
            name="canCompleteActivity"/>
          <Row>
            <Cell
              enableSort="false"
              icon="&quot;new.png&quot;"
              id="UpdatedSinceLastViewed"
              value="activity.UpdatedSinceLastViewed"/>
            <Cell
              icon="&quot;escalated.png&quot;"
              id="Escalated"
              value="activity.Escalated"/>
            <Cell
              fontColor="activity.Overdue == true ? &quot;Red&quot; : &quot;&quot;"
              id="DueDate"
              label="displaykey.Web.DesktopActivitiesLV.DueDate"
              sortDirection="descending"
              value="activity.TargetDate"/>
            <Cell
              id="EscalationDate"
              label="displaykey.Web.Workplan.EscalationDate"
              value="activity.EscalationDate"/>
            <Cell
              id="Priority"
              label="displaykey.Web.Workplan.Priority"
              value="activity.Priority"
              width="100"/>
            <Cell
              action="ActivityDetailWorksheet.goInWorkspace(activity, policyPeriod)"
              id="Subject"
              label="displaykey.Web.Workplan.Subject"
              value="activity.Subject"
              width="250"
              wrap="true"/>
            <Cell
              id="Status"
              label="displaykey.Web.Workplan.Status"
              value="activity.Status"/>
            <Cell
              id="AssignedTo"
              label="displaykey.Web.Workplan.AssignedTo"
              value="activity.AssignedTo"
              width="150"/>
            <Cell
              id="AssignedBy"
              label="displaykey.Web.Workplan.AssignedBy"
              value="activity.AssignedByUser"
              width="150"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </PanelSet>
</PCF>