<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <MenuItemSet
    id="AccountNewDocumentMenuItemSet">
    <Require
      name="account"
      type="Account"/>
    <MenuItem
      action="AccountNewDocumentLinkedWorksheet.goInWorkspace(account)"
      id="AccountNewDocumentMenuItemSet_Linked"
      label="displaykey.Web.AccountFile.NewDocument.Linked"/>
    <MenuItem
      action="AccountNewDocumentFromTemplateWorksheet.goInWorkspace(account)"
      id="AccountNewDocumentMenuItemSet_Template"
      label="displaykey.Web.AccountFile.NewDocument.Template"/>
  </MenuItemSet>
</PCF>