<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    canVisit="perm.Document.create"
    id="AccountNewDocumentFromTemplateWorksheet"
    startInEditMode="true"
    tabLabel="displaykey.Web.DocumentCreation.Title"
    title="displaykey.Web.DocumentCreation.Title">
    <LocationEntryPoint
      signature="AccountNewDocumentFromTemplateWorksheet(account : Account)"/>
    <Scope
      location="*"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      initialValue="null"
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="null"
      name="job"
      type="Job"/>
    <Variable
      initialValue="null"
      name="activity"
      type="Activity"/>
    <Variable
      initialValue="web.document.DocumentsHelper.createDocumentCreationInfo(account)"
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <ScreenRef
      def="NewDocumentFromTemplateScreen(DocumentCreationInfo, account, policyPeriod, job, activity)"/>
  </Worksheet>
</PCF>