<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    editable="true"
    id="DocumentDetailsDV"
    mode="email_sent">
    <Require
      name="document"
      type="Document"/>
    <Require
      name="account"
      type="Account"/>
    <Require
      name="policy"
      type="Policy"/>
    <Require
      name="job"
      type="Job"/>
    <Require
      name="documentDetailsInfo"
      type="gw.document.DocumentDetailsInfo"/>
    <InputColumn>
      <Label
        label="displaykey.Web.DocumentDetails.EmailSent"/>
      <Input
        id="Author"
        label="displaykey.Web.DocumentDetails.From"
        value="document.Author"/>
      <Input
        id="Recipient"
        label="displaykey.Web.DocumentDetails.To"
        value="document.Recipient"/>
      <Input
        id="Name"
        label="displaykey.Web.DocumentDetails.Subject"
        required="true"
        value="document.Name"/>
      <Input
        id="CreateTime"
        label="displaykey.Web.DocumentDetails.DateCreated"
        value="document.CreateTime"/>
      <RangeInput
        id="Language"
        label="displaykey.Web.DocumentDetails.Language"
        value="document.Language"
        valueRange="LanguageType.getTypeKeys( false )"
        visible="LanguageType.getTypeKeys( false ).Count &gt; 1"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.DocumentDetails.DocumentInfo"/>
      <Input
        editable="true"
        id="Description"
        label="displaykey.Web.DocumentDetails.DocumentMetadata.Description"
        value="document.Description"/>
      <Input
        editable="true"
        id="SecurityType"
        label="displaykey.Web.DocumentDetails.DocumentMetadata.SecurityType"
        value="document.SecurityType"/>
      <Input
        editable="true"
        id="Section"
        label="displaykey.Web.DocumentDetails.DocumentMetadata.Section"
        value="document.Section"
        visible="DocumentSection.getTypeKeys( false ).Count &gt; 1"/>
      <Input
        editable="true"
        id="Hidden"
        label="displaykey.Web.DocumentDetails.DocumentMetadata.Obsolete"
        value="document.Obsolete"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>