<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="NewDocumentFromTemplateScreen">
    <Require
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <Require
      name="account"
      type="Account"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="job"
      type="Job"/>
    <Require
      name="activity"
      type="Activity"/>
    <Toolbar>
      <ToolbarButton
        action="DocumentCreationInfo.setCommitRequested(true)"
        id="NewDocumentFromTemplate_CustomUpdate"
        label="displaykey.Button.Update"
        visible="gw.api.web.document.DocumentsHelper.isDocumentAssistantEnabled()"/>
      <EditButtons
        updateVisible="!gw.api.web.document.DocumentsHelper.isDocumentAssistantEnabled()"/>
    </Toolbar>
    <PanelRef
      def="NewTemplateDocumentDV(DocumentCreationInfo, DocumentCreationInfo.Document, account, policyPeriod, job, activity)"/>
  </Screen>
</PCF>