<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    id="NewDocumentLinkedScreen">
    <Require
      name="DocumentCreationInfo"
      type="gw.document.DocumentCreationInfo"/>
    <Require
      name="account"
      type="Account"/>
    <Require
      name="policy"
      type="Policy"/>
    <Require
      name="job"
      type="Job"/>
    <Toolbar>
      <EditButtons/>
    </Toolbar>
    <PanelRef
      def="DocumentAttachmentDV(DocumentCreationInfo)"/>
    <DetailViewPanel>
      <InputColumn>
        <InputSetRef
          def="DocumentMetadataInputSet(DocumentCreationInfo.Document, account, policy, job, false)"/>
      </InputColumn>
    </DetailViewPanel>
  </Screen>
</PCF>