<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="BillingAdjustmentsInstallmentsLV">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="installmentPlans"
      type="gw.plugin.billing.InstallmentPlanData[]"/>
    <RowIterator
      editable="true"
      elementName="plan"
      value="installmentPlans">
      <Row
        editable="true">
        <RadioButtonCell
          action="policyPeriod.selectPaymentPlan(plan)"
          align="center"
          editable="true"
          id="InstallmentPlan"
          label="displaykey.Web.Policy.Payment.InstallmentsPlansLV.Select"
          radioButtonGroup="InstallmentsPlansGroup"
          required="true"
          value="plan == installmentPlans.getByBillingId(policyPeriod.SelectedPaymentPlan.BillingId)"
          visible="installmentPlans.Count &gt; 1"
          width="100">
          <PostOnChange/>
        </RadioButtonCell>
        <Cell
          align="left"
          id="Name"
          label="displaykey.Web.Policy.Payment.InstallmentsPlansLV.Name"
          sortBy="plan.Name"
          sortOrder="1"
          value="plan.Name"
          wrap="true"/>
        <MonetaryAmountCell
          align="right"
          formatType="currency"
          id="DownPayment"
          label="displaykey.Web.Policy.Payment.InstallmentsPlansLV.DownPayment"
          value="plan.DownPayment"/>
        <MonetaryAmountCell
          align="right"
          formatType="currency"
          id="Installment"
          label="displaykey.Web.Policy.Payment.InstallmentsPlansLV.Installment"
          value="plan.Installment"/>
        <MonetaryAmountCell
          align="right"
          formatType="currency"
          id="Total"
          label="displaykey.Web.Policy.Payment.InstallmentsPlansLV.Total"
          value="plan.Total"/>
        <Cell
          align="left"
          id="Notes"
          label="displaykey.Web.Policy.Payment.InstallmentsPlansLV.Notes"
          value="plan.Notes"
          width="300"
          wrap="true"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>