<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Screen
    editable="false"
    id="BillingAdjustmentPreviewPaymentsScreen">
    <Require
      name="invoicePreviewItems"
      type="gw.plugin.billing.PaymentPreviewItem[]"/>
    <Toolbar/>
    <PanelRef>
      <TitleBar
        title="displaykey.Web.Policy.Payment.PreviewPayments"/>
      <Toolbar/>
      <ListViewPanel
        id="InvoiceItemsLV">
        <RowIterator
          checkBoxVisible="false"
          editable="false"
          elementName="invoiceItem"
          value="invoicePreviewItems">
          <Row>
            <Cell
              align="left"
              id="InvoiceDueDate"
              label="displaykey.Web.Policy.Payment.PreviewPayments.DueDate"
              sortOrder="1"
              value="invoiceItem.DueDate"/>
            <Cell
              align="left"
              id="InvoiceType"
              label="displaykey.Web.Policy.Payment.PreviewPayments.Type"
              value="invoiceItem.Type"/>
            <MonetaryAmountCell
              align="right"
              formatType="currency"
              id="InvoiceAmount"
              label="displaykey.Web.Policy.Payment.PreviewPayments.Amount"
              value="invoiceItem.Amount"/>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </PanelRef>
  </Screen>
</PCF>