<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="BillingAdjustmentsDV"
    mode="MidtermReportingReadOnly">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="policyPeriod.DepositChangeFromBasedOnPeriod"
      name="depositChange"/>
    <InputColumn>
      <InputDivider/>
      <Label
        label="displaykey.Web.Policy.Payment.Title"/>
      <TypeKeyInput
        id="BillingMethod"
        label="displaykey.Web.Policy.Payment.BillingMethod"
        value="policyPeriod.BillingMethod"/>
      <Input
        id="PremiumReportPlan"
        label="displaykey.Web.Policy.Payment.PremiumReportPlan"
        value="policyPeriod.SelectedPaymentPlan.Name"/>
      <Input
        id="DepositDefault"
        label="displaykey.Web.Policy.Payment.DepositDefault"
        value="policyPeriod.ReportingPattern.ReportingDefaultDepositPct"/>
      <Input
        id="DepositReleased"
        label="displaykey.Web.Policy.Payment.DepositReleased"
        value="true"
        visible="policyPeriod.PolicyTerm.DepositReleased"/>
      <InputGroup
        allowToggle="false"
        childrenVisible="not policyPeriod.PolicyTerm.DepositReleased"
        id="DepositInputGroup"
        label="displaykey.Web.Policy.Payment.Deposit">
        <Input
          id="DepositOverride"
          label="displaykey.Web.Policy.Payment.DepositOverridePct"
          value="policyPeriod.DepositOverridePct"/>
        <Input
          id="DepositAmount"
          label="displaykey.Web.Policy.Payment.DepositAmt"
          value="policyPeriod.DepositAmount"/>
        <MonetaryAmountInput
          formatType="currency"
          id="DepositChange"
          label="displaykey.Web.Policy.Payment.DepositChange"
          value="depositChange"/>
        <Input
          id="WaiveDepositChange"
          label="displaykey.Web.Policy.Payment.MidtermChange.WaiveDepositChange(depositChange)"
          value="policyPeriod.WaiveDepositChange"/>
      </InputGroup>
      <Input
        id="CollectedByAgent"
        label="displaykey.Web.Policy.Payment.CollectedByAgent"
        value="policyPeriod.DepositCollected"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.BillingAuditDV.Audits"
        visible="policyPeriod.IsAuditable"/>
      <Input
        id="FinalAudit"
        label="displaykey.Web.BillingAuditDV.FinalAudit"
        value="policyPeriod.FinalAuditOption"
        visible="policyPeriod.IsAuditable"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>