<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    countsAsWork="false"
    id="BillingAdjustmentPreviewPaymentsPopup"
    title="displaykey.Web.Policy.Payment.PreviewPayments">
    <LocationEntryPoint
      signature="BillingAdjustmentPreviewPaymentsPopup(previewItems : gw.plugin.billing.PaymentPreviewItem[])"/>
    <Variable
      name="previewItems"
      type="gw.plugin.billing.PaymentPreviewItem[]"/>
    <ScreenRef
      def="BillingAdjustmentPreviewPaymentsScreen(previewItems)"/>
  </Popup>
</PCF>
