<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="BillingAdjustmentsDV"
    mode="MidtermInstallmentsReadOnly">
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <InputColumn>
      <InputDivider/>
      <Label
        label="displaykey.Web.Policy.Payment.Title"/>
      <TypeKeyInput
        id="BillingMethod"
        label="displaykey.Web.Policy.Payment.BillingMethod"
        value="policyPeriod.BillingMethod"/>
      <Input
        id="OverrideBillingAllocation"
        label="displaykey.Web.Policy.Payment.MidtermChange.OverrideBillingAllocation"
        value="policyPeriod.OverrideBillingAllocation"/>
      <Input
        id="BillImmediately"
        label="displaykey.Web.Policy.Payment.MidtermChange.BillImmediately"
        value="policyPeriod.BillImmediatelyPercentage"
        visible="policyPeriod.OverrideBillingAllocation"/>
      <Input
        id="AllocationOfRemainder"
        label="displaykey.Web.Policy.Payment.MidtermChange.AllocationOfRemainder"
        value="policyPeriod.AllocationOfRemainder"
        visible="policyPeriod.OverrideBillingAllocation"/>
      <Input
        id="CollectedByAgent"
        label="displaykey.Web.Policy.Payment.CollectedByAgent"
        value="policyPeriod.DepositCollected"/>
      <InputDivider/>
      <Label
        label="displaykey.Web.BillingAuditDV.Audits"
        visible="policyPeriod.IsAuditable"/>
      <Input
        id="FinalAudit"
        label="displaykey.Web.BillingAuditDV.FinalAudit"
        value="policyPeriod.FinalAuditOption"
        visible="policyPeriod.IsAuditable"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>