<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <PanelSet
    id="DiffTreePanelSet">
    <Require
      name="branchName1"
      type="String"/>
    <Require
      name="branchName2"
      type="String"/>
    <Require
      name="rootNode"
      type="gw.api.tree.RowTreeRootNode"/>
    <Variable
      initialValue="rootNode != null and rootNode.NumChildren &gt; 0"
      name="differencesExist"
      recalculateOnRefresh="true"
      type="boolean"/>
    <CardViewPanel>
      <Card
        id="ComparisonDiffTree"
        title="displaykey.Web.ComparisonPanelSet.SliceChanges(branchName1, branchName2)"
        visible="differencesExist">
        <PanelRef>
          <Toolbar/>
          <ListViewPanel
            id="DiffTreePanelLV">
            <RowTree
              contentType="gw.api.diff.node.IDiffTreeNode"
              elementName="node"
              id="DiffTree"
              value="rootNode">
              <Row
                id="DiffTreeNode"
                useTitleStyle="node.IsTitle">
                <Cell
                  enableSort="false"
                  id="item"
                  label="displaykey.Web.ComparisonPanelSet.Item"
                  value="node.Label"
                  width="400"/>
                <Cell
                  enableSort="false"
                  id="value1"
                  label="branchName1"
                  value="node.Value1"
                  width="250"/>
                <Cell
                  enableSort="false"
                  id="value2"
                  label="branchName2"
                  value="node.Value2"
                  width="250"/>
              </Row>
            </RowTree>
          </ListViewPanel>
        </PanelRef>
      </Card>
    </CardViewPanel>
  </PanelSet>
</PCF>