<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    afterCommit="issue.Bundle.commit(); "
    afterEnter="issue.ShortDescription = displaykey.Web.UWIssue.ShortDescription.ManualDefault"
    beforeCommit="issue.IssueKey = issue.FixedId as java.lang.String; issue.addCreateHistory(null)"
    canEdit="true"
    countsAsWork="false"
    id="NewManualUWIssuePopup"
    startInEditMode="true"
    title="displaykey.Web.UWIssue.ManualIssue.Title">
    <LocationEntryPoint
      signature="NewManualUWIssuePopup(policyPeriod : PolicyPeriod)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Variable
      initialValue="new UWIssue(policyPeriod)"
      name="issue"/>
    <Screen
      editable="true">
      <Toolbar>
        <EditButtons
          editVisible="false"/>
      </Toolbar>
      <PanelRef
        def="NewUWIssueDelegateDV(issue, UWIssueType.finder.findUWIssueTypeByCheckingSet(TC_MANUAL))"/>
    </Screen>
  </Popup>
</PCF>