<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="NewUWIssueDelegateDV">
    <Require
      name="issue"
      type="UWIssueDelegate"/>
    <Require
      name="uwIssueTypes"
      type="List&lt;UWIssueType&gt;"/>
    <InputColumn>
      <RangeInput
        editable="true"
        id="IssueType"
        label="displaykey.Web.UWIssue.IssueType"
        value="issue.IssueType"
        valueRange="uwIssueTypes">
        <PostOnChange/>
      </RangeInput>
      <TextInput
        editable="true"
        id="ShortDescription"
        label="displaykey.Web.UWIssue.ShortDescription"
        value="issue.ShortDescription"/>
      <TextAreaInput
        editable="true"
        id="LongDescription"
        label="displaykey.Web.UWIssue.LongDescription"
        numRows="6"
        value="issue.LongDescription"/>
      <Input
        editable="true"
        id="Value"
        label="displaykey.Web.UWIssue.Value"
        validationExpression="issue.IssueType.ComparatorWrapper.ValueType.validate(issue.Value)"
        value="issue.Value"
        visible="issue.IssueType.Comparator != null and issue.IssueType.Comparator != TC_NONE"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>