<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="Policy_Summary_AccountDV">
    <Require
      name="account"
      type="Account"/>
    <InputColumn>
      <Label
        label="displaykey.Web.PolicyFile.Summary.Account"/>
      <Input
        action="AccountFileForward.go(account)"
        available="perm.Account.view(account)"
        id="Number"
        label="displaykey.Web.PolicyFile.Summary.Account.Number"
        value="account.AccountNumber"/>
      <Input
        id="AccountName"
        label="displaykey.Web.PolicyFile.Summary.Account.Name"
        value="account.AccountHolderContact.DisplayName"/>
      <Label
        hideIfReadOnly="true"
        label="displaykey.Web.PolicyFile.Summary.PolicyPrimary.Address"/>
      <InputSetRef
        def="AddressShortInputSet(account.AccountHolderContact.PrimaryAddress)"
        hideIfEditable="true"/>
      <Label
        label="displaykey.Web.AccountFile.Summary.OfficialIDs"/>
      <InputSetRef
        def="OfficialIDInputSet(account.AccountHolderContact)"
        mode="account.AccountHolderContact.Subtype"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>