<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
    id="Policy_Summary_AssocJobDV"
    mode="Rewrite">
    <Require
      name="policyPeriod"
      type="policyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <InputColumn>
      <Label
        label="displaykey.Web.PolicyFile.Summary.AssocJob"/>
      <Input
        id="CreateDate"
        label="displaykey.Web.PolicyFile.Summary.AssocJob.CreateDate"
        value="policyPeriod.Job.CreateTime"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.PolicyFile.Summary.AssocJob.CloseDate"
        value="policyPeriod.Job.CloseDate"/>
      <Input
        id="Type"
        label="displaykey.Web.PolicyFile.Summary.AssocJob.Type"
        value="policyPeriod.Job.DisplayType"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>