<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ListViewPanel
    id="Policy_Summary_TransactionsLV">
    <ExposeIterator
      flags="transaction"
      valueType="entity.PolicyPeriod"
      widget="Policy_Summary_TransactionsLV"/>
    <Require
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <RowIterator
      checkBoxVisible="!transaction.PolicyTerm.Archived"
      editable="false"
      elementName="transaction"
      hasCheckBoxes="true"
      value="policyPeriod.Policy.CompletedPeriodsWithCost">
      <ToolbarFlag
        name="transaction"/>
      <Row
        useArchivedStyle="transaction.PolicyTerm.Archived">
        <DateCell
          id="PeriodEffDate"
          label="displaykey.Web.PolicyFile.Summary.Transactions.PeriodEffDate"
          sortBy="transaction.PeriodStart, transaction.ModelDate"
          value="transaction.PeriodStart"/>
        <DateCell
          id="TransEffDate"
          label="displaykey.Web.PolicyFile.Summary.Transactions.TransEffDate"
          sortBy="transaction.EditEffectiveDate, transaction.ModelDate"
          sortDirection="descending"
          sortOrder="1"
          value="transaction.EditEffectiveDate"/>
        <DateCell
          id="IssueDate"
          label="displaykey.Web.PolicyFile.Summary.Transactions.CloseDate"
          sortBy="transaction.Job.CloseDate"
          value="transaction.Job.CloseDate"/>
        <Cell
          id="JobType"
          label="displaykey.Web.PolicyFile.Jobs.Type"
          value="transaction.Job.DisplayType"/>
        <Cell
          action="JobForward.go(transaction.Job)"
          available="transaction.Job.Viewable"
          id="JobNumber"
          label="displaykey.Web.PolicyFile.Summary.Transactions.WorkOrderNumber"
          value="transaction.Job.JobNumber"/>
        <MonetaryAmountCell
          formatType="currency"
          id="TotalCost"
          label="displaykey.Web.PolicyFile.Summary.Transactions.TransactionCost"
          value="transaction.TransactionCostRPT"/>
        <Cell
          id="Comment"
          label="displaykey.Web.PolicyFile.Summary.Transactions.Comment"
          value="transaction.Job.Description"/>
      </Row>
    </RowIterator>
  </ListViewPanel>
</PCF>