<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    id="Policy_Summary_EarnedPremiumPopup"
    title="displaykey.Web.Policy.CalculateEarnedAmountAsOfaDifferentDate">
    <LocationEntryPoint
      signature="Policy_Summary_EarnedPremiumPopup(policyPeriod : PolicyPeriod)"/>
    <Variable
      name="policyPeriod"
      type="PolicyPeriod"/>
    <Screen>
      <PanelRef
        def="Policy_Summary_EarnedPremiumDV(policyPeriod)"
        visible="!policyPeriod.Archived"/>
    </Screen>
  </Popup>
</PCF>