<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <DetailViewPanel
          id="Policy_JobInfoDV"
    mode="Audit">
    <Require
      name="job"
      type="Job"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <InputColumn>
      <Input
        id="AuditPeriodStartDate"
        label="displaykey.Web.PolicyFile.Audits.AuditPeriodStartDate"
        value="(job as Audit).AuditInformation.AuditPeriodStartDate"/>
      <Input
        id="AuditPeriodEndDate"
        label="displaykey.Web.PolicyFile.Audits.AuditPeriodEndDate"
        value="(job as Audit).AuditInformation.AuditPeriodEndDate"/>
      <Input
        id="AuditInitiationDate"
        label="displaykey.Web.PolicyFile.Audits.ProcessStartDate"
        value="(job as Audit).AuditInformation.InitDate"/>
      <Input
        id="AuditDueDate"
        label="displaykey.Web.PolicyFile.Audits.DueDate"
        value="(job as Audit).AuditInformation.DueDate"/>
      <Input
        id="CloseDate"
        label="displaykey.Web.Job.CloseDate"
        value="job.CloseDate"/>
      <Input
        id="AuditMethod"
        label="displaykey.Web.PolicyFile.Audits.AuditMethod"
        value="(job as Audit).AuditInformation.AuditMethod"/>
      <Input
        id="ActualAuditMethod"
        label="displaykey.Web.PolicyFile.Audits.ActualAuditMethod"
        value="(job as Audit).AuditInformation.ActualAuditMethod"/>
      <Input
        id="Type"
        label="displaykey.Web.PolicyFile.Audits.AuditType"
        value="(job as Audit).AuditInformation.AuditScheduleType"/>
      <Input
        id="Status"
        label="displaykey.Web.PolicyFile.Audits.AuditStatus"
        value="(job as Audit).AuditInformation.DisplayStatus"/>
      <Input
        id="RevisionType"
        label="displaykey.Web.PolicyFile.Audits.RevisionType"
        value="(job as Audit).AuditInformation.RevisionType"
        visible="(job as Audit).AuditInformation.IsRevision || (job as Audit).AuditInformation.IsReversal"/>
      <Label
        label="displaykey.Web.Job.FileLinks.Title"
        visible="true"/>
      <Input
        action="JobForward.go(job)"
        id="JobFile"
        value="displaykey.Web.Job.JobFile"
        visible="job.Viewable"/>
      <InputSetRef
        def="Policy_JobDetailsInputSet(job)"
        mode="job.Subtype"/>
    </InputColumn>
  </DetailViewPanel>
</PCF>