<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Popup
    canEdit="false"
    id="ReferralReasonDetailsPopup"
    title="displaykey.Web.ReferralReasonDetails.Title">
    <LocationEntryPoint
      signature="ReferralReasonDetailsPopup(referralReasons: UWReferralReason[])"/>
    <Variable
      name="referralReasons"
      type="UWReferralReason[]"/>
    <Screen>
      <Toolbar/>
      <ListViewPanel
        alternateEntryStyle="false">
        <RowIterator
          editable="false"
          elementName="referralReason"
          id="ReferralReasonIterator"
          value="referralReasons">
          <Row>
            <FormatCell
              id="referralReasonCell">
              <TextInput
                boldLabel="true"
                id="ReasonLongDescription"
                label="referralReason.ShortDescription"
                labelAbove="true"
                value="referralReason.LongDescription"/>
              <TextInput
                id="ReasonCurrentValue"
                labelAbove="true"
                value="displaykey.Web.UWIssue.RiskApprovalDetailsPopup.ReferenceValue(referralReason.Value)"
                visible="referralReason.Value != null"/>
            </FormatCell>
          </Row>
        </RowIterator>
      </ListViewPanel>
    </Screen>
  </Popup>
</PCF>