<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <RowSet
    id="UWIssueRowSet"
    mode="label">
    <Require
      name="wrapper"
      type="gw.web.policy.RiskEvaluationPanelSetModalRow"/>
    <Require
      name="canApproveRejectReopenIssue"
      type="boolean"/>
    <Row
      useTitleStyle="true">
      <Cell
        align="left"
        colspan="4"
        id="testTitle"
        value="wrapper.Title"/>
    </Row>
  </RowSet>
</PCF>