<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <RowSet
    id="UWReferralReasonRowSet"
    mode="label">
    <Require
      name="modalRow"
      type="gw.web.policy.UWReferralReasonModalRow"/>
    <Row
      useTitleStyle="true">
      <Cell
        colspan="5"
        id="Title"
        value="modalRow.Title"/>
    </Row>
  </RowSet>
</PCF>