<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Forward
    canVisit="perm.Account.view(account)"
    id="AccountFileForwardWorksheet"
    parent="AccountForward()">
    <LocationEntryPoint
      signature="AccountFileForwardWorksheet(account : Account, conditionType : String)"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      name="conditionType"
      type="String"/>
    <ForwardCondition
      action="NewAccountNoteWorksheet.goInWorkspace(account)"
      condition="conditionType == &quot;NewNote&quot;"/>
    <ForwardCondition
      action="AccountNewDocumentLinkedWorksheet.goInWorkspace(account)"
      condition="conditionType == &quot;NewDocumentLink&quot;"/>
    <ForwardCondition
      action="AccountNewDocumentFromTemplateWorksheet.goInWorkspace(account)"
      condition="conditionType == &quot;NewDocumentCreate&quot;"/>
  </Forward>
</PCF>