<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Forward
    id="AccountJobForward"
    parent="AccountForward()">
    <LocationEntryPoint
      signature="AccountJobForward(job : Job)"/>
    <Variable
      name="job"
      type="Job"/>
    <ForwardCondition
      action="JobForward.go(job)"
      condition="job.ResultingBoundPeriod == null"/>
    <ForwardCondition
      action="PolicyFileWorkOrdersForward.go(job, job.ResultingBoundPeriod)"/>
  </Forward>
</PCF>