<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <ModalCell
    id="AccountContactDisplayCell"
    mode="OwnerOfficer">
    <Require
      name="acctContactRole"
      type="AccountContactRole"/>
    <FormatCell id="details">
      <ContentInput
        visible="CurrentLocation.InEditMode">
        <Link
          action="AccountContactRolePopup.push(acctContactRole)"
          id="editContactRole"
          label="displaykey.Web.Account.Contact.Edit"
          styleClass="miniButton"/>
      </ContentInput>
      <TextInput
        editable="true"
        id="Relationship"
        label="displaykey.Web.Policy.WC.InclExcl.Relationship"
        value="(acctContactRole as OwnerOfficer).RelationshipTitle"/>
    </FormatCell>
  </ModalCell>
</PCF>