<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    autosaveable="false"
    canEdit="true"
    id="AccountFile_RewritePoliciesSelection"
    parent="AccountFile_AccountSearch(targetAccount, typekey.AccountSearchType.TC_REWRITEPOLICIES)"
    showUpLink="true"
    startInEditMode="true"
    title="displaykey.Web.AccountFile.RewritePolicies.Selection">
    <LocationEntryPoint
      signature="AccountFile_RewritePoliciesSelection(srcAccount : Account, targetAccount : Account)"/>
    <Variable
      name="srcAccount"
      type="Account"/>
    <Variable
      name="targetAccount"
      type="Account"/>
    <Screen>
      <Toolbar>
        <CheckedValuesToolbarButton
          allCheckedRowsAction="RewriteNewAccount.startRewriteNewAccount(CheckedValues, targetAccount); AccountFile.go(targetAccount)"
          id="RewritePoliciesButton"
          iterator="AccountFile_PolicySelectionLV.AccountFile_PolicySelectionLV"
          label="displaykey.Web.AccountFile.RewritePolicies"/>
      </Toolbar>
      <DetailViewPanel>
        <InputColumn>
          <Label
            label="displaykey.Web.AccountFile.RewritePolicies.SourceAccountLabel"/>
          <Input
            id="AccountNumber"
            label="displaykey.Web.AccountFile.Summary.AccountNumber"
            value="srcAccount.AccountNumber"/>
          <Input
            id="Name"
            label="displaykey.Web.AccountFile.Summary.Name"
            value="srcAccount.AccountHolderContact.DisplayName"/>
        </InputColumn>
      </DetailViewPanel>
      <PanelRef
        def="AccountFile_PolicySelectionLV(srcAccount.findPolicyPeriodsToRewrite())">
        <TitleBar
          title="displaykey.Web.AccountFile.RewritePolicies.Policies"/>
      </PanelRef>
    </Screen>
  </Page>
</PCF>