<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Page
    id="AccountFile_AccountSearch"
    parent="AccountFile_Summary(currentAccount)"
    showUpLink="true"
    title="Title()">
    <LocationEntryPoint
      signature="AccountFile_AccountSearch(currentAccount : Account, searchMode: typekey.AccountSearchType)"/>
    <Variable
      name="currentAccount"
      type="Account"/>
    <Variable
      name="searchMode"
      type="typekey.AccountSearchType"/>
    <ScreenRef
      def="OtherAccountSearchScreen(currentAccount, searchMode)"/>
    <Code><![CDATA[function Title(): String {
  var titleString = "Account Search"
  switch(searchMode){
    case(typekey.AccountSearchType.TC_MERGEACCOUNTS):
      titleString = displaykey.Web.AccountFile.MergeAccounts.AccountSearchInstructions(currentAccount.AccountNumber)
      break
    case(typekey.AccountSearchType.TC_MOVEPOLICIES):
      titleString = displaykey.Web.AccountFile.MovePolicies.AccountSearchInstructions
      break
    case(typekey.AccountSearchType.TC_REWRITEPOLICIES):
      titleString = displaykey.Web.AccountFile.RewritePolicies.AccountSearchInstructions
      break
  }
  return titleString
}]]></Code>
  </Page>
</PCF>