<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    editable="true"
    id="AccountContactInputSet"
    mode="NamedInsured">
    <Require
      name="acctContactRole"
      type="AccountContactRole"/>
    <IndustryCodeInput
      domain="&quot;SIC&quot; as IndustryCodeType"
      editable="true"
      id="IndustryCode"
      label="displaykey.Web.EditAccount.IndustryCode"
      pickLocation="IndustryCodeSearchPopup.push(&quot;SIC&quot; as IndustryCodeType)"
      value="(acctContactRole as NamedInsured).IndustryCode"
      visible="acctContactRole.AccountContact.Company"/>
  </InputSet>
</PCF>