<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <InputSet
    id="AccountCurrencyInputSet"
    visible="gw.api.util.CurrencyUtil.isMultiCurrencyMode()">
    <Require
      name="account"
      type="Account"/>
    <Require
      name="address"
      type="Address"/>
    <Expose
      name="PreferredSettlementCurrency"
      widget="PreferredSettlementCurrency"/>
    <Expose
      name="PreferredCoverageCurrency"
      widget="PreferredCoverageCurrency"/>
    <Require
      name="updatesCurrenciesOnCountryChange"
      type="boolean"/>
    <Variable
      initialValue="new gw.web.financials.AccountCurrencyInitializer(account, address)"
      name="accountInitializer"/>
    <Variable
      initialValue="accountInitializer.initialize(updatesCurrenciesOnCountryChange)"
      name="initializerCaller"
      recalculateOnRefresh="true"/>
    <Label
      id="Currencies"
      label="displaykey.Web.AccountDetail.Currencies"/>
    <TypeKeyInput
      editable="account.Editable"
      id="PreferredSettlementCurrency"
      label="displaykey.Web.AccountDetail.PreferredSettlementCurrency"
      required="true"
      value="account.PreferredSettlementCurrency"/>
    <TypeKeyInput
      editable="account.Editable"
      id="PreferredCoverageCurrency"
      label="displaykey.Web.AccountDetail.PreferredCoverageCurrency"
      required="true"
      value="account.PreferredCoverageCurrency"/>
  </InputSet>
</PCF>