<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../pcf.xsd">
  <Worksheet
    canEdit="true"
    canVisit="perm.Note.create"
    id="NewAccountNoteWorksheet"
    startInEditMode="true"
    tabLabel="displaykey.Web.NewNote.Tab"
    title="displaykey.Web.NewNote.Title">
    <LocationEntryPoint
      signature="NewAccountNoteWorksheet(account : Account)"/>
    <Scope
      location="AccountFile(account)"/>
    <Scope
      location="PolicyForward()"/>
    <Variable
      name="account"
      type="Account"/>
    <Variable
      initialValue="account.newNote()"
      name="note"
      type="Note"/>
    <Variable
      initialValue="null"
      name="policy"
      type="Policy"/>
    <Variable
      initialValue="null"
      name="job"
      type="Job"/>
    <ScreenRef
      def="NewNoteScreen(account, policy, job, note)"/>
  </Worksheet>
</PCF>