<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <MenuItemSet
    id="PolicyMenuItemSet"
    mode="CommercialProperty">
    <Require
      name="period"
      type="PolicyPeriod"/>
    <Require
      name="asOfDate"
      type="DateTime"/>
    <MenuItem
      action="PolicyFile_PolicyInfo.go(period, asOfDate)"
      id="PolicyMenuItemSet_PolicyInfo"
      label="displaykey.Web.PolicyFile.PolicyInfo"/>
    <MenuItem
      action="PolicyFile_BuildingsAndLocations.go(period, asOfDate)"
      id="PolicyMenuItemSet_BuildingsAndLocations"
      label="displaykey.Web.PolicyFile.BuildingsAndLocations"/>
    <MenuItem
      action="PolicyFile_CPBlanket.go(period, asOfDate)"
      id="PolicyMenuItemSet_CPBlanket"
      label="displaykey.Web.PolicyFile.Blankets"/>
    <MenuItem
      action="PolicyFile_Modifiers.go(period, asOfDate)"
      id="PolicyMenuItemSet_Modifiers"
      label="displaykey.Web.PolicyFile.Modifiers"/>
    <MenuItem
      action="PolicyFile_Pricing.go(period, asOfDate)"
      id="PolicyMenuItemSet_Pricing"
      label="displaykey.Web.PolicyFile.Pricing"/>
    <MenuItem
      action="PolicyFile_Forms_CP.go(period, asOfDate)"
      id="PolicyMenuItemSet_Endorsements"
      label="displaykey.Web.PolicyFile.Endorsements"/>
  </MenuItemSet>
</PCF>