<?xml version="1.0"?>
<PCF
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="../../../../../../../pcf.xsd">
  <Page
    canVisit="perm.PolicyPeriod.view(period) and perm.System.pfiledetails and perm.System.viewmodifiers"
    id="PolicyFile_Modifiers"
    parent="PolicyFile(period, asOfDate)"
    title="displaykey.Web.PolicyFile.Modifiers">
    <LocationEntryPoint
      signature="PolicyFile_Modifiers(period : PolicyPeriod, asOfDate : DateTime)"/>
    <Variable
      name="period"
      type="PolicyPeriod"/>
    <Variable
      name="asOfDate"
      type="DateTime"/>
    <ScreenRef
      def="PolicyFile_ModifiersScreen(period, false, null as web.job.JobWizardHelper, period.CPLine.CPModifiers)"
      id="PolicyFile_ModifiersScreen"/>
  </Page>
</PCF>